Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

modified: CITATION.rst
  CITATION.rst
Owners: none

Update config.yml
  .circleci/config.yml
Owners: none

modified: CITATION.rst
  CITATION.rst
Owners: none

modified: examples/plotting/plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

clean up tox
  tox.ini
Owners: none

changed error raising for sql 1.4
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update whatsnew
  docs/conf.py
  docs/whatsnew/3.0.rst
  setup.cfg
Owners: none

clean up tox
  tox.ini
Owners: none

renamed json file
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

dep updates for core packages
  setup.cfg
Owners: none

dep updates for core packages
  setup.cfg
Owners: none

changed error raising for sql 1.4
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update whatsnew
  docs/conf.py
  docs/whatsnew/3.0.rst
  setup.cfg
Owners: none

renamed json file
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

wrong fix for tox figure
  tox.ini
Owners: none

wrong fix for tox figure
  tox.ini
Owners: none

fix sqlalchemy tests
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

fix sqlalchemy tests
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

fix sqlalchemy tests v2
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

fix sqlalchemy tests v2
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

fix sqlalchemy tests v2
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

fix sqlalchemy tests v2
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

modified: CITATION.rst modified: examples/plotting/plotting_blank_map.py
  CITATION.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

Fix bug where DataManager breaks on deleting db file (#5089)
  changelog/5089.bugfix.rst
  sunpy/data/data_manager/storage.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Fix bug where DataManager breaks on deleting db file (#5089)
  changelog/5089.bugfix.rst
  sunpy/data/data_manager/storage.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Migrate to using OpenAstronomy/sphinx-changelog for towncrier sphinx
  CHANGELOG.rst
  docs/code_ref/util.rst
  docs/conf.py
  docs/whatsnew/changelog.rst
  setup.cfg
  sunpy/util/sphinx/changelog.py
  sunpy/util/towncrier.py
Owners: none

Migrate to using OpenAstronomy/sphinx-changelog for towncrier sphinx
  CHANGELOG.rst
  docs/code_ref/util.rst
  docs/conf.py
  docs/whatsnew/changelog.rst
  setup.cfg
  sunpy/util/sphinx/changelog.py
  sunpy/util/towncrier.py
Owners: none

Add changelog
  changelog/5049.breaking.rst
Owners: none

use new skip-if-empty option to deal with release builds
  docs/conf.py
Owners: none

use new skip-if-empty option to deal with release builds
  docs/conf.py
Owners: none

Add changelog
  changelog/5049.breaking.rst
Owners: none

modified: plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

update online db test
  sunpy/database/database.py
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db test
  sunpy/database/database.py
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db test
  sunpy/database/database.py
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db test
  sunpy/database/database.py
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db tests
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db tests
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db tests
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

update online db tests
  sunpy/database/tests/test_database.py
Owners: @sunpy/database

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
