Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

added test and loaded custom map
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

removed extra note
  sunpy/map/mapbase.py
Owners: @sunpy/map

removed extra note
  sunpy/map/mapbase.py
Owners: @sunpy/map

codestyle fixes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle fixes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle fixes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle fixes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update changelog/5051.bugfix.rst
  changelog/5051.bugfix.rst
Owners: none

Update changelog/5051.bugfix.rst
  changelog/5051.bugfix.rst
Owners: none

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

added mapsequence.plot() tests
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

added mapsequence.plot() tests
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

removed error commit
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

removed error commit
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

increase adsf version
  setup.cfg
  tox.ini
Owners: none

increase adsf version
  setup.cfg
  tox.ini
Owners: none

add back test versions
  setup.cfg
Owners: none

add back test versions
  setup.cfg
Owners: none

update scikit image to avoid test issue
  setup.cfg
  tox.ini
Owners: none

update scikit image to avoid test issue
  setup.cfg
  tox.ini
Owners: none

update whatsnew
  docs/whatsnew/3.0.rst
Owners: none

update whatsnew
  docs/whatsnew/3.0.rst
Owners: none

Added longitude argument to carrington_rotation_time()
  changelog/4879.feature.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Added longitude argument to carrington_rotation_time()
  changelog/4879.feature.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  changelog/4879.feature.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  changelog/4879.feature.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

added test with version check for numpy
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

added test with version check for numpy
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

fixed test fail
  sunpy/map/mapbase.py
Owners: @sunpy/map

fixed test fail
  sunpy/map/mapbase.py
Owners: @sunpy/map

>= for numpy check
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

>= for numpy check
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add namespace for downloaded files
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
Owners: none
