Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Add tests for the wcs cache
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4467.feature.rst
Owners: none

Add changelog
  changelog/4467.feature.rst
Owners: none

Remove stored logos in repo, should use the theme
  docs/conf.py
  docs/logo/favicon.ico
  docs/logo/sunpy_icon_128x128.png
Owners: none

Remove stored logos in repo, should use the theme
  docs/conf.py
  docs/logo/favicon.ico
  docs/logo/sunpy_icon_128x128.png
Owners: none

Remove stored logos in repo, should use the theme
  docs/conf.py
  docs/logo/favicon.ico
  docs/logo/sunpy_icon_128x128.png
Owners: none

Remove global ignore of nanoseconds warning in tests
  setup.cfg
Owners: none

Remove global ignore of nanoseconds warning in tests
  setup.cfg
Owners: none

parallel doc
  tox.ini
Owners: none

parallel doc
  tox.ini
Owners: none

parallel doc
  tox.ini
Owners: none

usedevelop = true docs
  tox.ini
Owners: none

usedevelop = true docs
  tox.ini
Owners: none

usedevelop = true docs
  tox.ini
Owners: none

updated icon for gallery
  docs/conf.py
Owners: none

updated icon for gallery
  docs/conf.py
Owners: none

updated icon for gallery
  docs/conf.py
Owners: none

pin pytest
  .test_package_pins.txt
Owners: none

pin pytest
  .test_package_pins.txt
Owners: none

pin pytest
  .test_package_pins.txt
Owners: none

remove usedevelop = true
  tox.ini
Owners: none

remove usedevelop = true
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

Make tests compatible with parfive 1.1 and 1.2
  sunpy/database/tests/test_database.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/database, @sunpy/net

Make tests compatible with parfive 1.1 and 1.2
  sunpy/database/tests/test_database.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/database, @sunpy/net

Make tests compatible with parfive 1.1 and 1.2
  sunpy/database/tests/test_database.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/database, @sunpy/net

Pin parfive oldest deps
  tox.ini
Owners: none

Pin parfive oldest deps
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

Fix timeseries figure tests
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/lyra.py
Owners: @sunpy/timeseries

Add changelog
  changelog/4511.bugfix.rst
Owners: none

Fix tests
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Bump mpl figure test version
  tox.ini
Owners: none

Remove timeseries warning simplefilters
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Update lyra peek hash
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Pre-commit fixes
  changelog/4511.bugfix.rst
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

Fix lyra tests
  sunpy/instr/lyra.py
  sunpy/instr/tests/test_lyra.py
Owners: @sunpy/instr

Fixed the calculation of solar radius to use arctangent
  changelog/4518.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed the calculation of solar radius to use arctangent
  changelog/4518.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed the calculation of solar radius to use arctangent
  changelog/4518.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates
