Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

added basic metadata to the whatsnews
  docs/whatsnew/2.1.rst
Owners: none

Added coordinates stuff to 2.1 what's new
  docs/whatsnew/2.1.rst
Owners: none

fixing link
  docs/whatsnew/2.1.rst
Owners: none

Added coordinates stuff to 2.1 what's new
  docs/whatsnew/2.1.rst
Owners: none

added basic metadata to the whatsnews
  docs/whatsnew/2.1.rst
Owners: none

added rough refactor whatsnew
  docs/whatsnew/2.1.rst
Owners: none

adding goes
  docs/whatsnew/2.1.rst
Owners: none

updated gallery ref
  docs/whatsnew/2.1.rst
Owners: none

updated whatsnew with more intro and bookmarks
  docs/whatsnew/2.1.rst
Owners: none

updated gallery ref
  docs/whatsnew/2.1.rst
Owners: none

updated whatsnew with more intro and bookmarks
  docs/whatsnew/2.1.rst
Owners: none

updated whatsnew with more intro and bookmarks
  docs/whatsnew/2.1.rst
Owners: none

updated gallery ref
  docs/whatsnew/2.1.rst
Owners: none

Some cleanup
  docs/whatsnew/2.1.rst
Owners: none

Some cleanup
  docs/whatsnew/2.1.rst
Owners: none

Some cleanup
  docs/whatsnew/2.1.rst
Owners: none

Fixed the observer transformation in solar_rotate_coordinate
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fixed the handling of an obstime change for a transformation out of RotatedSunFrame
  changelog/4979.bugfix.1.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Added explicit tests for the RotatedSunFrame obstime-change bug
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Fixed existing differential-rotation tests
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Owners: @sunpy/physics

Fixed differential_rotation module to always ignore translational motion of the Sun
  changelog/4979.bugfix.2.rst
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Added a consistency test between solar_rotate_coordinate and RotatedSunFrame
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Always run cron notify
  azure-pipelines.yml
Owners: none

Always run cron notify
  azure-pipelines.yml
Owners: none

Calculate status from dependant jobs
  azure-pipelines.yml
Owners: none

Rework date logic and update gong doc test.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

Remove section numbers from HEK docs
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

Remove section numbers from HEK docs
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

Remove section numbers from HEK docs
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

Update sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

Fixed solar_rotate_coordinate() docstring examples
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fixed solar_rotate_coordinate() docstring examples
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fixed solar_rotate_coordinate() docstring examples
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Docs for writing new Fido clients (#4387)
  changelog/4387.doc.rst
  docs/code_ref/net.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/index.rst
  sunpy/net/attr.py
  sunpy/net/base_client.py
Owners: @sunpy/net, @sunpy/documentation-developer

Merge pull request #4785 from nabobalis/animator
  .gitignore
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

Merge pull request #4834 from Cadair/fix_hek_attrs_docs
  changelog/4834.docfix.rst
  docs/code_ref/net.rst
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/attrs.py
  tools/hek_mkcls.py
  tools/hektemplate.py
Owners: @sunpy/net

Merge pull request #4850 from dstansby/meta-example-dl
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

Merge pull request #4954 from wtbarnes/pin-drms
  setup.cfg
Owners: none

Merge pull request #5003 from dstansby/hek-doc
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

remove dep warning for 2.0
  sunpy/net/hek/attrs.py
  tools/hektemplate.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
