Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

updated examples for goes HEK
  changelog/4358.bugfix.rst
  docs/guide/acquiring_data/fido.rst
  examples/acquiring_data/downloading_hmi.py
  examples/time_series/goes_hek_m25.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

replaced by a.hek
  docs/guide/acquiring_data/hek.rst
  sunpy/instr/goes.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
Owners: @sunpy/documentation-user, @sunpy/instr, @sunpy/net

added BaseQueryResponseTable
  changelog/4358.feature.1.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/base_client.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

corrected examples
  examples/acquiring_data/fido_metadata_queries.py
  examples/time_series/goes_hek_m25.py
Owners: @sunpy/documentation-gallery

doctest label in jsoc
  docs/guide/acquiring_data/jsoc.rst
Owners: @sunpy/documentation-user

warning for bytestring tablename
  sunpy/net/helio/__init__.py
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
Owners: @sunpy/net

string indexing for unifiedresp
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/plotting/overplot_hek_polygon.py
  examples/time_series/goes_hek_m25.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-gallery, @sunpy/net

HECClient subclass of BaseClient
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

added fido metadata gallery example
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-gallery, @sunpy/net

corrected examples
  examples/acquiring_data/fido_metadata_queries.py
  examples/time_series/goes_hek_m25.py
Owners: @sunpy/documentation-gallery

deprecated jsoc keys
  changelog/4358.removal.1.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

deprecate hek.attrs.Time
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.rst
  changelog/4358.bugfix.rst
  changelog/4358.feature.1.rst
  changelog/4358.feature.2.rst
  changelog/4358.feature.rst
  changelog/4358.removal.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/plotting/overplot_hek_polygon.py
  examples/time_series/goes_hek_m25.py
  sunpy/database/tests/test_database.py
  sunpy/instr/goes.py
  sunpy/net/__init__.py
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/__init__.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/helio/attrs.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database, @sunpy/instr, @sunpy/net

fido fetch works for base_res
  sunpy/net/fido_factory.py
Owners: @sunpy/net

replaced by a.hek
  docs/guide/acquiring_data/hek.rst
  sunpy/instr/goes.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
Owners: @sunpy/documentation-user, @sunpy/instr, @sunpy/net

corrected tests
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
Owners: @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

string indexing for unifiedresp
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/plotting/overplot_hek_polygon.py
  examples/time_series/goes_hek_m25.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-gallery, @sunpy/net

deprecated search metadata for jsoc
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.rst
  changelog/4358.bugfix.rst
  changelog/4358.feature.1.rst
  changelog/4358.feature.2.rst
  changelog/4358.feature.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

fixed codestyle
  docs/guide/acquiring_data/jsoc.rst
Owners: @sunpy/documentation-user

minor changes
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

added show for fido
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

minor changes
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

deprecate hek.attrs.Time
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.rst
  changelog/4358.bugfix.rst
  changelog/4358.feature.1.rst
  changelog/4358.feature.2.rst
  changelog/4358.feature.rst
  changelog/4358.removal.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/plotting/overplot_hek_polygon.py
  examples/time_series/goes_hek_m25.py
  sunpy/database/tests/test_database.py
  sunpy/instr/goes.py
  sunpy/net/__init__.py
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/__init__.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/helio/attrs.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database, @sunpy/instr, @sunpy/net

added index and metaqueries tests
  changelog/4358.breaking.1.rst
  changelog/4358.removal.1.rst
  changelog/4358.removal.rst
  docs/guide/acquiring_data/jsoc.rst
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

method to return client res from fido
  examples/acquiring_data/fido_metadata_queries.py
  examples/time_series/goes_hek_m25.py
  sunpy/net/fido_factory.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/documentation-gallery, @sunpy/net

Apply suggestions from code review
  changelog/4358.breaking.1.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  examples/acquiring_data/downloading_hmi.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery

Apply suggestions from code review
  changelog/4358.breaking.1.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  examples/acquiring_data/downloading_hmi.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery

Explicit autocancel
  azure-pipelines.yml
Owners: none

Add back macos
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

macos:py38 -> macos:py39
  azure-pipelines.yml
  tox.ini
Owners: none

Add 3.9 wheels
  azure-pipelines.yml
Owners: none

macos:py38 -> macos:py39
  azure-pipelines.yml
  tox.ini
Owners: none

Explicit autocancel
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

Add back macos
  azure-pipelines.yml
Owners: none

Add 3.9 wheels
  azure-pipelines.yml
Owners: none

added changelog
  changelog/4569.feature.rst
Owners: none

added changelog
  changelog/4569.feature.rst
Owners: none

Tests for the SRSClient
  changelog/4600.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

add numpy to py39 build
  tox.ini
Owners: none
