Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

PEP8 fixes
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix gallery documentation links
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/goes_xrs_example.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/map/image_bright_regions_gallery_example.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/plotting/Finding_Local_Peaks_in_Solar_Data.py
  examples/plotting/magnetogram_active_regions.py
  examples/plotting/map_editcolormap.py
  examples/time_series/power_spectra_example.py
  examples/time_series/skip_timeseries_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Fix gallery documentation links
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/goes_xrs_example.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/map/image_bright_regions_gallery_example.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/plotting/Finding_Local_Peaks_in_Solar_Data.py
  examples/plotting/magnetogram_active_regions.py
  examples/plotting/map_editcolormap.py
  examples/time_series/power_spectra_example.py
  examples/time_series/skip_timeseries_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Fix gallery documentation links
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/goes_xrs_example.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/map/image_bright_regions_gallery_example.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/plotting/Finding_Local_Peaks_in_Solar_Data.py
  examples/plotting/magnetogram_active_regions.py
  examples/plotting/map_editcolormap.py
  examples/time_series/power_spectra_example.py
  examples/time_series/skip_timeseries_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

DOC: fix typo in bibtex
  sunpy/CITATION.rst
Owners: none

DOC: fix typo in bibtex
  sunpy/CITATION.rst
Owners: none

DOC: fix typo in bibtex
  sunpy/CITATION.rst
Owners: none

DOC: fix typo in bibtex (#4812)
  sunpy/CITATION.rst
Owners: none

DOC: fix typo in bibtex (#4812)
  sunpy/CITATION.rst
Owners: none

removed defaulting to draw_rectangle, added spaces
  sunpy/map/mapbase.py
Owners: @sunpy/map

if fix
  sunpy/map/mapbase.py
Owners: @sunpy/map

removed axis_unit redundant code
  sunpy/map/mapbase.py
Owners: @sunpy/map

removed warning and added spaces
  sunpy/map/mapbase.py
Owners: @sunpy/map

Ignore backport-bot in update_zenodo.py
  tools/update_zenodo.py
Owners: none

Ignore backport-bot in update_zenodo.py
  tools/update_zenodo.py
Owners: none

Ignore backport-bot in update_zenodo.py
  tools/update_zenodo.py
Owners: none

Ignore backport-bot in update_zenodo.py
  tools/update_zenodo.py
Owners: none

Change default format of carrington_rotation_time return
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Change default format of carrington_rotation_time return
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

fixing description
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

Add changelog
  changelog/4819.trivial.rst
Owners: none

Add changelog
  changelog/4819.trivial.rst
Owners: none

adding changelog
  changelog/4792.doc.rst
Owners: none

updated
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

Update changelog/4809.feature.rst
  changelog/4809.feature.rst
Owners: none

updates
  sunpy/map/maputils.py
Owners: @sunpy/map

new updates
  sunpy/map/maputils.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/4819.trivial.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  changelog/4819.trivial.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Changed axes and documentation
  sunpy/map/mapbase.py
Owners: @sunpy/map

removed quadrangle global import
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix JSOC doctest
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Release v2.0.7
  CHANGELOG.rst
  changelog/4805.bugfix.rst
Owners: none

Added the web scraping example
  examples/acquiring_data/scraping-data-bf4.py
Owners: @sunpy/documentation-gallery

added 2 figure unit tests
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

fixes import error
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

changed tests for draw_rectangle where tests were repeated
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

changed tests for draw_rectangle where tests were repeated
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map
