Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

added tests with HM times
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

documented new methods in DR
  sunpy/net/_attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

time quantity in response, use pre hooks
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
Owners: @sunpy/net

Make RTD not the main check for sphinx warnings (#4449)
  azure-pipelines.yml
  readthedocs.yml
Owners: none

Make RTD not the main check for sphinx warnings (#4449)
  azure-pipelines.yml
  readthedocs.yml
Owners: none

Apply suggestions from code review
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/pr_review_procedure.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

update docs about meth/func/class
  docs/conf.py
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

CR comments
  .github/pull_request_template.md
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Apply suggestions from code review
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/pr_review_procedure.rst
Owners: @sunpy/documentation-developer

Apply suggestions from code review
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/pr_review_procedure.rst
Owners: @sunpy/documentation-developer

Updated install, dev and contributing docs
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/images/azure_check_pr.png
  docs/dev_guide/images/azure_goto.png
  docs/dev_guide/images/azure_steps_in_job.png
  docs/dev_guide/images/azure_summary_check.png
  docs/dev_guide/images/checks.png
  docs/dev_guide/images/checks_pr.png
  docs/dev_guide/images/list_of_azure_checks.png
  docs/dev_guide/pr_review_procedure.rst
  docs/dev_guide/tests.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

update docs about meth/func/class
  docs/conf.py
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

CR comments
  .github/pull_request_template.md
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Apply suggestions from code review
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/pr_review_procedure.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Updated install, dev and contributing docs
  CONTRIBUTING.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/images/azure_check_pr.png
  docs/dev_guide/images/azure_goto.png
  docs/dev_guide/images/azure_steps_in_job.png
  docs/dev_guide/images/azure_summary_check.png
  docs/dev_guide/images/checks.png
  docs/dev_guide/images/checks_pr.png
  docs/dev_guide/images/list_of_azure_checks.png
  docs/dev_guide/pr_review_procedure.rst
  docs/dev_guide/tests.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

update azure/rtd docs and changelogs
  .pre-commit-config.yaml
  changelog/4378.docfix.1.rst
  changelog/4378.docfix.rst
  docs/dev_guide/pr_review_procedure.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

update azure/rtd docs and changelogs
  .pre-commit-config.yaml
  changelog/4378.docfix.1.rst
  changelog/4378.docfix.rst
  docs/dev_guide/pr_review_procedure.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Add contains_solar_center to maputils
  sunpy/map/maputils.py
Owners: @sunpy/map

Add contains_solar_center to maputils
  sunpy/map/maputils.py
Owners: @sunpy/map

More maputils speedups
  sunpy/map/maputils.py
Owners: @sunpy/map

More maputils speedups
  sunpy/map/maputils.py
Owners: @sunpy/map

Add docstring
  sunpy/map/maputils.py
Owners: @sunpy/map

Add docstring
  sunpy/map/maputils.py
Owners: @sunpy/map

Speed up edge_coordinates
  sunpy/map/maputils.py
Owners: @sunpy/map

Speed up edge_coordinates
  sunpy/map/maputils.py
Owners: @sunpy/map

str function for mapbase
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

str function for mapbase
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Astropy compat
  sunpy/map/maputils.py
Owners: @sunpy/map

Astropy compat
  sunpy/map/maputils.py
Owners: @sunpy/map

Speed up contains_limb
  sunpy/map/maputils.py
Owners: @sunpy/map

Speed up contains_limb
  sunpy/map/maputils.py
Owners: @sunpy/map

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/pull_request_template.md
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/pull_request_template.md
  CONTRIBUTING.rst
  README.rst
  docs/conf.py
Owners: none

update citation page for broken url
  sunpy/CITATION.rst
Owners: none

update citation page for broken url
  sunpy/CITATION.rst
Owners: none

rename anything to whatever
  .github/ISSUE_TEMPLATE/whatever_else.md
Owners: none

rename anything to whatever
  .github/ISSUE_TEMPLATE/whatever_else.md
Owners: none

Added documentation for copying a Map
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Added documentation for copying a Map
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Added changelog
  changelog/4470.docfix.rst
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
