Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Addresses Codestyle
  sunpy/util/tablematcher.py
  sunpy/util/tests/test_tablematcher.py
Owners: none

Moves SKL to an extra dependency and adds import tests.
  setup.cfg
  sunpy/util/tablematcher.py
Owners: none

Adds Changelog
  changelog/4238.feature.rst
Owners: none

Clean up submap argument parsing
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Clean up submap argument parsing
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Clean up submap argument parsing
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Try not using type hints
  sunpy/map/mapbase.py
Owners: @sunpy/map

Try not using type hints
  sunpy/map/mapbase.py
Owners: @sunpy/map

Use helper for parsing coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Use helper for parsing coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Use helper for parsing coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Try not using type hints
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update .zenodo.json for 2.0
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Owners: none

Update .zenodo.json for 2.0
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Owners: none

Update affils/orcids
  .mailmap
  .zenodo.json
Owners: none

Update affils/orcids
  .mailmap
  .zenodo.json
Owners: none

Update .zenodo.json for 2.0
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Owners: none

Update affils/orcids
  .mailmap
  .zenodo.json
Owners: none

Update ordering with new mailmap
  .zenodo.json
Owners: none

Update ordering with new mailmap
  .zenodo.json
Owners: none

Update ordering with new mailmap
  .zenodo.json
Owners: none

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Codestyle fixes
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Owners: none

Codestyle fixes
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Owners: none

Codestyle fixes
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Owners: none

🔧 Changed HELIO online tests to iterate over available servers
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

🔧 Changed HELIO online tests to iterate over available servers
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

🔧 Changed HELIO online tests to iterate over available servers
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Fixed very small inaccuracy with sun.angular_radius()
  changelog/4239.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed very small inaccuracy with sun.angular_radius()
  changelog/4239.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed very small inaccuracy with sun.angular_radius()
  changelog/4239.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fix figure tests astropydev installation in tox.ini
  tox.ini
Owners: none

Fix figure tests astropydev installation in tox.ini
  tox.ini
Owners: none

Fix figure tests astropydev installation in tox.ini
  tox.ini
Owners: none

Check sunpy tests with astropy/astropy/pull/10442
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
