Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Another test
  .github/workflows/run_tox.yml
Owners: none

Move the extra label tests to a separate workflow
  .github/workflows/extra_ci.yml
  .github/workflows/run_tox.yml
Owners: none

Whoops
  .github/workflows/extra_ci.yml
Owners: none

Bump minimum required Matplotlib version
  setup.cfg
  tox.ini
Owners: none

Bump minimum required Matplotlib version
  setup.cfg
  tox.ini
Owners: none

Update changelog/4881.bugfix.rst
  changelog/4881.bugfix.rst
Owners: none

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update changelog/4881.bugfix.rst
  changelog/4881.bugfix.rst
Owners: none

Handle time scale FITS metadata in map.date
  changelog/4881.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/rhessi.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Handle time scale FITS metadata in map.date
  changelog/4881.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/rhessi.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update changelog/4881.bugfix.rst
  changelog/4881.bugfix.rst
Owners: none

Update changelog/4881.bugfix.rst
  changelog/4881.bugfix.rst
Owners: none

Handle time scale FITS metadata in map.date
  changelog/4881.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/rhessi.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Handle time scale FITS metadata in map.date
  changelog/4881.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/rhessi.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Reduce number of rotatedsun test examples
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Reduce number of rotatedsun test examples
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Reduce runtimes of some more tests
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/net, @sunpy/timeseries

Reduce runtimes of some more tests
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/net, @sunpy/timeseries

Reduce runtimes of some more tests (#4991)
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/net, @sunpy/timeseries

Reduce runtimes of some more tests (#4991)
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/net, @sunpy/timeseries

Transition SRS example to use sample data
  changelog/4993.feature.rst
  examples/plotting/magnetogram_active_regions.py
  sunpy/data/_sample.py
Owners: @sunpy/documentation-gallery

Transition SRS example to use sample data
  changelog/4993.feature.rst
  examples/plotting/magnetogram_active_regions.py
  sunpy/data/_sample.py
Owners: @sunpy/documentation-gallery

Fix broken references in the changelog
  CHANGELOG.rst
Owners: none

Fix broken references in the changelog
  CHANGELOG.rst
Owners: none

Do not accept gzip encoded sample data downloads as github pages doesn't like it
  sunpy/data/_sample.py
Owners: none

Do not accept gzip encoded sample data downloads as github pages doesn't like it
  sunpy/data/_sample.py
Owners: none

EXP: Test out a patch to sphinx-gallery
  docs/.rtd_requirements.txt
  docs/conf.py
  readthedocs.yml
  tox.ini
Owners: none

EXP: Test out a patch to sphinx-gallery
  docs/.rtd_requirements.txt
  docs/conf.py
  readthedocs.yml
  tox.ini
Owners: none

Reduce number of rotatedsun test examples (#4990)
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Reduce number of rotatedsun test examples (#4990)
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Fix header injection logic and re-show progress for sample data
  docs/conf.py
  sunpy/data/_sample.py
  sunpy/util/parfive_helpers.py
Owners: none

Fix header injection logic and re-show progress for sample data
  docs/conf.py
  sunpy/data/_sample.py
  sunpy/util/parfive_helpers.py
Owners: none

Disable progress bar on docs build
  tox.ini
Owners: none

Disable progress bar on docs build
  tox.ini
Owners: none

wtaf rtd
  docs/.rtd_requirements.txt
  readthedocs.yml
  rtd-environment.yml
Owners: none

wtaf rtd
  docs/.rtd_requirements.txt
  readthedocs.yml
  rtd-environment.yml
Owners: none

Sanity preserving comment
  readthedocs.yml
Owners: none
