Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

replace the package_data section
  setup.cfg
Owners: none

replace the package_data section
  setup.cfg
Owners: none

use TimeDelta instead of sunpy.instr.fermi.met_to_utc() in GBM timeseries (#4215)
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

use TimeDelta instead of sunpy.instr.fermi.met_to_utc() in GBM timeseries (#4215)
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

Update examples/map/map_data_histogram.py
  examples/map/map_data_histogram.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_data_histogram.py
  examples/map/map_data_histogram.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_data_histogram.py
  examples/map/map_data_histogram.py
Owners: @sunpy/documentation-gallery

fixed the last two attrs issue with overkill
  docs/dev_guide/code_standards.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/extern/inflect.py
  sunpy/extern/inflect_license.txt
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-user, @sunpy/net

fixed the last two attrs issue with overkill
  docs/dev_guide/code_standards.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/extern/inflect.py
  sunpy/extern/inflect_license.txt
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-user, @sunpy/net

fixed the last two attrs issue with overkill
  docs/dev_guide/code_standards.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/extern/inflect.py
  sunpy/extern/inflect_license.txt
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-user, @sunpy/net

Update docs/dev_guide/code_standards.rst
  docs/dev_guide/code_standards.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/code_standards.rst
  docs/dev_guide/code_standards.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/code_standards.rst
  docs/dev_guide/code_standards.rst
Owners: @sunpy/documentation-developer

Apply suggestions from code review
  MANIFEST.in
  tox.ini
Owners: none

Apply suggestions from code review
  MANIFEST.in
  tox.ini
Owners: none

Apply suggestions from code review
  MANIFEST.in
  tox.ini
Owners: none

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Remove warnings, and specify behaviour in docstring
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove warnings, and specify behaviour in docstring
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove warnings, and specify behaviour in docstring
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix wording
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix wording
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix wording
  sunpy/map/mapbase.py
Owners: @sunpy/map

Reduced the tolerance of affine-transform tests to avoid numerical-precision issues
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Reduced the tolerance of affine-transform tests to avoid numerical-precision issues
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Reduced the tolerance of affine-transform tests to avoid numerical-precision issues
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

remove dev docs from 2.0
  docs/dev_guide/code_standards.rst
  docs/dev_guide/config.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/example_gallery.rst
  docs/dev_guide/funding.rst
  docs/dev_guide/index.rst
  docs/dev_guide/logger.rst
  docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/new_objects.rst
  docs/dev_guide/newcomers.rst
  docs/dev_guide/pr_review_procedure.rst
  docs/dev_guide/remote_data.rst
  docs/dev_guide/tests.rst
  docs/dev_guide/units_quantities.rst
Owners: @sunpy/documentation-developer

Delete code_standards.rst
  docs/dev_guide/code_standards.rst
Owners: @sunpy/documentation-developer

remove stray reference
  docs/whatsnew/1.1.rst
Owners: none

Adds the possibility to input a regular expression to the scrapper call
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Adds the possibility to input a regular expression to the scrapper call
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Adds the possibility to input a regular expression to the scrapper call
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Adds changelog entry
  changelog/4107.feature.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Adds changelog entry
  changelog/4107.feature.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Adds changelog entry
  changelog/4107.feature.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

isort
  sunpy/util/scraper.py
Owners: none

isort
  sunpy/util/scraper.py
Owners: none

isort
  sunpy/util/scraper.py
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
