Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Make colnames comparison order invariant
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
Owners: @sunpy/net

First attempt at VSO backcompat
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/net/fido_factory.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/legacy_response.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/database, @sunpy/net

More tests
  sunpy/database/tables.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/vso.py
Owners: @sunpy/database, @sunpy/net

More test fixes
  sunpy/database/tables.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/database, @sunpy/net

Make colnames comparison order invariant
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
Owners: @sunpy/net

More test fixes
  sunpy/database/tables.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/database, @sunpy/net

rework response creation in VSOClient.query
  sunpy/net/vso/vso.py
Owners: @sunpy/net

rename table_attribute module
  sunpy/net/base_client.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/table_response.py
  sunpy/util/_table_attribute.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

rework response creation in VSOClient.query
  sunpy/net/vso/vso.py
Owners: @sunpy/net

rename table_attribute module
  sunpy/net/base_client.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/table_response.py
  sunpy/util/_table_attribute.py
Owners: @sunpy/net

rename table_attribute module
  sunpy/net/base_client.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/table_response.py
  sunpy/util/_table_attribute.py
Owners: @sunpy/net

rework response creation in VSOClient.query
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Improve the goes event list example
  examples/acquiring_data/querying_the_GOES_event_list.py
Owners: @sunpy/documentation-gallery

Clean out old database code
  sunpy/database/tables.py
  sunpy/net/vso/vso.py
Owners: @sunpy/database, @sunpy/net

Start work on response block properties
  sunpy/net/base_client.py
  sunpy/net/vso/legacy_response.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Improve the goes event list example
  examples/acquiring_data/querying_the_GOES_event_list.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Clean out old database code
  sunpy/database/tables.py
  sunpy/net/vso/vso.py
Owners: @sunpy/database, @sunpy/net

Start work on response block properties
  sunpy/net/base_client.py
  sunpy/net/vso/legacy_response.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Clean out old database code
  sunpy/database/tables.py
  sunpy/net/vso/vso.py
Owners: @sunpy/database, @sunpy/net

Improve the goes event list example
  examples/acquiring_data/querying_the_GOES_event_list.py
Owners: @sunpy/documentation-gallery

Start work on response block properties
  sunpy/net/base_client.py
  sunpy/net/vso/legacy_response.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Vendor Quadrangle from Astropy so remove all version checking
  changelog/4809.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/visualization/_quadrangle.py
Owners: @sunpy/map, @sunpy/visualization

Deprecate draw_rectangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

Changelogs, so many changelogs
  changelog/4321.breaking.1.rst
  changelog/4321.breaking.rst
  changelog/4321.removal.rst
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.2.rst
  changelog/4358.feature.1.rst
  changelog/4358.removal.1.rst
  changelog/4358.removal.2.rst
  changelog/4798.breaking.2.rst
  changelog/4798.breaking.3.rst
  changelog/4798.breaking.4.rst
  changelog/4798.breaking.5.rst
  changelog/4798.breaking.6.rst
  changelog/4798.breaking.rst
  changelog/4798.bugfix.rst
  changelog/4798.removal.1.rst
  changelog/4798.removal.2.rst
  changelog/4798.removal.rst
Owners: none

Changelogs, so many changelogs
  changelog/4321.breaking.1.rst
  changelog/4321.breaking.rst
  changelog/4321.removal.rst
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.2.rst
  changelog/4358.feature.1.rst
  changelog/4358.removal.1.rst
  changelog/4358.removal.2.rst
  changelog/4798.breaking.2.rst
  changelog/4798.breaking.3.rst
  changelog/4798.breaking.4.rst
  changelog/4798.breaking.5.rst
  changelog/4798.breaking.6.rst
  changelog/4798.breaking.rst
  changelog/4798.bugfix.rst
  changelog/4798.removal.1.rst
  changelog/4798.removal.2.rst
  changelog/4798.removal.rst
Owners: none

Changelogs, so many changelogs
  changelog/4321.breaking.1.rst
  changelog/4321.breaking.rst
  changelog/4321.removal.rst
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.2.rst
  changelog/4358.feature.1.rst
  changelog/4358.removal.1.rst
  changelog/4358.removal.2.rst
  changelog/4798.breaking.2.rst
  changelog/4798.breaking.3.rst
  changelog/4798.breaking.4.rst
  changelog/4798.breaking.5.rst
  changelog/4798.breaking.6.rst
  changelog/4798.breaking.rst
  changelog/4798.bugfix.rst
  changelog/4798.removal.1.rst
  changelog/4798.removal.2.rst
  changelog/4798.removal.rst
Owners: none

doctest fix
  sunpy/util/_table_attribute.py
Owners: none

omfg bad rebase
  docs/guide/acquiring_data/fido.rst
  examples/acquiring_data/querying_the_GOES_event_list.py
  setup.cfg
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/fido_factory.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

Make QueryResponseTable a virtual subclass of BaseQueryResponse and deprecate API
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/documentation-user, @sunpy/net

Make QueryResponseTable a virtual subclass of BaseQueryResponse and deprecate API
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/documentation-user, @sunpy/net

omfg bad rebase
  docs/guide/acquiring_data/fido.rst
  examples/acquiring_data/querying_the_GOES_event_list.py
  setup.cfg
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/fido_factory.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

Warnings
  setup.cfg
Owners: none

More tests and cleanup
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_baseclient.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

fix doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

omfg bad rebase
  docs/guide/acquiring_data/fido.rst
  examples/acquiring_data/querying_the_GOES_event_list.py
  setup.cfg
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/fido_factory.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

Mostly docs, but some extra Table stuff for pretty
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/documentation-user, @sunpy/net

More tests and cleanup
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_baseclient.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net
