Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Added rotation algorithm description into docstring
  sunpy/image/transform.py
Owners: @sunpy/image

bad assert fixed
  examples/map/rotate_custom_affine_transform_opencv.py
Owners: @sunpy/documentation-gallery

Fixed example
  examples/map/rotate_custom_affine_transform_opencv.py
Owners: @sunpy/documentation-gallery

Delete custom size property from SunPyBaseCoordinateFrame
  changelog/4577.breaking.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Remove limitation of only SunPy frames for RotatedSunFrame
  changelog/4577.feature.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Update sunpy/time/time.py
  sunpy/time/time.py
Owners: @sunpy/time

incl overlapping providers
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

incl overlapping providers
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

Remove limitation of only SunPy frames for RotatedSunFrame
  changelog/4577.feature.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Delete custom size property from SunPyBaseCoordinateFrame
  changelog/4577.breaking.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Delete custom size property from SunPyBaseCoordinateFrame
  changelog/4577.breaking.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Remove limitation of only SunPy frames for RotatedSunFrame
  changelog/4577.feature.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

fixing mistake in test
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

fixing mistake in test
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

fix and changelog
  changelog/4589.feature.rst
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

fix and changelog
  changelog/4589.feature.rst
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

fixing name of image
  sunpy/data/_sample.py
Owners: none

updating from comments
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Correctly parse lists of times (#4590)
  changelog/4590.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Owners: @sunpy/time

Correctly parse lists of times (#4590)
  changelog/4590.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Owners: @sunpy/time

now using os.PathLike
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

now using os.PathLike
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

wildcard for file namechanges (already happened!)
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

wildcard for file namechanges (already happened!)
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

Update changelog/4589.feature.rst
  changelog/4589.feature.rst
Owners: none

Update changelog/4589.feature.rst
  changelog/4589.feature.rst
Owners: none

fixing variable names
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

fixing variable names
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

typo fix in usage string
  tools/generate_releaserst.xsh
Owners: none

typo fix in usage string
  tools/generate_releaserst.xsh
Owners: none

LASCOMap: clear rotation metadata for Helioviewer JPEG2000 images (fixes #4553)
  sunpy/map/sources/soho.py
Owners: @sunpy/map

LASCOMap: clear rotation metadata for Helioviewer JPEG2000 images (fixes #4553)
  sunpy/map/sources/soho.py
Owners: @sunpy/map

add test to verify that rotation is correctly removed from LASCO Helioviewer JP2 files
  sunpy/data/test/2013_05_13__16_54_06_137__SOHO_LASCO_C3_white-light.jp2
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

add changelog entry
  changelog/4561.bugfix.rst
Owners: none

add test to verify that rotation is correctly removed from LASCO Helioviewer JP2 files
  sunpy/data/test/2013_05_13__16_54_06_137__SOHO_LASCO_C3_white-light.jp2
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

add changelog entry
  changelog/4561.bugfix.rst
Owners: none

fix PEP8 issues
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

fix PEP8 issues
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

adjust tests to use pytest fixtures
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

adjust tests to use pytest fixtures
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
