Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Add changelog
  changelog/4328.breaking.rst
Owners: none

Add changelog
  changelog/4328.breaking.rst
Owners: none

Revert "Use default mpl colour cycle for RHESSI peek"
  changelog/4326.feature.rst
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/rhessi.py
Owners: @sunpy/timeseries

Return Latitude from B0
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Add changelog
  changelog/4323.trivial.rst
Owners: none

Rename 4323.trivial.rst to 4323.breaking.rst
  changelog/4323.breaking.rst
Owners: none

Add func to changelog
  changelog/4323.breaking.rst
Owners: none

ping to make sure this still fails
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Add tests for sunpy.physics.differential_rotate
  sunpy/physics/.vscode/settings.json
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

added the changelog file
  changelog/4333.trivial.rst
Owners: none

url change
  CONTRIBUTING.rst
Owners: none

url change
  CONTRIBUTING.rst
Owners: none

removed the unwanted files
  changelog/4333.trivial.rst
  sunpy/physics/.vscode/settings.json
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Add changelog
  changelog/3909.feature.rst
Owners: none

Add contour map method
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Add contour map method
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Add changelog
  changelog/3909.feature.rst
Owners: none

Add test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Make FITS header warning more helpful
  sunpy/map/mapbase.py
Owners: @sunpy/map

Make FITS header warning more helpful
  sunpy/map/mapbase.py
Owners: @sunpy/map

Make FITS header warning more helpful
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4335.trivial.rst
Owners: none

Add changelog
  changelog/4335.trivial.rst
Owners: none

Add changelog
  changelog/4335.trivial.rst
Owners: none

added deprecation to map.size property
  sunpy/map/mapbase.py
Owners: @sunpy/map

some basic formatting done
  sunpy/map/mapbase.py
Owners: @sunpy/map

fix header of hmi synopic map
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Owners: @sunpy/documentation-gallery, @sunpy/map

add HMISynoptic Map
  changelog/4053.feature.rst
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/__init__.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Owners: @sunpy/documentation-gallery, @sunpy/map

add HMISynoptic Map
  changelog/4053.feature.rst
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/__init__.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Owners: @sunpy/documentation-gallery, @sunpy/map

fix header of hmi synopic map
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Owners: @sunpy/documentation-gallery, @sunpy/map

seperated the tests for differential rotate for time and observer
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

format with long lines
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Fix imports of Downloader in fido_factory
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Fix imports of Downloader in fido_factory
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Fix imports of Downloader in fido_factory
  sunpy/net/fido_factory.py
Owners: @sunpy/net

totally segrated the changes
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Return Latitude from B0 (#4323)
  changelog/4323.breaking.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Return Latitude from B0 (#4323)
  changelog/4323.breaking.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
