Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Merge pull request #4081 from Cadair/fix_circle_ci_docs_preview
  docs/conf.py
  tox.ini
Owners: none

Merge pull request #4088 from nabobalis/master
  changelog/4088.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Owners: @sunpy/net

Merge pull request #4098 from dstansby/document-data
  changelog/4098.docfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/searching_vso.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/map/README.txt
  sunpy/map/map_factory.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/map, @sunpy/net, @sunpy/timeseries, @sunpy/documentation-user, @sunpy/documentation-gallery

Update downloading_hmi.py with download change (#4161)
  examples/acquiring_data/skip_downloading_hmi.py
Owners: @sunpy/documentation-gallery

Merge pull request #4162 from sunpy/nabobalis-patch-1
  examples/time_series/skip_timeseries_example.py
Owners: @sunpy/documentation-gallery

Fixes for linear upsampling (#4164)
  changelog/4164.bugfix.rst
  sunpy/image/resample.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/image, @sunpy/map

bad merge
  .circleci/config.yml
  sunpy/database/tests/test_tables.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
Owners: @sunpy/database, @sunpy/map, @sunpy/net

bad merge
  sunpy/map/tests/test_mapbase.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
Owners: @sunpy/map, @sunpy/net

stereo attr
  examples/units_and_coordinates/AIA_limb_STEREO.py
Owners: @sunpy/documentation-gallery

stereo attr
  examples/units_and_coordinates/AIA_limb_STEREO.py
Owners: @sunpy/documentation-gallery

CR comments v2
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/documentation-user, @sunpy/net

CR comments v2
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/documentation-user, @sunpy/net

Fix printing when no registered attrs
  sunpy/net/attr.py
Owners: @sunpy/net

Only attempt to close the VSO connection if the connection is active
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Fix printing when no registered attrs
  sunpy/net/attr.py
Owners: @sunpy/net

Only attempt to close the VSO connection if the connection is active
  sunpy/net/vso/vso.py
Owners: @sunpy/net

isort config
  .pre-commit-config.yaml
  setup.cfg
Owners: none

isort config
  .pre-commit-config.yaml
  setup.cfg
Owners: none

header script
  tools/unify_section_headings.py
Owners: none

header script
  tools/unify_section_headings.py
Owners: none

Fix specification of STEREO B in an example
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

Fix specification of STEREO B in an example (#4185)
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

Fix specification of STEREO B in an example (#4185)
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

clean-up tests with parametrize
  sunpy/io/tests/test_fits.py
Owners: @sunpy/io

make sure list of HDUs still has type HDUList
  sunpy/io/fits.py
Owners: @sunpy/io

fix bug in example code that is not run
  docs/code_ref/map.rst
Owners: @sunpy/map

make sure list of HDUs still has type HDUList
  sunpy/io/fits.py
Owners: @sunpy/io

make sure list of HDUs still has type HDUList
  sunpy/io/fits.py
Owners: @sunpy/io

use for loop for in-place operations
  sunpy/io/fits.py
Owners: @sunpy/io

use for loop for in-place operations
  sunpy/io/fits.py
Owners: @sunpy/io

fix bug in example code that is not run
  docs/code_ref/map.rst
Owners: @sunpy/map

fix bug in example code that is not run
  docs/code_ref/map.rst
Owners: @sunpy/map

clean-up tests with parametrize
  sunpy/io/tests/test_fits.py
Owners: @sunpy/io

use for loop for in-place operations
  sunpy/io/fits.py
Owners: @sunpy/io

clean-up tests with parametrize
  sunpy/io/tests/test_fits.py
Owners: @sunpy/io

clean up fits header test
  sunpy/io/tests/test_fits.py
Owners: @sunpy/io

Update changelog/4183.docfix.rst
  changelog/4183.docfix.rst
Owners: none

Update changelog/4183.docfix.rst
  changelog/4183.docfix.rst
Owners: none

Update changelog/4183.docfix.rst
  changelog/4183.docfix.rst
Owners: none

changelog for bugfix and docfix
  changelog/4183.bugfix.rst
  changelog/4183.docfix.rst
Owners: none
