Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Apply suggestions from code review
  MANIFEST.in
Owners: none

Apply suggestions from code review
  MANIFEST.in
Owners: none

Apply suggestions from code review
  MANIFEST.in
Owners: none

Add rotated map plotting test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add rotated map plotting test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add rotated map plotting test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Make width != height
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Make width != height
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Make width != height
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add figure_test decorator
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add figure_test decorator
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add figure_test decorator
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Remove draw_grid
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Remove draw_grid
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Remove draw_grid
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Add hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Add hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Removed NOAA sample data
  changelog/4169.removal.rst
  examples/time_series/skip_timeseries_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_peak_finding.py
  sunpy/data/_sample.py
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Removed NOAA sample data
  changelog/4169.removal.rst
  examples/time_series/skip_timeseries_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_peak_finding.py
  sunpy/data/_sample.py
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Removed NOAA sample data
  changelog/4169.removal.rst
  examples/time_series/skip_timeseries_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_peak_finding.py
  sunpy/data/_sample.py
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Fixed missing assert calls in affine-transform unit tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Fixed missing assert calls in affine-transform unit tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Fixed missing assert calls in affine-transform unit tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Print out every mismatch for the affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Print out every mismatch for the affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Print out every mismatch for the affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Adds Sunspotter dataset object
  sunpy/util/seo.py
Owners: none

Adds HFC object
  sunpy/util/seo.py
Owners: none

Improved the solar cycle example
  changelog/4169.docfix.rst
  changelog/4169.removal.rst
  examples/plotting/solar_cycle_example.py
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Improved the solar cycle example
  changelog/4169.docfix.rst
  changelog/4169.removal.rst
  examples/plotting/solar_cycle_example.py
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Improved the solar cycle example
  changelog/4169.docfix.rst
  changelog/4169.removal.rst
  examples/plotting/solar_cycle_example.py
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Adds First draft of table matcher.
  sunpy/util/seo.py
Owners: none

Various fixes to affine-transform unit tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Various fixes to affine-transform unit tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Various fixes to affine-transform unit tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

adding LOFAR example
  examples/units_and_coordinates/radec_to_hpc_map.py
  sunpy/data/_sample.py
Owners: @sunpy/documentation-gallery

Adds SciKit Learn as a dependency.
  setup.cfg
Owners: none

Adds Table Matcher
  sunpy/util/tablematcher.py
Owners: none

Adds Tests
  sunpy/util/tests/test_tablematcher.py
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
