Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

TimeSeries tests for the NOAAGOESXRSTimeSeries and some corrections
  changelog/4359.feature.rst
  sunpy/data/test/xrays-1-day.json
  sunpy/data/test/xrays-3-day.json
  sunpy/data/test/xrays-6-hour.json
  sunpy/data/test/xrays-7-day.json
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/timeseries

Fix warnings in sunpy.coordinates
  sunpy/coordinates/tests/test_wcs_utils.py
Owners: @sunpy/coordinates

Fix warnings in sunpy.visualisation
  sunpy/visualization/colormaps/cm.py
Owners: @sunpy/visualization

Fix warnings in sunpy.time
  sunpy/time/tests/test_time.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Fix mapbase test warnings
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix map factory test warning
  sunpy/map/tests/test_map_factory.py
Owners: @sunpy/map

Fix missing observer in test map
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Filter SRS warnings
  sunpy/io/tests/test_srs.py
Owners: @sunpy/io

Fix collections deprecation warning
  sunpy/net/_attrs.py
Owners: @sunpy/net

Filter ERFA warning
  sunpy/timeseries/tests/test_timeseries_factory.py
Owners: @sunpy/timeseries

Ignore leap second update failing
  setup.cfg
Owners: none

Pin junit behaviour
  setup.cfg
Owners: none

Ignore timeseries
  setup.cfg
Owners: none

Add missing warning
  sunpy/map/tests/test_map_factory.py
Owners: @sunpy/map

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

More warnings (#4366)
  setup.cfg
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/io/tests/test_srs.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/_attrs.py
  sunpy/time/tests/test_time.py
  sunpy/time/tests/test_timerange.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/visualization/colormaps/cm.py
Owners: @sunpy/coordinates, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/time, @sunpy/timeseries, @sunpy/visualization

More warnings (#4366)
  setup.cfg
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/io/tests/test_srs.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/_attrs.py
  sunpy/time/tests/test_time.py
  sunpy/time/tests/test_timerange.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/visualization/colormaps/cm.py
Owners: @sunpy/coordinates, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/time, @sunpy/timeseries, @sunpy/visualization

Force the conda-forge version of OpenBLAS that uses OpenMP for threading
  tox.ini
Owners: none

Pin OpenBLAS to 0.3.9
  tox.ini
Owners: none

Pin OpenBLAS to 0.3.10 before they made the different threading builds
  tox.ini
Owners: none

Pin OpenBLAS to before 0.3.10 due to apparent bugs on Linux
  tox.ini
Owners: none

Pin OpenBLAS to before 0.3.10 due to apparent bugs on Linux
  tox.ini
Owners: none

Pin OpenBLAS to before 0.3.10 due to apparent bugs on Linux
  tox.ini
Owners: none

added contains example to timerange class doc string
  sunpy/time/timerange.py
Owners: @sunpy/time

add changelog
  changelog/4372.docfix.rst
Owners: none

add changelog
  changelog/4372.docfix.rst
Owners: none

add changelog
  changelog/4372.docfix.rst
Owners: none

added contains example to timerange class doc string
  sunpy/time/timerange.py
Owners: @sunpy/time

added contains example to timerange class doc string
  sunpy/time/timerange.py
Owners: @sunpy/time

updated to isort 5
  .pre-commit-config.yaml
  setup.cfg
  sunpy/__init__.py
  sunpy/conftest.py
  sunpy/timeseries/timeseriesbase.py
  tools/unify_section_headings.py
Owners: @sunpy/timeseries

updated to isort 5
  .pre-commit-config.yaml
  setup.cfg
  sunpy/__init__.py
  sunpy/conftest.py
  sunpy/timeseries/timeseriesbase.py
  tools/unify_section_headings.py
Owners: @sunpy/timeseries

updated to isort 5
  .pre-commit-config.yaml
  setup.cfg
  sunpy/__init__.py
  sunpy/conftest.py
  sunpy/timeseries/timeseriesbase.py
  tools/unify_section_headings.py
Owners: @sunpy/timeseries

Improve docstring.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Improve docstring.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Don't assume earth observer when calculating rsun_obs
  sunpy/coordinates/sun.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

Don't assume earth observer when calculating rsun_obs
  sunpy/coordinates/sun.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

Changes in code style (for PEP8), Change for doctest
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/timeseries

Add changelog
  changelog/4375.bugfix.rst
Owners: none
