Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Try to get codecov working on cricleCI
  tox.ini
Owners: none

Try to get codecov working on cricleCI
  tox.ini
Owners: none

Add detector to LASCO search in example (#4579)
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

Add detector to LASCO search in example (#4579)
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

Update sun.py to use GeocentricTrueEcliptic
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Remove self_test() references from docs
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Remove self_test() references from docs
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Remove self_test() references from docs
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Fix whitespace
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

Fix whitespace
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

Fix whitespace
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

add numpy to build_docs tox env
  tox.ini
Owners: none

Apply suggestions from code review
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

Add a trivial changelog entry for 4584 issue
  changelog/4584.trivial.rst
Owners: none

Apply suggestions from code review
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Test fixing doc build
  azure-pipelines.yml
Owners: none

Test fixing doc build
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

adding functionality to read in pathlib.Path
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

adding functionality to read in pathlib.Path
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

Correctly parse lists of times
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Owners: @sunpy/time

Comments
  sunpy/time/time.py
Owners: @sunpy/time

Allow hiding of ticks and labels via coord_params in ArrayAnimatorWCS
  changelog/4270.feature.rst
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Allow hiding of ticks and labels via coord_params in ArrayAnimatorWCS
  changelog/4270.feature.rst
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update figure tests
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure tests
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update changelog/4584.trivial.rst
  changelog/4584.trivial.rst
Owners: none

Fix logic
  sunpy/time/time.py
Owners: @sunpy/time

Add changelog
  changelog/4590.bugfix.rst
Owners: none

Added openCV implementation to image.transform; added back use_scipy argument to "rotate" and "affine_transform" for gentle deprecation
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Owners: @sunpy/image, @sunpy/map

Modified Changelog
  changelog/4502.feature.rst
Owners: none

PEP fixes
  sunpy/image/transform.py
Owners: @sunpy/image

Update sun.py to use GeocentricTrueEcliptic (#4584)
  changelog/4584.trivial.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

Update sun.py to use GeocentricTrueEcliptic (#4584)
  changelog/4584.trivial.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates

pixing for windows paths
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

pixing for windows paths
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

Added/modified gallery examples
  examples/map/compare_rotation_results.py
  examples/map/rotate_custom_affine_transform_opencv.py
Owners: @sunpy/documentation-gallery

Adjusted gallery example
  examples/map/rotate_custom_affine_transform_opencv.py
Owners: @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
