Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

Update docs/whatsnew/2.0.rst
  docs/whatsnew/2.0.rst
Owners: none

Update docs/whatsnew/2.0.rst
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review [ci skip]
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review [ci skip]
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review [skip ci]
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review [skip ci]
  docs/whatsnew/2.0.rst
Owners: none

Fix some time comparisions in tests
  sunpy/instr/goes.py
  sunpy/instr/tests/test_lyra.py
Owners: @sunpy/instr

Fix some time comparisions in tests
  sunpy/instr/goes.py
  sunpy/instr/tests/test_lyra.py
Owners: @sunpy/instr

Fix some time comparisions in tests
  sunpy/instr/goes.py
  sunpy/instr/tests/test_lyra.py
Owners: @sunpy/instr

What's New in 2.0 (#4165)
  docs/guide/acquiring_data/fido.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/index.rst
Owners: @sunpy/documentation-user

What's New in 2.0 (#4165)
  docs/guide/acquiring_data/fido.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/index.rst
Owners: @sunpy/documentation-user

Fixed missing transformation errors when obstime is None
  changelog/4267.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed missing transformation errors when obstime is None
  changelog/4267.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed missing transformation errors when obstime is None
  changelog/4267.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed the HEE<->GSE transformations so that they work when obstime is None on one end
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed the HEE<->GSE transformations so that they work when obstime is None on one end
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed the HEE<->GSE transformations so that they work when obstime is None on one end
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

WIP: deprecate transforming a frame instance to a frame class
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

fix whatsnew pre-commit
  docs/whatsnew/2.0.rst
Owners: none

fix whatsnew pre-commit
  docs/whatsnew/2.0.rst
Owners: none

fix whatsnew pre-commit
  docs/whatsnew/2.0.rst
Owners: none

Release notes for 2.0
  RELEASE.rst
Owners: none

Release notes for 2.0
  RELEASE.rst
Owners: none

Move the figure test builds away from tox-conda
  .circleci/config.yml
  setup.cfg
  sunpy/tests/hash.py
  tox.ini
Owners: none

Move the figure test builds away from tox-conda
  .circleci/config.yml
  setup.cfg
  sunpy/tests/hash.py
  tox.ini
Owners: none

Fix Giles config
  pyproject.toml
Owners: none

Fix Giles config
  pyproject.toml
Owners: none

Change the hash naming pattern
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/hash.py
Owners: none

Change the hash naming pattern
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/hash.py
Owners: none

Update RELEASE.rst
  RELEASE.rst
Owners: none

Update RELEASE.rst
  RELEASE.rst
Owners: none

Apply suggestions from code review
  RELEASE.rst
  tools/generate_releaserst.xsh
Owners: none

Apply suggestions from code review
  RELEASE.rst
  tools/generate_releaserst.xsh
Owners: none

Release notes for 2.0
  RELEASE.rst
Owners: none

Apply suggestions from code review
  RELEASE.rst
  tools/generate_releaserst.xsh
Owners: none

Update RELEASE.rst
  RELEASE.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
