Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

fix names of test functions that were incorrectly named test_fitstoEIT
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

fix names of test functions that were incorrectly named test_fitstoEIT
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

Move argument validation out of _get_new_observer
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Move argument validation out of _get_new_observer
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Propagate max_conn to fetch methods
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Add changelog
  changelog/4565.bugfix.rst
Owners: none

Fix noaa client
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
Owners: @sunpy/net

Link to stable parfive docs
  docs/conf.py
Owners: none

Link to stable parfive docs
  docs/conf.py
Owners: none

Fix vso client
  changelog/4565.bugfix.rst
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Respect max_conn in JSOC
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Respect max_conn in JSOC
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Changelog
  changelog/4567.bugfix.rst
Owners: none

Changelog
  changelog/4567.bugfix.rst
Owners: none

Debugging 32 bit test failures
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Reduce tests
  azure-pipelines.yml
Owners: none

More debug
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Fix a probable typo in compositemap
  sunpy/map/compositemap.py
Owners: @sunpy/map

add doc and docfix as changelog types
  changelog/README.rst
  pyproject.toml
Owners: none

add doc and docfix as changelog types
  changelog/README.rst
  pyproject.toml
Owners: none

add doc and docfix as changelog types
  changelog/README.rst
  pyproject.toml
Owners: none

Use clip_interval more extensively in the gallery examples
  changelog/4573.docfix.rst
  examples/map/map_rotation.py
  examples/plotting/aia_example.py
  examples/plotting/fading_between_maps.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Use clip_interval more extensively in the gallery examples
  changelog/4573.docfix.rst
  examples/map/map_rotation.py
  examples/plotting/aia_example.py
  examples/plotting/fading_between_maps.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Use clip_interval more extensively in the gallery examples
  changelog/4573.docfix.rst
  examples/map/map_rotation.py
  examples/plotting/aia_example.py
  examples/plotting/fading_between_maps.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

isot comparison
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

logging support in CI
  setup.cfg
  sunpy/physics/differential_rotation.py
  tox.ini
Owners: @sunpy/physics

logging support in CI
  setup.cfg
  sunpy/physics/differential_rotation.py
  tox.ini
Owners: @sunpy/physics

isot comparison
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Update figure hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Add detector to LASCO search in example
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

Add detector to LASCO search in example
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

Fix stable figure tests
  sunpy/tests/figure_hashes_mpl_322_ft_261_astropy_401post1.json
  sunpy/tests/helpers.py
Owners: none

Fix stable figure tests
  sunpy/tests/figure_hashes_mpl_322_ft_261_astropy_401post1.json
  sunpy/tests/helpers.py
Owners: none

Bump mpl version for figure tests
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  tox.ini
Owners: none

Bump mpl version for figure tests
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  tox.ini
Owners: none

Update hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
Owners: none

Update hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
Owners: none
