Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

changelog and pep 8
  changelog/4830.bugfix.rst
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

changelog and pep 8
  changelog/4830.bugfix.rst
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Added 2 more tests with heliographic_test_map
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

test for hmi issue and fix
  .gitignore
  docs/dev_guide/contents/tests.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/documentation-developer, @sunpy/map, @sunpy/timeseries, @sunpy/visualization

test for hmi issue and fix
  .gitignore
  docs/dev_guide/contents/tests.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/documentation-developer, @sunpy/map, @sunpy/timeseries, @sunpy/visualization

test for hmi issue and fix
  .gitignore
  docs/dev_guide/contents/tests.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/documentation-developer, @sunpy/map, @sunpy/timeseries, @sunpy/visualization

Update docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/tests.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/tests.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/tests.rst
Owners: @sunpy/documentation-developer

In case you want them, close if you don't. (#20)
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

In case you want them, close if you don't. (#20)
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

In case you want them, close if you don't. (#20)
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Fix JSOC client doc test
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Retemplate net.attrs.hek and fix documentation of attrs
  docs/code_ref/net.rst
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/net/vso/attrs.py
  tools/hek_mkcls.py
  tools/hektemplate.py
Owners: @sunpy/net

Retemplate net.attrs.hek and fix documentation of attrs
  docs/code_ref/net.rst
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/net/vso/attrs.py
  tools/hek_mkcls.py
  tools/hektemplate.py
Owners: @sunpy/net

Fix JSOC client doc test
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Retemplate net.attrs.hek and fix documentation of attrs
  docs/code_ref/net.rst
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/net/vso/attrs.py
  tools/hek_mkcls.py
  tools/hektemplate.py
Owners: @sunpy/net

Fix JSOC client doc test
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Add changelog
  changelog/4834.docfix.rst
Owners: none

Add changelog
  changelog/4834.docfix.rst
Owners: none

Add changelog
  changelog/4834.docfix.rst
Owners: none

Return all VSO Query info in the table
  docs/guide/acquiring_data/fido.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/net

Return all VSO Query info in the table
  docs/guide/acquiring_data/fido.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/net

Return all VSO Query info in the table
  docs/guide/acquiring_data/fido.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/net

changelog
  changelog/4788.bugfix.rst
Owners: none

Test fixes
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/helio/hec.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-gallery, @sunpy/net

changelog
  changelog/4788.bugfix.rst
Owners: none

Test fixes
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/helio/hec.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-gallery, @sunpy/net

Test fixes
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/helio/hec.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-gallery, @sunpy/net

changelog
  changelog/4788.bugfix.rst
Owners: none

Reduce number of files downloaded by cutout example
  examples/acquiring_data/downloading_cutouts.py
Owners: @sunpy/documentation-gallery

Reduce number of files downloaded by cutout example
  examples/acquiring_data/downloading_cutouts.py
Owners: @sunpy/documentation-gallery

Reduce number of files downloaded by cutout example
  examples/acquiring_data/downloading_cutouts.py
Owners: @sunpy/documentation-gallery

Sorted the dictionary/list of sample data
  changelog/4838.trivial.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  sunpy/data/sample.py
Owners: @sunpy/documentation-gallery

Sorted the dictionary/list of sample data
  changelog/4838.trivial.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  sunpy/data/sample.py
Owners: @sunpy/documentation-gallery

Sorted the dictionary/list of sample data
  changelog/4838.trivial.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  sunpy/data/sample.py
Owners: @sunpy/documentation-gallery

Sorted the dictionary/list of sample data
  changelog/4838.trivial.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  sunpy/data/sample.py
Owners: @sunpy/documentation-gallery

Removed downloading from example of reprojection of HMI onto AIA
  changelog/4843.docfix.rst
  examples/map_transformations/reprojection_align_aia_hmi.py
Owners: @sunpy/documentation-gallery

Removed downloading from example of reprojection of HMI onto AIA
  changelog/4843.docfix.rst
  examples/map_transformations/reprojection_align_aia_hmi.py
Owners: @sunpy/documentation-gallery

Removed downloading from example of reprojection of HMI onto AIA
  changelog/4843.docfix.rst
  examples/map_transformations/reprojection_align_aia_hmi.py
Owners: @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
