Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

#2721
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: @sunpy/map

Re-enable the JPL HORIZONS consistency unit test
  changelog/5314.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Re-enable the JPL HORIZONS consistency unit test
  changelog/5314.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Re-enable the JPL HORIZONS consistency unit test
  changelog/5314.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

#2721
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

Update setup.cfg
  setup.cfg
Owners: none

Update setup.cfg
  setup.cfg
Owners: none

Update .circleci/config.yml
  .circleci/config.yml
Owners: none

Update .circleci/config.yml
  .circleci/config.yml
Owners: none

Pin setuptools_scm to test RTD
  pyproject.toml
Owners: none

Fix metadata in resample()
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix metadata in resample()
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Bump to support towncrier 21.3
  pyproject.toml
  setup.cfg
Owners: none

Bump to support towncrier 21.3
  pyproject.toml
  setup.cfg
Owners: none

Add changelog
  changelog/5309.bugfix.rst
Owners: none

Add changelog
  changelog/5309.bugfix.rst
Owners: none

Add figure test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add figure test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

The Nab fix
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

The Nab fix
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update setup.cfg
  setup.cfg
Owners: none

render changelog and pin version for rtd
  CHANGELOG.rst
  changelog/5203.trivial.rst
  changelog/5222.bugfix.rst
  changelog/5314.trivial.rst
  docs/conf.py
Owners: none

render changelog and pin version for rtd
  CHANGELOG.rst
  changelog/5203.trivial.rst
  changelog/5222.bugfix.rst
  docs/conf.py
Owners: none

terrible azure hack
  azure-pipelines.yml
Owners: none

Merge pull request #5336 from nabobalis/main
  azure-pipelines.yml
Owners: none

Revert "Pin setuptools_scm to test RTD"
  pyproject.toml
Owners: none

Fixed intersphinx link to Quadrangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fixed intersphinx link to Quadrangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/5275.feature.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

changed transform keyword position
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

updated tests and figure hashes
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_42.json
Owners: @sunpy/map

codestyle
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

updated figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

codestyle fixes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

Delete figure_hashes_mpl_dev_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_42.json
Owners: none

Apply suggestions from code review
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Do not put properties which are None into the asdf tree
  sunpy/io/special/asdf/tags/map/generic_map.py
Owners: @sunpy/io
