Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Modify GenericMap.draw_grid to be obstime-aware
  sunpy/map/mapbase.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/map, @sunpy/visualization

Overhaul GenericMap.draw_limb for transformations and to show visibility
  examples/map_transformations/reprojection_different_observers.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Added context manager to handle differential rotation in WCSAxes
  sunpy/visualization/visualization.py
Owners: @sunpy/visualization

modified: examples/plotting/plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

fix another test
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

new file: plotting_blank_map.py ../../changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

new file: changelog/5077.doc.rst
  changelog/5077.doc.rst
Owners: none

Add method to check if two intervals intersect each other
  changelog/5093.feature.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Owners: @sunpy/time

Add method to check if two intervals intersect each other
  changelog/5093.feature.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Owners: @sunpy/time

added changelog
  changelog/5090.doc.rst
Owners: none

added hmi cutout example
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added hmi cutout example
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added label for colorbar
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added hmi cutout example
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added changelog
  changelog/5090.doc.rst
Owners: none

added label for colorbar
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added label for colorbar
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added label for colorbar
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added changelog
  changelog/5090.doc.rst
Owners: none

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added hmi cutout example
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

added changelog
  changelog/5090.doc.rst
Owners: none

addressed comments
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

addressed comments
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

addressed comments
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

addressed comments
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

modified: examples/plotting/plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

modified: CITATION.rst
  CITATION.rst
Owners: none

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/hmi_cutout.py
Owners: @sunpy/documentation-gallery

Check that the pyplot figure stack is empty before tests and make it empty after tests
  changelog/4969.trivial.rst
  sunpy/conftest.py
Owners: none

Check that the pyplot figure stack is empty before tests and make it empty after tests
  changelog/4969.trivial.rst
  sunpy/conftest.py
Owners: none

pin oldest deps
  .test_package_pins.txt
  setup.cfg
  tox.ini
Owners: none

pin oldest deps
  .test_package_pins.txt
  setup.cfg
  tox.ini
Owners: none

added test and loaded custom map
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map
