Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Correctly set date-obs in HMI synoptic map source
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Correctly set date-obs in HMI synoptic map source
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Correctly set date-obs in HMI synoptic map source
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

testing function for new great arc
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

new great circle code, plus coordinate visibility
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

expanded example
  examples/plotting/great_arc_example.py
Owners: @sunpy/documentation-gallery

fixing the map test
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

tox suggestion
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

tox fix
  examples/plotting/great_arc_example.py
Owners: @sunpy/documentation-gallery

replaced pytest's xfail with skipif
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

tox fix
  examples/plotting/great_arc_example.py
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates

tox fix
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

Change default format of carrington_rotation_time return (#4819)
  changelog/4819.breaking.rst
  changelog/4819.trivial.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Change default format of carrington_rotation_time return (#4819)
  changelog/4819.breaking.rst
  changelog/4819.trivial.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Temporarily remove figure comparing to avoid downloading
  tox.ini
Owners: none

Filter out new deprecation warning on Matplotlib dev
  setup.cfg
Owners: none

Fixed the hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Revert "Temporarily remove figure comparing to avoid downloading"
  tox.ini
Owners: none

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Simplified semi_circular_loop function in asdf coordinates example (#4900)
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Simplified semi_circular_loop function in asdf coordinates example (#4900)
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Simplified semi_circular_loop function in asdf coordinates example (#4900)
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Update examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Update examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Update examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Simplified semi_circular_loop function in asdf coordinates example
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Simplified semi_circular_loop function in asdf coordinates example
  examples/saving_and_loading_data/coordinates_in_asdf.py
Owners: @sunpy/documentation-gallery

Change pipelines report room to Development room
  azure-pipelines.yml
Owners: none

Change pipelines report room to Development room
  azure-pipelines.yml
Owners: none

Use plt.axes() instead of plt.gca()
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Use plt.axes() instead of plt.gca()
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization
