Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Sanity preserving comment
  readthedocs.yml
Owners: none

Address review comments
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

Address last todo
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

Assorted Doc Build Fixes (#4993)
  CHANGELOG.rst
  changelog/4993.feature.rst
  docs/conf.py
  examples/plotting/magnetogram_active_regions.py
  readthedocs.yml
  rtd-environment.yml
  sunpy/data/_sample.py
  sunpy/util/parfive_helpers.py
  tox.ini
Owners: @sunpy/documentation-gallery

Assorted Doc Build Fixes (#4993)
  CHANGELOG.rst
  changelog/4993.feature.rst
  docs/conf.py
  examples/plotting/magnetogram_active_regions.py
  readthedocs.yml
  rtd-environment.yml
  sunpy/data/_sample.py
  sunpy/util/parfive_helpers.py
  tox.ini
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

cleanup
  sunpy/net/_attrs.py
Owners: @sunpy/net

lint
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

un-skip
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/getting_lasco_observer_location.py
Owners: @sunpy/documentation-gallery

Changed the X-axis labels for the histograms
  sunpy/map/mapbase.py
Owners: @sunpy/map

Added an alternate histogram and colormap shading to quicklook
  changelog/4931.feature.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Changed the X-axis labels for the histograms
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Added an alternate histogram and colormap shading to quicklook
  changelog/4931.feature.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Added an alternate histogram and colormap shading to quicklook
  changelog/4931.feature.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Changed the X-axis labels for the histograms
  sunpy/map/mapbase.py
Owners: @sunpy/map

CI: typo fix and tmp on push start
  .github/workflows/asv-regular.yml
Owners: none

CI: delete debug step
  .github/workflows/asv-regular.yml
Owners: none

Docs for writing new Fido clients (#4387)
  changelog/4387.doc.rst
  docs/code_ref/net.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/index.rst
  sunpy/net/attr.py
  sunpy/net/base_client.py
Owners: @sunpy/net, @sunpy/documentation-developer

Docs for writing new Fido clients (#4387)
  changelog/4387.doc.rst
  docs/code_ref/net.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/index.rst
  sunpy/net/attr.py
  sunpy/net/base_client.py
Owners: @sunpy/net, @sunpy/documentation-developer

Fix #4886 look for a tarball first fallback to individual files
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

changed test and updated changelog
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

More scraper range fixes
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: @sunpy/net

Add changelog
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

Update scraper to use relativedelta not units
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/net

Review updates and more test fixes
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

Fix scraper to pass tests
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: @sunpy/net

Add what's new for 2.1
  docs/whatsnew/2.1.rst
  docs/whatsnew/index.rst
Owners: none

Add what's new for 2.1
  docs/whatsnew/2.1.rst
  docs/whatsnew/index.rst
Owners: none

Add what's new for 2.1
  docs/whatsnew/2.1.rst
  docs/whatsnew/index.rst
Owners: none

added rough refactor whatsnew
  docs/whatsnew/2.1.rst
Owners: none

adding goes
  docs/whatsnew/2.1.rst
Owners: none

added rough refactor whatsnew
  docs/whatsnew/2.1.rst
Owners: none

added basic metadata to the whatsnews
  docs/whatsnew/2.1.rst
Owners: none

fixing link
  docs/whatsnew/2.1.rst
Owners: none

fixing link
  docs/whatsnew/2.1.rst
Owners: none

Added coordinates stuff to 2.1 what's new
  docs/whatsnew/2.1.rst
Owners: none

adding goes
  docs/whatsnew/2.1.rst
Owners: none
