Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Add composite map peeking test (#4611)
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Remove multimethod
  sunpy/net/attr.py
  sunpy/util/multimethod.py
  sunpy/util/tests/test_multimethod.py
Owners: @sunpy/net

Remove multimethod
  sunpy/net/attr.py
  sunpy/util/multimethod.py
  sunpy/util/tests/test_multimethod.py
Owners: @sunpy/net

Changelog
  changelog/4614.removal.rst
Owners: none

Changelog
  changelog/4614.removal.rst
Owners: none

Remove from docs
  docs/code_ref/util.rst
Owners: none

Remove from docs
  docs/code_ref/util.rst
Owners: none

Switched HCRS-HGS transformations to FunctionTransformWithFiniteDifference
  changelog/4613.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Switched HCRS-HGS transformations to FunctionTransformWithFiniteDifference
  changelog/4613.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed existing velocity tests and documentation
  docs/code_ref/coordinates/velocities.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
Owners: @sunpy/coordinates

Fixed existing velocity tests and documentation
  docs/code_ref/coordinates/velocities.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
Owners: @sunpy/coordinates

Remove tests
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Remove obsolete decorators
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove old doc references
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4616.breaking.rst
Owners: none

Remove old test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add note about observer_coord in fits header helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

Add note about observer_coord in fits header helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

Add input/output doc to wcs_utils
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

Add input/output doc to wcs_utils
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

Remove deprecated lytaf_path arguments
  sunpy/instr/lyra.py
Owners: @sunpy/instr

Remove unused import
  sunpy/instr/lyra.py
Owners: @sunpy/instr

Add changelog
  changelog/4615.removal.rst
Owners: none

Update ArrayAnimatorWCS class
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update ArrayAnimatorWCS class
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update sunpy/visualization/animator/wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update sunpy/visualization/animator/wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Modify _get_wcs_labels()
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Modify _get_wcs_labels()
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

now working for multiple days
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

Remove deprecated lytaf_path arguments (#4615)
  changelog/4615.removal.rst
  sunpy/instr/lyra.py
Owners: @sunpy/instr

Remove deprecated lytaf_path arguments (#4615)
  changelog/4615.removal.rst
  sunpy/instr/lyra.py
Owners: @sunpy/instr

Remove deprecated positional arguments to map methods (#4616)
  changelog/4616.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Remove deprecated positional arguments to map methods (#4616)
  changelog/4616.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

adding changelog
  changelog/4236.doc.rst
Owners: none

now working without source
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

now working without source
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding requirement of h5netcdf
  setup.cfg
Owners: none

adding requirement of h5netcdf
  setup.cfg
Owners: none

adding addition to test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
