Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Use a class instead of a fixture to implement tests using the DE432s ephemeris
  changelog/4852.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Remove HELIO from metadata example as it is unstable
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

Remove HELIO from metadata example as it is unstable
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

Remove HELIO from metadata example as it is unstable
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

Add changelog
  changelog/4819.breaking.rst
Owners: none

Add changelog
  changelog/4819.breaking.rst
Owners: none

Added STEREO/SECCVI client
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/secchi.py
Owners: @sunpy/net

added changelog and PEP8 fixes
  changelog/4869.feature.rst
  sunpy/net/dataretriever/sources/secchi.py
Owners: @sunpy/net

PEP8 fixes
  sunpy/net/dataretriever/sources/secchi.py
Owners: @sunpy/net

PEP8 fixes
  sunpy/net/dataretriever/sources/secchi.py
Owners: @sunpy/net

Handle non-standard unit in HMIMap
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Make HPC gridlines in STEREO reproject example black
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Write an example of using wcsaxes to overplot HMI on AIA
  examples/map/hmi_contours_wcsaxes.py
Owners: @sunpy/documentation-gallery

Cleanup
  examples/map/hmi_contours_wcsaxes.py
Owners: @sunpy/documentation-gallery

Add support for map unit levels to draw_contour and percentage levels to contour
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix RSUN ref in STEREO AIA reproject example
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

changed client to secchi_beacon, added satellite and telescope attrs
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/secchi.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

PEP8 fixes
  sunpy/net/attrs.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

PEP8 fixes
  sunpy/net/attrs.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

Revert "MPL workaround?"
  sunpy/map/mapbase.py
Owners: @sunpy/map

Revert "MPL workaround?"
  sunpy/map/mapbase.py
Owners: @sunpy/map

Revert "MPL workaround?"
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add support for TIMEUNIT FITS keyword
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add support for TIMEUNIT FITS keyword
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add support for TIMEUNIT FITS keyword
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/net/dataretriever/sources/secchi_beacon.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

Update sunpy/net/dataretriever/sources/secchi_beacon.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

Update sunpy/net/dataretriever/sources/secchi_beacon.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

Update sunpy/net/dataretriever/sources/secchi_beacon.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

Update sunpy/net/dataretriever/sources/secchi_beacon.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

Update sunpy/net/dataretriever/sources/secchi_beacon.py
  sunpy/net/dataretriever/sources/secchi_beacon.py
Owners: @sunpy/net

added pytest.mark.xfail
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

added pytest reason code
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

imported astropy
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map
