Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Update sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update changelog/4477.bugfix.rst
  changelog/4477.bugfix.rst
Owners: none

Update changelog/4477.bugfix.rst
  changelog/4477.bugfix.rst
Owners: none

Add gallery example for saving/loading GenericMap using asdf
  changelog/4492.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Add gallery example for saving/loading GenericMap using asdf
  changelog/4492.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Add gallery example for saving/loading GenericMap using asdf
  changelog/4492.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Changelog and formatting fixes
  changelog/4494.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Changelog and formatting fixes
  changelog/4494.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Changelog and formatting fixes
  changelog/4494.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/saving_and_loading_data/genericmap_in_asdf.py
Owners: @sunpy/documentation-gallery

Update changelog/4494.docfix.rst
  changelog/4494.docfix.rst
Owners: none

Update changelog/4494.docfix.rst
  changelog/4494.docfix.rst
Owners: none

Update changelog/4494.docfix.rst
  changelog/4494.docfix.rst
Owners: none

Add SRS query test for out of range dates
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Add SRS query test for out of range dates
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Add SRS query test for out of range dates
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fix old and new SRS client results
  changelog/4432.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

Fix old and new SRS client results
  changelog/4432.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

Fix old and new SRS client results
  changelog/4432.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

Make use of a bunch of new features in the templates
  .codecov.yaml
  azure-pipelines.yml
Owners: none

Make use of a bunch of new features in the templates
  .codecov.yaml
  azure-pipelines.yml
Owners: none

only build x86 wheels, because skimage
  azure-pipelines.yml
Owners: none

only build x86 wheels, because skimage
  azure-pipelines.yml
Owners: none

Ignore toolz 0.11 deprecation warning
  setup.cfg
Owners: none

Ignore toolz 0.11 deprecation warning
  setup.cfg
Owners: none

Add changelog
  changelog/4491.trivial.rst
Owners: none

Convert warnings to debug logs
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4491.trivial.rst
Owners: none

Add changelog
  changelog/4491.trivial.rst
Owners: none

Convert warnings to debug logs
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Convert warnings to debug logs
  sunpy/map/mapbase.py
Owners: @sunpy/map

fixes
  sunpy/timeseries/sources/__init__.py
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

fixes
  sunpy/timeseries/sources/__init__.py
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

removing VersionData attrs - now search old by Provider
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
