Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Make angle a quantity
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Make angle a quantity
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Improve Map histogram example
  examples/map/map_data_histogram.py
Owners: @sunpy/documentation-gallery

Improve Map histogram example
  examples/map/map_data_histogram.py
Owners: @sunpy/documentation-gallery

Improve Map histogram example
  examples/map/map_data_histogram.py
Owners: @sunpy/documentation-gallery

Add changelog
  changelog/4205.doc.rst
Owners: none

Add changelog
  changelog/4205.doc.rst
Owners: none

Add changelog
  changelog/4205.doc.rst
Owners: none

Fix draw_contour() docs
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix draw_contour() docs
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix draw_contour() docs
  sunpy/map/mapbase.py
Owners: @sunpy/map

Document that the unified file IO shouldn't be used for FITS
  changelog/4208.doc.rst
  docs/code_ref/io.rst
Owners: @sunpy/io

Document that the unified file IO shouldn't be used for FITS
  changelog/4208.doc.rst
  docs/code_ref/io.rst
Owners: @sunpy/io

Fixed GBM dataretriever Detector attribute to use lowercase
  sunpy/net/dataretriever/sources/fermi_gbm.py
Owners: @sunpy/net

Fixed GBM dataretriever Detector attribute to use lowercase
  sunpy/net/dataretriever/sources/fermi_gbm.py
Owners: @sunpy/net

Fixed GBM dataretriever Detector attribute to use lowercase
  sunpy/net/dataretriever/sources/fermi_gbm.py
Owners: @sunpy/net

use TimeDelta in GBM ts
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

use TimeDelta in GBM ts
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

pep8 fix
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

pep8 fix
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

precomit fixes to codestyle
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

precomit fixes to codestyle
  sunpy/timeseries/sources/fermi_gbm.py
Owners: @sunpy/timeseries

Release v1.0.11
  CHANGELOG.rst
  changelog/4039.doc.rst
  changelog/4088.bugfix.rst
  changelog/4112.bugfix.rst
  changelog/4116.doc.rst
  changelog/4127.bugfix.rst
  changelog/4137.trivial.rst
  changelog/4141.bugfix.rst
  changelog/4152.bugfix.rst
  changelog/4164.bugfix.rst
  changelog/4183.bugfix.rst
Owners: none

Release v1.1.4
  CHANGELOG.rst
  changelog/4039.doc.rst
  changelog/4067.bugfix.rst
  changelog/4088.bugfix.rst
  changelog/4112.bugfix.rst
  changelog/4116.doc.rst
  changelog/4127.bugfix.rst
  changelog/4137.trivial.rst
  changelog/4141.bugfix.rst
  changelog/4152.bugfix.rst
  changelog/4164.bugfix.rst
  changelog/4183.bugfix.rst
Owners: none

explicitly import ESPTimeSeries
  sunpy/timeseries/sources/__init__.py
Owners: @sunpy/timeseries

explicitly import ESPTimeSeries
  sunpy/timeseries/sources/__init__.py
Owners: @sunpy/timeseries

fix isort
  sunpy/timeseries/sources/__init__.py
Owners: @sunpy/timeseries

fix isort
  sunpy/timeseries/sources/__init__.py
Owners: @sunpy/timeseries

Explicitly import ESPTimeSeries (#4217)
  sunpy/timeseries/sources/__init__.py
Owners: @sunpy/timeseries

Explicitly import ESPTimeSeries (#4217)
  sunpy/timeseries/sources/__init__.py
Owners: @sunpy/timeseries

deleted the JOSS paper
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

deleted the JOSS paper
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

tox tidy
  tox.ini
Owners: none

tox tidy
  tox.ini
Owners: none

Updated MANIFEST.in to remove a whole bunch of files/folders
  .gitmodules
  MANIFEST.in
  setup.cfg
Owners: none

Updated MANIFEST.in to remove a whole bunch of files/folders
  .gitmodules
  MANIFEST.in
  setup.cfg
Owners: none

tox tidy
  tox.ini
Owners: none

Updated MANIFEST.in to remove a whole bunch of files/folders
  .gitmodules
  MANIFEST.in
  setup.cfg
Owners: none

deleted the JOSS paper
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

replace the package_data section
  setup.cfg
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
