Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

add numpy to py39 build
  tox.ini
Owners: none

updated return types for the HECClient
  setup.cfg
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

added changelog
  changelog/4643.breaking.rst
Owners: none

Updated dev guide handling.
  docs/code_ref/index.rst
  docs/code_ref/stability.rst
  docs/code_ref/sunpy_stability.yaml
  docs/conf.py
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/config.rst
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/example_gallery.rst
  docs/dev_guide/contents/funding.rst
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/images/azure_goto.png
  docs/dev_guide/contents/images/azure_steps_in_job.png
  docs/dev_guide/contents/images/azure_summary_check.png
  docs/dev_guide/contents/images/checks.png
  docs/dev_guide/contents/images/checks_pr.png
  docs/dev_guide/contents/images/list_of_azure_checks.png
  docs/dev_guide/contents/logger.rst
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/new_objects.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/pr_review_procedure.rst
  docs/dev_guide/contents/remote_data.rst
  docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/units_quantities.rst
  docs/dev_guide/index.rst
Owners: @sunpy/documentation-developer

Updated dev guide handling.
  docs/code_ref/index.rst
  docs/code_ref/stability.rst
  docs/code_ref/sunpy_stability.yaml
  docs/conf.py
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/config.rst
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/example_gallery.rst
  docs/dev_guide/contents/funding.rst
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/images/azure_goto.png
  docs/dev_guide/contents/images/azure_steps_in_job.png
  docs/dev_guide/contents/images/azure_summary_check.png
  docs/dev_guide/contents/images/checks.png
  docs/dev_guide/contents/images/checks_pr.png
  docs/dev_guide/contents/images/list_of_azure_checks.png
  docs/dev_guide/contents/logger.rst
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/new_objects.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/pr_review_procedure.rst
  docs/dev_guide/contents/remote_data.rst
  docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/units_quantities.rst
  docs/dev_guide/index.rst
Owners: @sunpy/documentation-developer

updated return types for the HECClient (#4643)
  changelog/4643.breaking.rst
  setup.cfg
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

updated return types for the HECClient (#4643)
  changelog/4643.breaking.rst
  setup.cfg
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Updated logic
  docs/conf.py
  docs/dev_guide/contents/config.rst
  docs/dev_guide/index.rst
Owners: @sunpy/documentation-developer

Updated logic
  docs/conf.py
  docs/dev_guide/contents/config.rst
  docs/dev_guide/index.rst
Owners: @sunpy/documentation-developer

Fix release warnings
  docs/conf.py
  docs/dev_guide/index.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Fix release warnings
  docs/conf.py
  docs/dev_guide/index.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Release 2.0.4
  CHANGELOG.rst
  changelog/4529.bugfix.rst
  changelog/4548.doc.rst
  changelog/4573.docfix.rst
  changelog/4598.docfix.rst
  changelog/4600.bugfix.rst
  changelog/4605.removal.rst
  changelog/4624.bugfix.rst
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

Install numpy before building wheels
  azure-pipelines.yml
Owners: none

fixed issues
  azure-pipelines.yml
  changelog/4569.feature.rst
  changelog/4569.trivial.rst
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

fixed issues
  azure-pipelines.yml
  changelog/4569.feature.rst
  changelog/4569.trivial.rst
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

check wheels builds on manylinux2014_x86_64
  azure-pipelines.yml
  tox.ini
Owners: none

Install numpy before building wheels
  azure-pipelines.yml
Owners: none

check wheels builds on manylinux2014_x86_64
  azure-pipelines.yml
  tox.ini
Owners: none

Update docs/dev_guide/index.rst
  docs/dev_guide/index.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/index.rst
  docs/dev_guide/index.rst
Owners: @sunpy/documentation-developer

Raise an error if a file contains no HDUs with NAXIS > 1
  changelog/4426.trivial.rst
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/util/exceptions.py
Owners: @sunpy/map

Raise an error if a file contains no HDUs with NAXIS > 1
  changelog/4426.trivial.rst
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/util/exceptions.py
Owners: @sunpy/map

Test notifications
  azure-pipelines.yml
  tools/send_matrix_message.xsh
Owners: none

Send a message to matrix on a failed cron
  azure-pipelines.yml
  tools/send_matrix_message.xsh
Owners: none

Send a message to matrix on a failed cron
  azure-pipelines.yml
  tools/send_matrix_message.xsh
Owners: none

adding detect_filetype func
  sunpy/io/file_tools.py
Owners: @sunpy/io

adding detect_filetype func
  sunpy/io/file_tools.py
Owners: @sunpy/io

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

removing commas
  sunpy/io/file_tools.py
Owners: @sunpy/io

removing commas
  sunpy/io/file_tools.py
Owners: @sunpy/io

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding more robust filetype checking
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

Update utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
