Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

removing my print statements
  sunpy/net/fido_factory.py
Owners: @sunpy/net

removing my print statements
  sunpy/net/fido_factory.py
Owners: @sunpy/net

fixing test to move into tmpdir
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

fixing test to move into tmpdir
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

fixing test to move into tmpdir
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

adding changelog
  changelog/4058.bugfix.rst
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

adding changelog
  changelog/4058.bugfix.rst
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

adding changelog
  changelog/4058.bugfix.rst
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fix PEP8 newline
  changelog/4058.bugfix.rst
Owners: none

Fix PEP8 newline
  changelog/4058.bugfix.rst
Owners: none

Fix PEP8 newline
  changelog/4058.bugfix.rst
Owners: none

increased readibility
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

added gong tests
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

added gong and farside clients
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

fixed longline issues
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

added changelog
  changelog/3811.feature.rst
Owners: none

removed try except block
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

changed to http
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

Unskip non-reprojection examples
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/time_series/timeseriesmetadata_example.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

Unskip non-reprojection examples
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/time_series/timeseriesmetadata_example.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

Simplify solar cycle example
  examples/plotting/skip_solar_cycle_example.py
  examples/plotting/solar_cycle_example.py
Owners: @sunpy/documentation-gallery

Simplify solar cycle example
  examples/plotting/skip_solar_cycle_example.py
  examples/plotting/solar_cycle_example.py
Owners: @sunpy/documentation-gallery

Fixing bug in Fido to allow download to path="./" (#4058)
  changelog/4058.bugfix.rst
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fixing bug in Fido to allow download to path="./" (#4058)
  changelog/4058.bugfix.rst
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Update changelog/3722.feature.rst
  changelog/3722.feature.rst
Owners: none

Update changelog/3722.feature.rst
  changelog/3722.feature.rst
Owners: none

helpers to v4.0.1
  ah_bootstrap.py
  setup.py
Owners: none

helpers to v4.0.1 and azure tweak
  ah_bootstrap.py
  azure-pipelines.yml
Owners: none

Prevent header_to_fits modifying the header in place
  sunpy/io/fits.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/io, @sunpy/map

Prevent header_to_fits modifying the header in place
  sunpy/io/fits.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/io, @sunpy/map

Prevent header_to_fits modifying the header in place
  sunpy/io/fits.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/io, @sunpy/map

Add changelog
  changelog/4067.bugfix.rst
Owners: none

Add changelog
  changelog/4067.bugfix.rst
Owners: none

Add changelog
  changelog/4067.bugfix.rst
Owners: none

ignore doctest import errors
  setup.cfg
Owners: none

ignore doctest import errors
  setup.cfg
Owners: none

ignore doctest import errors
  setup.cfg
Owners: none

ignore doctest import errors
  setup.cfg
Owners: none

1.1.3 changelog
  CHANGELOG.rst
  changelog/3822.feature.rst
  changelog/3959.bugfix.rst
  changelog/3970.bugfix.rst
  changelog/3973.bugfix.rst
  changelog/3982.bugfix.rst
  changelog/4001.bugfix.rst
  changelog/4007.bugfix.rst
  changelog/4034.doc.rst
  changelog/4043.doc.rst
  changelog/4058.bugfix.rst
Owners: none

1.0.10 changelog
  CHANGELOG.rst
  changelog/3822.feature.rst
  changelog/3959.bugfix.rst
  changelog/3973.bugfix.rst
  changelog/3982.bugfix.rst
  changelog/4034.doc.rst
  changelog/4043.doc.rst
  changelog/4058.bugfix.rst
  changelog/4067.bugfix.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
