Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Added test for rigid rotation model
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Removed whitespace
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Added changelog file
  changelog/5132.feature.rst
Owners: none

Update changelog/5132.feature.rst
  changelog/5132.feature.rst
Owners: none

Fix method name in Fido doc
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

Fix method name in Fido doc
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

Add some newlines to the walker __repr__
  sunpy/net/attr.py
Owners: @sunpy/net

Add some newlines to the walker __repr__
  sunpy/net/attr.py
Owners: @sunpy/net

Fix method name in Fido doc (#5133)
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

Fix method name in Fido doc (#5133)
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

Revert "xfail test"
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

removed unnecessary imports
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed unnecessary imports
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed unnecessary imports
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Add some newlines to the walker __repr__ (#5134)
  sunpy/net/attr.py
Owners: @sunpy/net

Add some newlines to the walker __repr__ (#5134)
  sunpy/net/attr.py
Owners: @sunpy/net

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update sunpy/physics/differential_rotation.py
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Update changelog/5132.feature.rst
  changelog/5132.feature.rst
Owners: none

Update sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

updated requirements
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

updated requirements
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

updated requirements
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
