Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Allows pixel input to draw_quadrangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

update rtd again
  docs/conf.py
  rtd-environment.yml
Owners: none

intersphinx and cleaned up code
  changelog/5275.feature.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Test tox-conda with fixed templates
  azure-pipelines.yml
Owners: none

Fix metadata computations in superpixel()
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix metadata computations in superpixel()
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/5295.bugfix.rst
Owners: none

Reduce resample size of one plot test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add changelog
  changelog/5295.bugfix.rst
Owners: none

Reduce resample size of one plot test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Improve error message when trying to parse an unkonwn file with tseries
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Improve error message when trying to parse an unkonwn file with tseries
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

removed this utter garbage and disgrace
  sunpy/util/sysinfo.py
Owners: none

removed this utter garbage and disgrace
  sunpy/util/sysinfo.py
Owners: none

Re-enable the JPL HORIZONS consistency unit test
  changelog/5314.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

redid changes
  tox.ini
Owners: none

hidden import for skimage
  .pyinstaller/hooks/hook-sunpy.py
Owners: none

Burn the test class
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Moved the pytest mark to the right place
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Update 5275.feature.rst
  changelog/5275.feature.rst
Owners: none

Add a coordinate grid figure test for superpixel()
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Add a coordinate grid figure test for superpixel()
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

removed skimage hiddenimport and installed hooks from github
  .pyinstaller/hooks/hook-sunpy.py
  tox.ini
Owners: none

modified hooks for sunpy and separated test imports
  .pyinstaller/hooks/hook-sunpy.py
Owners: none

modified hooks for sunpy and separated test imports
  .pyinstaller/hooks/hook-sunpy.py
Owners: none

Changes a few relative imports to absolute imports
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
Owners: @sunpy/coordinates

Removed skip asdf test
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/coordinates, @sunpy/io, @sunpy/net

changed relative import in sunpy.data
  sunpy/data/tests/test_sample.py
Owners: none

Changes a few relative imports to absolute imports (#5317)
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/data/tests/test_sample.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/coordinates, @sunpy/io, @sunpy/net

remove cron check
  azure-pipelines.yml
Owners: none

fix crontest
  sunpy/io/tests/test_srs.py
Owners: @sunpy/io

fix docbuild hopefully
  CHANGELOG.rst
  sunpy/net/dataretriever/sources/rhessi.py
Owners: @sunpy/net

fermi inst pointing fix
  sunpy/instr/fermi.py
  sunpy/instr/tests/test_fermi.py
Owners: @sunpy/instr

ci fix
  CHANGELOG.rst
  azure-pipelines.yml
  sunpy/extern/sunkit_instruments/fermi/fermi.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/sources/rhessi.py
Owners: @sunpy/io, @sunpy/net

Merge pull request #5318 from nabobalis/2.0
  CHANGELOG.rst
  azure-pipelines.yml
  docs/dev_guide/contents/extending_fido.rst
  sunpy/instr/fermi.py
  sunpy/instr/tests/test_fermi.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/sources/rhessi.py
Owners: @sunpy/documentation-developer, @sunpy/instr, @sunpy/io, @sunpy/net

patch dev guide
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

ci fix
  .circleci/config.yml
  CHANGELOG.rst
  azure-pipelines.yml
  docs/dev_guide/contents/extending_fido.rst
  sunpy/io/file_tools.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/sources/rhessi.py
Owners: @sunpy/documentation-developer, @sunpy/io, @sunpy/net

#2721
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_maputils.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

pin a min version of h5py
  setup.cfg
Owners: none

pin a min version of h5py
  setup.cfg
Owners: none
