Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Update 3627.doc.rst
  changelog/3627.doc.rst
Owners: none

Override the size() property in SunPy frames to allow use as data-less coordinate frame attributes
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Override the size() property in SunPy frames to allow use as data-less coordinate frame attributes
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Addressed comments
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Allow explicitly defining the coordinate frame for a WCS
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

Added tutorial for RotatedSunFrame
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/other_api.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/code_ref/coordinates/wcs.rst
  docs/code_ref/index.rst
Owners: none

Added tutorial for RotatedSunFrame
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/other_api.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/code_ref/coordinates/wcs.rst
  docs/code_ref/index.rst
Owners: none

Added RotatedSunFrame for defining coordinate frames that account for solar rotation
  changelog/3537.feature.rst
  docs/code_ref/coordinates.rst
  sunpy/coordinates/__init__.py
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Added tests for RotatedSunFrame
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Added an as_base() method to strip off the RotatedSunFrame layer
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Added an as_base() method to strip off the RotatedSunFrame layer
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Added RotatedSunFrame for defining coordinate frames that account for solar rotation
  changelog/3537.feature.rst
  docs/code_ref/coordinates.rst
  sunpy/coordinates/__init__.py
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Added tests for RotatedSunFrame
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Addressed comments
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Allow explicitly defining the coordinate frame for a WCS
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

Addressed comments
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Adjusted doctests for more stable float comparisons and for readability
  docs/code_ref/coordinates/rotatedsunframe.rst
Owners: none

Added upgrading of scalar base when duration is an array, and added rotated_time property
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Added upgrading of scalar base when duration is an array, and added rotated_time property
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Added hypothesis-based testing
  sunpy/coordinates/tests/strategies.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Added hypothesis-based testing
  sunpy/coordinates/tests/strategies.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Addressed comments
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Adjusted doctests for more stable float comparisons and for readability
  docs/code_ref/coordinates/rotatedsunframe.rst
Owners: none

Move _Range and make a subclass of Attr
  sunpy/database/attrs.py
  sunpy/net/attr.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/database, @sunpy/net

Move _Range and make a subclass of Attr
  sunpy/database/attrs.py
  sunpy/net/attr.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/database, @sunpy/net

Move global attrs out of vso.attrs.
  docs/code_ref/net.rst
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/tour.rst
  examples/plotting/magnetogram_active_regions.py
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/database/attrs.py
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_attr.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_hek.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net, @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database

Move global attrs out of vso.attrs.
  docs/code_ref/net.rst
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/tour.rst
  examples/plotting/magnetogram_active_regions.py
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/database/attrs.py
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_attr.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_hek.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net, @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/database

Test and document Attrs
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/tests/test_attr_walker.py
Owners: @sunpy/net

Fix python 3.6 tests
  sunpy/util/tests/test_functools.py
Owners: none

Clean up the a.vso. namespace for tab complete
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

some, but not all changelogs
  changelog/3714.removal.rst
  changelog/3714.trivial.rst
Owners: none

Deprecate Multimethod and replace with functools.singledispatch
  docs/code_ref/util.rst
  sunpy/net/attr.py
  sunpy/net/vso/attrs.py
  sunpy/util/functools.py
  sunpy/util/multimethod.py
  sunpy/util/tests/test_functools.py
  sunpy/util/tests/test_multimethod.py
Owners: @sunpy/net

Deprecate Multimethod and replace with functools.singledispatch
  docs/code_ref/util.rst
  sunpy/net/attr.py
  sunpy/net/vso/attrs.py
  sunpy/util/functools.py
  sunpy/util/multimethod.py
  sunpy/util/tests/test_functools.py
  sunpy/util/tests/test_multimethod.py
Owners: @sunpy/net

Fix python 3.6 tests
  sunpy/util/tests/test_functools.py
Owners: none

some, but not all changelogs
  changelog/3714.removal.rst
  changelog/3714.trivial.rst
Owners: none

Test and document Attrs
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/tests/test_attr_walker.py
Owners: @sunpy/net

Clean up the a.vso. namespace for tab complete
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Deprecate the old classes in vso.attrs
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Add a new DataAttr class
  sunpy/net/attr.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Deprecate the old classes in vso.attrs
  sunpy/net/vso/attrs.py
Owners: @sunpy/net
