Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Apply suggestions from code review
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

flake8
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

flake8
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

flake8
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Update rst links
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/timeseries

Update rst links
  sunpy/timeseries/sources/noaa.py
Owners: @sunpy/timeseries

Add coordinate-system checks to maputils functions, issue #4546
  sunpy/map/maputils.py
Owners: @sunpy/map

Add a function to check if the coordinates.frame is helioprojective or not
  sunpy/map/maputils.py
Owners: @sunpy/map

Add a 4550.trivial.rst file in changelog
  changelog/4550.trivial.rst
Owners: none

Log URLs downloaded by jsoc client
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Fix SimpleAttr converter value
  sunpy/database/attrs.py
Owners: @sunpy/database

Refactor function update_values
  sunpy/net/attr.py
Owners: @sunpy/net

Fix linting and __eq__ bug
  sunpy/net/_attrs.py
  sunpy/net/attr.py
Owners: @sunpy/net

Convert hardcoded type strings to class attributes
  sunpy/database/attrs.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
Owners: @sunpy/database, @sunpy/net

Fix missing splat operator
  sunpy/net/attr.py
Owners: @sunpy/net

Add splat operator for list concatenation
  sunpy/net/attr.py
Owners: @sunpy/net

Add start test case
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

Unify attrs walker converters
  sunpy/database/attrs.py
Owners: @sunpy/database

Add edge case test for attrs update_values
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

Refactor attr repr and printing methods
  sunpy/net/attr.py
Owners: @sunpy/net

Refactor Time and Wavelength classes
  sunpy/net/_attrs.py
Owners: @sunpy/net

Add initial attrs refactor
  sunpy/database/attrs.py
Owners: @sunpy/database

Improve attr name sanitization
  sunpy/net/attr.py
Owners: @sunpy/net

Add Attr inverted optional constructor argument
  sunpy/database/attrs.py
Owners: @sunpy/database

Standardize attrs __eq__ methods
  sunpy/net/attr.py
Owners: @sunpy/net

Refactor AttrMeta
  sunpy/net/attr.py
Owners: @sunpy/net

Fix comments and add a docstring
  sunpy/database/attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/database, @sunpy/net

Inline multiline commands
  sunpy/net/_attrs.py
  sunpy/net/attr.py
Owners: @sunpy/net

Revert ValueAttr __eq__
  sunpy/net/attr.py
Owners: @sunpy/net

Refactor Time repr to be PEP8 compliant
  sunpy/net/_attrs.py
Owners: @sunpy/net

Add unit tests for Attr equality and AttrAnd's and
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Fix missing parenthesis
  sunpy/net/attr.py
Owners: @sunpy/net

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Refactor attrs (#4542)
  sunpy/database/attrs.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/database, @sunpy/net

Refactor attrs (#4542)
  sunpy/database/attrs.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/database, @sunpy/net
