Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Update sunpy/net/helio/hec.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

moved extentType to attrs
  changelog/4055.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/attrs/__init__.py
  sunpy/net/dataretriever/attrs/gong_synoptic.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Owners: @sunpy/documentation-user, @sunpy/net

make gong newdr compatible
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Owners: @sunpy/net

Update sunpy/net/helio/hec.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

added ExtentType and physobs for query
  sunpy/net/attrs.py
  sunpy/net/dataretriever/attrs/__init__.py
  sunpy/net/dataretriever/attrs/gong_synoptic.py
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/tests/test_gong_synoptic.py
Owners: @sunpy/net

registed attrs for gongsynoptic
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Owners: @sunpy/net

registed attrs for gongsynoptic
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Owners: @sunpy/net

make gong newdr compatible
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Owners: @sunpy/net

updated fido for synopticgong
  changelog/4055.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Owners: @sunpy/documentation-user, @sunpy/net

added gong synoptic client
  changelog/4055.feature.rst
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/gong_synoptic.py
  sunpy/net/dataretriever/tests/test_gong_synoptic.py
Owners: @sunpy/net

Extend GenericTimeSeries concatenate to allow iterables + tests
  changelog/4499.feature.rst
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Refactor checks if same_source is True
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Extend TimeSeriesMetaData concatenate to allow iterables + tests
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
Owners: @sunpy/timeseries

Suggestions from review + more tests + more documentation
  changelog/4499.feature.rst
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Formatting
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Extend GenericTimeSeries concatenate to allow iterables + tests
  changelog/4499.feature.rst
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Formatting
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Extend TimeSeriesMetaData concatenate to allow iterables + tests
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
Owners: @sunpy/timeseries

Suggestions from review + more tests + more documentation
  changelog/4499.feature.rst
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

Refactor checks if same_source is True
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/timeseries

HECClient subclass of BaseClient
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

updated examples for goes HEK
  changelog/4358.bugfix.rst
  docs/guide/acquiring_data/fido.rst
  examples/acquiring_data/downloading_hmi.py
  examples/time_series/goes_hek_m25.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

added BaseQueryResponseTable
  changelog/4358.feature.1.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/base_client.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

deprecated jsoc keys
  changelog/4358.removal.1.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

Added HECResponse
  changelog/4358.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/__init__.py
  sunpy/net/fido_factory.py
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/documentation-user, @sunpy/net

Added HECResponse
  changelog/4358.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/__init__.py
  sunpy/net/fido_factory.py
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/documentation-user, @sunpy/net

doctest label in jsoc
  docs/guide/acquiring_data/jsoc.rst
Owners: @sunpy/documentation-user

corrected tests
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
Owners: @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

method to return client res from fido
  examples/acquiring_data/fido_metadata_queries.py
  examples/time_series/goes_hek_m25.py
  sunpy/net/fido_factory.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/documentation-gallery, @sunpy/net

fixed codestyle
  docs/guide/acquiring_data/jsoc.rst
Owners: @sunpy/documentation-user

replaced HEKTable with HEKResponse
  examples/acquiring_data/querying_the_GOES_event_list.py
  sunpy/database/database.py
  sunpy/net/hek2vso/hek2vso.py
Owners: @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

replaced HEKTable with HEKResponse
  examples/acquiring_data/querying_the_GOES_event_list.py
  sunpy/database/database.py
  sunpy/net/hek2vso/hek2vso.py
Owners: @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

fido fetch works for base_res
  sunpy/net/fido_factory.py
Owners: @sunpy/net

warning for bytestring tablename
  sunpy/net/helio/__init__.py
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
Owners: @sunpy/net

added fido metadata gallery example
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-gallery, @sunpy/net

added HEKresponse
  changelog/4358.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/__init__.py
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/helio/hec.py
Owners: @sunpy/documentation-user, @sunpy/net

deprecated search metadata for jsoc
  changelog/4358.breaking.1.rst
  changelog/4358.breaking.rst
  changelog/4358.bugfix.rst
  changelog/4358.feature.1.rst
  changelog/4358.feature.2.rst
  changelog/4358.feature.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

added index and metaqueries tests
  changelog/4358.breaking.1.rst
  changelog/4358.removal.1.rst
  changelog/4358.removal.rst
  docs/guide/acquiring_data/jsoc.rst
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

added show for fido
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

added HEKresponse
  changelog/4358.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/__init__.py
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/helio/hec.py
Owners: @sunpy/documentation-user, @sunpy/net
