Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Apply suggestions from code review
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

new gallery example for selecting pixels in a map based on a coordinate transform (#5121)
  changelog/5121.doc.rst
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

new gallery example for selecting pixels in a map based on a coordinate transform (#5121)
  changelog/5121.doc.rst
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

remoded automatic conversion and added helper method
  sunpy/net/hek/hek.py
Owners: @sunpy/net

codestyle
  sunpy/net/hek/hek.py
Owners: @sunpy/net

Unused arguments passed to test methods in GenericMap
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

added test and init
  sunpy/net/hek/__init__.py
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
Owners: @sunpy/net

here's to codestlye commits
  sunpy/net/hek/tests/test_hek.py
Owners: @sunpy/net

codestyle
  sunpy/net/hek/tests/test_hek.py
Owners: @sunpy/net

codestly might fail again
  sunpy/net/hek/__init__.py
Owners: @sunpy/net

Unused arguments passed to test methods in GenericMap (#5152)
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Unused arguments passed to test methods in GenericMap (#5152)
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

changelog for 2.0.9
  CHANGELOG.rst
  changelog/4867.doc.rst
  changelog/5051.bugfix.rst
  changelog/5069.bugfix.rst
  changelog/5077.doc.rst
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  changelog/5089.bugfix.rst
  changelog/5090.doc.rst
  changelog/5108.trivial.rst
  changelog/5114.doc.rst
  changelog/5121.doc.rst
  changelog/5127.bugfix.rst
  changelog/5142.doc.rst
Owners: none

changelog for 2.1.3
  CHANGELOG.rst
  changelog/4867.doc.rst
  changelog/5051.bugfix.rst
  changelog/5069.bugfix.rst
  changelog/5077.doc.rst
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  changelog/5089.bugfix.rst
  changelog/5090.doc.rst
  changelog/5108.trivial.rst
  changelog/5114.doc.rst
  changelog/5121.doc.rst
  changelog/5127.bugfix.rst
  changelog/5142.doc.rst
Owners: none

Fix downloading
  sunpy/net/soar/client.py
Owners: @sunpy/net

Raise on URL error
  sunpy/net/soar/client.py
Owners: @sunpy/net

changed JP2 map to figure test
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/net

figure tests should pass
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/net

Update sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

re-added os.remove
  sunpy/net/tests/test_helioviewer.py
Owners: @sunpy/net

small docfix
  sunpy/net/tests/test_helioviewer.py
Owners: @sunpy/net

pin importlib-metadata
  .test_package_pins.txt
Owners: none

pin importlib-metadata
  .test_package_pins.txt
Owners: none

test failing debug
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: @sunpy/net

pin importlib_metadata in test deps (#5156)
  .test_package_pins.txt
Owners: none

pin importlib_metadata in test deps (#5156)
  .test_package_pins.txt
Owners: none

Update .test_package_pins.txt
  .test_package_pins.txt
Owners: none

test failing debug
  sunpy/net/tests/test_helioviewer.py
Owners: @sunpy/net

readded figure tests
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: @sunpy/net

readded figure tests
  setup.cfg
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/net

debug
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

removed comment for errors
  setup.cfg
Owners: none

added meta data warning
  sunpy/net/tests/test_helioviewer.py
Owners: @sunpy/net

fix SRS client for 2010
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

fix SRS client for 2010
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
