Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Fix modest image on mpl dev
  sunpy/extern/modest_image.py
Owners: none

Fix modest image on mpl dev
  sunpy/extern/modest_image.py
Owners: none

Fix modest image on mpl dev
  sunpy/extern/modest_image.py
Owners: none

Fix modest image on mpl dev
  sunpy/extern/modest_image.py
Owners: none

Added 2 small missing tests for GenericMap (#5168)
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Added 2 small missing tests for GenericMap (#5168)
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

adding in rsun_obs calc
  sunpy/map/header_helper.py
Owners: @sunpy/map

adding in rsun_obs calc
  sunpy/map/header_helper.py
Owners: @sunpy/map

adding in rsun_obs calc
  sunpy/map/header_helper.py
Owners: @sunpy/map

changelog and check for value only in a test
  changelog/5177.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/documentation-user, @sunpy/map

changelog and check for value only in a test
  changelog/5177.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/documentation-user, @sunpy/map

changelog and check for value only in a test
  changelog/5177.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/documentation-user, @sunpy/map

added example
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

Update sunpy/map/mapsequence.py
  sunpy/map/mapsequence.py
Owners: @sunpy/map

added remote data flag
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/5177.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/5177.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/5177.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/map

fix test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/net

fix test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/net

fix test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/net

Updated np.linspace for both generalized axis
  examples/example_template/example_template.py
Owners: @sunpy/documentation-gallery

update changelog and test
  setup.cfg
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/towncrier.py
Owners: @sunpy/net

cleared trailing whitespace on line 141
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

made a docstring edit to the MDISynopticMap class
  sunpy/map/sources/soho.py
Owners: @sunpy/map

added docstring for HMISynopticMap
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Owners: @sunpy/map

Update sunpy/map/sources/sdo.py
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

made a docstring edit to the MDISynopticMap class
  sunpy/map/sources/soho.py
Owners: @sunpy/map

Update sunpy/map/sources/sdo.py
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

added docstring for HMISynopticMap
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Owners: @sunpy/map

cleared trailing whitespace on line 141
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

added changelog
  changelog/5186.doc.rst
Owners: none

added changelog
  changelog/5186.doc.rst
Owners: none

Added a docstring to HMISynopticMap (#5186)
  changelog/5186.doc.rst
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Added a docstring to HMISynopticMap (#5186)
  changelog/5186.doc.rst
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Updated code to match current sunpy
  sunpy/coordinates/sun.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/sources/__init__.py
  sunpy/map/sources/goes.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_goes_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_source_type.py
  sunpy/map/sources/tests/test_suvi_source.py
  sunpy/map/sources/tests/test_swap_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/tests/test_xrt_source.py
Owners: @sunpy/coordinates, @sunpy/map

added tests and rescaled test file
  .pre-commit-config.yaml
  changelog/2503.feature.rst
  sunpy/data/test/SXI_20170201_000400155_BA_13.FTS
  sunpy/map/sources/goes.py
  sunpy/map/sources/tests/test_goes_source.py
Owners: @sunpy/map

updates based on comments
  sunpy/map/sources/goes.py
Owners: @sunpy/map

adding support for goes SXI maps
  sunpy/map/sources/__init__.py
  sunpy/map/sources/goes.py
Owners: @sunpy/map

Add docstring for manager._get_module()
  sunpy/data/data_manager/manager.py
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
