Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

codestyle
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

added reason
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

added reason
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update the Changelog Entry
  changelog/5114.doc.rst
Owners: none

Update the Changelog Entry
  changelog/5114.doc.rst
Owners: none

Update the Changelog Entry
  changelog/5114.doc.rst
Owners: none

Update the Explanation in `mask_disk.py`
  examples/computer_vision_techniques/mask_disk.py
Owners: @sunpy/documentation-gallery

Update the Explanation in `mask_disk.py`
  examples/computer_vision_techniques/mask_disk.py
Owners: @sunpy/documentation-gallery

Update the Explanation in `mask_disk.py`
  examples/computer_vision_techniques/mask_disk.py
Owners: @sunpy/documentation-gallery

Updating "Masking out the solar disk" example (#5114)
  changelog/5114.doc.rst
  examples/computer_vision_techniques/mask_disk.py
Owners: @sunpy/documentation-gallery

Updating "Masking out the solar disk" example (#5114)
  changelog/5114.doc.rst
  examples/computer_vision_techniques/mask_disk.py
Owners: @sunpy/documentation-gallery

added new gallery example
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added new gallery example
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added new gallery example
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added changelog
  changelog/ 5121.doc.rst
Owners: none

added changelog
  changelog/ 5121.doc.rst
Owners: none

added changelog
  changelog/ 5121.doc.rst
Owners: none

added changelog
  changelog/5121.doc.rst
Owners: none

added changelog
  changelog/5121.doc.rst
Owners: none

added changelog
  changelog/5121.doc.rst
Owners: none

attempt to fix pep8 issue
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

attempt to fix pep8 issue
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

attempt to fix pep8 issue
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

attempt to fix pep8 issue
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

attempt to fix pep8 issue
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

attempt to fix pep8 issue
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed attempt
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed attempt
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed attempt
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

xfail test
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Add test for namespacing downloaded files
  changelog/5111.feature.rst
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_cache.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Fix flake8 style check
  sunpy/data/data_manager/manager.py
Owners: none

Only include measurement in map names if it is given
  sunpy/map/mapbase.py
Owners: @sunpy/map

codestyle and added mask
  changelog/5121.doc.rst
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle and added mask
  changelog/5121.doc.rst
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle and added mask
  changelog/5121.doc.rst
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update test_mapsequence.py
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/visualization

added test for map_sequence.plot()
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/map, @sunpy/visualization

added figure hashes
  setup.cfg
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

removed figure test
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/visualization
