Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Update 3835.doc.rst
  changelog/3835.doc.rst
Owners: none

Update 3835.doc.rst
  changelog/3835.doc.rst
Owners: none

Update 3835.doc.rst
  changelog/3835.doc.rst
Owners: none

Update 3835.doc.rst
  changelog/3835.doc.rst
Owners: none

Code review comments
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Code review comments
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Corrected docstring for _B0
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Corrected docstring for _B0
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Code review comments
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Corrected docstring for _B0
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Made all "color_tables" functions take units only.
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Made all "color_tables" functions take units only.
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

fixes the tests
  changelog/3640.breaking.rst
  setup.cfg
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/test_cm.py
Owners: @sunpy/visualization

fixes the tests
  changelog/3640.breaking.rst
  setup.cfg
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/test_cm.py
Owners: @sunpy/visualization

Added example of world_to_pixel to Units & Coordinates guide (#3776)
  changelog/3776.doc.rst
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Added example of world_to_pixel to Units & Coordinates guide (#3776)
  changelog/3776.doc.rst
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Fix primekey pop after JSOCClient._make_recordsed is invoked on iargs with deepcopy()
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix primekey pop after JSOCClient._make_recordsed is invoked on iargs with deepcopy()
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix primekey pop after JSOCClient._make_recordsed is invoked on iargs with deepcopy()
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix primekey pop after JSOCClient._make_recordsed is invoked on iargs with deepcopy()
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

fix issue with 'as-is' protocol
  changelog/3838.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

fix issue with 'as-is' protocol
  changelog/3838.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

add .cmap and .norm property to plot_settings
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Fix typo
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix typo
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix typo
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix typo
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Update sunpy/coordinates/ephemeris.py
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Update sunpy/coordinates/ephemeris.py
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Update sunpy/coordinates/ephemeris.py
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Adds checks to ensure that the downloaded FITS files are valid FITS files.
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Corrected docstring for _B0 (#3563)
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Corrected docstring for _B0 (#3563)
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

add support for pathlib in jsoc and modify tests
  changelog/3838.bugfix.1.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

add support for pathlib in jsoc and modify tests
  changelog/3838.bugfix.1.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Links on Newcomer's guide page fixed
  CONTRIBUTING.rst
Owners: none

Links on Newcomer's guide page fixed
  CONTRIBUTING.rst
Owners: none
