Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Remove obsolete doc rules
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Replace all old Map and Fido references
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/new_objects.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/acquiring_data/searching_vso.py
  examples/map/README.txt
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
Owners: @sunpy/map, @sunpy/net, @sunpy/documentation-developer, @sunpy/documentation-user, @sunpy/documentation-gallery

Replace all old Map and Fido references
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/new_objects.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/acquiring_data/searching_vso.py
  examples/map/README.txt
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
Owners: @sunpy/map, @sunpy/net, @sunpy/documentation-developer, @sunpy/documentation-user, @sunpy/documentation-gallery

Improve the Map, TimeSeries and Fido docstrings
  docs/code_ref/map.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/map/map_factory.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/map, @sunpy/documentation-user, @sunpy/net, @sunpy/timeseries

Improve the Map, TimeSeries and Fido docstrings
  docs/code_ref/map.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/map/map_factory.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/map, @sunpy/documentation-user, @sunpy/net, @sunpy/timeseries

Improve cache downloader error
  sunpy/data/data_manager/cache.py
Owners: none

Improve cache downloader error
  sunpy/data/data_manager/cache.py
Owners: none

clarify that hashes are SHA-256
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
Owners: none

clarify that hashes are SHA-256
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
Owners: none

clarify that hashes are SHA-256
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
Owners: none

Adds scikit learn license and references.
  changelog/3677.feature.rst
  licenses/SCIKIT-LEARN.rst
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Use get_removal_version to calculate last supported version.
  changelog/3677.feature.rst
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Use Latitude and Longitude to get accurate width and height.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Added validation of width/height inputs and warnings for inverted rectangles
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Adds deprecation decorator.
  changelog/3677.feature.rst
  sunpy/coordinates/utils.py
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/coordinates, @sunpy/map

reverses decorator order for draw_rectangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

Adds changelog
  changelog/3677.feature.rst
Owners: none

Adds changelog
  changelog/3677.feature.rst
Owners: none

Makes submap and draw rectangle compitable with new API
  sunpy/map/mapbase.py
Owners: @sunpy/map

Makes submap and draw rectangle compitable with new API
  sunpy/map/mapbase.py
Owners: @sunpy/map

reverses decorator order for draw_rectangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

Maked dep version passable as an argument.
  sunpy/util/decorators.py
Owners: none

Use Latitude and Longitude to get accurate width and height.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Maked dep version passable as an argument.
  sunpy/util/decorators.py
Owners: none

Updates ``map.draw_rectangle`` API to be consistent with ``map.submap``
  sunpy/map/mapbase.py
Owners: @sunpy/map

Updates ``map.draw_rectangle`` API to be consistent with ``map.submap``
  sunpy/map/mapbase.py
Owners: @sunpy/map

Adds scikit learn license and references.
  changelog/3677.feature.rst
  licenses/SCIKIT-LEARN.rst
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Update changelog/3677.feature.rst
  changelog/3677.feature.rst
  sunpy/util/decorators.py
Owners: none

Added validation of width/height inputs and warnings for inverted rectangles
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Use get_removal_version to calculate last supported version.
  changelog/3677.feature.rst
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Update changelog/3677.feature.rst
  changelog/3677.feature.rst
  sunpy/util/decorators.py
Owners: none

Adds deprecation decorator.
  changelog/3677.feature.rst
  sunpy/coordinates/utils.py
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/coordinates, @sunpy/map

Updates decorator and submap examples.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Updates decorator and submap examples.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Adds examples and fixes dep edge case.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Adds examples and fixes dep edge case.
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove VSO deprecations
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Remove VSO deprecations
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Remove mention of query_legacy
  sunpy/database/tables.py
Owners: @sunpy/database

Remove mention of query_legacy
  sunpy/database/tables.py
Owners: @sunpy/database

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
