Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

added dynamic z axis option (#5025)
  changelog/5025.feature.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

added dynamic z axis option (#5025)
  changelog/5025.feature.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update README.rst
  README.rst
Owners: none

Update README.rst
  README.rst
Owners: none

Update README.rst
  README.rst
Owners: none

revert to add_artist for draw_limb to fix bug
  sunpy/map/mapbase.py
Owners: @sunpy/map

revert to add_artist for draw_limb to fix bug
  sunpy/map/mapbase.py
Owners: @sunpy/map

revert to add_artist for draw_limb to fix bug
  sunpy/map/mapbase.py
Owners: @sunpy/map

revert to add_artist for draw_limb to fix bug
  sunpy/map/mapbase.py
Owners: @sunpy/map

ignore warning created in figure-dev-deps
  setup.cfg
Owners: none

ignore warning created in figure-dev-deps
  setup.cfg
Owners: none

ignore warning created in figure-dev-deps
  setup.cfg
Owners: none

Add example for scraping using sunpy's scraper (issue #4810)
  examples/acquiring_data/scraping_data.py
Owners: @sunpy/documentation-gallery

Update setup.cfg
  setup.cfg
Owners: none

Update setup.cfg
  setup.cfg
Owners: none

Update setup.cfg
  setup.cfg
Owners: none

added example of plotting on blank maps
  .mailmap
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

fixed some errors made while PR
  .mailmap
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

Add another test for dynamic interval plotting
  sunpy/visualization/animator/tests/test_wcs.py
Owners: @sunpy/visualization

Add another test for dynamic interval plotting
  sunpy/visualization/animator/tests/test_wcs.py
Owners: @sunpy/visualization

Fix TimeSeries plotting docs
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

Fix TimeSeries plotting docs
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

Fix TimeSeries plotting docs
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

grammatical/instructive changes
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

added source='xrs' keyword
  examples/acquiring_data/goes_xrs_example.py
Owners: @sunpy/documentation-gallery

added changelog
  changelog/5080.doc.rst
Owners: none

Added more examples
  examples/acquiring_data/scraping_data.py
Owners: @sunpy/documentation-gallery

updated: zoomed plotting
  changelog/4920.doc.rst
  examples/plotting/zoom_map_example.py
Owners: @sunpy/documentation-gallery

updated: WCSAxes plotting example
  changelog/4867.doc.rst
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

updated: WCSAxes plotting example
  changelog/4867.doc.rst
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

updated: WCSAxes plotting example
  changelog/4867.doc.rst
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Linting error fixed
  examples/acquiring_data/scraping_data.py
Owners: @sunpy/documentation-gallery

Added changelog file
  changelog/5072.doc.rst
Owners: none

Allow non-pyplot figures to be used by animators (#4968)
  changelog/4968.feature.rst
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Owners: @sunpy/visualization

Allow non-pyplot figures to be used by animators (#4968)
  changelog/4968.feature.rst
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Owners: @sunpy/visualization

add changelog
  changelog/5069.bugfix.rst
Owners: none

add changelog
  changelog/5069.bugfix.rst
Owners: none

add changelog
  changelog/5069.bugfix.rst
Owners: none

add changelog
  changelog/5069.bugfix.rst
Owners: none

Fix doc link
  changelog/5069.bugfix.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
