Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

updating figure hashs ...i think
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

review comments
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

trying shorter timerange to see if time for search/download issue
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

trying shorter timerange to see if time for search/download issue
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

updating docs
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

change name to std_gamma_2
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/std_gamma_2.csv
Owners: @sunpy/visualization

updating docs and fig hash to std_gamma_2
  docs/guide/data_types/maps.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/documentation-user

Apply suggestions from code review
  setup.cfg
Owners: none

created more extra deps
  docs/guide/installation/advanced.rst
  setup.cfg
Owners: @sunpy/documentation-user

Apply suggestions from code review
  setup.cfg
Owners: none

created more extra deps
  docs/guide/installation/advanced.rst
  setup.cfg
Owners: @sunpy/documentation-user

revamped install docs again
  docs/guide/index.rst
  docs/guide/installation.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.cfg
Owners: @sunpy/documentation-user

revamped install docs again
  docs/guide/index.rst
  docs/guide/installation.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.cfg
Owners: @sunpy/documentation-user

changelog [skip ci]
  changelog/4662.breaking.rst
Owners: none

changelog [skip ci]
  changelog/4662.breaking.rst
Owners: none

adding changelog
  changelog/4665.feature.rst
Owners: none

addressed comments
  .gitignore
  azure-pipelines.yml
  docs/code_ref/coordinates/index.rst
  docs/code_ref/io.rst
  docs/conf.py
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/helioviewer.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  docs/guide/units-coordinates.rst
  examples/time_series/goes_hek_m25.py
  setup.cfg
  sunpy/conftest.py
  sunpy/coordinates/ephemeris.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/net/attrs.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/solar_rotation.py
  sunpy/timeseries/sources/eve.py
  sunpy/util/parfive_helpers.py
  tox.ini
Owners: @sunpy/io, @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/coordinates, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/timeseries

addressed comments
  .gitignore
  azure-pipelines.yml
  docs/code_ref/coordinates/index.rst
  docs/code_ref/io.rst
  docs/conf.py
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/helioviewer.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  docs/guide/units-coordinates.rst
  examples/time_series/goes_hek_m25.py
  setup.cfg
  sunpy/conftest.py
  sunpy/coordinates/ephemeris.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/net/attrs.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/solar_rotation.py
  sunpy/timeseries/sources/eve.py
  sunpy/util/parfive_helpers.py
  tox.ini
Owners: @sunpy/io, @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/coordinates, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/timeseries

Add doctest
  sunpy/map/mapbase.py
Owners: @sunpy/map

Force use of units when contouring
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Apply suggestions from code review
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Apply suggestions from code review
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Misc fixes
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Improve gallery example
  examples/map/map_contouring.py
Owners: @sunpy/documentation-gallery

fix test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

[skip ci] updated docs again
  README.rst
  docs/guide/installation.rst
  setup.cfg
Owners: @sunpy/documentation-user

[skip ci] updated docs again
  README.rst
  docs/guide/installation.rst
  setup.cfg
Owners: @sunpy/documentation-user

fix CI issues
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/documentation-user, @sunpy/net

fix CI issues
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/documentation-user, @sunpy/net

[skip ci] update docs again
  docs/guide/installation.rst
Owners: @sunpy/documentation-user

[skip ci] update docs again
  docs/guide/installation.rst
Owners: @sunpy/documentation-user

updating changelog with comments
  changelog/4665.feature.rst
Owners: none

Force use of units when contouring (#4652)
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Force use of units when contouring (#4652)
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Update examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

Update examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/fido_metadata_queries.py
Owners: @sunpy/documentation-gallery

Update docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

Update docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

Update docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

Update docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/hek.rst
Owners: @sunpy/documentation-user

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
