Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

re-added tempfile import
  sunpy/map/mapsequence.py
Owners: @sunpy/map

codestyle, all tests should pass now
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Return None for unknown pieces of metadata
  changelog/5126.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Return None for unknown pieces of metadata
  changelog/5126.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Don't include CROTA when PC present in WCS
  changelog/5166.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Don't include CROTA when PC present in WCS
  changelog/5166.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Don't include CROTA when PC present in WCS
  changelog/5166.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Don't include CROTA when PC present in WCS
  changelog/5166.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Only caclulate observer coord for WCS if needed
  sunpy/coordinates/wcs_utils.py
  sunpy/map/mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

added {index} based formatting
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

removed pathlib import
  sunpy/map/mapsequence.py
Owners: @sunpy/map

added 2 small missing tests for GenericMap
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

replaced value with type error
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle again
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

used submap instead
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

added re import
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

codestyle
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

GenericMap.rsun_obs now uses rsun_ref if it is in the header
  changelog/5172.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

GenericMap.rsun_obs now uses rsun_ref if it is in the header
  changelog/5172.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

GenericMap.rsun_obs now uses rsun_ref if it is in the header
  changelog/5172.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Raise warning on different wcs to WCSAxes
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/computer_vision_techniques/off_limb_enhance.py
  examples/map/map_segment.py
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Initial implementation of self_test
  sunpy/__init__.py
  sunpy/tests/runner.py
  sunpy/tests/self_test.py
Owners: none

Initial implementation of self_test
  sunpy/__init__.py
  sunpy/tests/runner.py
  sunpy/tests/self_test.py
Owners: none

Tidy up
  CHANGELOG.rst
  azure-pipelines.yml
  changelog/4596.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/io/tests/test_fits.py
  sunpy/tests/helpers.py
  sunpy/tests/self_test.py
  sunpy/tests/tests/test_self_test.py
  tox.ini
Owners: @sunpy/coordinates, @sunpy/io

Tidy up
  CHANGELOG.rst
  azure-pipelines.yml
  changelog/4596.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/io/tests/test_fits.py
  sunpy/tests/helpers.py
  sunpy/tests/self_test.py
  sunpy/tests/tests/test_self_test.py
  tox.ini
Owners: @sunpy/coordinates, @sunpy/io

[skip ci] updated config for pep8speaks
  .pep8speaks.yml
Owners: none

[skip ci] updated config for pep8speaks
  .pep8speaks.yml
Owners: none

Update changelog/5131.feature.rst
  changelog/5131.feature.rst
Owners: none

Update sunpy/net/hek/__init__.py
  sunpy/net/hek/__init__.py
Owners: @sunpy/net

Update sunpy/net/hek/hek.py
  sunpy/net/hek/hek.py
Owners: @sunpy/net

added to __all__
  sunpy/net/hek/hek.py
Owners: @sunpy/net

added fido test
  sunpy/net/hek/tests/test_hek.py
Owners: @sunpy/net

codestyle
  sunpy/net/hek/tests/test_hek.py
Owners: @sunpy/net

[ci skip] ignore all of extern hopefully
  .pep8speaks.yml
Owners: none

[ci skip] ignore all of extern hopefully
  .pep8speaks.yml
Owners: none

fixed provider for client
  changelog/5174.breaking.rst
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

fixed provider for client
  changelog/5174.breaking.rst
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

Updated system_info function to fetch more info. added system info to docstring
  azure-pipelines.yml
  changelog/5175.feature.rst
  docs/conf.py
  sunpy/extern/appdirs.py
  sunpy/extern/inflect.py
  sunpy/extern/parse.py
  sunpy/tests/self_test.py
  sunpy/util/sysinfo.py
  sunpy/util/tests/test_sysinfo.py
  tox.ini
Owners: none
