Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Refactor the sphinx conifg to match the package template
  .gitignore
  changelog/4188.trivial.rst
  docs/conf.py
  setup.cfg
  sunpy/util/sphinx/directives.py
  sunpy/util/sphinx/doctest.py
Owners: none

Turn the minigallery and generate directives into extensions
  docs/conf.py
  sunpy/util/sphinx/__init__.py
  sunpy/util/sphinx/generate.py
  sunpy/util/sphinx/minigallery.py
Owners: none

Turn the minigallery and generate directives into extensions
  docs/conf.py
  sunpy/util/sphinx/__init__.py
  sunpy/util/sphinx/generate.py
  sunpy/util/sphinx/minigallery.py
Owners: none

Convert the towncrier changelog file into a directive
  docs/conf.py
  docs/whatsnew/changelog.rst
  sunpy/util/sphinx/changelog.py
  sunpy/util/towncrier.py
Owners: none

Convert the towncrier changelog file into a directive
  docs/conf.py
  docs/whatsnew/changelog.rst
  sunpy/util/sphinx/changelog.py
  sunpy/util/towncrier.py
Owners: none

Document the two main directives.
  docs/code_ref/util.rst
  docs/conf.py
  sunpy/util/sphinx/__init__.py
  sunpy/util/sphinx/changelog.py
Owners: none

Document the two main directives.
  docs/code_ref/util.rst
  docs/conf.py
  sunpy/util/sphinx/__init__.py
  sunpy/util/sphinx/changelog.py
Owners: none

Missing napoleon conf
  docs/conf.py
Owners: none

Missing napoleon conf
  docs/conf.py
Owners: none

Apply suggestions from code review
  changelog/4188.trivial.rst
  sunpy/util/sphinx/generate.py
Owners: none

Apply suggestions from code review
  changelog/4188.trivial.rst
  sunpy/util/sphinx/generate.py
Owners: none

make sure list of HDUs still has type HDUList
  sunpy/io/fits.py
Owners: @sunpy/io

Release v2.0rc1
  CHANGELOG.rst
Owners: none

Update note
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Update note
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Update note
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Burn tricky fido repr test
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Burn tricky fido repr test
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Burn tricky fido repr test
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Clarify draw_rectangle behaviour
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add note about width/height
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add missing to_value
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix empty attr
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

Fix empty attr
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

Fix empty attr
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

add changelog
  changelog/4199.bugfix.rst
Owners: none

add changelog
  changelog/4199.bugfix.rst
Owners: none

add changelog
  changelog/4199.bugfix.rst
Owners: none

use for loop for in-place operations
  sunpy/io/fits.py
Owners: @sunpy/io

fix bug in example code that is not run
  docs/code_ref/map.rst
Owners: @sunpy/map

changelog for bugfix and docfix
  changelog/4183.bugfix.rst
  changelog/4183.docfix.rst
Owners: none

Update changelog/4183.docfix.rst
  changelog/4183.docfix.rst
Owners: none

Release v2.0rc2
  CHANGELOG.rst
Owners: none

Fixed non-relative paths in sphinx-gallery configuration
  docs/conf.py
Owners: none

Fixed non-relative paths in sphinx-gallery configuration
  docs/conf.py
Owners: none

Fixed non-relative paths in sphinx-gallery configuration
  docs/conf.py
Owners: none

Add a couple of map error tests
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add a couple of map error tests
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add a couple of map error tests
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Make angle a quantity
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map
