Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

add suggestions
  docs/guide/data_types/maps.rst
  examples/plotting/hmi_synoptic_maps.py
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/sunpy_other_packages/reprojection_heliographic_stonyhurst.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/map

edit _new_instance
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

fix pep8 issues
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Write a JOSS paper
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

Update the metadata for the paper, including the zonodo file
  .zenodo.json
  joss_paper/author_processing.py
  joss_paper/metadata.yml
  joss_paper/paper.md
Owners: none

I am terrible
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

I am terrible
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fixing footnote.
  joss_paper/paper.md
Owners: none

Write a JOSS paper
  .zenodo.json
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

Apply suggestions from code review
  joss_paper/paper.md
Owners: none

Submit SunPy to the Journal of Open Source Software (#3391)
  .zenodo.json
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

Submit SunPy to the Journal of Open Source Software (#3391)
  .zenodo.json
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Owners: none

Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Fixed the calculation of Carrington longitude to use the current IAU approach
  changelog/3772.bugfix.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/coordinates, @sunpy/map

Fixed the calculation of Carrington longitude to use the current IAU approach
  changelog/3772.bugfix.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/coordinates, @sunpy/map

added example of world_to_pixel to units docs
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

fix docs build
  examples/sunpy_other_packages/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Fixed the calculation of Carrington longitude to use the current IAU approach
  changelog/3772.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/coordinates, @sunpy/map

Fixed the calculation of Carrington longitude to use the current IAU approach
  changelog/3772.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/coordinates, @sunpy/map

Fixes to Map plotting in user guide
  changelog/3454.doc.rst
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Renamed one changelog entry to remove a space
  changelog/3417.bugfix.rst
Owners: none

Difference image example for the gallery (#3627)
  changelog/3627.doc.rst
  examples/map/difference_images.py
Owners: @sunpy/documentation-gallery

Merge pull request #3740 from Cadair/vso_filenames
  changelog/3740.bugfix.rst
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Merge pull request #3740 from Cadair/vso_filenames
  changelog/3740.bugfix.rst
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Difference image example for the gallery (#3627)
  changelog/3627.doc.rst
  examples/map/difference_images.py
Owners: @sunpy/documentation-gallery

woops
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/net/tests/test_vso.py
Owners: @sunpy/database, @sunpy/net

minor change
  sunpy/database/tests/test_attrs.py
  sunpy/net/tests/test_vso.py
  tox.ini
Owners: @sunpy/database, @sunpy/net

added gsoc wiki link in newcommers
  CONTRIBUTING.rst
Owners: none

added gsoc wiki link in newcommers
  CONTRIBUTING.rst
Owners: none

c+v astropy
  .circleci/config.yml
Owners: none

c+v astropy
  .circleci/config.yml
Owners: none

c+v astropy
  .circleci/config.yml
Owners: none

c+v astropy
  .circleci/config.yml
Owners: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Update tox.ini
  tox.ini
Owners: none

Update tox.ini
  tox.ini
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
