Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Update sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/manager.py
Owners: none

Update sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/manager.py
Owners: none

Update sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/manager.py
Owners: none

Fix line break and modify docstring
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

v2.0.10 changelog
  CHANGELOG.rst
  changelog/5159.bugfix.rst
  changelog/5166.trivial.rst
Owners: none

v2.1.4 changelog
  CHANGELOG.rst
  changelog/5159.bugfix.rst
  changelog/5166.trivial.rst
  changelog/5172.bugfix.rst
  changelog/5177.bugfix.rst
  changelog/5186.doc.rst
Owners: none

Merge pull request #5189 from nabobalis/2.0
  setup.cfg
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/towncrier.py
Owners: @sunpy/net

patch online test
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

patch online test
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

make datasource checking more strict
  sunpy/map/sources/solo.py
Owners: @sunpy/map

add docstring
  sunpy/map/sources/solo.py
Owners: @sunpy/map

add EUI map and tests
  sunpy/map/sources/__init__.py
  sunpy/map/sources/solo.py
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

use hci for observer coordinate
  sunpy/map/sources/solo.py
Owners: @sunpy/map

more tests
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

changelog
  changelog/4712.feature.rst
Owners: none

Apply suggestions from code review
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

changed maps, doctests should pass
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Apply suggestions from code review
  sunpy/util/sysinfo.py
Owners: none

Updated system info and extern packages (#5175)
  azure-pipelines.yml
  changelog/5175.feature.rst
  docs/conf.py
  sunpy/extern/appdirs.py
  sunpy/extern/inflect.py
  sunpy/extern/parse.py
  sunpy/tests/self_test.py
  sunpy/util/sysinfo.py
  sunpy/util/tests/test_sysinfo.py
  tox.ini
Owners: none

removed typing
  sunpy/net/fido_factory.py
  sunpy/util/sysinfo.py
  sunpy/util/util.py
Owners: @sunpy/net

removed typing (#5195)
  sunpy/net/fido_factory.py
  sunpy/util/sysinfo.py
  sunpy/util/util.py
Owners: @sunpy/net

Add Support for Unitful contours
  changelog/5154.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Misc copy edits to extending Fido guide
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

replaced url for srs client
  changelog/5173.breaking.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/net

update srs io to ignore corrected copy header
  sunpy/data/test/20100621SRS.txt
  sunpy/io/special/srs.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Owners: @sunpy/io, @sunpy/net, @sunpy/timeseries

Apply suggestions from code review
  sunpy/io/special/srs.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/io, @sunpy/net

major removal
  sunpy/io/special/srs.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/util/scraper.py
Owners: @sunpy/io, @sunpy/net

Misc copy edits to extending Fido guide (#5196)
  docs/dev_guide/contents/extending_fido.rst
Owners: @sunpy/documentation-developer

use properties
  changelog/4712.feature.rst
  sunpy/map/sources/solo.py
Owners: @sunpy/map

correct changelog
  changelog/4712.feature.rst
Owners: none

update figure hash
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

update changelogs
  changelog/5173.breaking.rst
  changelog/5173.feature.rst
Owners: none

Update changelog/5173.breaking.rst
  changelog/5173.breaking.rst
Owners: none

added +SKIP doctest, tests should pass
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Add Vagrant file for dev environment
  .gitignore
  Vagrantfile
Owners: none

Update .gitignore
  .gitignore
Owners: none

Fix code style
  .gitignore
  Vagrantfile
Owners: none

Add vagrant dev env setup to Newcomers guide
  docs/dev_guide/contents/newcomers.rst
Owners: @sunpy/documentation-developer

Increase test coverage for CompositeMap
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Apply suggestions from code review
  docs/dev_guide/contents/newcomers.rst
Owners: @sunpy/documentation-developer

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
