Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Added changelog
  changelog/4470.docfix.rst
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Use intersphinx mapping to link to deepcopy method
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Use intersphinx mapping to link to deepcopy method
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Update Mapsequence.plot docstring
  changelog/4471.docfix.rst
  sunpy/map/mapsequence.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

Update Mapsequence.plot docstring
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

Update Mapsequence.plot docstring
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

Apply suggestions from code review
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Update Mapsequence.plot docstring (#4472)
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

Update Mapsequence.plot docstring (#4472)
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

Added documentation for copying a Map (#4470)
  changelog/4470.docfix.rst
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Added documentation for copying a Map (#4470)
  changelog/4470.docfix.rst
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Raise nice error if MetaDict gets non-str keys
  sunpy/util/metadata.py
Owners: none

Add changelog
  changelog/4475.trivial.rst
Owners: none

Normalize image before transformation when using skimage
  changelog/4477.bugfix.rst
  sunpy/image/transform.py
Owners: @sunpy/image

Normalize image before transformation when using skimage
  changelog/4477.bugfix.rst
  sunpy/image/transform.py
Owners: @sunpy/image

Formatting fixes
  changelog/4477.bugfix.rst
  sunpy/image/transform.py
Owners: @sunpy/image

Formatting fixes
  changelog/4477.bugfix.rst
  sunpy/image/transform.py
Owners: @sunpy/image

updating to new generic client
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/database, @sunpy/net

updating to new generic client
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/database, @sunpy/net

pre-commit fixes
  changelog/4394.feature.rst
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

pre-commit fixes
  changelog/4394.feature.rst
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

Add _cmap_from_rgb
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Add _cmap_from_rgb
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Move suvi function up
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Move suvi function up
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Minor cleans
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Minor cleans
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Fix registration of wildcard attrs
  sunpy/net/attr.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

Fix registration of wildcard attrs
  sunpy/net/attr.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

update attrs
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

update attrs
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/net

Update changelog/4477.bugfix.rst
  changelog/4477.bugfix.rst
Owners: none

Update changelog/4477.bugfix.rst
  changelog/4477.bugfix.rst
Owners: none

Avoid overriding user-set BUNUT
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

update DN and DN/s; update bunit with pixlunit
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

make metadata equality check independent of order
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

make metadata equality check independent of order
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Avoid overriding user-set BUNUT
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

update DN and DN/s; update bunit with pixlunit
  sunpy/map/sources/sdo.py
Owners: @sunpy/map
