Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Rename magnetogram_active_regions.py to skip_magnetogram_active_regions.py
  examples/plotting/skip_magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

Issue #4091: Logging for download sample data failure
  changelog/4137.trivial.rst
  sunpy/data/_sample.py
Owners: none

Issue #4091: Logging for download sample data failure
  changelog/4137.trivial.rst
  sunpy/data/_sample.py
Owners: none

Issue #4091: Logging for download sample data failure
  changelog/4137.trivial.rst
  sunpy/data/_sample.py
Owners: none

Issue #4091: Logging for download sample data failure
  changelog/4137.trivial.rst
  sunpy/data/_sample.py
Owners: none

Add changelog
  changelog/4141.bugfix.rst
Owners: none

Add changelog
  changelog/4141.bugfix.rst
Owners: none

Add changelog
  changelog/4141.bugfix.rst
Owners: none

Add changelog
  changelog/4141.bugfix.rst
Owners: none

Fixed unintended replacement of the main transform graph with a duplicate
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed unintended replacement of the main transform graph with a duplicate
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

changelog and href none test
  changelog/4132.bugfix.rst
  sunpy/util/tests/test_scraper.py
Owners: none

changelog and href none test
  changelog/4132.bugfix.rst
  sunpy/util/tests/test_scraper.py
Owners: none

Fixed unintended replacement of the main transform graph with a duplicate
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed unintended replacement of the main transform graph with a duplicate
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

test for relative hrefs
  sunpy/util/tests/test_scraper.py
Owners: none

test for relative hrefs
  sunpy/util/tests/test_scraper.py
Owners: none

Update .test_package_pins.txt
  .test_package_pins.txt
Owners: none

Fix reference pixel in header helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fix reference pixel in header helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fix reference pixel in header helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fix map doc example
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Fix map doc example
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Fix map doc example
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Add changelog
  changelog/4152.bugfix.rst
Owners: none

Add changelog
  changelog/4152.bugfix.rst
Owners: none

Add changelog
  changelog/4152.bugfix.rst
Owners: none

Remove sphinx-gallery config comments from rendered examples
  docs/conf.py
Owners: none

Remove sphinx-gallery config comments from rendered examples
  docs/conf.py
Owners: none

bbsoclient is pytest fixture
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/tests/test_bbso.py
  sunpy/util/scraper.py
Owners: @sunpy/net

rebase with master
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/util/scraper.py
Owners: @sunpy/net

added tests for bbso
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

standardized docstrings
  sunpy/net/dataretriever/sources/bbso.py
Owners: @sunpy/net

added changelog
  changelog/3812.feature.rst
Owners: none

added bbso source
  sunpy/net/dataretriever/sources/bbso.py
Owners: @sunpy/net

remove NoneType error with scraper
  sunpy/util/scraper.py
Owners: none

Make reference_pixel index from zero
  changelog/4154.bugfix.rst
  sunpy/image/coalignment.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/image, @sunpy/map

Make reference_pixel index from zero
  changelog/4154.bugfix.rst
  sunpy/image/coalignment.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/image, @sunpy/map

Formatting fixes
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Formatting fixes
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map
