Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Removed downloading from example of reprojection of HMI onto AIA
  changelog/4843.docfix.rst
  examples/map_transformations/reprojection_align_aia_hmi.py
Owners: @sunpy/documentation-gallery

removed get_rectangle_coordinates import and changed coordinate values for tests
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

removed get_rectangle_coordinates import and changed coordinate values for tests
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

removed changelog file
  changelog/4830.bugfix.rst
Owners: none

removed changelog file
  changelog/4830.bugfix.rst
Owners: none

Removed explicit calls to get_rectangle_coordinates in draw_rectangle figure tests (#4830)
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Removed explicit calls to get_rectangle_coordinates in draw_rectangle figure tests (#4830)
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

changed color to edgecolor in test_plotting.py while passing kwargs
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

fixing crota keyword
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

fixing crota keyword
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

fixing crota keyword
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

changelog
  changelog/4846.bugfix.rst
Owners: none

changelog
  changelog/4846.bugfix.rst
Owners: none

changelog
  changelog/4846.bugfix.rst
Owners: none

adding extra check re review
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

adding extra check re review
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

adding extra check re review
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

adding log debug message
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

adding log debug message
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

adding log debug message
  sunpy/map/sources/stereo.py
Owners: @sunpy/map

Removed get_rectangle_coordinates for quadrangle tests
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Update sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Remove unused test data
  sunpy/data/test/BIR_20110922_050000_01.fit
  sunpy/data/test/BIR_20110922_051500_01.fit.gz
  sunpy/data/test/EVE_He_II_304_averages.csv
Owners: none

Remove unused test data
  sunpy/data/test/BIR_20110922_050000_01.fit
  sunpy/data/test/BIR_20110922_051500_01.fit.gz
  sunpy/data/test/EVE_He_II_304_averages.csv
Owners: none

Remove unused test data
  sunpy/data/test/BIR_20110922_050000_01.fit
  sunpy/data/test/BIR_20110922_051500_01.fit.gz
  sunpy/data/test/EVE_He_II_304_averages.csv
Owners: none

Remove unused test data
  sunpy/data/test/BIR_20110922_050000_01.fit
  sunpy/data/test/BIR_20110922_051500_01.fit.gz
  sunpy/data/test/EVE_He_II_304_averages.csv
Owners: none

Update tables tests
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

Update tables tests
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

Update tables tests
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

Update tables tests
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

Reduce data downloaded by tseries metadata example
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

Reduce data downloaded by tseries metadata example
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

Reduce data downloaded by tseries metadata example
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

Use a class instead of a fixture to implement tests using the DE432s ephemeris
  changelog/4852.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Use a class instead of a fixture to implement tests using the DE432s ephemeris
  changelog/4852.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Use a class instead of a fixture to implement tests using the DE432s ephemeris
  changelog/4852.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates
