Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

use hci for observer coordinate
  sunpy/map/sources/solo.py
Owners: @sunpy/map

changelog
  changelog/4712.feature.rst
Owners: none

make datasource checking more strict
  sunpy/map/sources/solo.py
Owners: @sunpy/map

fix tests
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

Update sunpy/map/sources/solo.py
  sunpy/map/sources/solo.py
Owners: @sunpy/map

Update attrs json files for 3.0 release
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/vso/data/attrs.json
Owners: @sunpy/net

WCSAxes warnings for 3.0
  changelog/5244.removal.rst
  changelog/5244.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Namespace downloaded files with module name (#5111)
  changelog/5111.feature.rst
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Improve changelog entries
  changelog/5244.removal.rst
  changelog/5244.trivial.rst
Owners: none

Make HPC gridlines in STEREO reproject example black
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Cleanup
  examples/map/hmi_contours_wcsaxes.py
Owners: @sunpy/documentation-gallery

Write an example of using wcsaxes to overplot HMI on AIA
  examples/map/hmi_contours_wcsaxes.py
Owners: @sunpy/documentation-gallery

changelog
  changelog/5229.doc.rst
Owners: none

better test coverage
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

tidy up of misc code in datamanger and the example
  examples/developer_tools/remote_data_manager.py
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_cache.py
Owners: @sunpy/documentation-gallery

remove towncrier from setup.cfg
  setup.cfg
Owners: none

Remove conda setup from Vagrantfile
  Vagrantfile
Owners: none

Revert change on newcomers guide
  docs/dev_guide/contents/newcomers.rst
Owners: @sunpy/documentation-developer

Add Vagrant file for dev environment (#5201)
  .gitignore
  Vagrantfile
Owners: none

Allow time span with steps to get_horizons_coord
  changelog/4698.feature.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

add a new function contains_coordinate
  sunpy/map/maputils.py
Owners: @sunpy/map

updates on contains_coordinate()
  changelog/4761.feature.rst
  sunpy/map/maputils.py
Owners: @sunpy/map

more updates on contains_coordinate
  changelog/4761.feature.rst
  sunpy/map/maputils.py
Owners: @sunpy/map

new updates
  sunpy/map/maputils.py
Owners: @sunpy/map

updates
  sunpy/map/maputils.py
Owners: @sunpy/map

Tidy and test
  changelog/4761.feature.rst
  changelog/5252.feature.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Add a warning test
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add contains_coordinate (#5252)
  changelog/5252.feature.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Fix mad implementation of contains_solar_center()
  sunpy/map/maputils.py
Owners: @sunpy/map

Save original copy of metadata
  changelog/5241.feature.rst
  docs/dev_guide/contents/new_objects.rst
  examples/map/map_metadata_modification.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/metadata.py
  sunpy/util/tests/test_metadata.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-gallery, @sunpy/map

Add doc build png to gitignore
  .gitignore
Owners: none

code review suggestions
  sunpy/map/sources/solo.py
Owners: @sunpy/map

Fix mad implementation of contains_solar_center() (#5254)
  sunpy/map/maputils.py
Owners: @sunpy/map

Overhaul GenericMap.draw_limb for transformations and to show visibility
  changelog/5237.feature.rst
  examples/map_transformations/reprojection_different_observers.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/documentation-gallery, @sunpy/map

Simplify an example
  examples/units_and_coordinates/AIA_limb_STEREO.py
Owners: @sunpy/documentation-gallery

Add a link to Matplotlib documentation for custom legends
  sunpy/map/mapbase.py
Owners: @sunpy/map

Overhauled the overhaul for improved accuracy and performance
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Fix plotting of the limb on non-helioprojective maps
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add Map class for Solar Orbiter EUI (#5210)
  changelog/5210.feature.rst
  sunpy/map/sources/__init__.py
  sunpy/map/sources/solo.py
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

Added new test hook and absolute imports
  .gitignore
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/data/tests/test_sample.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
Owners: @sunpy/coordinates, @sunpy/io

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
