Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Revert "Merge pull request #4464 from sidhu1012/str"
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  CHANGELOG.rst
Owners: none

Add missing changelog entries
  CHANGELOG.rst
  changelog/3549.docfix.rst
  changelog/3706.docfix.rst
  changelog/3709.docfix.rst
  changelog/3962.docfixt.rst
  changelog/4098.docfix.rst
  changelog/4136.docfix.rst
  changelog/4169.docfix.rst
  changelog/4183.docfix.rst
  changelog/4274.docfix.rst
  changelog/4372.docfix.rst
  changelog/4378.docfix.1.rst
  changelog/4378.docfix.rst
  changelog/4414.docfix.rst
  changelog/4415.docfix.rst
  changelog/4418.docfix.rst
  changelog/4470.docfix.rst
  changelog/4472.docfix.rst
  changelog/4494.docfix.rst
  changelog/4524.bugfix.rst
Owners: none

Trim whitespace
  CHANGELOG.rst
Owners: none

c2 file name changed to c3
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

c2 file name changed to c3
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

fixed label in changelog readme
  changelog/README.rst
Owners: none

fixed label in changelog readme
  changelog/README.rst
Owners: none

fixed label in changelog readme
  changelog/README.rst
Owners: none

changed all c3 to c2 (#4537)
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

changed all c3 to c2 (#4537)
  examples/acquiring_data/downloading_lascoC2.py
Owners: @sunpy/documentation-gallery

Docfix changed to doc
  changelog/3549.doc.rst
  changelog/3706.doc.rst
  changelog/3709.doc.rst
  changelog/3962.doct.rst
  changelog/4098.doc.rst
  changelog/4136.doc.rst
  changelog/4169.doc.rst
  changelog/4183.doc.rst
  changelog/4274.doc.rst
  changelog/4372.doc.rst
  changelog/4378.doc.1.rst
  changelog/4378.doc.rst
  changelog/4414.doc.rst
  changelog/4415.doc.rst
  changelog/4418.doc.rst
  changelog/4470.doc.rst
  changelog/4472.doc.rst
  changelog/4494.doc.rst
Owners: none

Docfix changed to doc
  changelog/3549.doc.rst
  changelog/3706.doc.rst
  changelog/3709.doc.rst
  changelog/3962.doct.rst
  changelog/4098.doc.rst
  changelog/4136.doc.rst
  changelog/4169.doc.rst
  changelog/4183.doc.rst
  changelog/4274.doc.rst
  changelog/4372.doc.rst
  changelog/4378.doc.1.rst
  changelog/4378.doc.rst
  changelog/4414.doc.rst
  changelog/4415.doc.rst
  changelog/4418.doc.rst
  changelog/4470.doc.rst
  changelog/4472.doc.rst
  changelog/4494.doc.rst
Owners: none

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Added additional asserts to get_dates() test
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Added additional asserts to get_dates() test
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Added additional asserts to get_dates() test
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Added changelog for issue #4529
  changelog/4529.bugfix.rst
Owners: none

Added changelog for issue #4529
  changelog/4529.bugfix.rst
Owners: none

Added changelog for issue #4529
  changelog/4529.bugfix.rst
Owners: none

Update changelog/4529.bugfix.rst
  changelog/4529.bugfix.rst
Owners: none

Update changelog/4529.bugfix.rst
  changelog/4529.bugfix.rst
Owners: none

Update changelog/4529.bugfix.rst
  changelog/4529.bugfix.rst
Owners: none

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Update sunpy/time/tests/test_timerange.py
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

test a wrong type changelog
  changelog/4544.wibble.rst
Owners: none

wtf
  changelog/4544.docfix.rst
Owners: none

removed pytest pin
  .test_package_pins.txt
Owners: none

removed pytest pin
  .test_package_pins.txt
Owners: none

Added explanantion in 'Differentially rotating a map' example (sunpy#4456)
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Added explanantion in 'Differentially rotating a map' example (sunpy#4456)
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Added explanantion in 'Differentially rotating a map' example (sunpy#4456)
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery
