Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Use to_dataframe() everywhere in timeseries
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

Use to_dataframe() everywhere in timeseries
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/timeseries

Demote the JOSS paper
  sunpy/CITATION.rst
Owners: none

Demote the JOSS paper
  sunpy/CITATION.rst
Owners: none

Demote the JOSS paper
  sunpy/CITATION.rst
Owners: none

Demote the JOSS paper
  sunpy/CITATION.rst
Owners: none

Fix parsing of the CITATION.rst file
  sunpy/__init__.py
Owners: none

Fix parsing of the CITATION.rst file
  sunpy/__init__.py
Owners: none

Fix parsing of the CITATION.rst file
  sunpy/__init__.py
Owners: none

Fix parsing of the CITATION.rst file
  sunpy/__init__.py
Owners: none

remove scikit_image_not_found variable
  sunpy/image/transform.py
Owners: @sunpy/image

remove scikit_image_not_found variable
  sunpy/image/transform.py
Owners: @sunpy/image

Update sunpy/__init__.py
  sunpy/__init__.py
Owners: none

Update sunpy/__init__.py
  sunpy/__init__.py
Owners: none

Update sunpy/__init__.py
  sunpy/__init__.py
Owners: none

Update sunpy/__init__.py
  sunpy/__init__.py
Owners: none

More updates
  sunpy/CITATION.rst
Owners: none

More updates
  sunpy/CITATION.rst
Owners: none

More updates
  sunpy/CITATION.rst
Owners: none

More updates
  sunpy/CITATION.rst
Owners: none

With respect to #3744
  docs/conf.py
Owners: none

Added the necessary things for checks
  CHANGELOG.rst
Owners: none

Redid the checks
  CHANGELOG.rst
  changelog/3828.bugfix.rst
Owners: none

Document types of jsoc.attrs.PrimeKey
  sunpy/net/jsoc/attrs.py
Owners: @sunpy/net

Document types of jsoc.attrs.PrimeKey
  sunpy/net/jsoc/attrs.py
Owners: @sunpy/net

Allow Fido queries without Time attribute
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Error in GenericClient
  sunpy/net/dataretriever/client.py
Owners: @sunpy/net

Update changelog/3818.feature.rst
  changelog/3818.feature.rst
Owners: none

Update changelog/3818.feature.rst
  changelog/3818.feature.rst
Owners: none

Added Changelog
  changelog/3731.feature.rst
Owners: none

Added Changelog
  changelog/3731.feature.rst
Owners: none

Removed unused import sunpy.net.vso.attrs
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

fixed example plot title overlap
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Owners: @sunpy/documentation-gallery

fixed example plot title overlap
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Owners: @sunpy/documentation-gallery

fixed example plot title overlap
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Owners: @sunpy/documentation-gallery

fixed example plot title overlap
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Owners: @sunpy/documentation-gallery

added changelog
  changelog/3835.doc.rst
Owners: none

added changelog
  changelog/3835.doc.rst
Owners: none

added changelog
  changelog/3835.doc.rst
Owners: none

added changelog
  changelog/3835.doc.rst
Owners: none
