Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Put comment on separate line
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Put comment on separate line
  sunpy/map/sources/sdo.py
Owners: @sunpy/map

Pre-commit
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Pre-commit
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Remove old test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Raise nice error if MetaDict gets non-str keys
  sunpy/util/metadata.py
Owners: none

Add changelog
  changelog/4475.trivial.rst
Owners: none

Force map.meta to always be a MetaDict
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelogs
  changelog/4476.trivial.2.rst
  changelog/4476.trivial.rst
Owners: none

Force map.meta to always be a MetaDict
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelogs
  changelog/4476.trivial.2.rst
  changelog/4476.trivial.rst
Owners: none

Remove old test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Raise nice error if MetaDict gets non-str keys
  sunpy/util/metadata.py
Owners: none

Add changelog
  changelog/4475.trivial.rst
Owners: none

remove aiaprep and associated tests
  sunpy/instr/aia.py
  sunpy/instr/tests/test_aia.py
Owners: @sunpy/instr

add changelog
  changelog/4485.removal.rst
Owners: none

add aiapy docs to the intersphinx mapping
  docs/conf.py
Owners: none

add aiapy docs to the intersphinx mapping
  docs/conf.py
Owners: none

remove instr.aia from instr TOC
  docs/code_ref/instr.rst
Owners: @sunpy/instr

Remove sunpy.cm
  sunpy/cm/__init__.py
Owners: none

Remove sunpy.cm
  sunpy/cm/__init__.py
Owners: none

Remove aiaprep and associated tests (#4485)
  changelog/4485.removal.rst
  docs/code_ref/instr.rst
  sunpy/instr/aia.py
  sunpy/instr/tests/test_aia.py
Owners: @sunpy/instr

Remove aiaprep and associated tests (#4485)
  changelog/4485.removal.rst
  docs/code_ref/instr.rst
  sunpy/instr/aia.py
  sunpy/instr/tests/test_aia.py
Owners: @sunpy/instr

Add changelog
  changelog/4488.removal.rst
Owners: none

Add changelog
  changelog/4488.removal.rst
Owners: none

Apply suggestions from code review
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

Apply suggestions from code review
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

Add changelog
  changelog/4463.trivial.rst
Owners: none

Add changelog
  changelog/4463.trivial.rst
Owners: none

Clean up unit wrangling
  sunpy/map/maputils.py
Owners: @sunpy/map

Clean up unit wrangling
  sunpy/map/maputils.py
Owners: @sunpy/map

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Recommened changes
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Recommened changes
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Minor fixes
  sunpy/image/transform.py
Owners: @sunpy/image

Minor fixes
  sunpy/image/transform.py
Owners: @sunpy/image

added test for __str__
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

added test for __str__
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
