Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Fix un-closed files in tests
  sunpy/io/tests/test_fits.py
  sunpy/util/tests/test_config.py
Owners: @sunpy/io

Fix FERMI open socket
  sunpy/instr/fermi.py
Owners: @sunpy/instr

Fix changelog links
  CHANGELOG.rst
Owners: none

Fix changelog links
  CHANGELOG.rst
Owners: none

Fix changelog links
  CHANGELOG.rst
Owners: none

Fix changelog links
  CHANGELOG.rst
Owners: none

Document HEKRow
  sunpy/database/database.py
  sunpy/net/hek/__init__.py
  sunpy/net/hek/hek.py
Owners: @sunpy/database, @sunpy/net

Document HEKRow
  sunpy/database/database.py
  sunpy/net/hek/__init__.py
  sunpy/net/hek/hek.py
Owners: @sunpy/database, @sunpy/net

Document HEKRow
  sunpy/database/database.py
  sunpy/net/hek/__init__.py
  sunpy/net/hek/hek.py
Owners: @sunpy/database, @sunpy/net

Misc map fixes
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Misc map fixes
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Misc map fixes
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Misc map fixes
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Fix JSOC syntax errors
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix jsoc warnings
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix matplotlib deprecation warning
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix quantity comparison in header_helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

add a new function contains_coordinate
  sunpy/map/maputils.py
Owners: @sunpy/map

Make sure all figures are closed in in figure tests
  sunpy/tests/helpers.py
Owners: none

Use non-deprecated importlib
  sunpy/tests/tests/test_self_test.py
Owners: none

Fix pandas deprecation warning
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_lyra.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/instr, @sunpy/timeseries

Add colormap comment
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix import order
  sunpy/tests/tests/test_self_test.py
Owners: none

Added a warning if lower-than-native-precision floats are seen by Helioprojective.make_3d()
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Simplified code since lon/lat will always have a dtype
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Update list of oldest test dependencies
  tox.ini
Owners: none

Update list of oldest test dependencies
  tox.ini
Owners: none

Update list of oldest test dependencies
  tox.ini
Owners: none

Write a test for and then fix the submap bounds issue
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4727.bugfix.rst
Owners: none

Removed unused log and improve docstring
  changelog/4727.breaking.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix doctests, add tests for mask and HGS coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update setup.cfg
  setup.cfg
Owners: none

Merge pull request #4700 from dstansby/pix-world
  changelog/4700.bugfix.rst
  changelog/4700.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

undo some of the backport
  changelog/4700.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update sunpy/tests/helpers.py
  sunpy/tests/helpers.py
Owners: none

Ignore import warning
  setup.cfg
Owners: none

Ignore import warning
  setup.cfg
Owners: none

Ignore import warning
  setup.cfg
Owners: none

Bump minimum pandas version
  setup.cfg
  tox.ini
Owners: none
