Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Update citation information with ApJ and JOSS papers
  sunpy/CITATION.rst
Owners: none

Update citation information with ApJ and JOSS papers
  sunpy/CITATION.rst
Owners: none

added changelog
  changelog/3776.doc.rst
Owners: none

Update changelog/3776.doc.rst
  changelog/3776.doc.rst
Owners: none

fixed missing reference
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Fix the damn author list
  sunpy/CITATION.rst
Owners: none

Fix the damn author list
  sunpy/CITATION.rst
Owners: none

Fix the damn author list
  sunpy/CITATION.rst
Owners: none

Fix the damn author list
  sunpy/CITATION.rst
Owners: none

fixed image location
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

[unidown] Kanzelhohe Client Implementation
  sunpy/net/dataretriever/clients.py
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Kanzelhohe client now supports query by wavelength.
  sunpy/net/dataretriever/client.py
Owners: @sunpy/net

Implemented error checking and added tests.
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

PEP8 fixes.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Docs updated.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Suggestions implemented.
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

change == to is for _can_handle_query tests.
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Kanzelhohe now supports query bu wavelength.
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Slight fixes.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Remove commits in test.
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Changed assert and added extra comments for wavelength issue.
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Added details about downloaded files for Fido test.
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Add function to extract times of good urls
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

Polishing code.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

PEP 8 and clean up
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
  sunpy/net/tests/strategies.py
Owners: @sunpy/net

Tests for GONG..
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

code brushed up.
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Polishing code.
  sunpy/net/dataretriever/sources/bbso.py
Owners: @sunpy/net

Initial gong. Incomplete.
  sunpy/net/dataretriever/clients.py
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

Check precision errors in Wavelength. Tests changed according
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Made changes to FARSIDE. Scraper doesn't work on it.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_farside.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Additional error checking in _can_handle_query.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Parametrize tests.
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

BeautifulSoup import fixed.
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

Removed part of client when takes first value when both the same
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
Owners: @sunpy/net

Tests for Farside are complete.
  sunpy/net/dataretriever/tests/test_farside.py
Owners: @sunpy/net

BBSOClient implemented. Supports query by level.
  sunpy/net/dataretriever/clients.py
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

Forgot to add this file.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Implemented suggestions.
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

Missing import.
  sunpy/net/dataretriever/client.py
Owners: @sunpy/net
