Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Mostly docs, but some extra Table stuff for pretty
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/documentation-user, @sunpy/net

fix doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

fix doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

More tests and cleanup
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_baseclient.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Warnings
  setup.cfg
Owners: none

doctest fix
  sunpy/util/_table_attribute.py
Owners: none

doctest fix
  sunpy/util/_table_attribute.py
Owners: none

Mostly docs, but some extra Table stuff for pretty
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/documentation-user, @sunpy/net

Make QueryResponseTable a virtual subclass of BaseQueryResponse and deprecate API
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/documentation-user, @sunpy/net

Warnings
  setup.cfg
Owners: none

Respond to review and fix tests
  changelog/4321.removal.rst
  setup.cfg
  sunpy/database/tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/database, @sunpy/net

Respond to review and fix tests
  changelog/4321.removal.rst
  setup.cfg
  sunpy/database/tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/database, @sunpy/net

Respond to review and fix tests
  changelog/4321.removal.rst
  setup.cfg
  sunpy/database/tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/database, @sunpy/net

Apply suggestions from code review
  changelog/4798.breaking.3.rst
  changelog/4798.breaking.4.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/base_client.py
  sunpy/net/vso/table_response.py
Owners: @sunpy/documentation-user, @sunpy/net

Apply suggestions from code review
  changelog/4798.breaking.3.rst
  changelog/4798.breaking.4.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/base_client.py
  sunpy/net/vso/table_response.py
Owners: @sunpy/documentation-user, @sunpy/net

Fix inconsistent title
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Apply suggestions from code review
  changelog/4798.breaking.3.rst
  changelog/4798.breaking.4.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/base_client.py
  sunpy/net/vso/table_response.py
Owners: @sunpy/documentation-user, @sunpy/net

Fix inconsistent title
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Fix inconsistent title
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Added a gallery example for draw_quadrangle
  examples/plotting/quadrangle.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/map

Revert "Deprecate draw_rectangle"
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove old _FORCE_NO_WCSAXES variable
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Remove old _FORCE_NO_WCSAXES variable
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Remove old _FORCE_NO_WCSAXES variable
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Update sunpy/visualization/wcsaxes_compat.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Update sunpy/visualization/wcsaxes_compat.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Update sunpy/visualization/wcsaxes_compat.py
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Remove unused machery for filtering old VSO responses
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Remove unused machery for filtering old VSO responses
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Remove unused machery for filtering old VSO responses
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Deprecate unused link method
  changelog/4789.removal.rst
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Deprecate unused link method
  changelog/4789.removal.rst
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Deprecate unused link method
  changelog/4789.removal.rst
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Split VSO tests into attrs and client
  sunpy/net/vso/tests/conftest.py
  sunpy/net/vso/tests/test_attrs.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Split VSO tests into attrs and client
  sunpy/net/vso/tests/conftest.py
  sunpy/net/vso/tests/test_attrs.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Split VSO tests into attrs and client
  sunpy/net/vso/tests/conftest.py
  sunpy/net/vso/tests/test_attrs.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Fix UnifiedResponse slicing and make test better
  setup.cfg
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fix UnifiedResponse slicing and make test better
  setup.cfg
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fix UnifiedResponse slicing and make test better
  setup.cfg
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Warn whenever metadata assumptions are made
  changelog/4391.feature.rst
  docs/code_ref/map.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/iris.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/trace.py
Owners: @sunpy/map

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
