Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Fix center coordinate
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix doc
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix center coordinate
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4121.bugfix.rst
Owners: none

Update figure test hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Add dimensions test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix doc
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix top_right_coordinate
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update figure test hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Fix top_right_coordinate
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4121.bugfix.rst
Owners: none

Add dimensions test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add resample test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add resample test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Remove old simple_map
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Remove old simple_map
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

raise final exception from download exception
  sunpy/data/data_manager/cache.py
Owners: none

raise final exception from download exception
  sunpy/data/data_manager/cache.py
Owners: none

Issue: #4091: Changing info logs to warn/error for download failure
  sunpy/data/_sample.py
Owners: none

Issue: #4091: Changing info logs to warn/error for download failure
  sunpy/data/_sample.py
Owners: none

added gong and farside in init
  sunpy/net/dataretriever/__init__.py
Owners: @sunpy/net

Improve sample data logging messages
  sunpy/data/_sample.py
Owners: none

Improve sample data logging messages
  sunpy/data/_sample.py
Owners: none

Improve cache downloader error (#4103)
  sunpy/data/data_manager/cache.py
Owners: none

Improve cache downloader error (#4103)
  sunpy/data/data_manager/cache.py
Owners: none

Fix aiaprep
  sunpy/instr/aia.py
Owners: @sunpy/instr

Fix submap tests
  sunpy/map/tests/test_mapbase.py
  sunpy/physics/tests/test_solar_rotation.py
Owners: @sunpy/map, @sunpy/physics

Fix aiaprep
  sunpy/instr/aia.py
Owners: @sunpy/instr

Fix submap tests
  sunpy/map/tests/test_mapbase.py
  sunpy/physics/tests/test_solar_rotation.py
Owners: @sunpy/map, @sunpy/physics

Fix/overhaul submap
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix/overhaul submap
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Use np.round
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix composite map plot
  examples/map/composite_map_AIA_HMI.py
Owners: @sunpy/documentation-gallery

Propagate full frame information in differential_rotation
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Update rounding
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Propagate full frame information in differential_rotation
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fix SDO/STERO example
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

Fix map edges test
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Fix SDO/STERO example
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Owners: @sunpy/documentation-gallery

Fix map edges test
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
