Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Add changelog
  changelog/4433.feature.rst
Owners: none

Prototype moving colormaps to .csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/README.rst
  sunpy/visualization/colormaps/data/hi1.csv
  sunpy/visualization/colormaps/data/hi2.csv
Owners: @sunpy/visualization

Move idl_3 to csv file
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/idl_3.csv
Owners: @sunpy/visualization

Move HMI mag cmap to csv file
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/hmi_mag.csv
Owners: @sunpy/visualization

Move LASCO cmaps to csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/lasco_c2.csv
  sunpy/visualization/colormaps/data/lasco_c3.csv
Owners: @sunpy/visualization

Move LASCO cmaps to csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/lasco_c2.csv
  sunpy/visualization/colormaps/data/lasco_c3.csv
Owners: @sunpy/visualization

Update changelog/4405.feature.rst
  changelog/4405.feature.rst
Owners: none

Update changelog/4405.feature.rst
  changelog/4405.feature.rst
Owners: none

Don't convert float32 to float64 in affine_transform
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
Owners: @sunpy/image

Don't convert float32 to float64 in affine_transform
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
Owners: @sunpy/image

Don't convert float32 to float64 in affine_transform
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
Owners: @sunpy/image

first start of it
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

first start of it
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

Add preserve_range to warp
  sunpy/image/transform.py
Owners: @sunpy/image

Add preserve_range to warp
  sunpy/image/transform.py
Owners: @sunpy/image

Add preserve_range to warp
  sunpy/image/transform.py
Owners: @sunpy/image

Add changelog
  changelog/4452.bugfix.rst
Owners: none

Add changelog
  changelog/4452.bugfix.rst
Owners: none

Add changelog
  changelog/4452.bugfix.rst
Owners: none

Use bunit in sunpy.map
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Better warning messages
  sunpy/map/mapbase.py
Owners: @sunpy/map

Use bunit in sunpy.map
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Better warning messages
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4451.feature.rst
Owners: none

Add changelog
  changelog/4451.feature.rst
Owners: none

second push
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

second push
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

removing goes2
  sunpy/timeseries/sources/goes2.py
Owners: @sunpy/timeseries

removing goes2
  sunpy/timeseries/sources/goes2.py
Owners: @sunpy/timeseries

Improve title of differential rotation example
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Improve title of differential rotation example
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Improve title of differential rotation example
  examples/differential_rotation/reprojected_map.py
Owners: @sunpy/documentation-gallery

Remove whitespace
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove whitespace
  sunpy/map/mapbase.py
Owners: @sunpy/map

Remove spurious colormap file
  eit_dark_blue.csv
Owners: none

Remove spurious colormap file
  eit_dark_blue.csv
Owners: none

Update 4445.bugfix.rst
  changelog/4445.bugfix.rst
Owners: none

Update 4445.bugfix.rst
  changelog/4445.bugfix.rst
Owners: none

Make RTD not the main check for sphinx warnings
  azure-pipelines.yml
  readthedocs.yml
Owners: none

Try out the new pytest branch.
  azure-pipelines.yml
Owners: none
