Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Add regular CI to run ASV for new commits and benchmarks (#4975)
  .github/workflows/asv-regular.yml
  benchmarks/benchmarks_for_is_time.py
Owners: none

Add regular CI to run ASV for new commits and benchmarks (#4975)
  .github/workflows/asv-regular.yml
  benchmarks/benchmarks_for_is_time.py
Owners: none

Merge pull request #5019 from ayshih/add_patch
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Merge pull request #5019 from ayshih/add_patch
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
Owners: @sunpy/map

[2.1] Backport of #5019 (#5029)
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

changelog, flake8
  changelog/4528.docfix.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Implemented my own suggestions
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Added an example for drawing rectangles on maps (sunpy#4500)
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

changelog, flake8
  changelog/4528.docfix.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Added an example for drawing rectangles on maps (sunpy#4500)
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Suggestions from review + changelog
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

changelog, flake8
  changelog/4528.docfix.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Suggestions from review + changelog
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Suggestions from review + changelog
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Implemented my own suggestions
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Added an example for drawing rectangles on maps (sunpy#4500)
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Implemented my own suggestions
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

my own corrections
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

my own corrections
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

my own corrections
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Update changelog/4528.doc.rst
  changelog/4528.doc.rst
Owners: none

Update changelog/4528.doc.rst
  changelog/4528.doc.rst
Owners: none

Update changelog/4528.doc.rst
  changelog/4528.doc.rst
Owners: none

Added an example for drawing rectangles on maps (#4528)
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

Added an example for drawing rectangles on maps (#4528)
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

[2.0] Backport of #5019 (#5030)
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
Owners: @sunpy/map

MDI synoptic map does not need crder
  sunpy/map/sources/soho.py
Owners: @sunpy/map

MDI synoptic map does not need crder
  sunpy/map/sources/soho.py
Owners: @sunpy/map

MDI synoptic map does not need crder
  sunpy/map/sources/soho.py
Owners: @sunpy/map

added option for vmiv=auto
  changelog/5025.feature.rst
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

added one test for vmax and vmin set to auto
  sunpy/visualization/animator/tests/test_wcs.py
Owners: @sunpy/visualization

pep8 smh
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

temp hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

whatsnew 3.0
  docs/whatsnew/3.0.rst
  docs/whatsnew/index.rst
Owners: none

whatsnew 3.0
  docs/whatsnew/3.0.rst
  docs/whatsnew/index.rst
Owners: none

new correct figure hash
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

added new line at eof
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

added 2 more tests for vmin and vmax individually and added docstring documentation
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

docstring change
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update sunpy/visualization/animator/wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization
