Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Replaced commas with '&' in fido.search(arg1, arg2) in documents
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Added changelog
  changelog/5227.trivial.rst
Owners: none

fixed ommited comma
  docs/guide/acquiring_data/jsoc.rst
Owners: @sunpy/documentation-user

Add test for no search results
  sunpy/net/soar/client.py
  sunpy/net/soar/tests/test_sunpy_soar.py
Owners: @sunpy/net

Add Support for Unitful contours (#5154)
  changelog/5154.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

removed instr
  changelog/4526.breaking.rst
  docs/code_ref/instr.rst
  sunpy/data/test/LATEST_EVE_L0CS_DIODES_1m.txt
  sunpy/data/test/annotation_lyra.db
  sunpy/data/test/annotation_manual.db
  sunpy/data/test/annotation_science.db
  sunpy/data/test/hsi_calib_ev_20020220_1106_20020220_1106_25_40.fits
  sunpy/data/test/hsi_obssumm_20110404_042.fits.gz
  sunpy/data/test/hsi_obssumm_filedb_201104.txt
  sunpy/database/tests/test_tables.py
  sunpy/instr/__init__.py
  sunpy/instr/fermi.py
  sunpy/instr/goes.py
  sunpy/instr/iris.py
  sunpy/instr/lyra.py
  sunpy/instr/rhessi.py
  sunpy/instr/tests/__init__.py
  sunpy/instr/tests/test_calculate_radiative_loss_rate.txt
  sunpy/instr/tests/test_fermi.py
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_iris.py
  sunpy/instr/tests/test_lyra.py
  sunpy/instr/tests/test_rhessi.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
  sunpy/timeseries/sources/rhessi.py
Owners: @sunpy/instr, @sunpy/database, @sunpy/net, @sunpy/timeseries

Apply suggestions from code review
  docs/conf.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
Owners: @sunpy/net

extern sunkit-instr
  docs/conf.py
  setup.cfg
  sunpy/extern/sunkit_instruments/__init__.py
  sunpy/extern/sunkit_instruments/fermi/__init__.py
  sunpy/extern/sunkit_instruments/fermi/fermi.py
  sunpy/extern/sunkit_instruments/goes_xrs/__init__.py
  sunpy/extern/sunkit_instruments/goes_xrs/goes_xrs.py
  sunpy/extern/sunkit_instruments/iris/__init__.py
  sunpy/extern/sunkit_instruments/iris/iris.py
  sunpy/extern/sunkit_instruments/lyra/__init__.py
  sunpy/extern/sunkit_instruments/lyra/lyra.py
  sunpy/extern/sunkit_instruments/rhessi/__init__.py
  sunpy/extern/sunkit_instruments/rhessi/rhessi.py
  sunpy/instr/fermi.py
  sunpy/instr/goes.py
  sunpy/instr/iris.py
  sunpy/instr/lyra.py
  sunpy/instr/rhessi.py
Owners: @sunpy/instr

skip to prevent warning
  sunpy/extern/sunkit_instruments/lyra/lyra.py
Owners: none

update text issues
  sunpy/instr/__init__.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
Owners: @sunpy/instr, @sunpy/net

Fix new figure tests
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Fix codestyle
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Increase test coverage for CompositeMap (#5202)
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Replaced , with
  changelog/5227.trivial.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC2.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/goes_xrs_example.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/acquiring_data/searching_vso.py
  examples/map/difference_images.py
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/solar_cycle_example.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/skip_timeseries_example.py
  examples/time_series/timeseriesmetadata_example.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/venus_transit.py
  sunpy/database/tables.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
Owners: @sunpy/documentation-gallery, @sunpy/database, @sunpy/net

Relaxed a WCSAxes tolerance to work around disappearing lines in a grid overlay
  changelog/5222.bugfix.rst
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

More meta fixes
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/suvi.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
Owners: @sunpy/map

First round of map source fixing
  sunpy/map/mapbase.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/proba2.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Owners: @sunpy/map

Delete time.py
  sunpy/util/time.py
Owners: none

Deprecate draw_rectangle
  changelog/5236.removal.rst
  docs/guide/plotting.rst
  examples/plotting/hmi_cutout.py
  examples/plotting/plot_rectangle.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/map

Consistently use super() in map sources
  sunpy/map/sources/hinode.py
  sunpy/map/sources/proba2.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
Owners: @sunpy/map

CompositeMap now uses WCSAxes
  sunpy/map/compositemap.py
Owners: @sunpy/map

Restore non-WCSAxes plotting behavior
  sunpy/map/compositemap.py
Owners: @sunpy/map

Add a warning if a map has a rotation angle
  sunpy/map/compositemap.py
Owners: @sunpy/map

Fix the test fixture
  sunpy/map/tests/test_compositemap.py
Owners: @sunpy/map

Fixed draw_contour to be able to plot on a different WCSAxes
  changelog/5239.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Wrap the psi component of Heliocentric Radial at 360 deg
  changelog/5242.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Owners: @sunpy/coordinates

Automatically delete unused figures from sunpy-figure-test
  .circleci/config.yml
Owners: none

changelog
  changelog/5243.feature.rst
Owners: none

Addressed comments
  changelog/5239.bugfix.rst
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

codestyle
  changelog/5243.feature.rst
Owners: none

codestyle
  changelog/5243.feature.rst
Owners: none

removed changelog
  changelog/5243.feature.rst
Owners: none

Automatically delete unused figures from sunpy-figure-test (#5243)
  .circleci/config.yml
Owners: none

rename changelog
  changelog/5210.feature.rst
Owners: none

use properties
  changelog/4712.feature.rst
  sunpy/map/sources/solo.py
Owners: @sunpy/map

correct changelog
  changelog/4712.feature.rst
Owners: none

use raw header
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

add EUI map and tests
  sunpy/map/sources/__init__.py
  sunpy/map/sources/solo.py
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

more tests
  sunpy/map/sources/tests/test_eui_source.py
Owners: @sunpy/map

add docstring
  sunpy/map/sources/solo.py
Owners: @sunpy/map
