Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Add changelog
  changelog/4043.doc.rst
Owners: none

Add changelog
  changelog/4043.doc.rst
Owners: none

Add changelog
  changelog/4043.doc.rst
Owners: none

Add changelog
  changelog/4043.doc.rst
Owners: none

Warn when assuming CUNIT in map sources
  changelog/4047.trivial.rst
  docs/code_ref/map.rst
  sunpy/map/sources/iris.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/trace.py
Owners: @sunpy/map

Remove singledispatch method
  sunpy/map/map_factory.py
  sunpy/util/functools.py
Owners: @sunpy/map

Added a custom directive for Sphinx for generated HTML output
  docs/conf.py
  docs/dev_guide/documentation.rst
  sunpy/map/__init__.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/documentation-developer, @sunpy/map

Added a custom directive for Sphinx for generated HTML output
  docs/conf.py
  docs/dev_guide/documentation.rst
  sunpy/map/__init__.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/documentation-developer, @sunpy/map

Use singledispatch in Map factory (#4037)
  changelog/4037.trivial.rst
  sunpy/map/map_factory.py
Owners: @sunpy/map

Use singledispatch in Map factory (#4037)
  changelog/4037.trivial.rst
  sunpy/map/map_factory.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/4013.feature.rst
  docs/guide/tour.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
  sunpy/sun/tests/test_constants.py
Owners: @sunpy/documentation-user, @sunpy/coordinates, @sunpy/sun

Move constants defined in 'coordinates' subpackage to 'sun'
  docs/guide/tour.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
  sunpy/sun/tests/test_constants.py
Owners: @sunpy/documentation-user, @sunpy/coordinates, @sunpy/sun

Move constants defined in 'coordinates' subpackage to 'sun'
  docs/guide/tour.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
  sunpy/sun/tests/test_constants.py
Owners: @sunpy/documentation-user, @sunpy/coordinates, @sunpy/sun

Apply suggestions from code review
  changelog/4013.feature.rst
  docs/guide/tour.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
  sunpy/sun/tests/test_constants.py
Owners: @sunpy/documentation-user, @sunpy/coordinates, @sunpy/sun

changelog and two extra places to replace
  changelog/4013.feature.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
Owners: @sunpy/coordinates, @sunpy/sun

changelog and two extra places to replace
  changelog/4013.feature.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
Owners: @sunpy/coordinates, @sunpy/sun

Apply suggestions from code review v2
  changelog/4013.feature.rst
  sunpy/sun/_constants.py
Owners: @sunpy/sun

Apply suggestions from code review v2
  changelog/4013.feature.rst
  sunpy/sun/_constants.py
Owners: @sunpy/sun

If old file exists will create a backup before updating it
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Owners: none

If old file exists will create a backup before updating it
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Owners: none

Adds tests for writing config
  changelog/3722.feature.rst
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Owners: none

Added function to generate user config file
  sunpy/util/config.py
Owners: none

rename and monkeypatch
  sunpy/conftest.py
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Owners: none

Added function to generate user config file
  sunpy/util/config.py
Owners: none

rename and monkeypatch
  sunpy/conftest.py
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Owners: none

Adds tests for writing config
  changelog/3722.feature.rst
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Owners: none

Remove requirement for JSOC client to have a primekey
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update tests
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Improve multiple-match error in map factory
  sunpy/map/map_factory.py
Owners: @sunpy/map

Improve multiple-match error in map factory
  sunpy/map/map_factory.py
Owners: @sunpy/map

Add changelog
  changelog/4052.trivial.rst
Owners: none

Add changelog
  changelog/4052.trivial.rst
Owners: none

Update JSOC warning
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update JSOC warning
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

fixing cwd save and adding test
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

fixing cwd save and adding test
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

fixing cwd save and adding test
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

removing my print statements
  sunpy/net/fido_factory.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
