Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Add whitespace to generated attrs json
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/data/attrs.json
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Add whitespace to generated attrs json
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/data/attrs.json
  sunpy/net/vso/vso.py
Owners: @sunpy/net

update doctests
  docs/guide/acquiring_data/fido.rst
  tools/update_attrs_json.py
Owners: @sunpy/documentation-user

update doctests
  docs/guide/acquiring_data/fido.rst
  tools/update_attrs_json.py
Owners: @sunpy/documentation-user

Rework the docs to deal with pre release versions better
  docs/conf.py
  setup.cfg
  sunpy/util/sphinx/changelog.py
Owners: none

Rework the docs to deal with pre release versions better
  docs/conf.py
  setup.cfg
  sunpy/util/sphinx/changelog.py
Owners: none

Ignore resourcewarning in tests
  setup.cfg
Owners: none

errrrr
  setup.cfg
Owners: none

Apply suggestions from code review
  setup.cfg
Owners: none

Ignore resourcewarning in tests (#4732)
  setup.cfg
Owners: none

Ignore resourcewarning in tests (#4732)
  setup.cfg
Owners: none

milestone message
  pyproject.toml
Owners: none

Add changelog
  changelog/4717.doc.rst
Owners: none

Add changelog
  changelog/4717.doc.rst
Owners: none

Add changelog
  changelog/4717.doc.rst
Owners: none

Add changelog
  changelog/4717.doc.rst
Owners: none

Unify all the shared map fixtures into conftest.py
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Unify all the shared map fixtures into conftest.py
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Unify all the shared map fixtures into conftest.py
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Write a test for and then fix the submap bounds issue
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4727.bugfix.rst
Owners: none

Add changelog
  changelog/4727.bugfix.rst
Owners: none

Write a test for and then fix the submap bounds issue
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Write a test for and then fix the submap bounds issue
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4727.bugfix.rst
Owners: none

Removed unused log and improve docstring
  changelog/4727.breaking.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Removed unused log and improve docstring
  changelog/4727.breaking.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Removed unused log and improve docstring
  changelog/4727.breaking.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

tidying up example with new Fido client with HEK
  examples/acquiring_data/querying_the_GOES_event_list.py
Owners: @sunpy/documentation-gallery

tidying up example with new Fido client with HEK
  examples/acquiring_data/querying_the_GOES_event_list.py
Owners: @sunpy/documentation-gallery

tidying up example with new Fido client with HEK
  examples/acquiring_data/querying_the_GOES_event_list.py
Owners: @sunpy/documentation-gallery

Fix doctests, add tests for mask and HGS coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix doctests, add tests for mask and HGS coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix doctests, add tests for mask and HGS coords
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix FERMI open socket
  sunpy/instr/fermi.py
Owners: @sunpy/instr

Fix FERMI open socket
  sunpy/instr/fermi.py
Owners: @sunpy/instr

Fix un-closed files in tests
  sunpy/io/tests/test_fits.py
  sunpy/util/tests/test_config.py
Owners: @sunpy/io

Fix un-closed files in tests
  sunpy/io/tests/test_fits.py
  sunpy/util/tests/test_config.py
Owners: @sunpy/io

Fix FERMI open socket
  sunpy/instr/fermi.py
Owners: @sunpy/instr

Fix un-closed files in tests
  sunpy/io/tests/test_fits.py
  sunpy/util/tests/test_config.py
Owners: @sunpy/io
