Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

CI fixes
  sunpy/image/tests/test_coalignment.py
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
Owners: @sunpy/image

pin pytest
  .circleci/config.yml
  .test_package_pins.txt
  azure-pipelines.yml
  sunpy/coordinates/tests/test_metaframes.py
  tox.ini
Owners: @sunpy/coordinates

Allow jsocClient to download .tar archives from JSOC
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Allow jsocClient to download .tar archives from JSOC
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Add changelog
  changelog/4405.feature.rst
Owners: none

Add changelog
  changelog/4405.feature.rst
Owners: none

Fix pep issues
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix pep issues
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix codingstyle errors
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix codingstyle errors
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Install ssl dev headers on 32 bit tests
  azure-pipelines.yml
Owners: none

Fixed an error not raising correctly.
  changelog/4350.removal.rst
  sunpy/data/data_manager/cache.py
  sunpy/util/util.py
Owners: none

Fixed an error not raising correctly.
  changelog/4350.removal.rst
  sunpy/data/data_manager/cache.py
  sunpy/util/util.py
Owners: none

Fixed an error not raising correctly.
  changelog/4350.removal.rst
  sunpy/data/data_manager/cache.py
  sunpy/util/util.py
Owners: none

cryptography<3.0 for 32bit
  tox.ini
Owners: none

cryptography<3.0 for 32bit
  tox.ini
Owners: none

cryptography<3.0 for 32bit
  tox.ini
Owners: none

Retain nanosecond precision in convert_time for pandas
  sunpy/time/time.py
Owners: @sunpy/time

Retain nanosecond precision in convert_time for pandas
  sunpy/time/time.py
Owners: @sunpy/time

Add test
  sunpy/time/tests/test_time.py
Owners: @sunpy/time

Add test
  sunpy/time/tests/test_time.py
Owners: @sunpy/time

Add changelog
  changelog/4409.bugfix.rst
Owners: none

Add changelog
  changelog/4409.bugfix.rst
Owners: none

Remove old checks for nonzero nanosecs
  sunpy/instr/tests/test_goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/instr, @sunpy/timeseries

Remove old checks for nonzero nanosecs
  sunpy/instr/tests/test_goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/instr, @sunpy/timeseries

Fix doctest
  docs/guide/time.rst
Owners: @sunpy/documentation-user

Fix doctest
  docs/guide/time.rst
Owners: @sunpy/documentation-user

Ignore figure warnings
  sunpy/map/tests/test_compositemap.py
Owners: @sunpy/map

Force zero warnings in test suite
  setup.cfg
Owners: none

Filter out matplotlib warning
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/timeseries

Filter out astropy deprecation warning
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Add remote_data mark
  setup.cfg
Owners: none

Fix offline sunpy.net warnings
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
Owners: @sunpy/net

Fix regex in warning filter
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Ignore distutils warning
  setup.cfg
Owners: none

Force zero warnings in test suite (#3648)
  setup.cfg
  sunpy/map/tests/test_compositemap.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/map, @sunpy/net, @sunpy/timeseries

Force zero warnings in test suite (#3648)
  setup.cfg
  sunpy/map/tests/test_compositemap.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/map, @sunpy/net, @sunpy/timeseries

added functionality to check if ther server is active or not
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

added functionality to check if ther server is active or not
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Fix sphinx links in sunpy/guide
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/customization.rst
  docs/guide/data_types/maps.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/installation/advanced.rst
  docs/guide/time.rst
  docs/guide/tour.rst
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
