Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Fixed the observer transformation in solar_rotate_coordinate
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fixed the handling of an obstime change for a transformation out of RotatedSunFrame
  changelog/4979.bugfix.1.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Added explicit tests for the RotatedSunFrame obstime-change bug
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Fixed the handling of an obstime change for a transformation out of RotatedSunFrame
  changelog/4979.bugfix.1.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Fixed the observer transformation in solar_rotate_coordinate
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fixed differential_rotation module to always ignore translational motion of the Sun
  changelog/4979.bugfix.2.rst
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Added explicit tests for the RotatedSunFrame obstime-change bug
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Fixed the handling of an obstime change for a transformation out of RotatedSunFrame
  changelog/4979.bugfix.1.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Fixed differential_rotation module to always ignore translational motion of the Sun
  changelog/4979.bugfix.2.rst
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Fixed differential_rotation module to always ignore translational motion of the Sun
  changelog/4979.bugfix.2.rst
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

Added explicit tests for the RotatedSunFrame obstime-change bug
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Fixed existing differential-rotation tests
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Owners: @sunpy/physics

Fixed existing differential-rotation tests
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Owners: @sunpy/physics

Fixed existing differential-rotation tests
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Owners: @sunpy/physics

Fido Client Dev Guide
  changelog/4387.doc.rst
  docs/code_ref/net.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/index.rst
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
Owners: @sunpy/net, @sunpy/documentation-developer

skip two helio examples
  examples/units_and_coordinates/skip_STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/skip_getting_lasco_observer_location.py
Owners: @sunpy/documentation-gallery

Added a consistency test between solar_rotate_coordinate and RotatedSunFrame
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Added a consistency test between solar_rotate_coordinate and RotatedSunFrame
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Added a consistency test between solar_rotate_coordinate and RotatedSunFrame
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

updated message
  .github/workflows/stale_bot.yml
Owners: none

Convert stale bot to a GitHub action
  .github/stale.yml
  .github/workflows/stale_bot.yml
Owners: none

Update stale_bot.yml
  .github/workflows/stale_bot.yml
Owners: none

Update .github/workflows/stale_bot.yml
  .github/workflows/stale_bot.yml
Owners: none

Adding example of x/y limits when plotting Map (#4792)
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

Adding example of x/y limits when plotting Map (#4792)
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

Adding example of x/y limits when plotting Map (#4792)
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

Adding example of x/y limits when plotting Map (#4792)
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

added repr line limit to fido
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Resolves issue #4884
  sunpy/net/base_client.py
Owners: @sunpy/net

Resolves issue #4884
  sunpy/net/base_client.py
Owners: @sunpy/net

Resolves issue #4884
  sunpy/net/base_client.py
Owners: @sunpy/net

added repr line limit to fido
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

added repr line limit to fido
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Convert stale bot to a GitHub action (#4980)
  .github/stale.yml
  .github/workflows/stale_bot.yml
Owners: none

Convert stale bot to a GitHub action (#4980)
  .github/stale.yml
  .github/workflows/stale_bot.yml
Owners: none

Move some CI onto GitHub actions
  .github/workflows/run_tox.yml
  azure-pipelines.yml
Owners: none

Tweaks
  .github/workflows/run_tox.yml
Owners: none

Install apt packages
  .github/workflows/run_tox.yml
Owners: none

hmmmm
  .github/workflows/run_tox.yml
Owners: none

Rename label
  .github/workflows/run_tox.yml
Owners: none
