Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

even lesser line breaks
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added test with 2 maps
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

removed extra .py smh
  changelog/5121.doc.rst
Owners: none

removed extra .py smh
  changelog/5121.doc.rst
Owners: none

removed extra .py smh
  changelog/5121.doc.rst
Owners: none

Apply suggestions from code review
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Update examples/plotting/wcsaxes_plotting_example.py
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Update examples/plotting/wcsaxes_plotting_example.py
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Update examples/plotting/wcsaxes_plotting_example.py
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

codestyle
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Added wcsaxes plotting example (#4867)
  changelog/4867.doc.rst
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Added wcsaxes plotting example (#4867)
  changelog/4867.doc.rst
  examples/plotting/wcsaxes_plotting_example.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update examples/map/map_segment.py
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

First code
  sunpy/net/soar/__init__.py
  sunpy/net/soar/attrs.py
  sunpy/net/soar/client.py
  sunpy/net/soar/tests/__init__.py
  sunpy/net/soar/tests/test_sunpy_soar.py
Owners: @sunpy/net

Bump coverage
  sunpy/net/soar/__init__.py
Owners: @sunpy/net

removed BLANK from header of hmi_test_map
  sunpy/map/tests/conftest.py
Owners: @sunpy/map

some codestyle fixes
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

Update hide_keys
  sunpy/net/soar/client.py
Owners: @sunpy/net

replaced hmi with same map
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

removed BLANK from header of hmi_test_map
  sunpy/map/tests/conftest.py
Owners: @sunpy/map

forgot to save smh
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

Apply suggestions from code review
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Apply suggestions from code review
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

changed boundary and moved explaination up a bit
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

changed boundary and moved explaination up a bit
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

changed boundary and moved explaination up a bit
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Added docstring in class MDISynopticMap.
  sunpy/map/sources/soho.py
Owners: @sunpy/map

updated
  sunpy/map/sources/soho.py
Owners: @sunpy/map

Update test to use fetch
  sunpy/net/soar/tests/test_sunpy_soar.py
Owners: @sunpy/net

Updated the MDI SynopticMAp
  sunpy/map/sources/soho.py
Owners: @sunpy/map
