Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

add a separate pending warning type
  sunpy/util/decorators.py
Owners: none

tests for removal version calculation logic
  sunpy/util/tests/test_decorators.py
Owners: none

made removal_version a kwarg; created wrapper to make replacement with future astropy decorator easier
  sunpy/util/decorators.py
Owners: none

add default string when removal version is not specified
  sunpy/util/decorators.py
Owners: none

move removal version logic into separate function
  sunpy/util/decorators.py
Owners: none

actually test the decorator
  sunpy/util/tests/test_decorators.py
Owners: none

fix deprecated decorator to use correct removal version, not ignore altmessage
  sunpy/util/decorators.py
Owners: none

fixup changelog
  changelog/3982.bugfix.rst
Owners: none

add changelog
  changelog/3982.bugfix.rst
Owners: none

actually test the decorator
  sunpy/util/tests/test_decorators.py
Owners: none

tests for removal version calculation logic
  sunpy/util/tests/test_decorators.py
Owners: none

move removal version logic into separate function
  sunpy/util/decorators.py
Owners: none

made removal_version a kwarg; created wrapper to make replacement with future astropy decorator easier
  sunpy/util/decorators.py
Owners: none

add default string when removal version is not specified
  sunpy/util/decorators.py
Owners: none

add a separate pending warning type
  sunpy/util/decorators.py
Owners: none

fix for str return from the cache
  sunpy/data/data_manager/cache.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
Owners: @sunpy/map

fix doc build for sphinx 3
  changelog/4007.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/map, @sunpy/timeseries

Handle the case where the whole line is masked on the first frame
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

add changelog
  changelog/4001.bugfix.rst
Owners: none

Update figure hashes
  sunpy/tests/figure_hashes_py37.json
Owners: none

Rename reprojection gallery folder
  docs/conf.py
  examples/map_transformations/README.txt
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
  examples/map_transformations/skip_reprojection_aia_euvi_mosaic.py
  examples/map_transformations/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/README.txt
Owners: @sunpy/documentation-gallery

Add changelog
  changelog/3962.docfixt.rst
Owners: none

Reconfigure the figure test artifacts and Giles
  .circleci/config.yml
  pyproject.toml
Owners: none

Cleanup dependencies
  setup.cfg
Owners: none

Reenable asdf schema tests
  setup.cfg
Owners: none

Changing default number of parallel connections for JSOC
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Preventing scraper from appending username and password to NORH
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/util/scraper.py
Owners: @sunpy/database, @sunpy/net

Adds changelog
  changelog/3822.feature.rst
  setup.cfg
Owners: none

forgot import
  docs/conf.py
Owners: none

merge issue
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Reconfigure the figure test artifacts and Giles
  pyproject.toml
Owners: none

Cleanup dependencies
  setup.cfg
Owners: none

Preventing scraper from appending username and password to NORH
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/util/scraper.py
Owners: @sunpy/database, @sunpy/net

Adds changelog
  changelog/3822.feature.rst
Owners: none

merge issue
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Reenable asdf schema tests
  setup.cfg
Owners: none

Changing default number of parallel connections for JSOC
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

fix for str return from the cache
  sunpy/map/tests/test_map_factory.py
Owners: @sunpy/map

fix doc build for sphinx 3
  changelog/4007.bugfix.rst
  sunpy/map/compositemap.py
Owners: @sunpy/map

Delete 4007.bugfix.rst
  changelog/4007.bugfix.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
