Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Fix parfive requirements for 3.6
  setup.cfg
Owners: none

Don't pass headers to parfive 1.0
  sunpy/util/parfive_helpers.py
Owners: none

Add changelog [ci skip]
  changelog/4283.bugfix.rst
Owners: none

Release v2.0.1
  CHANGELOG.rst
  changelog/4267.bugfix.rst
  changelog/4283.bugfix.rst
Owners: none

Attempt to fix figure uploads
  .circleci/config.yml
Owners: none

Attempt to fix figure uploads
  .circleci/config.yml
Owners: none

More version debug for figure tests
  tox.ini
Owners: none

More version debug for figure tests
  tox.ini
Owners: none

the hashes changed again
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

the hashes changed again
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Fixed wrong satno. in XRS overlap URLs
  changelog/4288.bugfix.rst
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

Fixed wrong satno. in XRS overlap URLs
  changelog/4288.bugfix.rst
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

Fixed wrong satno. in XRS overlap URLs
  changelog/4288.bugfix.rst
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

Updated changelog
  changelog/4288.bugfix.rst
Owners: none

Updated changelog
  changelog/4288.bugfix.rst
Owners: none

Updated changelog
  changelog/4288.bugfix.rst
Owners: none

Don't default to py_36 for toxenv in figure comparisons
  sunpy/tests/helpers.py
Owners: none

Report epected and actual hash in error message
  sunpy/tests/helpers.py
Owners: none

Fix tox environment variable
  sunpy/tests/helpers.py
Owners: none

Update hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Don't default to py_36 for toxenv in figure comparisons (#4289)
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/helpers.py
Owners: none

Don't default to py_36 for toxenv in figure comparisons (#4289)
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/helpers.py
Owners: none

Drop support for Python 3.6
  azure-pipelines.yml
  docs/dev_guide/code_standards.rst
  docs/dev_guide/example_gallery.rst
  docs/dev_guide/tests.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.cfg
  sunpy/__init__.py
  tox.ini
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Bump other minimum versions
  setup.cfg
  tox.ini
Owners: none

Upload all figure test version info as a circle artifact
  tox.ini
Owners: none

Add changelog
  changelog/4284.breaking.rst
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

Do not install any dependencies via pip under tox conda
  tox.ini
Owners: none

Do not install any dependencies via pip under tox conda
  tox.ini
Owners: none

Do not install any dependencies via pip under tox conda (#4295)
  tox.ini
Owners: none

Do not install any dependencies via pip under tox conda (#4295)
  tox.ini
Owners: none

Drop support for Python 3.6 (#4284)
  azure-pipelines.yml
  changelog/4284.breaking.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/example_gallery.rst
  docs/dev_guide/tests.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.cfg
  sunpy/__init__.py
  tox.ini
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Drop support for Python 3.6 (#4284)
  azure-pipelines.yml
  changelog/4284.breaking.rst
  docs/dev_guide/code_standards.rst
  docs/dev_guide/example_gallery.rst
  docs/dev_guide/tests.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.cfg
  sunpy/__init__.py
  tox.ini
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

Force software version when saving pngs in testing
  sunpy/tests/helpers.py
Owners: none

Force software version when saving pngs in testing
  sunpy/tests/helpers.py
Owners: none

Update hashes
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update hashes
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Remove warnings from test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Remove warnings from test_mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update base coord frame doc
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
