Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

adding changelog
  changelog/3953.doc.rst
Owners: none

adding changelog
  changelog/3953.doc.rst
Owners: none

used urlsplit in filelist
  sunpy/util/scraper.py
Owners: none

used urlsplit in filelist
  sunpy/util/scraper.py
Owners: none

fix CI with pillow 7.1.0
  setup.cfg
Owners: none

fix CI with pillow 7.1.0
  setup.cfg
Owners: none

fix CI with pillow 7.1.0
  setup.cfg
Owners: none

fix CI with pillow 7.1.0
  setup.cfg
Owners: none

using netloc, path from urlsplit
  sunpy/util/scraper.py
Owners: none

using netloc, path from urlsplit
  sunpy/util/scraper.py
Owners: none

added changelog
  changelog/3956.trivial.rst
Owners: none

added changelog
  changelog/3956.trivial.rst
Owners: none

Fixed confusing printing of longitudes in Map repr
  changelog/3959.bugfix.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fixed confusing printing of longitudes in Map repr
  changelog/3959.bugfix.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fixed confusing printing of longitudes in Map repr
  changelog/3959.bugfix.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fixed confusing printing of longitudes in Map repr
  changelog/3959.bugfix.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

adding suggested edits from review
  examples/acquiring_data/querying_the_GOESeventlist.py
Owners: @sunpy/documentation-gallery

adding suggested edits from review
  examples/acquiring_data/querying_the_GOESeventlist.py
Owners: @sunpy/documentation-gallery

corrected cwd error
  sunpy/util/scraper.py
Owners: none

corrected cwd error
  sunpy/util/scraper.py
Owners: none

blankline at eof
  changelog/3956.trivial.rst
Owners: none

blankline at eof
  changelog/3956.trivial.rst
Owners: none

Allow Map to use i/o objects
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
Owners: @sunpy/map

Add changelog
  changelog/3963.feature.rst
Owners: none

added test to check final url
  sunpy/util/tests/test_scraper.py
Owners: none

added test to check final url
  sunpy/util/tests/test_scraper.py
Owners: none

Fix astropy pinning
  setup.cfg
  tox.ini
Owners: none

Fix astropy pinning
  setup.cfg
  tox.ini
Owners: none

Rename reprojection gallery folder
  docs/conf.py
  examples/map_transformations/README.txt
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
  examples/map_transformations/skip_reprojection_aia_euvi_mosaic.py
  examples/map_transformations/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/README.txt
Owners: @sunpy/documentation-gallery

Rename reprojection gallery folder
  docs/conf.py
  examples/map_transformations/README.txt
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
  examples/map_transformations/skip_reprojection_aia_euvi_mosaic.py
  examples/map_transformations/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/README.txt
Owners: @sunpy/documentation-gallery

Add changelog
  changelog/3962.docfixt.rst
Owners: none

Add changelog
  changelog/3962.docfixt.rst
Owners: none

Allow manager.override_file to specify a local file path without file:// prefix
  changelog/3970.bugfix.rst
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Allow manager.override_file to specify a local file path without file:// prefix
  changelog/3970.bugfix.rst
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Allow manager.override_file to specify a local file path without file:// prefix
  changelog/3970.bugfix.rst
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Update figure test artefact upload directory
  .circleci/config.yml
Owners: none

Update figure test artefact upload directory
  .circleci/config.yml
Owners: none

added changes.rst
  changelog/3973.bugfix.rst
Owners: none

Corrected the resource warning of leaving a socket opened
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

added changes.rst
  changelog/3973.bugfix.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
