Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Cleanup dependencies
  setup.cfg
Owners: none

Reenable asdf schema tests
  setup.cfg
Owners: none

Reenable asdf schema tests
  setup.cfg
Owners: none

Reconfigure the figure test artifacts and Giles
  .circleci/config.yml
  pyproject.toml
Owners: none

Reconfigure the figure test artifacts and Giles
  .circleci/config.yml
  pyproject.toml
Owners: none

Fix the automatic creation of slider labels from WCS
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Fix the automatic creation of slider labels from WCS
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Fix label ordering
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Fix label ordering
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

update hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

update hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Add changelog [ci skip]
  changelog/3990.bugfix.rst
Owners: none

Add changelog [ci skip]
  changelog/3990.bugfix.rst
Owners: none

added _localfilelist in scraper
  sunpy/util/scraper.py
Owners: none

added _localfilelist in scraper
  sunpy/util/scraper.py
Owners: none

removed xfail test for scraper
  sunpy/util/tests/test_scraper.py
Owners: none

changelog added
  changelog/3994.feature.rst
  sunpy/util/scraper.py
Owners: none

added file support for windows
  sunpy/util/scraper.py
Owners: none

changelog added
  changelog/3994.feature.rst
  sunpy/util/scraper.py
Owners: none

added file support for windows
  sunpy/util/scraper.py
Owners: none

removed xfail test for scraper
  sunpy/util/tests/test_scraper.py
Owners: none

fixed pep8
  sunpy/util/scraper.py
Owners: none

fixed pep8
  sunpy/util/scraper.py
Owners: none

Handle the case where the whole line is masked on the first frame
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Handle the case where the whole line is masked on the first frame
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

add changelog
  changelog/4001.bugfix.rst
Owners: none

add changelog
  changelog/4001.bugfix.rst
Owners: none

Update figure hashes
  sunpy/tests/figure_hashes_py37.json
Owners: none

Update figure hashes
  sunpy/tests/figure_hashes_py37.json
Owners: none

Move 32bit build to azure pipelines
  .circleci/config.yml
  azure-pipelines.yml
Owners: none

Attempt at matrix'ing the figure jobs
  .circleci/config.yml
  tox.ini
Owners: none

maybe?
  .circleci/config.yml
Owners: none

Will this fix the 32bit build?
  azure-pipelines.yml
  tox.ini
Owners: none

prep for deployment
  .circleci/config.yml
Owners: none

deploy after figures
  .circleci/config.yml
Owners: none

More deployment
  .circleci/config.yml
Owners: none

Add openssl devel to 32bit build
  azure-pipelines.yml
Owners: none

Attempt deploy
  .circleci/config.yml
Owners: none

Miscellanous cleanup in coordinates now that we depend on Astropy 3.2+
  examples/saving_and_loading_data/coordinates_in_asdf.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates, @sunpy/map

Miscellanous cleanup in coordinates now that we depend on Astropy 3.2+
  examples/saving_and_loading_data/coordinates_in_asdf.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates, @sunpy/map
