Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Add some basic logging to HEK
  changelog/5020.trivial.rst
  sunpy/net/hek/hek.py
Owners: @sunpy/net

Try and automatically set colormaps
  sunpy/map/mapbase.py
Owners: @sunpy/map

Try and automatically set colormaps
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add EUI colormaps
  changelog/5023.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/map/mapbase.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

Add EUI colormaps
  changelog/5023.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/map/mapbase.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update figure test hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Add Solar Orbiter EUI colormaps (#5023)
  changelog/5023.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

Add Solar Orbiter EUI colormaps (#5023)
  changelog/5023.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

Fix scraper range issue on windows
  sunpy/util/scraper.py
Owners: none

Fix scraper range issue on windows
  sunpy/util/scraper.py
Owners: none

Fix scraper range issue on windows
  sunpy/util/scraper.py
Owners: none

Clean test make specific to forwardslash issue
  sunpy/util/tests/test_scraper.py
Owners: none

Clean test make specific to forwardslash issue
  sunpy/util/tests/test_scraper.py
Owners: none

Clean test make specific to forwardslash issue
  sunpy/util/tests/test_scraper.py
Owners: none

added dynamic z axis option
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

added a check if vmax is not specified
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

pep8 fixes
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

changelog and pep8
  changelog/5025.feature.rst
Owners: none

removed extra update_bounds causing test fail
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

updated rst and changed update_plot() to get_2d_plot_clip_bounds()
  changelog/5025.feature.rst
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

updated changelog
  changelog/5025.feature.rst
Owners: none

Update sunpy/visualization/animator/wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

removed redundant code and changed method name
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

fixed indentation, figure tests should pass
  changelog/5025.feature.rst
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Update sunpy/visualization/animator/wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Release v2.1.0
  CHANGELOG.rst
Owners: none

Update changelog/5025.feature.rst
  changelog/5025.feature.rst
Owners: none

Update sunpy/visualization/animator/wcs.py
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

fixed parenthesis issue and added starred exp
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

removed extra check for vmax
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

undo remove extra check as it was needed
  sunpy/visualization/animator/wcs.py
Owners: @sunpy/visualization

Add changelog
  changelog/5022.bugfix.rst
Owners: none

Add changelog
  changelog/5022.bugfix.rst
Owners: none

Add changelog
  changelog/5022.bugfix.rst
Owners: none

Fix scraper issue with Windows and URL path separation (#5022)
  changelog/5022.bugfix.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Fix scraper issue with Windows and URL path separation (#5022)
  changelog/5022.bugfix.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

Update changelog post release
  CHANGELOG.rst
Owners: none

Update changelog post release (#5028)
  CHANGELOG.rst
Owners: none

Update changelog post release (#5028)
  CHANGELOG.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
