Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Add changelog
  changelog/4109.breaking.rst
Owners: none

Add changelog
  changelog/4109.breaking.rst
Owners: none

Minor fixes to RotatedSunFrame docstrings
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Minor fixes to RotatedSunFrame docstrings
  sunpy/coordinates/metaframes.py
Owners: @sunpy/coordinates

Fixed error in logger message for get_body_heliographic_stonyhurst()
  changelog/4112.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Fixed error in logger message for get_body_heliographic_stonyhurst()
  changelog/4112.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Fixed error in logger message for get_body_heliographic_stonyhurst()
  changelog/4112.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Fixed error in logger message for get_body_heliographic_stonyhurst()
  changelog/4112.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Use astropy to create `sunpy.sun.constants` docstring RST table
  sunpy/sun/constants.py
Owners: @sunpy/sun

Use astropy to create `sunpy.sun.constants` docstring RST table
  sunpy/sun/constants.py
Owners: @sunpy/sun

Implement a custom user agent for all parfive based downloads
  sunpy/data/_sample.py
  sunpy/data/data_manager/downloader.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/helioviewer.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
  sunpy/util/parfive_helpers.py
Owners: @sunpy/net

Implement a custom user agent for all parfive based downloads
  sunpy/data/_sample.py
  sunpy/data/data_manager/downloader.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/helioviewer.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
  sunpy/util/parfive_helpers.py
Owners: @sunpy/net

Clean up test pins
  .test_package_pins.txt
Owners: none

Bump min version of parfive
  setup.cfg
Owners: none

Bump min version of parfive
  setup.cfg
Owners: none

Clean up test pins
  .test_package_pins.txt
Owners: none

fix changelog type
  changelog/4109.removal.rst
Owners: none

fix changelog type
  changelog/4109.removal.rst
Owners: none

Add unit test for `sunpy.sun.constants` docstring
  sunpy/sun/tests/test_constants.py
Owners: @sunpy/sun

Add unit test for `sunpy.sun.constants` docstring
  sunpy/sun/tests/test_constants.py
Owners: @sunpy/sun

Updated STEREO SECCHI starfield example to use all of the information in the star catalog
  changelog/4116.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

Updated STEREO SECCHI starfield example to use all of the information in the star catalog
  changelog/4116.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

Updated STEREO SECCHI starfield example to use all of the information in the star catalog
  changelog/4116.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

Improve fits header helper doc
  sunpy/map/header_helper.py
Owners: @sunpy/map

Improve fits header helper doc
  sunpy/map/header_helper.py
Owners: @sunpy/map

Improve fits header helper doc
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fix argument name
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fix argument name
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fix argument name
  sunpy/map/header_helper.py
Owners: @sunpy/map

Fixes to the STEREO/SECCHI COR2 starfield example
  changelog/4039.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

Adds tests
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Adds tests
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Adds new fig test hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Adds new fig test hashes
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: none

Updated STEREO SECCHI starfield example to use all of the information in the star catalog
  changelog/4116.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

added kanzelhohe sources
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

merged table & date_table
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

replaced with kanzelhöhe
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

added kanzelhohe tests
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

renamed to KANZ
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
