Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Corrected the resource warning of leaving a socket opened
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

tweaked test_unclosedSocket_warning to not check the length
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

tweaked test_unclosedSocket_warning to not check the length
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Configure pypi_filter in tox
  tox.ini
Owners: none

test circle
  .circleci/config.yml
Owners: none

Pin pytest to <5.4
  setup.cfg
Owners: none

Pin pytest to <5.4
  setup.cfg
Owners: none

More tox updates
  .test_package_pins.txt
  tox.ini
Owners: none

more circleci
  .circleci/config.yml
Owners: none

wtf
  .circleci/config.yml
  tox.ini
Owners: none

Document return type of BaseClient.search
  sunpy/net/base_client.py
Owners: @sunpy/net

Document return type of BaseClient.search
  sunpy/net/base_client.py
Owners: @sunpy/net

Add AttrWalker __repr__
  sunpy/net/attr.py
Owners: @sunpy/net

Add AttrWalker __repr__
  sunpy/net/attr.py
Owners: @sunpy/net

Use list instead of list comprehension
  sunpy/net/attr.py
Owners: @sunpy/net

Use list instead of list comprehension
  sunpy/net/attr.py
Owners: @sunpy/net

First pass at trying tox pypi filter
  .test_package_pins.txt
  setup.cfg
  tox.ini
Owners: none

skip lasco for debugging
  examples/acquiring_data/skip_downloading_lascoC3.py
Owners: @sunpy/documentation-gallery

Try again on the sample data
  .circleci/config.yml
  tox.ini
Owners: none

First pass at trying tox pypi filter
  .test_package_pins.txt
  setup.cfg
  tox.ini
Owners: none

Try again on the sample data
  .circleci/config.yml
  tox.ini
Owners: none

Tidy up circleci again
  .circleci/config.yml
  .gitignore
  examples/acquiring_data/downloading_lascoC3.py
  setup.cfg
  tox.ini
Owners: @sunpy/documentation-gallery

Tidy up circleci again
  .circleci/config.yml
  .gitignore
  examples/acquiring_data/downloading_lascoC3.py
  setup.cfg
  tox.ini
Owners: @sunpy/documentation-gallery

i donno
  .circleci/config.yml
Owners: none

i donno
  .circleci/config.yml
Owners: none

skip lasco for debugging
  examples/acquiring_data/skip_downloading_lascoC3.py
Owners: @sunpy/documentation-gallery

new tox-pypi-filter
  tox.ini
Owners: none

more sample data debugging
  .circleci/config.yml
Owners: none

fix lasco again
  examples/acquiring_data/skip_downloading_lascoC3.py
Owners: @sunpy/documentation-gallery

cache version
  .circleci/config.yml
Owners: none

more sample data debugging
  .circleci/config.yml
Owners: none

fix lasco again
  examples/acquiring_data/skip_downloading_lascoC3.py
Owners: @sunpy/documentation-gallery

try this
  .circleci/config.yml
Owners: none

cache version
  .circleci/config.yml
Owners: none

new tox-pypi-filter
  tox.ini
Owners: none

try this
  .circleci/config.yml
Owners: none

More arguments with cache
  .circleci/config.yml
Owners: none

More arguments with cache
  .circleci/config.yml
Owners: none

Update tox-pypi-filter
  tox.ini
Owners: none

Update tox-pypi-filter
  tox.ini
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
