Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Added robots.txt to exclude all but stable and latest
  docs/conf.py
  docs/robots.txt
Owners: none

Added robots.txt to exclude all but stable and latest
  docs/conf.py
  docs/robots.txt
Owners: none

Apply suggestions from code review
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Apply suggestions from code review
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Apply suggestions from code review
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/4443.feature.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  changelog/4443.feature.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Merge pull request #4647 from nabobalis/robots
  docs/conf.py
  docs/robots.txt
Owners: none

Update minimum dependencies listed in docs
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Update minimum dependencies listed in docs
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

added check for obstime and incl some tests
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

added check for obstime and incl some tests
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

incl Time import in test
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

incl Time import in test
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

Add missing MDISynopticMap to docs
  sunpy/map/sources/__init__.py
Owners: @sunpy/map

Add missing MDISynopticMap to docs
  sunpy/map/sources/__init__.py
Owners: @sunpy/map

Apply suggestions from code review
  changelog/4443.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  changelog/4443.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Update sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

Update sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/tests/test_utils.py
Owners: @sunpy/coordinates

adding test files for new goes timeseries
  sunpy/data/test/goes_truncated_test_goes15.nc
  sunpy/data/test/goes_truncated_test_goes16.nc
Owners: none

adding test files for new goes timeseries
  sunpy/data/test/goes_truncated_test_goes15.nc
  sunpy/data/test/goes_truncated_test_goes16.nc
Owners: none

adding tests and updating how time index is parsed
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Owners: @sunpy/timeseries

adding tests and updating how time index is parsed
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Owners: @sunpy/timeseries

fixing exception issue
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

fixing exception issue
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

updating to address code review comments
  sunpy/io/file_tools.py
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/io, @sunpy/timeseries

updating to address code review comments
  sunpy/io/file_tools.py
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/io, @sunpy/timeseries

updating to reflect review comments
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

adding in Alberts comment
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Adding an example using creating a Map from observations in RA-DEC (#4236)
  changelog/4236.doc.rst
  examples/units_and_coordinates/radec_to_hpc_map.py
  sunpy/data/_sample.py
Owners: @sunpy/documentation-gallery

Adding an example using creating a Map from observations in RA-DEC (#4236)
  changelog/4236.doc.rst
  examples/units_and_coordinates/radec_to_hpc_map.py
  sunpy/data/_sample.py
Owners: @sunpy/documentation-gallery

Fix extern.parse logging bug
  sunpy/__init__.py
  sunpy/extern/parse.py
Owners: none

Fix extern.parse logging bug
  sunpy/__init__.py
  sunpy/extern/parse.py
Owners: none

Add some HTTP 429 backoff code in scraper
  sunpy/util/scraper.py
Owners: none

Add some HTTP 429 backoff code in scraper
  sunpy/util/scraper.py
Owners: none

Remove .rsun and .heliographic_observer from examples
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/arrayanimatorwcs.py
Owners: @sunpy/documentation-gallery

Remove .rsun and .heliographic_observer from examples
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/arrayanimatorwcs.py
Owners: @sunpy/documentation-gallery

Added context manager to interpret HPC coordinates as on the inside of a spherical screen
  changelog/4003.feature.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Added context manager to interpret HPC coordinates as on the inside of a spherical screen
  changelog/4003.feature.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates
