Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Added a spherical-screen gallery example
  examples/map_transformations/reprojection_spherical_screen.py
  sunpy/coordinates/frames.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates

Added a spherical-screen gallery example
  examples/map_transformations/reprojection_spherical_screen.py
  sunpy/coordinates/frames.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates

update min astropy version
  setup.cfg
Owners: none

updated docs
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

update min astropy version (#4658)
  docs/guide/installation/index.rst
  setup.cfg
Owners: @sunpy/documentation-user

update min astropy version (#4658)
  docs/guide/installation/index.rst
  setup.cfg
Owners: @sunpy/documentation-user

updating from comments
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

updating from comments
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

updating doc string
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

updating doc string
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

Allow the observer designation of 'self' for a HeliographicCarrington coordinate
  changelog/4659.feature.rst
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

Allow the observer designation of 'self' for a HeliographicCarrington coordinate
  changelog/4659.feature.rst
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

small edit to text
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

small edit to text
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

small edit to text
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Small edit to radio ra-dec example (#4661)
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Small edit to radio ra-dec example (#4661)
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

Fixed HGC loopback when one end has observer='self'
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fixed HGC loopback when one end has observer='self'
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

guide and doc fixes
  docs/guide/acquiring_data/hek.rst
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/helio/hec.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

guide and doc fixes
  docs/guide/acquiring_data/hek.rst
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/helio/hec.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

Fixed a bug in our time frame attribute with huge performance implications
  changelog/4663.bugfix.rst
  sunpy/coordinates/frameattributes.py
Owners: @sunpy/coordinates

Fixed a bug in our time frame attribute with huge performance implications
  changelog/4663.bugfix.rst
  sunpy/coordinates/frameattributes.py
Owners: @sunpy/coordinates

Fixed a bug in our time frame attribute with huge performance implications
  changelog/4663.bugfix.rst
  sunpy/coordinates/frameattributes.py
Owners: @sunpy/coordinates

update email
  docs/conf.py
Owners: none

update email
  docs/conf.py
Owners: none

cleaning up with function added
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

cleaning up with function added
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

tidying up
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

tidying up
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

fixing format input
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

fixing format input
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

incl. sat number keyword
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

incl. sat number keyword
  examples/time_series/timeseriesmetadata_example.py
Owners: @sunpy/documentation-gallery

adding rhessi mission definied colortable
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/rhessi.csv
Owners: @sunpy/visualization

incl std_gamma2 colortable aswell
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/rhessi2.csv
Owners: @sunpy/visualization

Added offline hypothesis tests to the tox online build and show hypothesis statistics
  tox.ini
Owners: none

Added offline hypothesis tests to the tox online build and show hypothesis statistics
  tox.ini
Owners: none

Fixed the WCS->frame mapping when the observer location is given in HGC coordinates
  changelog/4669.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

Fixed the WCS->frame mapping when the observer location is given in HGC coordinates
  changelog/4669.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates
