Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Fix doc link
  changelog/5069.bugfix.rst
Owners: none

Fix doc link
  changelog/5069.bugfix.rst
Owners: none

Fix doc link
  changelog/5069.bugfix.rst
Owners: none

Linting errors fixed
  changelog/5072.doc.rst
  examples/acquiring_data/scraping_data.py
Owners: @sunpy/documentation-gallery

modified: plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

Removed comversion and added warning
  changelog/5051.bugfix.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Removed comversion and added warning
  changelog/5051.bugfix.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

removed test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

removed test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

fix docbuild
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

fix docbuild
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

fix docbuild
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

added changelog
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

new file: changelog/5077.doc.rst
  changelog/5077.doc.rst
Owners: none

Fix bug where DataManager breaks on deleting db file
  sunpy/data/data_manager/storage.py
Owners: none

Fix bug where DataManager breaks on deleting db file
  sunpy/data/data_manager/storage.py
Owners: none

Fix bug where DataManager breaks on deleting db file
  sunpy/data/data_manager/storage.py
Owners: none

corrected pipeline mistakes
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

two stages
  azure-pipelines.yml
Owners: none

Add test for deleting sqlite db file
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add test for deleting sqlite db file
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add test for deleting sqlite db file
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add new pytest.fixture for test_delete_db
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add new pytest.fixture for test_delete_db
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add new pytest.fixture for test_delete_db
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add changelog
  changelog/5089.bugfix.rst
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add changelog
  changelog/5089.bugfix.rst
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add changelog
  changelog/5089.bugfix.rst
  sunpy/data/data_manager/tests/test_manager.py
Owners: none

Add newline at EOF
  changelog/5089.bugfix.rst
Owners: none

Add newline at EOF
  changelog/5089.bugfix.rst
Owners: none

Add newline at EOF
  changelog/5089.bugfix.rst
Owners: none

Update changelog/5089.bugfix.rst
  changelog/5089.bugfix.rst
Owners: none

Update changelog/5089.bugfix.rst
  changelog/5089.bugfix.rst
Owners: none

Update changelog/5089.bugfix.rst
  changelog/5089.bugfix.rst
Owners: none

fixed flake8 issues
  CITATION.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

modified: changelog/5077.doc.rst modified: examples/plotting/plotting_blank_map.py
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

Refactored RotatedSunFrame transformations
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Refactored RotatedSunFrame transformations
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Refactored RotatedSunFrame transformations
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates

Refactored RotatedSunFrame transformations
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Owners: @sunpy/coordinates
