Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Added an example for drawing rectangles on maps (#4528)
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Owners: @sunpy/documentation-gallery

whatsnew 3.0
  docs/whatsnew/3.0.rst
  docs/whatsnew/index.rst
Owners: none

style fixes
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/visualization

Update changelog post release (#5028)
  CHANGELOG.rst
Owners: none

Update test_mapsequence.py
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/visualization

MDI synoptic map does not need crder
  sunpy/map/sources/soho.py
Owners: @sunpy/map

added support to more than one registry url for hec
  sunpy/net/helio/parser.py
  sunpy/net/helio/registry_links.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Update test_mapsequence.py
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/visualization

added tests for map sequence animator
  sunpy/visualization/animator/tests/test_mapsequence.py
Owners: @sunpy/visualization

Add regular CI to run ASV for new commits and benchmarks (#4975)
  .github/workflows/asv-regular.yml
  benchmarks/benchmarks_for_is_time.py
Owners: none

Fix scraper issue with Windows and URL path separation (#5022)
  changelog/5022.bugfix.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: none

undid change in setup to run figure tests locally
  setup.cfg
Owners: none

added tests for map_sequence animator and test for plot
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/visualization/animator/tests/test_mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

codestyle
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

changelog and .json fix
  changelog/5125.trivial.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

codestyle fix, tests should pass
  changelog/5125.trivial.rst
Owners: none

used AIA_171_IMAGE instead of ROLL_IMAGE
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

used AIA_171_IMAGE instead of ROLL_IMAGE
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

used AIA_171_IMAGE instead of ROLL_IMAGE
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update changelog/5125.trivial.rst
  changelog/5125.trivial.rst
Owners: none

removed RotatedSunFrame and added np operations
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed RotatedSunFrame and added np operations
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed RotatedSunFrame and added np operations
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle smh
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle smh
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle smh
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Update sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

added tests for map_sequence animator and test for plot (#5125)
  changelog/5125.trivial.rst
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

added tests for map_sequence animator and test for plot (#5125)
  changelog/5125.trivial.rst
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

added print
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added print
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added print
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Transformations check for time equality in TAI to be more robust
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Transformations check for time equality in TAI to be more robust
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Transformations check for time equality in TAI to be more robust
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Merge pull request #5127 from ayshih/times_are_equal
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Converted time results from HEK Client to Astropy Time
  sunpy/net/hek/hek.py
Owners: @sunpy/net

added changelog
  changelog/5131.feature.rst
Owners: none

Added rigid rotation model to diff_rot()
  sunpy/physics/differential_rotation.py
Owners: @sunpy/physics

[2.0] Backport of #5127 (#5130)
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
