Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Add another clearer hash error message
  sunpy/data/data_manager/manager.py
Owners: none

Add another clearer hash error message
  sunpy/data/data_manager/manager.py
Owners: none

Add another clearer hash error message
  sunpy/data/data_manager/manager.py
Owners: none

Dedicated test
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

More targeted testing
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

More fine grain
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Even more fine grain
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Trying to make a minimal example
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

adjustments
  azure-pipelines.yml
  sunpy/image/tests/test_transform.py
  tox.ini
Owners: @sunpy/image

Various updates, including trying out a single-thread OpenBLAS
  azure-pipelines.yml
  sunpy/image/tests/test_transform.py
  tox.ini
Owners: @sunpy/image

Switched from OPENBLAS_NUM_THREADS to OMP_NUM_THREADS because we have OpenMP OpenBLAS
  tox.ini
Owners: none

whoops
  tox.ini
Owners: none

sigh
  tox.ini
Owners: none

ah
  tox.ini
Owners: none

one more build
  azure-pipelines.yml
Owners: none

try n=0 instead of n=1
  azure-pipelines.yml
Owners: none

build changes
  azure-pipelines.yml
  tox.ini
Owners: none

Fix MapSequence doc
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Fix MapSequence doc
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Fix MapSequence doc
  sunpy/map/mapsequence.py
Owners: @sunpy/map

Improve missing observer transformation errors
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Improve missing observer transformation errors
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Improve missing observer transformation errors
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Try to get the minimal example to fail
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

More minimal minimal example
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Transition doc build to RTD
  .circleci/config.yml
  readthedocs.yml
Owners: none

Transition doc build to RTD
  .circleci/config.yml
  readthedocs.yml
Owners: none

Attempt to mitigate virtualenv bug.
  .circleci/config.yml
Owners: none

Attempt to mitigate virtualenv bug.
  .circleci/config.yml
Owners: none

Move data manger example to a gallery folder
  docs/conf.py
  examples/developer_tools/README.txt
  examples/developer_tools/remote_data_manager.py
Owners: @sunpy/documentation-gallery

Move data manger example to a gallery folder
  docs/conf.py
  examples/developer_tools/README.txt
  examples/developer_tools/remote_data_manager.py
Owners: @sunpy/documentation-gallery

Move data manger example to a gallery folder
  docs/conf.py
  examples/developer_tools/README.txt
  examples/developer_tools/remote_data_manager.py
Owners: @sunpy/documentation-gallery

Try builds on macOS 10.14 as well
  azure-pipelines.yml
  run-tox-env.yml
Owners: none

oops
  azure-pipelines.yml
Owners: none

Change the friendly name of the Azure jobs
  run-tox-env.yml
Owners: none

minimal example changes
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Fix friendly name
  run-tox-env.yml
Owners: none

add importlib_metadata as python<3.8 core dep
  .circleci/config.yml
  setup.cfg
Owners: none

add importlib_metadata as python<3.8 core dep
  .circleci/config.yml
  setup.cfg
Owners: none

comment out
  sunpy/timeseries/sources/eve.py
Owners: @sunpy/timeseries
