Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

astropy units import missed in exmaple
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

astropy units import missed in exmaple
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

astropy units import missed in exmaple
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

Optimised vso's response_block_properties method
  changelog/3993.bugfix.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Optimised vso's response_block_properties method
  changelog/3993.bugfix.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Optimised vso's response_block_properties method
  changelog/3993.bugfix.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

disable ssl
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

disable ssl
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

disable ssl
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Add changes to pixels what's new
  docs/whatsnew/2.0.rst
Owners: none

Add changes to pixels what's new
  docs/whatsnew/2.0.rst
Owners: none

Add fitswcs note
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

Add whatsnew to index
  docs/whatsnew/index.rst
Owners: none

Add fitswcs note
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

added everything to the whatsnew from the issue that had text
  docs/guide/acquiring_data/fido.rst
  docs/whatsnew/2.0.rst
Owners: @sunpy/documentation-user

Add whatsnew to index
  docs/whatsnew/index.rst
Owners: none

added everything to the whatsnew from the issue that had text
  docs/guide/acquiring_data/fido.rst
  docs/whatsnew/2.0.rst
Owners: @sunpy/documentation-user

Ensure that SunpyDeprecationWarnings are raised as errors in the test suite
  setup.cfg
  sunpy/conftest.py
Owners: none

Ensure that SunpyDeprecationWarnings are raised as errors in the test suite
  setup.cfg
  sunpy/conftest.py
Owners: none

Ensure that SunpyDeprecationWarnings are raised as errors in the test suite
  setup.cfg
  sunpy/conftest.py
Owners: none

Fix deprecation warnings in test suite
  sunpy/image/tests/test_coalignment.py
  sunpy/instr/tests/test_aia.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/image, @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/physics

Fix deprecation warnings in test suite
  sunpy/image/tests/test_coalignment.py
  sunpy/instr/tests/test_aia.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/image, @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/physics

Fix deprecation warnings in test suite
  sunpy/image/tests/test_coalignment.py
  sunpy/instr/tests/test_aia.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/image, @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/physics

Update all gallery examples for submap and draw_rectangle
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/submaps_and_cropping.py
  examples/plotting/finegrained_plot.py
  examples/plotting/wcsaxes_map_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/venus_transit.py
Owners: @sunpy/documentation-gallery

Update all gallery examples for submap and draw_rectangle
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/submaps_and_cropping.py
  examples/plotting/finegrained_plot.py
  examples/plotting/wcsaxes_map_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/venus_transit.py
Owners: @sunpy/documentation-gallery

Update all gallery examples for submap and draw_rectangle
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/submaps_and_cropping.py
  examples/plotting/finegrained_plot.py
  examples/plotting/wcsaxes_map_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/venus_transit.py
Owners: @sunpy/documentation-gallery

Reorder and add submap section
  docs/whatsnew/2.0.rst
Owners: none

Reorder and add submap section
  docs/whatsnew/2.0.rst
Owners: none

Fix y-pixel ordering in submap
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix y-pixel ordering in submap
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix y-pixel ordering in submap
  sunpy/map/mapbase.py
Owners: @sunpy/map

Transforming a SunPy frame to a class now preserves shared frame attributes
  changelog/4257.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_transformations.py
Owners: @sunpy/coordinates

fixing sample
  sunpy/data/_sample.py
Owners: none

Fixed the observer frame attribute to always use SkyCoord-style transformation
  changelog/4266.bugfix.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/tests/test_frameattributes.py
Owners: @sunpy/coordinates

Fixed the observer frame attribute to always use SkyCoord-style transformation
  changelog/4266.bugfix.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/tests/test_frameattributes.py
Owners: @sunpy/coordinates

Fixed the observer frame attribute to always use SkyCoord-style transformation
  changelog/4266.bugfix.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/tests/test_frameattributes.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

Apply suggestions from code review
  docs/whatsnew/2.0.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
