Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

codestyle......
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle......
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

codestyle......
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

Added rigid rotation model to diff_rot() (#5132)
  changelog/5132.feature.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Added rigid rotation model to diff_rot() (#5132)
  changelog/5132.feature.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Raise warning in GenericMap.rotate() if `missing` is incompatible with the data array (#5051)
  changelog/5051.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Raise warning in GenericMap.rotate() if `missing` is incompatible with the data array (#5051)
  changelog/5051.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Raise warning in GenericMap.rotate() if `missing` is incompatible with the data array (#5051)
  changelog/5051.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

re-ordered positional arguments of def_rectangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

re-ordered positional arguments of def_rectangle
  sunpy/map/mapbase.py
Owners: @sunpy/map

added changelog
  changelog/5091.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

added changelog
  changelog/5091.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

Show the inherited attributes/methods in the docs for Map subclasses
  changelog/5142.doc.rst
  docs/code_ref/map.rst
Owners: @sunpy/map

Show the inherited attributes/methods in the docs for Map subclasses
  changelog/5142.doc.rst
  docs/code_ref/map.rst
Owners: @sunpy/map

Show the inherited attributes/methods in the docs for Map subclasses
  changelog/5142.doc.rst
  docs/code_ref/map.rst
Owners: @sunpy/map

modified: examples/plotting/plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

modified: examples/plotting/plotting_blank_map.py
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

removed logical_not
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed logical_not
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed logical_not
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

added example of plotting positions on blank maps (#5077)
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

added example of plotting positions on blank maps (#5077)
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

Show the inherited attributes/methods in the docs for Map subclasses (#5142)
  changelog/5142.doc.rst
  docs/code_ref/map.rst
Owners: @sunpy/map

Show the inherited attributes/methods in the docs for Map subclasses (#5142)
  changelog/5142.doc.rst
  docs/code_ref/map.rst
Owners: @sunpy/map

added example of plotting positions on blank maps (#5077)
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

added example of plotting positions on blank maps (#5077)
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Owners: @sunpy/documentation-gallery

save method for MapSequence
  sunpy/map/mapsequence.py
Owners: @sunpy/map

codestyle and changelog
  changelog/5145.feature.rst
Owners: none

codestyle wew
  sunpy/map/mapsequence.py
Owners: @sunpy/map

removed multiplication and added ~np.logical_or
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed multiplication and added ~np.logical_or
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

removed multiplication and added ~np.logical_or
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

hoping this is the last change, used np.isnan instead
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

hoping this is the last change, used np.isnan instead
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

hoping this is the last change, used np.isnan instead
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

less linebreaks
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

less linebreaks
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

less linebreaks
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

even lesser line breaks
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery

even lesser line breaks
  examples/map/map_segment.py
Owners: @sunpy/documentation-gallery
