Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Release v1.0.9
  CHANGELOG.rst
Owners: none

Update docs/dev_guide/documentation.rst
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/documentation.rst
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Apply suggestions from code review
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

Apply suggestions from code review
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

str pathib for gallery
  docs/conf.py
Owners: none

str pathib for gallery
  docs/conf.py
Owners: none

RTD use more pip over conda packages
  .rtd-environment.yml
Owners: none

RTD use more pip over conda packages
  .rtd-environment.yml
Owners: none

allowed failed doc builds to get to the end
  tox.ini
Owners: none

allowed failed doc builds to get to the end
  tox.ini
Owners: none

unskip three example
  examples/acquiring_data/downloading_lascoC3.py
  examples/plotting/solar_cycle_example.py
  examples/time_series/goes_hek_m25.py
Owners: @sunpy/documentation-gallery

unskip three example
  examples/acquiring_data/downloading_lascoC3.py
  examples/plotting/solar_cycle_example.py
  examples/time_series/goes_hek_m25.py
Owners: @sunpy/documentation-gallery

Updated compositemap.py plot() with the linewidths argument
  changelog/3792.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_py37.json
Owners: @sunpy/map

Updated compositemap.py plot() with the linewidths argument
  changelog/3792.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_py37.json
Owners: @sunpy/map

changes to fix tests
  changelog/3792.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: @sunpy/map

changes to fix tests
  changelog/3792.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Owners: @sunpy/map

ignore but print if version.py is not found
  sunpy/__init__.py
Owners: none

ignore but print if version.py is not found
  sunpy/__init__.py
Owners: none

unskip again
  .circleci/config.yml
  tox.ini
Owners: none

unskip again
  .circleci/config.yml
  tox.ini
Owners: none

skip again
  docs/conf.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/plotting/skip_solar_cycle_example.py
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/skip_reprojection_heliographic_stonyhurst.py
  examples/time_series/skip_timeseriesmetadata_example.py
  examples/units_and_coordinates/skip_AIA_limb_STEREO.py
  examples/units_and_coordinates/skip_SDO_to_STEREO_Coordinate_Conversion.py
  setup.cfg
  sunpy/util/config.py
  tox.ini
Owners: @sunpy/documentation-gallery

skip again
  docs/conf.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/plotting/skip_solar_cycle_example.py
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/skip_reprojection_heliographic_stonyhurst.py
  examples/time_series/skip_timeseriesmetadata_example.py
  examples/units_and_coordinates/skip_AIA_limb_STEREO.py
  examples/units_and_coordinates/skip_SDO_to_STEREO_Coordinate_Conversion.py
  setup.cfg
  sunpy/util/config.py
  tox.ini
Owners: @sunpy/documentation-gallery

pin astropy version for reproject
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/sunpy_other_packages/reprojection_heliographic_stonyhurst.py
  setup.cfg
  tox.ini
Owners: @sunpy/documentation-gallery

pin astropy version for reproject
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/sunpy_other_packages/reprojection_heliographic_stonyhurst.py
  setup.cfg
  tox.ini
Owners: @sunpy/documentation-gallery

skip again
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

skip again
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

sample data work around
  sunpy/data/_sample.py
  tox.ini
Owners: none

sample data work around
  sunpy/data/_sample.py
  tox.ini
Owners: none

circle config updates
  .circleci/config.yml
Owners: none

circle config updates
  .circleci/config.yml
Owners: none

Update sunpy/__init__.py
  sunpy/__init__.py
Owners: none

Update sunpy/__init__.py
  sunpy/__init__.py
Owners: none

Move oldtestdep astropy pin from 3.1 to 3.2
  tox.ini
Owners: none

Document that Astropy 3.2 is now the minimum required version
  changelog/3936.breaking.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

Document that Astropy 3.2 is now the minimum required version
  changelog/3936.breaking.rst
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

Update sunpy/map/compositemap.py
  sunpy/map/compositemap.py
Owners: @sunpy/map

Update sunpy/map/compositemap.py
  sunpy/map/compositemap.py
Owners: @sunpy/map

Catch no WCS axes warnings
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Catch no WCS axes warnings
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map
