Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Merge pull request #3838 from sashank27/issue#2631
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

bad backport
  sunpy/net/hek/hek.py
Owners: @sunpy/net

bad backport
  sunpy/net/hek/hek.py
Owners: @sunpy/net

Switch get_horizons_coord to use HeliocentricEclipticIAU76
  changelog/3919.bugfix.rst
  setup.cfg
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  tox.ini
Owners: @sunpy/coordinates

Switch get_horizons_coord to use HeliocentricEclipticIAU76
  changelog/3919.bugfix.rst
  setup.cfg
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  tox.ini
Owners: @sunpy/coordinates

Update docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

Update docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

update text and changelog
  changelog/3856.doc.rst
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

update text and changelog
  changelog/3856.doc.rst
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

update the docs
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

update the docs
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

bad backport again
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

bad backport again
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Merge pull request #3852 from sashank27/issue#2781
  changelog/3852.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

bad backport again again
  setup.cfg
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Merge pull request #3917 from nabobalis/master
  .circleci/config.yml
  azure-pipelines.yml
  changelog/3917.bugfix.rst
  docs/conf.py
  sunpy/net/hek/hek.py
Owners: @sunpy/net

Merge pull request #3852 from sashank27/issue#2781
  changelog/3852.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

bad backport again again
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Merge pull request #3917 from nabobalis/master
  .circleci/config.yml
  azure-pipelines.yml
  changelog/3917.bugfix.rst
  docs/conf.py
  sunpy/net/hek/hek.py
Owners: @sunpy/net

last online test
  sunpy/database/tests/test_attrs.py
Owners: @sunpy/database

Update test_attrs.py
  sunpy/database/tests/test_attrs.py
Owners: @sunpy/database

Apply suggestions from code review
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Apply suggestions from code review
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Release v1.0.9
  CHANGELOG.rst
  changelog/3804.trivial.rst
  changelog/3825.bugfix.rst
  changelog/3835.doc.rst
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  changelog/3852.bugfix.rst
  changelog/3866.doc.rst
  changelog/3867.bugfix.rst
  changelog/3872.bugfix.rst
  changelog/3886.bugfix.rst
  changelog/3899.bugfix.rst
  changelog/3917.bugfix.rst
Owners: none

Skip the problematic VSO doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Skip the problematic VSO doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Fix warnings in sunpy.coordinates
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fix warnings in sunpy.coordinates
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fix astropy truth value warning in coordinates.utils
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Fix astropy truth value warning in coordinates.utils
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Bump astropy version in figure tests
  tox.ini
Owners: none

Bump astropy version in figure tests
  tox.ini
Owners: none

changelog
  changelog/3925.trivial.rst
Owners: none

changelog
  changelog/3925.trivial.rst
Owners: none

Skip the problematic VSO doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

actually fix conflicts
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Skip the problematic VSO doctest
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Backport of #3923 to 1.0 (#3926)
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Skip the problematic VSO doctest (#3927)
  docs/guide/acquiring_data/fido.rst
Owners: @sunpy/documentation-user

Release v1.1.2
  CHANGELOG.rst
  changelog/3804.trivial.rst
  changelog/3825.bugfix.rst
  changelog/3835.doc.rst
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  changelog/3852.bugfix.rst
  changelog/3866.doc.rst
  changelog/3867.bugfix.rst
  changelog/3872.bugfix.rst
  changelog/3886.bugfix.rst
  changelog/3899.bugfix.rst
  changelog/3917.bugfix.rst
Owners: none
