Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Add changelog entry for PR #4129
  changelog/4129.feature.rst
Owners: none

Maintain coherence between keys and keycomments in `MetaDict`
  sunpy/util/metadata.py
  sunpy/util/tests/test_metadata.py
Owners: none

Add changelog entry for PR #4129
  changelog/4129.feature.rst
Owners: none

changelog
  changelog/4350.breaking.rst
Owners: none

changelog
  changelog/4350.breaking.rst
Owners: none

codestyle
  sunpy/util/tests/test_metadata.py
Owners: none

codestyle
  sunpy/util/tests/test_metadata.py
Owners: none

Fix the component names in the Helioprojective docstring
  changelog/4351.trivial.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Fix the component names in the Helioprojective docstring
  changelog/4351.trivial.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Fix the component names in the Helioprojective docstring
  changelog/4351.trivial.rst
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Apply suggestions from code review
  changelog/4350.breaking.rst
Owners: none

Apply suggestions from code review
  changelog/4350.breaking.rst
Owners: none

Fix goes warnings
  sunpy/instr/goes.py
  sunpy/instr/tests/test_goes.py
Owners: @sunpy/instr

Some more goes .data > to_dataframe()
  sunpy/instr/tests/test_goes.py
Owners: @sunpy/instr

Fix GOES test
  sunpy/instr/tests/test_goes.py
Owners: @sunpy/instr

Fix matplotlib deprecation warning
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix jsoc warnings
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix JSOC syntax errors
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix quantity comparison in header_helper
  sunpy/map/header_helper.py
Owners: @sunpy/map

Make sure all figures are closed in in figure tests
  sunpy/tests/helpers.py
Owners: none

Fix pandas deprecation warning
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_lyra.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/instr, @sunpy/timeseries

Use non-deprecated importlib
  sunpy/tests/tests/test_self_test.py
Owners: none

Add colormap comment
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix import order
  sunpy/tests/tests/test_self_test.py
Owners: none

Fix some GOES warnings (#4353)
  sunpy/instr/goes.py
  sunpy/instr/tests/test_goes.py
Owners: @sunpy/instr

Fix some GOES warnings (#4353)
  sunpy/instr/goes.py
  sunpy/instr/tests/test_goes.py
Owners: @sunpy/instr

Fix various depreaction warnings (#4354)
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_lyra.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/net/jsoc/jsoc.py
  sunpy/tests/helpers.py
  sunpy/tests/tests/test_self_test.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/timeseries

Fix various depreaction warnings (#4354)
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_lyra.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/net/jsoc/jsoc.py
  sunpy/tests/helpers.py
  sunpy/tests/tests/test_self_test.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/timeseries

Filter out memory warning
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Filter WCS warning
  sunpy/visualization/animator/tests/test_wcs.py
Owners: @sunpy/visualization

Add context for ICRS warning
  sunpy/visualization/animator/tests/test_wcs.py
Owners: @sunpy/visualization

Fix dataretreiver warnings
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
Owners: @sunpy/net

Filter ADSF deprecation warnings
  setup.cfg
Owners: none

Filter out ASDF warning
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
Owners: @sunpy/io

Ignore hypothesis warning
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Fix hypothesis warnings
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
Owners: @sunpy/coordinates, @sunpy/net

Fix hypothesis warning in test-goes-ud.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

Ignore parfive deprecation warning
  setup.cfg
Owners: none

Remove fixture from test_can_handle_query
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
Owners: @sunpy/net

Fix map_factory test warnings
  sunpy/map/tests/test_map_factory.py
Owners: @sunpy/map
