Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: none

Improve warning when date-obs keyword not present
  sunpy/map/mapbase.py
Owners: @sunpy/map

Improve warning when date-obs keyword not present
  sunpy/map/mapbase.py
Owners: @sunpy/map

fix changelog
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

fix changelog
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix changelog; Remove email from tests
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix changelog; Remove email from tests
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix changelog; Remove email from tests
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fix changelog; Remove email from tests
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Update changelog/3825.bugfix.rst
  changelog/3825.bugfix.rst
Owners: none

Update changelog/3825.bugfix.rst
  changelog/3825.bugfix.rst
Owners: none

Update changelog/3825.bugfix.rst
  changelog/3825.bugfix.rst
Owners: none

Update changelog/3825.bugfix.rst
  changelog/3825.bugfix.rst
Owners: none

Fix differential rotation warnings
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Fix differential rotation warnings
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Fix differential rotation warnings
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Fix differential rotation warnings
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Owners: @sunpy/physics

Adds support for passing custom downloader
  sunpy/net/helioviewer.py
Owners: @sunpy/net

removed duplicate text and added link to file
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

removed duplicate text and added link to file
  docs/dev_guide/maintainer_workflow.rst
Owners: @sunpy/documentation-developer

Adds changelog
  changelog/3862.trivial.rst
Owners: none

Clarify some docs for map.plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Clarify some docs for map.plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Clarify some docs for map.plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Clarify some docs for map.plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Prevent imshow_kwargs being modified in-place by plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Prevent imshow_kwargs being modified in-place by plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Prevent imshow_kwargs being modified in-place by plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Prevent imshow_kwargs being modified in-place by plot()
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/3867.bugfix.rst
Owners: none

Add changelog
  changelog/3867.bugfix.rst
Owners: none

Add changelog
  changelog/3867.bugfix.rst
Owners: none

Add changelog
  changelog/3867.bugfix.rst
Owners: none

Split out VSO exceptions into their own file
  sunpy/net/vso/exceptions.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Split out VSO exceptions into their own file
  sunpy/net/vso/exceptions.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Adds support for stacking downloads
  sunpy/net/helioviewer.py
Owners: @sunpy/net

Removes unnecessary parameters
  sunpy/net/helioviewer.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/net/vso/exceptions.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/net/vso/exceptions.py
Owners: @sunpy/net
