Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

xfail the consistency test with JPL HORIZONS
  changelog/5203.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

xfail the consistency test with JPL HORIZONS
  changelog/5203.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

xfail the consistency test with JPL HORIZONS
  changelog/5203.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Update figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Fix a bunch of net doc links
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Fix changelog links
  CHANGELOG.rst
Owners: none

Fix whatsnew links
  docs/whatsnew/1.0.rst
  docs/whatsnew/1.1.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/2.1.rst
Owners: none

Fix guide links
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/timeseries.rst
Owners: @sunpy/documentation-user

Fix gallery links
  examples/acquiring_data/goes_xrs_example.py
  examples/developer_tools/remote_data_manager.py
  examples/plotting/arrayanimatorwcs.py
  examples/plotting/xy_lims.py
Owners: @sunpy/documentation-gallery

Misc doc link fixes (#5206)
  CHANGELOG.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/timeseries.rst
  docs/whatsnew/1.0.rst
  docs/whatsnew/1.1.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/2.1.rst
  examples/acquiring_data/goes_xrs_example.py
  examples/developer_tools/remote_data_manager.py
  examples/plotting/arrayanimatorwcs.py
  examples/plotting/xy_lims.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/documentation-gallery, @sunpy/net

Move the imports after the Python version check in __init__.py
  setup.cfg
  sunpy/__init__.py
Owners: none

Update .pep8speaks.yml
  .pep8speaks.yml
Owners: none

Update .pep8speaks.yml
  .pep8speaks.yml
Owners: none

Update figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix planet locations example
  examples/units_and_coordinates/planet_locations.py
Owners: @sunpy/documentation-gallery

Fix planet locations example
  examples/units_and_coordinates/planet_locations.py
Owners: @sunpy/documentation-gallery

Fix planet locations example
  examples/units_and_coordinates/planet_locations.py
Owners: @sunpy/documentation-gallery

Fix observer location example
  examples/units_and_coordinates/getting_observer_location.py
Owners: @sunpy/documentation-gallery

Fix observer location example
  examples/units_and_coordinates/getting_observer_location.py
Owners: @sunpy/documentation-gallery

Fix observer location example
  examples/units_and_coordinates/getting_observer_location.py
Owners: @sunpy/documentation-gallery

Remove another plt.polar
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
Owners: @sunpy/documentation-gallery

Remove another plt.polar
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
Owners: @sunpy/documentation-gallery

Remove another plt.polar
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
Owners: @sunpy/documentation-gallery

Fix planet locations example (#5213)
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/units_and_coordinates/getting_observer_location.py
  examples/units_and_coordinates/planet_locations.py
Owners: @sunpy/documentation-gallery

Added missing SunpyUserWarning
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

Added missing SunpyUserWarning
  sunpy/coordinates/wcs_utils.py
Owners: @sunpy/coordinates

save method for MapSequence (#5145)
  changelog/5145.feature.rst
  sunpy/map/mapsequence.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapsequence.py
Owners: @sunpy/map

Added rsun frame attribute to HeliographicStonyhurst and HeliographicCarrington
  changelog/5211.breaking.1.rst
  changelog/5211.breaking.2.rst
  changelog/5211.feature.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/transformations.py
  sunpy/coordinates/wcs_utils.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_header_helper.py
Owners: @sunpy/coordinates, @sunpy/map

Fix documentation
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/code_ref/coordinates/velocities.rst
  docs/code_ref/coordinates/wcs.rst
  docs/guide/units-coordinates.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/transformations.py
  sunpy/map/mapbase.py
  sunpy/physics/differential_rotation.py
Owners: @sunpy/documentation-user, @sunpy/coordinates, @sunpy/map, @sunpy/physics

Updated versions of ASDF schemas
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_carrington-1.2.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_stonyhurst-1.1.0.yaml
  sunpy/io/special/asdf/tags/coordinates/frames.py
Owners: @sunpy/io

Modify GenericMap.draw_grid to be obstime-aware and rsun-aware
  changelog/5211.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/map, @sunpy/visualization

Documentation updates to address comments
  changelog/5211.feature.rst
  changelog/5211.trivial.rst
  sunpy/coordinates/frames.py
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentric-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/helioprojective-1.0.0.yaml
Owners: @sunpy/coordinates, @sunpy/io

Relaxed a WCSAxes tolerance to work around disappearing lines in a grid overlay
  changelog/5222.bugfix.rst
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/wcsaxes_compat.py
Owners: @sunpy/visualization

Add a _check_axes helper method to GenericMap
  changelog/5223.trivial.rst
  sunpy/map/mapbase.py
Owners: @sunpy/map

PyInstaller Support for SunPy
  .gitignore
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  tox.ini
Owners: none

codestyle changes
  .gitignore
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  tox.ini
Owners: none

changelog added
  changelog/5224.feature.rst
Owners: none

changed a few comments
  tox.ini
Owners: none

Replaced commas with '&' in fido.search(arg1, arg2) in documents
  docs/code_ref/net.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/tour.rst
  docs/whatsnew/0.8.rst
  docs/whatsnew/0.9.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/2.1.rst
Owners: @sunpy/net, @sunpy/documentation-user
