Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

adding cases when fits.gz
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

adding cases when fits.gz
  sunpy/timeseries/sources/goes.py
Owners: @sunpy/timeseries

Initial implementation of hash based tests with pytest-mpl
  setup.cfg
  sunpy/conftest.py
  sunpy/tests/hash.py
  sunpy/tests/helpers.py
  tox.ini
Owners: none

Add pytest-mpl to deps to keep all the other builds happy
  setup.cfg
  tox.ini
Owners: none

Initial implementation of hash based tests with pytest-mpl
  setup.cfg
  sunpy/conftest.py
  sunpy/tests/hash.py
  sunpy/tests/helpers.py
  tox.ini
Owners: none

Add pytest-mpl to deps to keep all the other builds happy
  setup.cfg
  tox.ini
Owners: none

Allow config warnings through
  setup.cfg
Owners: none

Allow config warnings through
  setup.cfg
Owners: none

Parmatrise wcs_frame_mapping tests
  sunpy/coordinates/tests/test_wcs_utils.py
Owners: @sunpy/coordinates

Parmatrise wcs_frame_mapping tests
  sunpy/coordinates/tests/test_wcs_utils.py
Owners: @sunpy/coordinates

Implement deployment to figure repo
  .circleci/config.yml
  sunpy/tests/helpers.py
  tox.ini
Owners: none

add changelog
  changelog/4605.removal.rst
Owners: none

Implement deployment to figure repo
  .circleci/config.yml
  sunpy/tests/helpers.py
  tox.ini
Owners: none

add changelog
  changelog/4605.removal.rst
Owners: none

milestone and contrib guide update
  docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/newcomers.rst
  docs/dev_guide/pr_review_procedure.rst
  pyproject.toml
Owners: @sunpy/documentation-developer

milestone and contrib guide update
  docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/newcomers.rst
  docs/dev_guide/pr_review_procedure.rst
  pyproject.toml
Owners: @sunpy/documentation-developer

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Update sunpy/net/attr.py
  sunpy/net/attr.py
Owners: @sunpy/net

Hopefully fix packaging issues
  azure-pipelines.yml
  tox.ini
Owners: none

Hopefully fix packaging issues
  azure-pipelines.yml
  tox.ini
Owners: none

fix online failures in helio
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

fix online failures in helio
  sunpy/net/helio/hec.py
Owners: @sunpy/net

Fixes to the SRSClient (#4600)
  changelog/4600.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

Fixes to the SRSClient (#4600)
  changelog/4600.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

Update sunpy/net/helio/hec.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

Update sunpy/net/helio/hec.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

Update sunpy/net/helio/hec.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

Update sunpy/net/helio/hec.py
  sunpy/net/helio/hec.py
Owners: @sunpy/net

dev scm update
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  setup.cfg
  setup.py
  sunpy/__init__.py
  sunpy/_dev/__init__.py
  sunpy/_dev/scm_version.py
  sunpy/version.py
Owners: none

dev scm update
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  setup.cfg
  setup.py
  sunpy/__init__.py
  sunpy/_dev/__init__.py
  sunpy/_dev/scm_version.py
  sunpy/version.py
Owners: none

CR comments
  setup.cfg
  sunpy/__init__.py
Owners: none

CR comments
  setup.cfg
  sunpy/__init__.py
Owners: none

fix online failures in helio (#4628)
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

fix online failures in helio (#4628)
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Owners: @sunpy/net

Rewrite overplotting SRS active regions example
  examples/plotting/skip_magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

Rewrite overplotting SRS active regions example
  examples/plotting/skip_magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

Rewrite overplotting SRS active regions example
  examples/plotting/skip_magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

Rename the example to not have "skip_" in the name
  examples/plotting/magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

Rename the example to not have "skip_" in the name
  examples/plotting/magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

Rename the example to not have "skip_" in the name
  examples/plotting/magnetogram_active_regions.py
Owners: @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
