Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Remove astropy 3.1 compatibility wrapper for Quantity.to_string
  changelog/4172.trivial.rst
  sunpy/visualization/animator/base.py
Owners: @sunpy/visualization

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update sunpy/map/mapbase.py
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix dumb naming error
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Fix dumb naming error
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Improve docstrings a little
  sunpy/map/mapbase.py
Owners: @sunpy/map

Improve docstrings a little
  sunpy/map/mapbase.py
Owners: @sunpy/map

updated repr for SimpleAttr
  changelog/3637.feature.1.rst
  changelog/3637.feature.2.rst
  changelog/3637.feature.3.rst
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

some basic docs
  docs/code_ref/coordinates/index.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/customization.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/tour.rst
  setup.cfg
  sunpy/net/attrs.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

Apply suggestions from code review
  sunpy/net/attr.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

some basic docs
  docs/code_ref/coordinates/index.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/customization.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/tour.rst
  setup.cfg
  sunpy/net/attrs.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

removed pkeys since it breaks the attr reg and wrap cols and html print
  docs/guide/acquiring_data/fido.rst
  sunpy/net/attr.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/data/attrs.txt
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-user, @sunpy/net

Limit line length for printing clients
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

Fido prints all clients
  changelog/3637.feature.1.rst
  changelog/3637.feature.2.rst
  changelog/3637.feature.3.rst
  examples/plotting/skip_magnetogram_active_regions.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_attrs.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-gallery, @sunpy/net

Update API for register_values
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/net/attr.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Limit line length for printing clients
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/vso/tests/test_vso.py
Owners: @sunpy/net

jsoc and vso have full attrs
  changelog/3637.feature.1.rst
  setup.cfg
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/jsoc/data/__init__.py
  sunpy/net/jsoc/data/attrs.txt
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/vso/data/__init__.py
  sunpy/net/vso/data/attrs.txt
  sunpy/net/vso/vso.py
Owners: @sunpy/net

removed pkeys since it breaks the attr reg and wrap cols and html print
  docs/guide/acquiring_data/fido.rst
  sunpy/net/attr.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/data/attrs.txt
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-user, @sunpy/net

Fido prints all clients
  changelog/3637.feature.1.rst
  changelog/3637.feature.2.rst
  changelog/3637.feature.3.rst
  examples/plotting/skip_magnetogram_active_regions.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_attrs.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-gallery, @sunpy/net

minor test changes
  docs/guide/customization.rst
  sunpy/net/hek/tests/__init__.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/tests/__init__.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/helio/tests/__init__.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/vso/tests/__init__.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/util/tests/test_net.py
Owners: @sunpy/documentation-user, @sunpy/net

updated repr for SimpleAttr
  changelog/3637.feature.1.rst
  changelog/3637.feature.2.rst
  changelog/3637.feature.3.rst
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

jsoc and vso have full attrs
  changelog/3637.feature.1.rst
  setup.cfg
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/jsoc/data/__init__.py
  sunpy/net/jsoc/data/attrs.txt
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/vso/data/__init__.py
  sunpy/net/vso/data/attrs.txt
  sunpy/net/vso/vso.py
Owners: @sunpy/net

minor test changes
  docs/guide/customization.rst
  sunpy/net/hek/tests/__init__.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/tests/__init__.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/helio/tests/__init__.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/vso/tests/__init__.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/util/tests/test_net.py
Owners: @sunpy/documentation-user, @sunpy/net

Clients register attrs and attrs do more things now
  docs/dev_guide/new_objects.rst
  sunpy/data/data_manager/downloader.py
  sunpy/data/data_manager/storage.py
  sunpy/database/tests/test_database.py
  sunpy/instr/goes.py
  sunpy/map/sources/suvi.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/util/scraper.py
  sunpy/visualization/animator/base.py
Owners: @sunpy/documentation-developer, @sunpy/database, @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/timeseries, @sunpy/visualization

Adjust width for html
  docs/guide/acquiring_data/fido.rst
  sunpy/net/attr.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/documentation-user, @sunpy/net

Update API for register_values
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Clients register attrs and attrs do more things now
  docs/dev_guide/new_objects.rst
  sunpy/data/data_manager/downloader.py
  sunpy/data/data_manager/storage.py
  sunpy/database/tests/test_database.py
  sunpy/instr/goes.py
  sunpy/map/sources/suvi.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_attr.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/util/scraper.py
  sunpy/visualization/animator/base.py
Owners: @sunpy/documentation-developer, @sunpy/database, @sunpy/instr, @sunpy/map, @sunpy/net, @sunpy/timeseries, @sunpy/visualization

Adjust width for html
  docs/guide/acquiring_data/fido.rst
  sunpy/net/attr.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_attr.py
Owners: @sunpy/documentation-user, @sunpy/net

Fixes for linear upsampling (#4164)
  changelog/4164.bugfix.rst
  sunpy/image/resample.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/image, @sunpy/map

Fixes for linear upsampling (#4164)
  changelog/4164.bugfix.rst
  sunpy/image/resample.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/image, @sunpy/map

Merge pull request #4081 from Cadair/fix_circle_ci_docs_preview
  docs/conf.py
  tox.ini
Owners: none

Merge pull request #4088 from nabobalis/master
  changelog/4088.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Owners: @sunpy/net

Merge pull request #4098 from dstansby/document-data
  changelog/4098.docfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/searching_vso.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/map/README.txt
  sunpy/map/map_factory.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/map, @sunpy/net, @sunpy/timeseries, @sunpy/documentation-user, @sunpy/documentation-gallery

Update downloading_hmi.py with download change (#4161)
  examples/acquiring_data/skip_downloading_hmi.py
Owners: @sunpy/documentation-gallery

Merge pull request #4162 from sunpy/nabobalis-patch-1
  examples/time_series/skip_timeseries_example.py
Owners: @sunpy/documentation-gallery

Fixes for linear upsampling (#4164)
  changelog/4164.bugfix.rst
  sunpy/image/resample.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/image, @sunpy/map

remove 32bit
  .circleci/config.yml
Owners: none

Merge pull request #4118 from dstansby/header-doc
  sunpy/map/header_helper.py
Owners: @sunpy/map

Merge pull request #4067 from dstansby/header-inplace
  changelog/4067.bugfix.rst
  sunpy/io/fits.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/io, @sunpy/map
