Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Some cleanup of affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Some cleanup of affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Some cleanup of affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Some cleanup of affine-transform tests
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Unskip mosaic example
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
Owners: @sunpy/documentation-gallery

Unskip mosaic example
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
Owners: @sunpy/documentation-gallery

Use already downloaded maps for observer example
  examples/map_transformations/skip_reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Use already downloaded maps for observer example
  examples/map_transformations/skip_reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Unskip different observers example
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Unskip different observers example
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Add approximate spacecraft separation
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Add approximate spacecraft separation
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Fixed resampling bug in a gallery example
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Fixed resampling bug in a gallery example
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Fixed the unintended swap of the AIA and EUVI maps
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Fixed the unintended swap of the AIA and EUVI maps
  examples/map_transformations/reprojection_different_observers.py
Owners: @sunpy/documentation-gallery

Do a little hack for circleci
  docs/conf.py
  tox.ini
Owners: none

Do a little hack for circleci
  docs/conf.py
  tox.ini
Owners: none

Migrated the examples from the RotatedSunFrame tutorial to the gallery
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/conf.py
  examples/differential_rotation/README.txt
  examples/differential_rotation/differentially_rotated_coordinate.py
  examples/differential_rotation/differentially_rotated_gridlines.py
  examples/differential_rotation/reprojected_map.py
  sunpy/coordinates/metaframes.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates

Migrated the examples from the RotatedSunFrame tutorial to the gallery
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/conf.py
  examples/differential_rotation/README.txt
  examples/differential_rotation/differentially_rotated_coordinate.py
  examples/differential_rotation/differentially_rotated_gridlines.py
  examples/differential_rotation/reprojected_map.py
  sunpy/coordinates/metaframes.py
Owners: @sunpy/documentation-gallery, @sunpy/coordinates

oneline to guide
  docs/guide/customization.rst
Owners: @sunpy/documentation-user

oneline to guide
  docs/guide/customization.rst
Owners: @sunpy/documentation-user

Use to_dataframe() in goes.py
  sunpy/instr/goes.py
Owners: @sunpy/instr

Make _observers_are_equal astropy 4.1 compatible
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Make _observers_are_equal astropy 4.1 compatible
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Make _observers_are_equal astropy 4.1 compatible
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Strip out failing unicode so we can load the returned JSON from HEK.
  changelog/4088.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Owners: @sunpy/net

Strip out failing unicode so we can load the returned JSON from HEK.
  changelog/4088.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Owners: @sunpy/net

Fix a doctest to work on multiple versions of Astropy
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Fix a doctest to work on multiple versions of Astropy
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Fix a doctest to work on multiple versions of Astropy
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Fix a doctest to work on multiple versions of Astropy
  docs/guide/units-coordinates.rst
Owners: @sunpy/documentation-user

Make _observers_are_equal astropy 4.1 compatible
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Make _observers_are_equal astropy 4.1 compatible (#4092)
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Use to_dataframe() in goes.py (#4084)
  sunpy/instr/goes.py
Owners: @sunpy/instr

Use to_dataframe() in goes.py (#4084)
  sunpy/instr/goes.py
Owners: @sunpy/instr

Change astropy_ephemeris test fixture scope
  sunpy/coordinates/tests/test_ephemeris.py
Owners: @sunpy/coordinates

Document various variables
  changelog/4098.docfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/map, @sunpy/net, @sunpy/timeseries

Document various variables
  changelog/4098.docfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  sunpy/timeseries/timeseries_factory.py
Owners: @sunpy/map, @sunpy/net, @sunpy/timeseries

Remove obsolete doc rules
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer
