Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Cleaned up style stuff
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

Polishing code.
  sunpy/net/attrs.py
Owners: @sunpy/net

Update bbso to use scraper fixes
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

Docs for FARSIDE.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

styling fixes
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

GONG more or less complete. Tests remain.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

Additional error checking.
  sunpy/net/dataretriever/sources/bbso.py
Owners: @sunpy/net

Tests..more to come.
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Pylint fixes.
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Tests for farside..
  sunpy/net/dataretriever/tests/test_farside.py
Owners: @sunpy/net

Fixed kanzelhohe to the latest updates of fido
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Tests.....
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Add scraper capability to read directories with full path
  sunpy/util/scraper.py
Owners: none

Make class names case-insensitive.
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Style fixes and change assert statements.
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

Exception handling and added comments on wavelength issue.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

phsyobs corrections in gong
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

fixed docstring errors
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

master versionised some files
  sunpy/database/tables.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/clients.py
  sunpy/net/dataretriever/tests/test_norh.py
Owners: @sunpy/database, @sunpy/net

PEP8 and Python 3 tweaks
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_vsm.py
  sunpy/net/tests/strategies.py
Owners: @sunpy/net

Changed according to David's suggestions.
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

Cleaned code and style - now it uses scrapper!
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Remove comments.
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Check precision errors. Tests changed accordingly.
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

Parametrize tests.
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Added comments about wavelength and style fixes.
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

Same old, polishing.
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Remove astropy helpers, pylint fixes, parametrize tests.
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

marked remote_data for pytests
  sunpy/net/dataretriever/tests/test_bbso.py
  sunpy/net/dataretriever/tests/test_gong.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

Fixed wavelength parser to database?
  sunpy/database/tables.py
Owners: @sunpy/database

Fixed Farside tests and moved to gong
  sunpy/net/dataretriever/tests/test_farside.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

updated Fido doctest
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

FARSIDE docs corrected.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

added changelog
  changelog/3763.feature.rst
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

Check for precision errors. Tests changed according.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

updated kanzelhohe tests and doctrings
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Cleaned up to use scraper and fixed tests
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

updated bbso client
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/tests/test_bbso.py
Owners: @sunpy/net

doctest remote labels in clients
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/kanzelhohe.py
Owners: @sunpy/net

removed vso attrs import
  sunpy/net/dataretriever/tests/test_bbso.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net
