Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

added todatetime for comparison
  sunpy/util/scraper.py
Owners: none

Fix changelog; Fix error message
  changelog/4405.feature.rst
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix changelog; Fix error message
  changelog/4405.feature.rst
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

small cleaning up
  sunpy/map/maputils.py
Owners: @sunpy/map

added a test and separated out the helper function
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Fix PEP8 errors
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix PEP8 errors
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Update naxis after map.resample
  sunpy/map/mapbase.py
Owners: @sunpy/map

Update naxis after map.resample
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/4445.bugfix.rst
Owners: none

Add changelog
  changelog/4445.bugfix.rst
Owners: none

reply to review
  sunpy/map/maputils.py
Owners: @sunpy/map

unpacking
  sunpy/map/maputils.py
Owners: @sunpy/map

Add tests for naxis metadata in genericmap.resample
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add tests for naxis metadata in genericmap.resample
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Pep8 issues
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Pep8 issues
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Update changelog/4445.bugfix.rst
  changelog/4445.bugfix.rst
Owners: none

Update changelog/4445.bugfix.rst
  changelog/4445.bugfix.rst
Owners: none

Fix docstring
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Fix docstring
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Add some missing bits to the API docs
  docs/code_ref/data.rst
  docs/code_ref/sun.rst
  sunpy/net/hek/hek.py
Owners: @sunpy/sun, @sunpy/net

Fix constant docs
  sunpy/sun/constants.py
Owners: @sunpy/sun

Fix constant docs
  sunpy/sun/constants.py
Owners: @sunpy/sun

Add some missing bits to the API docs
  docs/code_ref/data.rst
  docs/code_ref/sun.rst
  sunpy/net/hek/hek.py
Owners: @sunpy/sun, @sunpy/net

Add some missing bits to the API docs
  docs/code_ref/data.rst
  docs/code_ref/sun.rst
  sunpy/net/hek/hek.py
Owners: @sunpy/sun, @sunpy/net

Fix constant docs
  sunpy/sun/constants.py
Owners: @sunpy/sun

Add changelog
  changelog/4418.docfix.rst
Owners: none

Add changelog
  changelog/4418.docfix.rst
Owners: none

Add changelog
  changelog/4418.docfix.rst
Owners: none

Move TRACE cmaps to csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/grayscale.csv
  sunpy/visualization/colormaps/data/trace_1216.csv
  sunpy/visualization/colormaps/data/trace_1550.csv
  sunpy/visualization/colormaps/data/trace_1600.csv
  sunpy/visualization/colormaps/data/trace_1700.csv
  sunpy/visualization/colormaps/data/trace_171.csv
  sunpy/visualization/colormaps/data/trace_195.csv
  sunpy/visualization/colormaps/data/trace_284.csv
Owners: @sunpy/visualization

Move HMI mag cmap to csv file
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/hmi_mag.csv
Owners: @sunpy/visualization

Move COR cmaps to csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/stereo_cor1.csv
  sunpy/visualization/colormaps/data/stereo_cor2.csv
Owners: @sunpy/visualization

Move idl_3 to csv file
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/idl_3.csv
Owners: @sunpy/visualization

Move EIT cmaps to csv files
  eit_dark_blue.csv
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/eit_dark_blue.csv
  sunpy/visualization/colormaps/data/eit_dark_green.csv
  sunpy/visualization/colormaps/data/eit_dark_red.csv
  sunpy/visualization/colormaps/data/eit_yellow.csv
Owners: @sunpy/visualization

Prototype moving colormaps to .csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/README.rst
  sunpy/visualization/colormaps/data/hi1.csv
  sunpy/visualization/colormaps/data/hi2.csv
Owners: @sunpy/visualization

Move TRACE cmaps to csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/grayscale.csv
  sunpy/visualization/colormaps/data/trace_1216.csv
  sunpy/visualization/colormaps/data/trace_1550.csv
  sunpy/visualization/colormaps/data/trace_1600.csv
  sunpy/visualization/colormaps/data/trace_1700.csv
  sunpy/visualization/colormaps/data/trace_171.csv
  sunpy/visualization/colormaps/data/trace_195.csv
  sunpy/visualization/colormaps/data/trace_284.csv
Owners: @sunpy/visualization

Add changelog
  changelog/4433.feature.rst
Owners: none

Move COR cmaps to csv files
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/stereo_cor1.csv
  sunpy/visualization/colormaps/data/stereo_cor2.csv
Owners: @sunpy/visualization

Move EIT cmaps to csv files
  eit_dark_blue.csv
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/eit_dark_blue.csv
  sunpy/visualization/colormaps/data/eit_dark_green.csv
  sunpy/visualization/colormaps/data/eit_dark_red.csv
  sunpy/visualization/colormaps/data/eit_yellow.csv
Owners: @sunpy/visualization

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
