Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

removed license, asd skip if windows and reworked test script to run separately
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
Owners: @sunpy/io

remvoved astroquery data files
  .pyinstaller/hooks/hook-sunpy.py
Owners: none

codestyle
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
Owners: @sunpy/coordinates, @sunpy/io

changed required pyinstaller version
  .pyinstaller/run_sunpy_tests.py
  tox.ini
Owners: none

codestyle
  .pyinstaller/run_sunpy_tests.py
Owners: none

add to azure pipelines
  azure-pipelines.yml
Owners: none

codestyle
  azure-pipelines.yml
Owners: none

addresses #5256
  sunpy/map/sources/soho.py
Owners: @sunpy/map

added updated MDI test data
  sunpy/data/test/mdi.fd_M_96m_lev182.20101015_000000_TAI.data.fits
  sunpy/data/test/mdi.fd_ic.20101015_230100_TAI.data.fits
  sunpy/data/test/mdi_fd_Ic_6h_01d.5871.0000_s.fits
  sunpy/data/test/mdi_fd_M_96m_01d.5874.0005_s.fits
Owners: none

renamed magnetogram fits file
  sunpy/data/test/mdi.fd_m_96m_lev182.20101015_000000_TAI.data.fits
Owners: none

added import and changed name of test
  .pyinstaller/run_sunpy_tests.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/util/sysinfo.py
Owners: none

codestyle test fix
  .pyinstaller/run_sunpy_tests.py
  tox.ini
Owners: none

Fixed generation of an all-True array and added a HGS figure test
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

Fixed the closing of the limb across the longitude wrap of heliographic maps
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

removed special case nickname and changed detector to instrument
  sunpy/map/sources/soho.py
Owners: @sunpy/map

downsampled data by a factor of 16
  sunpy/data/test/mdi.fd_Ic.20101015_230100_TAI.data.fits
  sunpy/data/test/mdi.fd_M_96m_lev182.20101015_191200_TAI.data.fits
  sunpy/data/test/mdi.fd_ic.20101015_230100_TAI.data.fits
  sunpy/data/test/mdi.fd_m_96m_lev182.20101015_000000_TAI.data.fits
Owners: none

re-added extras=['all'] and updated to use PyInstaller from git
  sunpy/util/sysinfo.py
  tox.ini
Owners: none

changed deps for pyinstaller
  tox.ini
Owners: none

Minor doc fixes
  changelog/4698.feature.rst
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

Update changelog/5224.feature.rst
  changelog/5224.feature.rst
Owners: none

Fixes to the return types in the docstring
  sunpy/map/mapbase.py
Owners: @sunpy/map

Only set WCS observer if frame has observer
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix doctest example
  sunpy/coordinates/ephemeris.py
Owners: @sunpy/coordinates

moved chaincode
  changelog/5249.breaking.1.rst
  sunpy/net/helio/__init__.py
  sunpy/net/helio/chaincode.py
  sunpy/net/helio/tests/test_chaincode.py
Owners: @sunpy/net

updated stab page
  changelog/5249.breaking.rst
  docs/code_ref/sunpy_stability.yaml
  sunpy/roi/roi.py
  sunpy/roi/tests/test_roi.py
Owners: @sunpy/roi

code review comments
  changelog/5249.breaking.1.rst
  changelog/5249.breaking.rst
  docs/code_ref/sunpy_stability.yaml
  sunpy/roi/chaincode.py
  sunpy/roi/roi.py
  sunpy/roi/tests/test_chaincode.py
Owners: @sunpy/roi

updated changelog
  changelog/5249.breaking.1.rst
Owners: none

forgot to update stab page
  changelog/5249.breaking.1.rst
  docs/code_ref/sunpy_stability.yaml
  sunpy/net/helio/chaincode.py
Owners: @sunpy/net

changed files with hardcoded MDI fits file names
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/tests/test_map_factory.py
  sunpy/visualization/animator/tests/test_mapsequenceanimator.py
Owners: @sunpy/map, @sunpy/visualization

test for the MDI instrument name, not measurement
  changelog/5257.bugfix.rst
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/map

modified values for observer location, distance from SoHO to the Sun, and Carrington latitude and longitude to use keyword information, not hardcoded values
  changelog/5257.bugfix.rst
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/map

Update mailmap and zenodo.json for 3.0
  .mailmap
  .zenodo.json
Owners: none

increased the number of files that expect default_waveunit='angstrom' by 2 in test_tables.py and removed longitude test from test_mdi_source.py
  sunpy/database/tests/test_tables.py
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/database, @sunpy/map

changed test_observer (once again)
  sunpy/map/sources/tests/test_mdi_source.py
Owners: @sunpy/map

GenericMap now passes docstrings to its subclasses
  sunpy/map/mapbase.py
Owners: @sunpy/map

added notes instead
  sunpy/map/mapbase.py
Owners: @sunpy/map

changed MDI figure dimensions to match AIA
  sunpy/data/test/mdi.fd_Ic.20101015_230100_TAI.data.fits
Owners: none

modified hashes + style changes
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map

more style fixes + hash fixes
  changelog/5257.bugfix.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
Owners: none

sorted return in online srs test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
