Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Remove timeseries warning simplefilters (#4511)
  changelog/4511.bugfix.rst
  sunpy/instr/lyra.py
  sunpy/instr/tests/test_lyra.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  tox.ini
Owners: @sunpy/instr, @sunpy/timeseries

Remove timeseries warning simplefilters (#4511)
  changelog/4511.bugfix.rst
  sunpy/instr/lyra.py
  sunpy/instr/tests/test_lyra.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  tox.ini
Owners: @sunpy/instr, @sunpy/timeseries

Fixed heading now that there is no SunPy-specific minigallery directive
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Fixed heading now that there is no SunPy-specific minigallery directive
  docs/dev_guide/documentation.rst
Owners: @sunpy/documentation-developer

Clean up timeseries plotting
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
Owners: @sunpy/timeseries

Clean up timeseries plotting
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
Owners: @sunpy/timeseries

Revert "Fixed a miniscule inaccuracy in the calculation of the angular radius of the Sun"
  changelog/4518.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

removed files
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/whatever_else.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  README.rst
  docs/code_of_conduct.rst
  docs/dev_guide/newcomers.rst
  docs/index.rst
Owners: @sunpy/documentation-developer

removed files
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/whatever_else.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  README.rst
  docs/code_of_conduct.rst
  docs/dev_guide/newcomers.rst
  docs/index.rst
Owners: @sunpy/documentation-developer

Fixed get_dates() not working working properly when less than 24 passed
  sunpy/time/timerange.py
Owners: @sunpy/time

Fixed get_dates() not working working properly when less than 24 passed
  sunpy/time/timerange.py
Owners: @sunpy/time

Fixed get_dates() not working working properly when less than 24 passed
  sunpy/time/timerange.py
Owners: @sunpy/time

Add line back for code style check
  sunpy/time/timerange.py
Owners: @sunpy/time

Add line back for code style check
  sunpy/time/timerange.py
Owners: @sunpy/time

Add line back for code style check
  sunpy/time/timerange.py
Owners: @sunpy/time

Update README.rst
  README.rst
Owners: none

Fix minor typo
  docs/dev_guide/code_standards.rst
Owners: @sunpy/documentation-developer

Fix minor typo
  docs/dev_guide/code_standards.rst
Owners: @sunpy/documentation-developer

Fixed all calculations of the solar angular radius to use the same correct code (arcsine)
  changelog/4524.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/map/header_helper.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

Removed changelog entry for the flawed fix
  changelog/4518.bugfix.rst
  changelog/4524.bugfix.rst
Owners: none

Removed changelog entry for the flawed fix
  changelog/4518.bugfix.rst
  changelog/4524.bugfix.rst
Owners: none

Fixed all calculations of the solar angular radius to use the same correct code (arcsine)
  changelog/4524.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/map/header_helper.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

Fixed all calculations of the solar angular radius to use the same correct code (arcsine)
  changelog/4524.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/map/header_helper.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/coordinates, @sunpy/map

Removed changelog entry for the flawed fix
  changelog/4518.bugfix.rst
  changelog/4524.bugfix.rst
Owners: none

Fixed all calculations of the solar angular radius to use the same correct code (arcsine)
  changelog/4524.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/map/header_helper.py
  sunpy/map/maputils.py
Owners: @sunpy/coordinates, @sunpy/map

Restored and updated doctests for accurate solar angular radius
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Restored and updated doctests for accurate solar angular radius
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Removed changelog entry for the flawed fix
  changelog/4518.bugfix.rst
  changelog/4524.bugfix.rst
  tox.ini
Owners: none

Restored and updated doctests for accurate solar angular radius
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Restored and updated doctests for accurate solar angular radius
  docs/guide/data_types/maps.rst
Owners: @sunpy/documentation-user

Fixed all calculations of the solar angular radius to use the same correct code (arcsine)
  changelog/4524.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/map/header_helper.py
  sunpy/map/maputils.py
Owners: @sunpy/coordinates, @sunpy/map

Removed changelog entry for the flawed fix
  changelog/4518.bugfix.rst
  changelog/4524.bugfix.rst
  tox.ini
Owners: none

Added unit test for get_dates less than 24 hours bug
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Added unit test for get_dates less than 24 hours bug
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

Added unit test for get_dates less than 24 hours bug
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

PEP8 fix
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

PEP8 fix
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

PEP8 fix
  sunpy/time/tests/test_timerange.py
Owners: @sunpy/time

changed all c3 to c2
  examples/acquiring_data/downloading_lascoC3.py
Owners: @sunpy/documentation-gallery

changed all c3 to c2
  examples/acquiring_data/downloading_lascoC3.py
Owners: @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
