Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

:pencil2: typo on url
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

All changes except exception handling included.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_farside.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Docs and test done. Ready for review.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

reducing long lines
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_gong.py
  sunpy/net/dataretriever/tests/test_kanzelhohe.py
Owners: @sunpy/net

Minor style fix in FARSIDE.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

compared time in vsm test
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

Doc fix.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

Tests done. Docs to be added.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

SOLIS VSM Client implemented. With tests and documentation
  sunpy/net/dataretriever/sources/vsm.py
  sunpy/net/dataretriever/tests/test_vsm.py
Owners: @sunpy/net

improved docstring for get url
  sunpy/net/dataretriever/sources/bbso.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

Modified exception handling.
  sunpy/net/dataretriever/sources/gong.py
Owners: @sunpy/net

Removed astropy helpers. Phew.
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/tests/test_gong.py
Owners: @sunpy/net

Finishing touches to vsm.
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

Prelim implementation of SOLIS VSM Client.
  sunpy/net/dataretriever/clients.py
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

Add TimeRange.contains()
  changelog/3805.docfix.rst
  sunpy/time/timerange.py
Owners: @sunpy/time

Fix docstring
  sunpy/time/timerange.py
Owners: @sunpy/time

replaced wavemin by min()
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

removed whitespaces
  sunpy/net/dataretriever/sources/kanzelhohe.py
  sunpy/net/dataretriever/sources/vsm.py
Owners: @sunpy/net

Create main.yml
  .github/workflows/main.yml
Owners: none

Use pytest.warns
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix mapbase test warnings
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Use pytest.warns
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Fix mapbase test warnings
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Avoid use of .data in TimeSeries examples
  examples/time_series/power_spectra_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_example.py
  examples/time_series/timeseries_peak_finding.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Avoid use of .data in TimeSeries examples
  examples/time_series/power_spectra_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_example.py
  examples/time_series/timeseries_peak_finding.py
  sunpy/timeseries/timeseriesbase.py
Owners: @sunpy/documentation-gallery, @sunpy/timeseries

Fix Matplotlib deprecation warning in animator
  sunpy/visualization/animator/base.py
Owners: @sunpy/visualization

Fix Matplotlib deprecation warning in animator
  sunpy/visualization/animator/base.py
Owners: @sunpy/visualization

Added a helper function for testing equality/closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Added a helper function for testing equality/closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Fix warning in mapsequenceanimator
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/visualization

Fix warning in mapsequenceanimator
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/visualization

Remove extra lines
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/visualization

Remove extra lines
  sunpy/visualization/animator/mapsequenceanimator.py
Owners: @sunpy/visualization

fixed deprecationwarning due to vso.attrs.time
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Added a helper function for testing equality/closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

Added a helper function for testing equality/closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_offset_frame.py
Owners: @sunpy/coordinates

lazy import skimage.transform
  sunpy/image/transform.py
Owners: @sunpy/image

lazy import skimage.transform
  sunpy/image/transform.py
Owners: @sunpy/image

add changelog
  changelog/3818.feature.rst
Owners: none

add changelog
  changelog/3818.feature.rst
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
