Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Fix slicing tests
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fix slicing tests
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Fix slicing tests
  sunpy/net/tests/test_fido.py
Owners: @sunpy/net

Make JSOC warning clearer
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

Make JSOC warning clearer
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

Make JSOC warning clearer
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/documentation-user, @sunpy/net

adding cmap data
  sunpy/visualization/colormaps/data/euvi_195.csv
  sunpy/visualization/colormaps/data/euvi_284.csv
  sunpy/visualization/colormaps/data/euvi_304.csv
Owners: @sunpy/visualization

adding cmap data
  sunpy/visualization/colormaps/data/euvi_195.csv
  sunpy/visualization/colormaps/data/euvi_284.csv
  sunpy/visualization/colormaps/data/euvi_304.csv
Owners: @sunpy/visualization

adding cmap data
  sunpy/visualization/colormaps/data/euvi_195.csv
  sunpy/visualization/colormaps/data/euvi_284.csv
  sunpy/visualization/colormaps/data/euvi_304.csv
Owners: @sunpy/visualization

adding links to euvi cmaps
  docs/guide/data_types/maps.rst
  sunpy/map/sources/stereo.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/euvi_171.csv
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

adding links to euvi cmaps
  docs/guide/data_types/maps.rst
  sunpy/map/sources/stereo.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/euvi_171.csv
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

adding links to euvi cmaps
  docs/guide/data_types/maps.rst
  sunpy/map/sources/stereo.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/euvi_171.csv
Owners: @sunpy/documentation-user, @sunpy/map, @sunpy/visualization

updating figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

added changelog
  changelog/4822.feature.rst
Owners: none

added changelog
  changelog/4822.feature.rst
Owners: none

added changelog
  changelog/4822.feature.rst
Owners: none

updating figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

updating figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Fix #4886 look for a tarball first fallback to individual files
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

Update scraper to use relativedelta not units
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Owners: @sunpy/net

Improve differential rotation documentation
  sunpy/coordinates/metaframes.py
  sunpy/physics/differential_rotation.py
Owners: @sunpy/coordinates, @sunpy/physics

Improve differential rotation documentation
  sunpy/coordinates/metaframes.py
  sunpy/physics/differential_rotation.py
Owners: @sunpy/coordinates, @sunpy/physics

Improve differential rotation documentation
  sunpy/coordinates/metaframes.py
  sunpy/physics/differential_rotation.py
Owners: @sunpy/coordinates, @sunpy/physics

Add changelog
  changelog/4876.doc.rst
Owners: none

Add changelog
  changelog/4876.doc.rst
Owners: none

Add changelog
  changelog/4876.doc.rst
Owners: none

Add changelog
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

Fix scraper to pass tests
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: @sunpy/net

Enable building 39 Wheels
  azure-pipelines.yml
Owners: none

Enable building 39 Wheels
  azure-pipelines.yml
Owners: none

Enable building 39 Wheels
  azure-pipelines.yml
Owners: none

Review updates and more test fixes
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

added colorbar label
  sunpy/map/mapbase.py
Owners: @sunpy/map

added colorbar label
  sunpy/map/mapbase.py
Owners: @sunpy/map

PEP8 fixes
  sunpy/map/mapbase.py
Owners: @sunpy/map

added changelog
  changelog/4903.feature.rst
Owners: none

Add missing quantity input decorator
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Add missing quantity input decorator
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Add missing quantity input decorator
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Add missing quantity input decorator
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates
