Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

remove trailing whitespace
  sunpy/map/sources/soho.py
Owners: @sunpy/map

Replace line continuation character
  sunpy/map/sources/soho.py
Owners: @sunpy/map

fix PEP8 issues
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

skip test if Glymur or OpenJPEG are not available
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

add check that all three CROTAn keywords exist before clearing rotation
  sunpy/map/sources/soho.py
Owners: @sunpy/map

fix PEP8 issues
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

fix PEP8 issues
  sunpy/map/sources/soho.py
Owners: @sunpy/map

Replace line continuation character
  sunpy/map/sources/soho.py
Owners: @sunpy/map

add check that all three CROTAn keywords exist before clearing rotation
  sunpy/map/sources/soho.py
Owners: @sunpy/map

skip test if Glymur or OpenJPEG are not available
  sunpy/map/sources/tests/test_lasco_source.py
Owners: @sunpy/map

fix PEP8 issues
  sunpy/map/sources/soho.py
Owners: @sunpy/map

remove trailing whitespace
  sunpy/map/sources/soho.py
Owners: @sunpy/map

fixing returned filenames issue
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

adding test for mid year time
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

fixing bug to allow path to be passed
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

pep8
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

pep8
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

adding post_search_hook
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

addings davids comments
  examples/units_and_coordinates/radec_to_hpc_map.py
Owners: @sunpy/documentation-gallery

added test for path
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Owners: @sunpy/net

fixed wsdl parser bug
  sunpy/net/helio/parser.py
Owners: @sunpy/net

fixed wsdl parser bug
  sunpy/net/helio/parser.py
Owners: @sunpy/net

fixed wsdl parser bug
  sunpy/net/helio/parser.py
Owners: @sunpy/net

Add changelog
  changelog/4601.bugfix.rst
Owners: none

Add changelog
  changelog/4601.bugfix.rst
Owners: none

Add changelog
  changelog/4601.bugfix.rst
Owners: none

Don't automatically render changelog on stable doc releases
  docs/conf.py
Owners: none

Don't automatically render changelog on stable doc releases
  docs/conf.py
Owners: none

Don't automatically render changelog on stable doc releases
  docs/conf.py
Owners: none

Revert "fixed wsdl parser bug"
  changelog/4601.bugfix.rst
  sunpy/net/helio/parser.py
Owners: @sunpy/net

add comment to post_hook
  sunpy/net/dataretriever/sources/noaa.py
Owners: @sunpy/net

adding changelog
  changelog/4600.bugfix.rst
Owners: none

metadata search returns astropy table, only selected keys
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Removed unnecessary transformations of coordinates prior to using plot_coord()
  changelog/4609.docfix.rst
  examples/plotting/lat_lon_lines.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

Removed unnecessary transformations of coordinates prior to using plot_coord()
  changelog/4609.docfix.rst
  examples/plotting/lat_lon_lines.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Owners: @sunpy/documentation-gallery

Add documentation on coordinates with velocities
  changelog/4610.doc.rst
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/velocities.rst
Owners: none

Add documentation on coordinates with velocities
  changelog/4610.doc.rst
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/velocities.rst
Owners: none

Add peek test
  sunpy/map/tests/test_compositemap.py
Owners: @sunpy/map

Update hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: none

Add composite map peeking test (#4611)
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Owners: @sunpy/map
