Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Bump minimum pandas version
  setup.cfg
  tox.ini
Owners: none

Bump minimum pandas version
  setup.cfg
  tox.ini
Owners: none

Backport 4700
  changelog/4700.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

pre-commit
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add test for swapped ctypes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add test for swapped ctypes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add test for swapped ctypes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add test for swapped ctypes
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Release v2.0.6
  CHANGELOG.rst
  changelog/4691.breaking.rst
  changelog/4700.bugfix.rst
  changelog/4717.doc.rst
  changelog/4724.bugfix.rst
  changelog/4727.breaking.rst
Owners: none

Define custom __dir__ for attrs
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/helio/attrs.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Define custom __dir__ for attrs
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/helio/attrs.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Define custom __dir__ for attrs
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/helio/attrs.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/net

Add corner coords function to maputils
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Add corner coords function to maputils
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Add corner coords function to maputils
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Owners: @sunpy/map

Add changelgo
  changelog/4776.feature.rst
Owners: none

Add changelgo
  changelog/4776.feature.rst
Owners: none

Add changelgo
  changelog/4776.feature.rst
Owners: none

Removed .sources lines from sunpy/docs/code_ref/net.rst _dataretriever
  docs/code_ref/net.rst
Owners: @sunpy/net

Removed .sources lines from sunpy/docs/code_ref/net.rst _dataretriever
  docs/code_ref/net.rst
Owners: @sunpy/net

Removed .sources lines from sunpy/docs/code_ref/net.rst _dataretriever
  docs/code_ref/net.rst
Owners: @sunpy/net

Add 3D plotting
  docs/code_ref/visualization.rst
  docs/conf.py
  examples/plotting/skip_three_dimensional_plots.py
  sunpy/visualization/pyvista/__init__.py
  sunpy/visualization/pyvista/core.py
Owners: @sunpy/visualization, @sunpy/documentation-gallery

Re-arrange plotting narrative docs
  docs/guide/index.rst
  docs/guide/plotting/index.rst
  docs/guide/plotting/maptlotlib.rst
  docs/guide/plotting/pyvista.rst
Owners: @sunpy/documentation-user

Update docs
  sunpy/visualization/pyvista/core.py
Owners: @sunpy/visualization

Pre-commit
  examples/plotting/skip_three_dimensional_plots.py
  sunpy/visualization/pyvista/core.py
Owners: @sunpy/documentation-gallery, @sunpy/visualization

Reformatted Colour Tables to use emuns instead of functions
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Owners: @sunpy/visualization

Added changelog
  changelog/4779.doc.rst
Owners: none

Update docs/code_ref/net.rst
  docs/code_ref/net.rst
Owners: @sunpy/net

Update docs/code_ref/net.rst
  docs/code_ref/net.rst
Owners: @sunpy/net

Update docs/code_ref/net.rst
  docs/code_ref/net.rst
Owners: @sunpy/net

Fix net doc headings
  docs/code_ref/net.rst
  sunpy/net/dataretriever/__init__.py
Owners: @sunpy/net

Fix net doc headings
  docs/code_ref/net.rst
  sunpy/net/dataretriever/__init__.py
Owners: @sunpy/net

Fix net doc headings
  docs/code_ref/net.rst
  sunpy/net/dataretriever/__init__.py
Owners: @sunpy/net

Document JSOC attrs
  sunpy/net/jsoc/__init__.py
Owners: @sunpy/net

Document JSOC attrs
  sunpy/net/jsoc/__init__.py
Owners: @sunpy/net

Document JSOC attrs
  sunpy/net/jsoc/__init__.py
Owners: @sunpy/net

Document JSOC attrs
  sunpy/net/jsoc/__init__.py
Owners: @sunpy/net

updates on contains_coordinate()
  changelog/4761.feature.rst
  sunpy/map/maputils.py
Owners: @sunpy/map

Removed function solar_angular_radius from maputils.py
  sunpy/coordinates/sun.py
  sunpy/map/maputils.py
Owners: @sunpy/coordinates, @sunpy/map

added changelog and removed whitespaces
  changelog/4786.breaking.rst
  sunpy/coordinates/sun.py
Owners: @sunpy/coordinates
