Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

removing VersionData attrs - now search old by Provider
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Owners: @sunpy/net

Started to update affine_transform with openCV.warpAffine
  sunpy/image/transform.py
Owners: @sunpy/image

:Changed image.transform.affine_transform to allow drop-in transform functions via 'method=' argument. Modified 'map.rotate' to allow such functions
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Owners: @sunpy/image, @sunpy/map

Tweaked documentation strings
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Owners: @sunpy/image, @sunpy/map

Tweaking of docstrings
  sunpy/image/transform.py
Owners: @sunpy/image

Tweaking of input checking
  sunpy/image/transform.py
Owners: @sunpy/image

Added example of using external library for drop-in function to map.rotate
  examples/map/rotate_custom_affine_transform_opencv.py
Owners: @sunpy/documentation-gallery

Resolving PEP checks
  examples/map/rotate_custom_affine_transform_opencv.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Owners: @sunpy/documentation-gallery, @sunpy/image, @sunpy/map

PEP checks
  examples/map/rotate_custom_affine_transform_opencv.py
  sunpy/image/transform.py
Owners: @sunpy/documentation-gallery, @sunpy/image

Changelog
  changelog/4464.trivial.rst
Owners: none

Changelog
  changelog/4464.trivial.rst
Owners: none

Show only headings in gallery sidebar
  docs/_templates/gallery_sidebar.html
  docs/conf.py
Owners: none

isort
  sunpy/map/mapbase.py
Owners: @sunpy/map

isort
  sunpy/map/mapbase.py
Owners: @sunpy/map

isort
  sunpy/map/mapbase.py
Owners: @sunpy/map

Changed 'use_scipy=' argument to 'method=' in unit tests
  examples/map/rotate_custom_affine_transform_opencv.py
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
Owners: @sunpy/documentation-gallery, @sunpy/image

Added changelog
  changelog/4502.feature.rst
Owners: none

Apply suggestions from code review
  changelog/4464.trivial.rst
Owners: none

Apply suggestions from code review
  changelog/4464.trivial.rst
Owners: none

Merge pull request #4445 from lzivadinovic/fix_naxis_in_resample
  changelog/4445.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Merge pull request #4461 from sunpy/nabobalis-patch-1
  changelog/4445.bugfix.rst
Owners: none

Make RTD not the main check for sphinx warnings (#4449)
  azure-pipelines.yml
Owners: none

bad merges
  readthedocs.yml
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Merge pull request #4463 from dstansby/fast-disc
  changelog/4463.trivial.rst
  sunpy/map/maputils.py
Owners: @sunpy/map

Merge pull request #4465 from Cadair/pipelines_upgrades
  .codecov.yaml
  azure-pipelines.yml
  setup.cfg
Owners: none

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: none

Merge pull request #4378 from nabobalis/docs
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  changelog/4378.docfix.1.rst
  changelog/4378.docfix.rst
  docs/conf.py
  docs/dev_guide/images/azure_check_pr.png
  docs/dev_guide/images/azure_goto.png
  docs/dev_guide/images/azure_steps_in_job.png
  docs/dev_guide/images/azure_summary_check.png
  docs/dev_guide/images/checks.png
  docs/dev_guide/images/checks_pr.png
  docs/dev_guide/images/list_of_azure_checks.png
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.py
Owners: @sunpy/documentation-developer, @sunpy/documentation-user

fix broken link
  docs/guide/installation/advanced.rst
Owners: @sunpy/documentation-user

clean up
  docs/dev_guide/images/azure_check_pr.png
  docs/dev_guide/images/azure_goto.png
  docs/dev_guide/images/azure_steps_in_job.png
  docs/dev_guide/images/azure_summary_check.png
  docs/dev_guide/images/checks.png
  docs/dev_guide/images/checks_pr.png
  docs/dev_guide/images/list_of_azure_checks.png
  docs/dev_guide/index.rst
  setup.cfg
Owners: @sunpy/documentation-developer

Merge pull request #4464 from sidhu1012/str
  changelog/4464.trivial.rst
  setup.cfg
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

remove stray changelog
  changelog/4350.removal.rst
Owners: none

changelog
  CHANGELOG.rst
  changelog/4288.bugfix.rst
  changelog/4335.trivial.rst
  changelog/4340.bugfix.rst
  changelog/4351.trivial.rst
  changelog/4364.bugfix.rst
  changelog/4375.bugfix.rst
  changelog/4409.bugfix.rst
  changelog/4422.bugfix.rst
  changelog/4432.bugfix.rst
  changelog/4445.bugfix.rst
  changelog/4452.bugfix.rst
  changelog/4463.trivial.rst
  changelog/4464.trivial.rst
  changelog/4491.trivial.rst
Owners: none

Use an attribute name instead
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

Wrap decorator
  sunpy/util/decorators.py
Owners: none

≈Cache m.meta
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
  sunpy/util/metadata.py
Owners: @sunpy/map

Use an attribute name instead
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Owners: @sunpy/map

≈Cache m.meta
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
  sunpy/util/metadata.py
Owners: @sunpy/map

Wrap decorator
  sunpy/util/decorators.py
Owners: none

remove dep warning
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Owners: @sunpy/timeseries

Add tests for the wcs cache
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
