Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Ignore missing metadata in plot tests
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Ignore missing metadata in plot tests
  sunpy/map/tests/test_plotting.py
Owners: @sunpy/map

Add a other issue template
  .github/ISSUE_TEMPLATE/other_issue.md
Owners: none

Update .github/ISSUE_TEMPLATE/other_issue.md
  .github/ISSUE_TEMPLATE/other_issue.md
Owners: none

Fix html doc build
  docs/conf.py
Owners: none

modify database test
  sunpy/database/tests/test_attrs.py
Owners: @sunpy/database

modify database test
  sunpy/database/tests/test_attrs.py
Owners: @sunpy/database

Merge pull request #3928 from nabobalis/master
  .circleci/config.yml
  .rtd-environment.yml
  docs/conf.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/skip_timeseriesmetadata_example.py
  setup.cfg
  sunpy/__init__.py
  sunpy/data/_sample.py
  sunpy/database/tests/test_attrs.py
Owners: @sunpy/documentation-gallery, @sunpy/database

We do need pytest and forgot to pin astropy
  .rtd-environment.yml
Owners: none

We do need pytest and forgot to pin astropy
  .rtd-environment.yml
Owners: none

We do need pytest and forgot to pin astropy
  .rtd-environment.yml
Owners: none

Merge pull request #3928 from nabobalis/master
  .circleci/config.yml
  .rtd-environment.yml
  docs/conf.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/skip_timeseriesmetadata_example.py
  examples/units_and_coordinates/skip_AIA_limb_STEREO.py
  examples/units_and_coordinates/skip_SDO_to_STEREO_Coordinate_Conversion.py
  setup.cfg
  sunpy/data/_sample.py
  sunpy/database/tests/test_attrs.py
  sunpy/util/config.py
  tox.ini
Owners: @sunpy/documentation-gallery, @sunpy/database

We do need pytest and forgot to pin astropy
  .rtd-environment.yml
Owners: none

Improve installation docs
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Improve installation docs
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Update installation requirements
  docs/guide/installation/advanced.rst
  setup.cfg
Owners: @sunpy/documentation-user

Update installation requirements
  docs/guide/installation/advanced.rst
  setup.cfg
Owners: @sunpy/documentation-user

Update .circleci/config.yml
  .circleci/config.yml
Owners: none

changed the return type from pandas dataframe to astropy table
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

pin astropy for post release
  setup.cfg
Owners: none

pin astropy for post release
  setup.cfg
Owners: none

pin astropy for post release
  setup.cfg
Owners: none

pin astropy for post release
  setup.cfg
Owners: none

modified the search_metadata function to return Astropy.Table
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

added to changelog.rst
  CHANGELOG.rst
Owners: none

Update docs/guide/installation/index.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

Update docs/guide/installation/index.rst
  docs/guide/installation/index.rst
Owners: @sunpy/documentation-user

fixed test
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

fixed test
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

added the index column
  CHANGELOG.rst
  changelog/3950.trivial.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Update CHANGELOG.rst
  CHANGELOG.rst
Owners: none

renamed from trivial to breaking
  changelog/3950.breaking.rst
Owners: none

Apply suggestions from code review
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add docstring
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix map source test warnings
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_xrt_source.py
Owners: @sunpy/map

Fix map source test warnings
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_xrt_source.py
Owners: @sunpy/map

adding an example of how to get the GOES event list from HEK
  examples/acquiring_data/querying_the_GOESeventlist.py
Owners: @sunpy/documentation-gallery

adding an example of how to get the GOES event list from HEK
  examples/acquiring_data/querying_the_GOESeventlist.py
Owners: @sunpy/documentation-gallery

fixing .write() and typos
  examples/acquiring_data/querying_the_GOESeventlist.py
Owners: @sunpy/documentation-gallery

fixing .write() and typos
  examples/acquiring_data/querying_the_GOESeventlist.py
Owners: @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
