Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Apply suggestions from code review
  sunpy/net/vso/exceptions.py
Owners: @sunpy/net

Apply suggestions from code review
  sunpy/net/vso/exceptions.py
Owners: @sunpy/net

Add changelog
  changelog/3866.doc.rst
Owners: none

Add changelog
  changelog/3866.doc.rst
Owners: none

Add changelog
  changelog/3866.doc.rst
Owners: none

Add changelog
  changelog/3866.doc.rst
Owners: none

Use isot for setting dateobs in GenericMap.wcs
  sunpy/map/mapbase.py
Owners: @sunpy/map

Use isot for setting dateobs in GenericMap.wcs
  sunpy/map/mapbase.py
Owners: @sunpy/map

Use isot for setting dateobs in GenericMap.wcs
  sunpy/map/mapbase.py
Owners: @sunpy/map

Add test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add test
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add changelog
  changelog/3872.bugfix.rst
Owners: none

Add changelog
  changelog/3872.bugfix.rst
Owners: none

Add changelog
  changelog/3872.bugfix.rst
Owners: none

Implement client specific attrs registration
  changelog/3869.feature.rst
  sunpy/net/__init__.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Implement client specific attrs registration
  changelog/3869.feature.rst
  sunpy/net/__init__.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
Owners: @sunpy/net

Move physobs to be a top level attr
  changelog/3877.removal.rst
  examples/plotting/magnetogram_active_regions.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/documentation-gallery, @sunpy/net

Move physobs to be a top level attr
  changelog/3877.removal.rst
  examples/plotting/magnetogram_active_regions.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/vso/attrs.py
Owners: @sunpy/documentation-gallery, @sunpy/net

added changelog
  changelog/3863.trivial.rst
Owners: none

added func in generic
  sunpy/net/dataretriever/client.py
Owners: @sunpy/net

used global func in fermi
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
Owners: @sunpy/net

generic func for norh
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
Owners: @sunpy/net

made eve use func
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/tests/test_eve.py
Owners: @sunpy/net

generic get_time for lyra
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
Owners: @sunpy/net

removed get_time from goes
  sunpy/net/dataretriever/sources/goes.py
Owners: @sunpy/net

passing test in docs
  docs/guide/acquiring_data/fido.rst
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-user, @sunpy/net

updated lyra in tables
  sunpy/database/tables.py
  sunpy/database/tests/test_tables.py
Owners: @sunpy/database

Fido Multiple client and no a.Time support
  changelog/3770.breaking.1.rst
  changelog/3770.bugfix.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/tests/helpers.py
  sunpy/util/datatype_factory_base.py
Owners: @sunpy/documentation-user, @sunpy/database, @sunpy/net

Implement an ABC for QueryResponse
  changelog/3770.breaking.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/database/tables.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/database, @sunpy/net

Fido Multiple client and no a.Time support
  changelog/3770.breaking.1.rst
  changelog/3770.bugfix.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/tests/helpers.py
  sunpy/util/datatype_factory_base.py
Owners: @sunpy/documentation-user, @sunpy/database, @sunpy/net

Implement an ABC for QueryResponse
  changelog/3770.breaking.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/database/tables.py
  sunpy/database/tests/test_tables.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Owners: @sunpy/documentation-user, @sunpy/database, @sunpy/net

Better handling of time subclasses
  sunpy/net/_attrs.py
Owners: @sunpy/net

Better handling of time subclasses
  sunpy/net/_attrs.py
Owners: @sunpy/net

Improve the JSOClient._can_handle_query so that it requires Series
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Improve the JSOClient._can_handle_query so that it requires Series
  sunpy/net/jsoc/jsoc.py
Owners: @sunpy/net

Add regression tests
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_attrs.py
Owners: @sunpy/net

Add regression tests
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_attrs.py
Owners: @sunpy/net

Added a function to create a SpacePy coordinate from an Astropy coordinate
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Moved connect to db from connection method to init
  sunpy/data/data_manager/storage.py
Owners: none
