Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

Update ASDF test
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
Owners: @sunpy/io

Add chnagelog
  changelog/4274.docfix.rst
Owners: none

Add base coordinate frames to docs
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Update base coord frame doc
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Update ASDF test
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
Owners: @sunpy/io

Add chnagelog
  changelog/4274.docfix.rst
Owners: none

Add base coordinate frames to docs
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Update base coord frame doc
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Add chnagelog
  changelog/4274.docfix.rst
Owners: none

Update ASDF test
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
Owners: @sunpy/io

Add base coordinate frames to docs
  sunpy/coordinates/frames.py
Owners: @sunpy/coordinates

Fixed missing asdf dependency for tox conda build
  tox.ini
Owners: none

Add tolerance for 32bit tests
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

Add tolerance for 32bit tests
  sunpy/map/tests/test_mapbase.py
Owners: @sunpy/map

change to conda-forge for conda tox env
  tox.ini
Owners: none

Switch to using conda-forge for tox conda build
  tox.ini
Owners: none

Switch to using conda-forge for tox conda build
  tox.ini
Owners: none

Switch to using conda-forge for tox conda build
  tox.ini
Owners: none

run conda build on macos to see if we can reproduce the conda-forge errors
  azure-pipelines.yml
Owners: none

Modify the test to check both the rotation and the derotation before erroring
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Double-check comparisons by running them again
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Added NumPy/Accelerate test
  sunpy/conftest.py
Owners: none

Let's see some flags
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Add order=3 comparisons
  sunpy/image/tests/test_transform.py
Owners: @sunpy/image

Some more builds, including using the sunpy conda channel
  azure-pipelines.yml
  tox.ini
Owners: none

Trying a pin on scikit-image
  tox.ini
Owners: none

added show function
  sunpy/net/base_client.py
Owners: @sunpy/net

generalized get_url method
  docs/guide/acquiring_data/fido.rst
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
Owners: @sunpy/documentation-user, @sunpy/net

added get meta from url method
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/util/scraper.py
Owners: @sunpy/net

added changelog
  changelog/4213.feature.rst
Owners: none

ordered cols in response
  docs/guide/acquiring_data/fido.rst
  setup.cfg
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Owners: @sunpy/documentation-user, @sunpy/database, @sunpy/net

added parse in extern
  sunpy/extern/parse.py
  sunpy/extern/parse_license.txt
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/util/scraper.py
Owners: @sunpy/net

test updation
  docs/guide/acquiring_data/fido.rst
  setup.cfg
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/tests/test_fido.py
Owners: @sunpy/documentation-user, @sunpy/net

More builds
  azure-pipelines.yml
  tox.ini
Owners: none

Tweaky numpy build
  tox.ini
Owners: none

Poke
  azure-pipelines.yml
  tox.ini
Owners: none

build build
  azure-pipelines.yml
Owners: none

Add clearer error message in data manager for failed hash
  sunpy/data/data_manager/manager.py
Owners: none

Add clearer error message in data manager for failed hash
  sunpy/data/data_manager/manager.py
Owners: none

Add clearer error message in data manager for failed hash
  sunpy/data/data_manager/manager.py
Owners: none

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery
