Repository sunpy/sunpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sunpy/coordinates, @sunpy/database, @sunpy/image, @sunpy/instr, @sunpy/io, @sunpy/map, @sunpy/net, @sunpy/physics, @sunpy/roi, @sunpy/sun, @sunpy/time, @sunpy/timeseries, @sunpy/visualization, @sunpy/documentation-user, @sunpy/documentation-developer, @sunpy/documentation-gallery

.github/CODEOWNERS:

sunpy/coordinates/                @sunpy/coordinates
docs/code_ref/coordinates.rst     @sunpy/coordinates

sunpy/database/                   @sunpy/database
docs/code_ref/database.rst        @sunpy/database

sunpy/image/                      @sunpy/image
docs/code_ref/image.rst           @sunpy/image

sunpy/instr/                      @sunpy/instr
docs/code_ref/instr.rst           @sunpy/instr

sunpy/io/                         @sunpy/io
docs/code_ref/io.rst              @sunpy/io

sunpy/map/                        @sunpy/map
docs/code_ref/map.rst             @sunpy/map

sunpy/net/                        @sunpy/net
docs/code_ref/net.rst             @sunpy/net

sunpy/physics/                    @sunpy/physics
docs/code_ref/physics.rst         @sunpy/physics

sunpy/roi/                        @sunpy/roi
docs/code_ref/roi.rst             @sunpy/roi

sunpy/sun/                        @sunpy/sun
docs/code_ref/sun.rst             @sunpy/sun

sunpy/time/                       @sunpy/time
docs/code_ref/time.rst            @sunpy/time

sunpy/timeseries/                 @sunpy/timeseries
docs/code_ref/timeseries.rst      @sunpy/timeseries

sunpy/visualization/              @sunpy/visualization
docs/code_ref/visualization.rst   @sunpy/visualization

docs/guide            @sunpy/documentation-user
docs/dev_guide        @sunpy/documentation-developer
examples/             @sunpy/documentation-gallery

Grammatical error on examples page fixed
  examples/map/README.txt
Owners: @sunpy/documentation-gallery

Grammatical error on examples page fixed
  examples/map/README.txt
Owners: @sunpy/documentation-gallery

shorterned times array formation code
  sunpy/net/dataretriever/client.py
Owners: @sunpy/net

Address review
  changelog/3770.breaking.1.rst
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

Address review
  changelog/3770.breaking.1.rst
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/fido_factory.py
Owners: @sunpy/net

replaced crawler with scraper
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/norh.py
Owners: @sunpy/net

Adds Rectangle coordinate parser and associated tests.
  changelog/3737.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Adds Rectangle coordinate parser and associated tests.
  changelog/3737.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Adding comments and examples
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Adding comments and examples
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Update changelog/3640.breaking.rst
  changelog/3640.breaking.rst
Owners: none

Update changelog/3640.breaking.rst
  changelog/3640.breaking.rst
Owners: none

Fixed a minor error in the calculation of the Sun's position angle
  changelog/3886.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed a minor error in the calculation of the Sun's position angle
  changelog/3886.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed a minor error in the calculation of the Sun's position angle
  changelog/3886.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed a minor error in the calculation of the Sun's position angle
  changelog/3886.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
Owners: @sunpy/coordinates

Fixed missing sunpy.coordinates.utils in docs
  docs/code_ref/coordinates.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Fixed missing sunpy.coordinates.utils in docs
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Fixed missing sunpy.coordinates.utils in docs
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Fixed missing sunpy.coordinates.utils in docs
  docs/code_ref/coordinates.rst
  sunpy/coordinates/utils.py
Owners: @sunpy/coordinates

Fixed typos of Heliocentric instead of Heliographic
  docs/code_ref/coordinates/index.rst
Owners: none

Fixed typos of Heliocentric instead of Heliographic
  docs/code_ref/coordinates/index.rst
Owners: none

Fixed typos of Heliocentric instead of Heliographic
  docs/code_ref/coordinates.rst
Owners: @sunpy/coordinates

Fixed bug where some transformation errors raised ValueError instead of ConvertError
  changelog/3894.breaking.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/transformations.py
Owners: @sunpy/coordinates

Fix citation headings for website
  sunpy/CITATION.rst
Owners: none

Fix citation headings for website
  sunpy/CITATION.rst
Owners: none

Shortened the sentence we suggest adding to research papers
  sunpy/CITATION.rst
Owners: none

Shortened the sentence we suggest adding to research papers
  sunpy/CITATION.rst
Owners: none

Changed quoted sentence (that we suggest authors add to their research papers) in CITATION.rst
  changelog/3896.doc.rst
Owners: none

Changed quoted sentence (that we suggest authors add to their research papers) in CITATION.rst
  changelog/3896.doc.rst
Owners: none

updated HEKClient to return json again
  changelog/3899.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Owners: @sunpy/net

updated HEKClient to return json again
  changelog/3899.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Owners: @sunpy/net

Update changelog/3899.bugfix.rst
  changelog/3899.bugfix.rst
Owners: none

Update changelog/3899.bugfix.rst
  changelog/3899.bugfix.rst
Owners: none

Update sunpy/net/hek/hek.py
  sunpy/net/hek/hek.py
Owners: @sunpy/net

Update sunpy/net/hek/hek.py
  sunpy/net/hek/hek.py
Owners: @sunpy/net

Fix peek warning
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fix peek warning
  sunpy/map/mapbase.py
Owners: @sunpy/map

Fixed incorrect module name in test
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net

Fixed incorrect module name in test
  sunpy/net/jsoc/tests/test_jsoc.py
Owners: @sunpy/net
