Repository sunpy/sunpy, pull requests merged in 2018-12, with the labels that each got.

#2863 Update CI configs to install tox-conda from pypi
  .circleci/config.yml
  .travis.yml
  appveyor.yml
  azure-templates.yml
Labels: No Changelog Entry Needed

#2866 Zeep 3: The VSO re-write
  .circleci/config.yml
  .codecov.yaml
  .travis.yml
  azure-templates.yml
  changelog/2866.feature.rst
  changelog/2866.removal.rst
  docs/conf.py
  docs/guide/acquiring_data/database.rst
  sunpy/conftest.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/image/coalignment.py
  sunpy/net/download.py
  sunpy/net/helio/hec.py
  sunpy/net/tests/test_helio.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
  sunpy/util/sysinfo.py
  tox.ini
Labels: Merge When CI Passes, [Review], net

#2876 Added back Azure Windows
  .travis.yml
  azure-pipelines.yml
  azure-templates.yml
  setup.cfg
  sunpy/tests/tests/test_sunpy_data_filenames.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed

#2801 Ensures that Helioviewer client uses Helioviewer API version 2 exclusively
  changelog/2801.breaking.rst
  docs/guide/acquiring_data/helioviewer.rst
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: net
