Repository sunpy/sunpy, pull requests merged in 2018-03, with the labels that each got.

#2486 Do a *horrific* work around for NorthOffsetFrame
  sunpy/coordinates/transformations.py
Labels: 0.8.x, Affects Release, coordinates

#2485 Trace test data
  sunpy/data/test/tsi20010130_025823_a2.fits
  sunpy/database/tests/test_tables.py
Labels: Tests

#2502 Fix Issue #2470 hgs_to_hcc(heliogcoord, heliocframe) : Convert from Heliographic Stonyhurst to Heliograpic Carrington.
  sunpy/coordinates/transformations.py
Labels: [DocFix]

#2497 Fixed Padding values in some of the documentation pages
  examples/2011_06_07_sampledata_overview.py
  examples/loop_edge_enhance.py
  examples/submaps_and_cropping.py
Labels: [DocFix]

#2481 Updated depecration link of radiospectra
  docs/code_ref/spectra.rst
  docs/guide/data_types/spectra.rst
  docs/guide/tour.rst
  sunpy/spectra/__init__.py
  sunpy/spectra/spectrogram.py
  sunpy/spectra/spectrum.py
Labels: Merge When CI Passes, [DocFix]

#2492 Fixing CompositeMap object so that it respects masked maps
  sunpy/map/compositemap.py
Labels: Effort Low, [BugFix], map

#2491 Allow LineAnimator to accept a varying x-axis
  examples/LineAnimator_examples.py
  sunpy/visualization/imageanimator.py
Labels: visualization

#2411 Maintiners Workflow Guide.
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/index.rst
  docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/newcomers.rst
  docs/dev_guide/pr_review_procedure.rst
  docs/dev_guide/tests.rst
  docs/dev_guide/version_control.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/installation/advanced.rst
  sunpy/database/tables.py
  sunpy/instr/fermi.py
  sunpy/timeseries/timeseries_factory.py
Labels: Documentation

#2514 Docstring improvement for LineAnimator
  sunpy/visualization/imageanimator.py
Labels: Affects Dev, Merge When CI Passes, [DocFix]

#2560 Indexing Bug Fix to LineAnimator
  sunpy/visualization/imageanimator.py
Labels: [BugFix], visualization

#2557 Adding `python setup.py test --figure-only`
  .travis.yml
  sunpy/tests/__init__.py
  sunpy/tests/setup_command.py
  sunpy/tests/tests/test_main.py
Labels: Merge When CI Passes, Tests

#2389 Writing tests for sunpy.cm
  sunpy/cm/cm.py
  sunpy/cm/tests/__init__.py
  sunpy/cm/tests/test_cm.py
Labels: Merge When CI Passes, Tests

#2399 Improve TimeSeriesBase docstring
  sunpy/timeseries/timeseriesbase.py
Labels: Documentation

#2563 ReadtheDocs Fix
  docs/conf.py
  requirements/README.rst
  requirements/rtd.txt
Labels: Merge When CI Passes, [DocFix]

#2559 Fido.fetch now accepts pathlib.Path objects
  CHANGELOG.rst
  sunpy/database/tests/test_database.py
  sunpy/net/dataretriever/client.py
  sunpy/net/tests/test_fido.py
Labels: net

#2555 Stability of SunPy
  .pep8speaks.yml
  .travis.yml
  docs/conf.py
  docs/dev_guide/index.rst
  docs/dev_guide/stability.rst
  docs/dev_guide/sunpy_stability.yaml
  requirements/docs.txt
  setup.cfg
  sunpy/cm/cm.py
  sunpy/cm/color_tables.py
  sunpy/database/TODO.rst
  sunpy/lightcurve/__init__.py
  sunpy/lightcurve/table_to_dataframe.py
Labels: Documentation, Merge When CI Passes
