Repository sunpy/sunpy, pull requests merged in 2018-07, with the labels that each got.

#2680 Add the config for isort
  setup.cfg
Labels: No Changelog Entry Needed

#2679 datetime to astropy Time: examples
  .gitignore
  docs/code_ref/time.rst
  docs/dev_guide/documentation.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/time.rst
  docs/guide/tour.rst
  examples/plotting/finegrained_plot.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/plotting/skip_magnetogram_active_regions.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/skip_timeseries_example.py
  sunpy/instr/tests/test_fermi.py
  sunpy/net/jsoc/attrs.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed

#2688 Add support for saving fits files to file objects
  changelog/2688.bugfix.rst
  sunpy/io/file_tools.py
  sunpy/io/fits.py
  sunpy/io/tests/test_filetools.py
Labels: [BugFix]

#2695 make sure all the sphinx gallery imports are in the try block
  docs/conf.py
Labels: Affects Dev, Merge When CI Passes, No Changelog Entry Needed, [BugFix]

#2692 Datetime removal
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_rhessi.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed

#2697 Python 3.7
  .travis.yml
  changelog/2697.bugfix.rst
  sunpy/timeseries/sources/eve.py
Labels: Affects Release, [BugFix]

#2698 prevent meeseeksbot PRs from being built twice
  .travis.yml
Labels: No Changelog Entry Needed

#2702 Fix quantity_allclose on 0.9
  changelog/2702.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/transformations.py
Labels: 0.9.x, Affects Release, [BugFix]

#2700 Fix date-obs handling in LASCOMap
  changelog/2700.bugfix.rst
  sunpy/map/sources/soho.py
Labels: Affects Release, Merge When CI Passes, [BugFix], map

#2703 [0.9] 0.9.2
  CHANGELOG.rst
  setup.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/transformations.py
  sunpy/map/sources/soho.py
Labels: 0.9.x, Merge When CI Passes, No Changelog Entry Needed
