Repository sunpy/sunpy, pull requests merged in 2018-05, with the labels that each got.

#2408 refactor parse_time
  .travis.yml
  appveyor.yml
  setup.py
  sunpy/time/time.py
Labels: Merge When CI Passes, Refactoring, time

#2615 refactor the animator classes into separate files
  docs/code_ref/visualization.rst
  examples/LineAnimator_examples.py
  sunpy/map/mapcube.py
  sunpy/visualization/animator/__init__.py
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/image.py
  sunpy/visualization/animator/line.py
  sunpy/visualization/animator/mapcube.py
  sunpy/visualization/animator/tests/__init__.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
  sunpy/visualization/tests/test_imageanimator.py
Labels: Refactoring, visualization

#2627 Fix #2626 error on calling MapCube.plot()
  sunpy/map/mapcube.py
  sunpy/map/tests/test_mapcube.py
Labels: 0.9.x, [BugFix], map

#2635 Remove the use of cm.get_cmap
  .travis.yml
  examples/base_and_running_difference_mapcubes.py
  examples/map_editcolormap.py
  sunpy/cm/color_tables.py
  sunpy/map/mapbase.py
  sunpy/map/sources/hinode.py
  sunpy/map/sources/proba2.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
Labels: 0.9.x, Affects Release, [BugFix]

#2636 Fix support with astropy master
  sunpy/coordinates/transformations.py
Labels: Affects Release, Merge When CI Passes, [BugFix], coordinates

#2611 [time] Make parse_time return astropy.time.Time
  .circleci/config.yml
  examples/parse_time.py
  sunpy/time/__init__.py
  sunpy/time/astropy_time.py
  sunpy/time/tests/test_astropy_time.py
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: [Review]

#2621 Vso client fix
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: 0.8.x, 0.9.x, Affects Release, Priority High, [BugFix], net

#1983 Update the test runner to use the updated code in astropy 1.3
  .gitignore
  .travis.yml
  docs/guide/acquiring_data/database.rst
  docs/guide/data_types/timeseries.rst
  setup.cfg
  sunpy/__init__.py
  sunpy/data/test/__init__.py
  sunpy/instr/goes.py
  sunpy/net/helio/hec.py
  sunpy/tests/__init__.py
  sunpy/tests/runner.py
  sunpy/tests/setup_command.py
  sunpy/tests/tests/test_main.py
  sunpy/tests/tests/test_self_test.py
Labels: Tests, [Review]

#2642 Fix error in helioviewer if download dir does not exist
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: Affects Release, Merge When CI Passes, [BugFix]

#2624 reorganize the examples directory
  changelog/2624.doc.rst
  docs/conf.py
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  examples/acquiring_data/README.txt
  examples/acquiring_data/skip_searching_vso.py
  examples/computer_vision_techniques/README.txt
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/computer_vision_techniques/mask_disk.py
  examples/computer_vision_techniques/off_limb_enhance.py
  examples/maps/README.txt
  examples/maps/base_and_running_difference_mapcubes.py
  examples/maps/brightness_pixel_location.py
  examples/maps/image_bright_regions_gallery_example.py
  examples/maps/map_data_histogram.py
  examples/maps/map_from_numpy_array.py
  examples/maps/map_resampling_and_superpixels.py
  examples/maps/map_rotation.py
  examples/maps/maps_example.py
  examples/maps/submaps_and_cropping.py
  examples/plot_sample_images.py
  examples/plotting/Finding_Local_Peaks_in_Solar_Data.py
  examples/plotting/LineAnimator_examples.py
  examples/plotting/README.txt
  examples/plotting/aia_example.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/hmi_synoptic_maps.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/map_editcolormap.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/plotting/skip_magnetogram_active_regions.py
  examples/plotting/solar_cycle_example.py
  examples/plotting/sunpy_colormaps_reference.py
  examples/time_series/README.txt
  examples/time_series/goes_hek_m25.py
  examples/time_series/power_spectra_example.py
  examples/time_series/skip_timeseries_example.py
  examples/time_series/skip_timeseriesmetadata_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_peak_finding.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/README.txt
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Labels: Documentation, Examples, Merge When CI Passes, [DocFix]

#2607 Move figure tests to circleCI
  .circleci/config.yml
  .travis.yml
  sunpy/tests/figure_hashes_py27.json
  sunpy/tests/figure_tests_env_2.7.yml
  sunpy/tests/figure_tests_env_3.5.yml
Labels: No Changelog Entry Needed
