Repository sunpy/sunpy, pull requests merged in 2018-08, with the labels that each got.

#2705 more docs
  docs/guide/time.rst
Labels: No Changelog Entry Needed

#2720 pytest==3.6 until 3.7.2
  .travis.yml
  appveyor.yml
Labels: No Changelog Entry Needed, [BugFix]

#2719 Replace np.matrix() with np.array()
  changelog/2719.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: 0.9.x, Affects Release, [BugFix]

#2730 Fixes spelling in Map
  changelog/2730.trivial.rst
  sunpy/map/mapbase.py
Labels: [BugFix], map

#2722 Add set of links to appear on pypi...
  setup.py
Labels: No Changelog Entry Needed

#2725 Raise error in hpc<->hcc when observer is not the same
  changelog/2725.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: 0.9.x, Merge When CI Passes, [BugFix], coordinates

#2723 Fix the representation of observers in frame repr
  changelog/2723.feature.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/physics/differential_rotation.py
Labels: coordinates

#2708 Tidy docstring for solar_rotate_coordinate
  changelog/2708.docfix.rst
  sunpy/physics/differential_rotation.py
Labels: Documentation, Merge When CI Passes, [DocFix], physics
