Repository sunpy/sunpy, pull requests merged in 2018-02, with the labels that each got.

#2454 Testing the transformation linking SunPy and Astropy against published values
  requirements/base.txt
  setup.py
  sunpy/coordinates/tests/test_transformations.py
Labels: Tests, coordinates

#2414 Clean up database doc
  docs/guide/acquiring_data/database.rst
Labels: Documentation, [DocFix]

#2402 Updated docstring with pointer to access EVE data for other levels
  sunpy/lightcurve/sources/eve.py
  sunpy/timeseries/sources/eve.py
Labels: Documentation, [DocFix]

#2463 Fix our handling of "Unit Spherical" where distance is dimensionless
  .travis.yml
  CHANGELOG.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: 0.8.x, Merge When CI Passes, Priority High, [BugFix], coordinates

#2465 [0.8] Backport unit spherical fix (#2463)
  .travis.yml
  CHANGELOG.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: 0.8.x, [BugFix], coordinates

#2461 Correctly handle obstime in coordinate transforms and add HGS>HGS
  CHANGELOG.rst
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: coordinates

#2477 Fixed title bug in sunpy.timeseries.rhessi
  sunpy/timeseries/sources/rhessi.py
Labels: [BugFix]

#2476 Adds filters for AstropyDeprecationWarning for 0.8
  sunpy/coordinates/representation.py
Labels: 0.8.x, [BugFix]

#2443 Add HCC --> HGS test
  sunpy/coordinates/tests/test_transformations.py
Labels: Tests, coordinates

#2409 Added a subclass of astropy.time to support utime
  CHANGELOG.rst
  sunpy/time/__init__.py
  sunpy/time/tests/test_utime.py
  sunpy/time/utime.py
Labels: Changelog Entry Needed, time
