Repository sunpy/sunpy, pull requests merged in 2019-12, with the labels that each got.

#3574 Fixed missing underscores for link for JSOC email-address registration
  docs/guide/acquiring_data/jsoc.rst
Labels: No Changelog Entry Needed, [DocFix], backport 0.9, backport 1.0, backport 1.1

#3576 Fixed bugs with some transformations when `obstime` is `None` on the destination frame
  changelog/3576.bugfix.rst
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [BugFix], backport 1.0, backport 1.1, coordinates

#3583 [Backport 1.0] Fixed bugs with some transformations when `obstime` is `None` on the destination frame
  changelog/3576.bugfix.rst
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed

#3585 Clarify observer properties of GenericMap
  changelog/3585.doc.rst
  sunpy/map/mapbase.py
Labels: Documentation, [DocFix], backport 1.0, backport 1.1, map

#3510 [0.9] Backport of #3497
  .circleci/config.yml
  .travis.yml
  CHANGELOG.rst
  azure-templates.yml
  changelog/3381.bugfix.rst
  docs/code_ref/map.rst
  docs/conf.py
  docs/guide/acquiring_data/helioviewer.rst
  setup.cfg
  sunpy/database/tests/test_tables.py
  sunpy/lightcurve/sources/norh.py
  sunpy/map/sources/iris.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/stereo.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_tests_env_2.7.yml
  tox.ini
Labels: No Changelog Entry Needed

#3587 Document inherited members for sunpy.map classes
  changelog/3587.doc.rst
  docs/code_ref/map.rst
Labels: Documentation, [DocFix], backport 1.0, backport 1.1

#3596 small typo fix in pull request template
  .github/pull_request_template.md
Labels: No Changelog Entry Needed

#3597 Update our rebase policy
  docs/dev_guide/maintainer_workflow.rst
Labels: Documentation, Infrastructure, No Changelog Entry Needed

#3593 added return docstring for search
  changelog/3593.doc.rst
  sunpy/database/database.py
Labels: [DocFix], backport 1.0, backport 1.1, database

#3601 Update docstring of the parameter sortby in MapSequence Class.
  changelog/3601.doc.rst
  sunpy/map/mapsequence.py
Labels: [DocFix], backport 1.0, backport 1.1, map

#3603 Fixes #3492
  changelog/3603.doc.rst
  docs/guide/tour.rst
Labels: Merge When CI Passes, [DocFix], backport 1.0, backport 1.1

#3570 Remove un-used csvfile and fitsfile kwargs from _remove_lytaf_events
  changelog/3570.trivial.rst
  sunpy/instr/lyra.py
Labels: instr

#3569 Fix __repr__ for unknown coordinate systems
  changelog/3569.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: backport 1.0, backport 1.1, map

#3568 More helpful error message for Map(fname) when fname doesn't exist
  changelog/3568.feature.rst
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
Labels: [BugFix], backport 1.1, map

#3534 Add more exact values for HGC>HGC transformation test
  sunpy/coordinates/tests/test_transformations.py
Labels: No Changelog Entry Needed, Tests, coordinates

#3595 created BaseHeliographic class
  changelog/3595.breaking.rst
  sunpy/coordinates/frames.py
Labels: Merge When CI Passes, coordinates

#3572 Update to outmap meta to improve title in final plot
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
Labels: Examples, Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 1.1

#3616 Added a semicolon to squelch a return value from `plot_coord`
  docs/guide/units-coordinates.rst
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 1.0, backport 1.1

#3614 Fixed bug resulting from 8-bit floats in AIA test data
  sunpy/image/tests/test_coalignment.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 1.0, backport 1.1

#3615 formatted remote data manager example
  changelog/3615.doc.rst
  examples/remote_data_manager.py
Labels: Examples, Merge When CI Passes, [DocFix], backport 1.1

#3613 Bugfixes ``sunpy.map.mapsequence.MapSequence._derotate()`` and adds tests
  changelog/3613.bugfix.rst
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
Labels: backport 1.0, backport 1.1, map

#3592 add helper function to sample at coordinates
  changelog/3592.feature.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: map

#3623 Squelch possible return value from `plot_coord` in a doctest
  docs/guide/units-coordinates.rst
Labels: No Changelog Entry Needed, Tests, backport 1.0, backport 1.1

#3629 Changed URL for latest EVE L0CS file
  sunpy/timeseries/sources/eve.py
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix], backport 1.0, backport 1.1

#3636 add __repr__ for mapsequence objects
  changelog/3636.feature.rst
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
Labels: backport 1.1, map
