Repository sunpy/sunpy, pull requests merged in 2019-01, with the labels that each got.

#2366 Addition of asdf schema for our coordinate frames and GenericMap
  .gitignore
  changelog/2366.feature.rst
  docs/code_ref/io.rst
  docs/conf.py
  examples/saving_and_loading_data/README.txt
  examples/saving_and_loading_data/coordinates_in_asdf.py
  setup.cfg
  setup.py
  sunpy/conftest.py
  sunpy/io/special/asdf/__init__.py
  sunpy/io/special/asdf/extension.py
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentric-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_carrington-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_stonyhurst-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/helioprojective-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/map/generic_map-1.0.0.yaml
  sunpy/io/special/asdf/setup_package.py
  sunpy/io/special/asdf/tags/__init__.py
  sunpy/io/special/asdf/tags/coordinates/__init__.py
  sunpy/io/special/asdf/tags/coordinates/frames.py
  sunpy/io/special/asdf/tags/map/__init__.py
  sunpy/io/special/asdf/tags/map/generic_map.py
  sunpy/io/special/asdf/tags/tests/__init__.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  sunpy/io/special/asdf/types.py
  tox.ini
Labels: [Review], io, map

#2887 CircleCI now builds PRs on top of master
  .circleci/config.yml
Labels: No Changelog Entry Needed

#2885 Fix several DeprecationWarning: invalid escape sequence
  ah_bootstrap.py
  changelog/2885.trivial.rst
  docs/guide/data_types/maps.rst
  examples/plotting/finegrained_plot.py
  sunpy/map/map_factory.py
  sunpy/map/sources/soho.py
  sunpy/net/dataretriever/client.py
  sunpy/net/download.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/goes.py
  sunpy/util/multimethod.py
  sunpy/util/scraper.py
Labels: [CodeFix]

#2888 Revert "Fix LASCOMap"
  changelog/2775.bugfix.rst
  sunpy/map/sources/soho.py
Labels: No Changelog Entry Needed, [CodeFix], map

#2881 Fix some inconsistent online tests
  sunpy/instr/lyra.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/helio/parser.py
  sunpy/net/tests/test_helio.py
Labels: No Changelog Entry Needed, [CodeFix]

#2882 Added constants list to gallery
  examples/units_and_coordinates/constants_reference.py
Labels: Examples, Merge When CI Passes

#2865 Added new example for getting colormaps
  changelog/2865.doc.rst
  changelog/2882.doc.rst
  examples/plotting/sunpy_colormaps_reference.py
  examples/plotting/sunpy_matplotlib_colormap.py
  examples/saving_and_loading_data/README.txt
Labels: Examples

#2883 Reworked some of the Helioviewer code
  .circleci/config.yml
  .gitignore
  azure-templates.yml
  changelog/2883.breaking.rst
  conftest.py
  docs/code_ref/net.rst
  docs/guide/acquiring_data/helioviewer-1.png
  docs/guide/acquiring_data/helioviewer-2.png
  docs/guide/acquiring_data/helioviewer-3.png
  docs/guide/acquiring_data/helioviewer-4.png
  docs/guide/acquiring_data/helioviewer.rst
  docs/guide/data_types/maps.rst
  docs/rtd_requirements.txt
  setup.cfg
  sunpy/conftest.py
  sunpy/image/tests/test_resample.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/coveragerc
  sunpy/tests/tests/test_sunpy_data_filenames.py
Labels: [Review], net

#2787 Bare bones downloading and plotting example
  examples/acquiring_data/downloading_and_plotting.py
Labels: Examples, [Review]

#2873 Mocking database examples on the guide
  .circleci/config.yml
  changelog/2873.trivial.rst
  docs/guide/acquiring_data/database.rst
  sunpy/database/tables.py
  sunpy/util/tests/test_config.py
  tox.ini
Labels: Merge When CI Passes, [DocFix], database

#2892 missing pytest dep for RTD
  docs/rtd_requirements.txt
Labels: No Changelog Entry Needed, [DocFix]

#2898 Update the badges in the README
  README.rst
Labels: No Changelog Entry Needed

#2897 Firehose on the CI.
  .circleci/config.yml
  .gitignore
  .travis.yml
  appveyor.yml
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/tests/test_fido.py
  sunpy/util/tests/test_config.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#2880 Handle saving out FITS from Astropy.
  changelog/2880.bugfix.rst
  sunpy/instr/aia.py
  sunpy/io/fits.py
  sunpy/io/tests/test_fits.py
Labels: Merge When CI Passes, [BugFix], io

#2903 bypass numpy issue on RTD
  docs/rtd_requirements.txt
Labels: No Changelog Entry Needed, [DocFix]

#2901 remove mock dependency
  .circleci/config.yml
  docs/guide/installation/advanced.rst
  setup.cfg
  sunpy/instr/tests/test_rhessi.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/tests/test_helio.py
  sunpy/tests/figure_tests_env_py36.yml
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#2746 Created the example to use the composite maps.
  changelog/2746.doc.rst
  examples/acquiring_data/hmi.py
  examples/map/composite_map_AIA_HMI.py
Labels: Examples, [Review]

#2906 fix for pip 19 and pyproject file
  setup.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#2900 Added mocking in fido_search for test_noaa
  changelog/2900.trivial.rst
  sunpy/net/dataretriever/tests/test_noaa.py
Labels: Tests, [Review], net

#2912 Add SunPy support at SDAC
  sunpy/net/vso/vso.py
Labels: Affects Release, No Changelog Entry Needed, [CodeFix], net

#2913 Create 2912.feature.rst
  changelog/2912.feature.rst
Labels: No Changelog Entry Needed, [DocFix]

#2914 v0.9.6
  .gitignore
  CHANGELOG.rst
  MANIFEST.in
  changelog/2826.feature.rst
  changelog/2880.bugfix.rst
  pyproject.toml
  setup.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#2862 Improve the Release RST script to support things other than SunPy Core
  tools/generate_releaserst.xsh
Labels: No Changelog Entry Needed, [CodeFix]

#2752 Example for ImageAnimatorWCS
  changelog/2752.doc.rst
  examples/plotting/imageanimatorwcs.py
Labels: [Review], visualization

#2904 Add support to download header information form helioviewer API.
  changelog/2904.feature.rst
  docs/guide/acquiring_data/helioviewer.rst
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: Merge When CI Passes, [Review], net
