Repository sunpy/sunpy, pull requests merged in 2019-07, with the labels that each got.

#3257 Fix tests by fixing exception comparison and tmpdirs
  sunpy/conftest.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/net/tests/test_vso.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3256 Add binder support via jupytext
  .jupyter/jupyter_notebook_config.py
  README.rst
  binder/environment.yml
  changelog/3256.trivial.rst
Labels: Documentation

#3255 Fixed bug with trying to shift a layer relative to itself
  changelog/3255.bugfix.rst
  sunpy/physics/solar_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: Merge When CI Passes, [BugFix], physics

#3247 Fixing transformations to handle a change in observation time and to handle velocities
  changelog/3247.bugfix.1.rst
  changelog/3247.bugfix.2.rst
  docs/code_ref/coordinates.rst
  docs/guide/units-coordinates.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/coordinates/utils.py
  sunpy/map/tests/test_mapbase.py
  sunpy/physics/differential_rotation.py
Labels: [Review], coordinates

#3271 Improved the layout of the frame transform graph
  sunpy/coordinates/transformations.py
Labels: Documentation, [DocFix], coordinates

#3265 revamp of azure to use a github repo
  azure-pipelines.yml
  azure-templates.yml
  publish-pypi.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#3263 Update to references in differential rotation
  sunpy/physics/differential_rotation.py
Labels: No Changelog Entry Needed, [DocFix]

#3275 Added APE14 support in SunPy visualization
  changelog/3275.feature.rst
  sunpy/visualization/animator/image.py
Labels: visualization

#3264 misc dev doc changes
  CONTRIBUTING.rst
  docs/dev_guide/documentation.rst
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
Labels: No Changelog Entry Needed, [DocFix]

#3262 Added more details to docstrings in coordinates.frames
  changelog/3262.doc.rst
  sunpy/coordinates/frames.py
Labels: Documentation, Merge When CI Passes, coordinates

#3281 Add link to maintainer list in developer docs
  changelog/3281.doc.rst
  docs/dev_guide/stability.rst
Labels: [DocFix]

#3283 Shifted the axis for calculation of edges_to_centers for LineAnimator
  changelog/3283.bugfix.rst
  examples/plotting/imageanimatorwcs.py
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/line.py
Labels: visualization
