Repository sunpy/sunpy, pull requests merged in 2019-11, with the labels that each got.

#3470 Remove u.Quantity calls from examples
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/plotting/simple_differential_rotation.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/time_series/timeseries_example.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0

#3377 Clarify "must be supplied as keyword" wording in coordinate-frame docstrings
  sunpy/coordinates/frames.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0, coordinates

#3469 Report incorrect filetype in write_file() error message
  changelog/3469.feature.rst
  sunpy/instr/tests/test_aia.py
  sunpy/io/file_tools.py
  sunpy/io/tests/test_filetools.py
Labels: io

#3468 Clean up map.save() docstring
  sunpy/map/mapbase.py
Labels: Documentation, [DocFix], backport 1.0, map

#3473 Fixed the saving/loading ASDF example
  changelog/3473.doc.rst
  examples/saving_and_loading_data/coordinates_in_asdf.py
Labels: Examples, [DocFix], backport 1.0

#3477 Apply expanduser before passing to glob in map factory
  changelog/3477.bugfix.rst
  sunpy/map/map_factory.py
Labels: Merge When CI Passes, [BugFix], backport 1.0, map

#3474 Bump test coverage up for colormaps
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: No Changelog Entry Needed, Tests, visualization

#3479 [Backport 1.0] Fixed the saving/loading ASDF example
  changelog/3473.doc.rst
  examples/saving_and_loading_data/coordinates_in_asdf.py
Labels: No Changelog Entry Needed

#3483 Allow `map.make_fitswcs_header` to take a shape or an array
  changelog/3483.feature.rst
  sunpy/map/header_helper.py
Labels: map

#3334 Great Arc now calculable when two different observers are defined
  changelog/3334.bugfix.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Labels: Merge When CI Passes, [BugFix], backport 1.0, coordinates

#3461 Undo circle changes
  .circleci/config.yml
  sunpy/net/hek2vso/hek2vso.py
Labels: Infrastructure, No Changelog Entry Needed, backport 1.0

#3490 Add some Python 3.8 builds to the CI
  azure-pipelines.yml
Labels: Infrastructure, No Changelog Entry Needed

#3485 [1.0] Backport 3477 to 1.0
  changelog/3408.bugfix.1.rst
  changelog/3408.bugfix.2.rst
  changelog/3477.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/hek2vso/hek2vso.py
Labels: No Changelog Entry Needed

#3489 Document some kwargs in mapsaving methods
  sunpy/io/fits.py
  sunpy/map/mapbase.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0

#3495 Reduce sunpy.map import time
  changelog/3495.feature.rst
  sunpy/database/tables.py
  sunpy/io/jp2.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/util/types.py
Labels: [CodeFix]

#3456 Fix a deprecation warning in map rotate
  changelog/3456.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: Merge When CI Passes, [BugFix], map

#3455 Fix transforming an array of observers to another array of observers
  changelog/3455.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: Merge When CI Passes, [BugFix], backport 1.0, coordinates

#3509 [1.0] Backport 3455 to 1.0
  changelog/3455.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed, [BugFix]

#3378 Correctly document TimeSeries peek() args/kwargs
  changelog/3378.breaking.rst
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/timeseriesbase.py
Labels: Documentation, Merge When CI Passes, [DocFix], timeseries

#3367 Scraper fido updates
  changelog/3367.bugfix.rst
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
Labels: Merge When CI Passes, net

#3497 Do not assume the type of header entries
  changelog/3497.bugfix.rst
  docs/code_ref/map.rst
  sunpy/map/sources/iris.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/suvi.py
  sunpy/map/tests/test_map_factory.py
Labels: Priority High, [BugFix], backport 0.9, backport 1.0

#3511 [1.0] Backport of 3497
  changelog/3497.bugfix.rst
  docs/code_ref/map.rst
  sunpy/map/sources/iris.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/stereo.py
  sunpy/map/tests/test_map_factory.py
Labels: No Changelog Entry Needed

#3491 Add some missing doc requirements to conf.py
  .circleci/config.yml
  docs/conf.py
  docs/dev_guide/documentation.rst
  docs/dev_guide/tests.rst
  sunpy/tests/helpers.py
  sunpy/tests/tests/test_self_test.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed

#3488 Add an example showing fading between two maps
  changelog/3488.doc.rst
  examples/plotting/fading_between_maps.py
Labels: Documentation, Examples, Merge When CI Passes, backport 1.0

#3478 Add __citation__
  CITATION.rst
  MANIFEST.in
  changelog/3478.doc.rst
  setup.cfg
  sunpy/CITATION.rst
  sunpy/__init__.py
Labels: Merge When CI Passes, [DocFix], backport 1.0

#3513 [1.0] Backport of #3478
  CITATION.rst
  MANIFEST.in
  changelog/3478.doc.rst
  setup.cfg
  sunpy/CITATION.rst
  sunpy/__init__.py
Labels: No Changelog Entry Needed

#3515 edited documentation to reflect that the threshold is being made at 10% of max intensity
  examples/map/image_bright_regions_gallery_example.py
Labels: Examples, Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 1.0

#3517 Fixes to `NorthOffsetFrame`
  changelog/3517.bugfix.rst
  sunpy/coordinates/offset_frame.py
  sunpy/coordinates/tests/test_offset_frame.py
Labels: [BugFix], [DocFix], backport 1.0, coordinates

#3518 Mistake in dev docs.
  docs/dev_guide/documentation.rst
Labels: No Changelog Entry Needed, [DocFix]

#3124 API for remote data manager
  changelog/3124.feature.rst
  docs/dev_guide/index.rst
  docs/dev_guide/remote_data.rst
  examples/remote_data_manager.py
  setup.cfg
  sunpy/conftest.py
  sunpy/data/__init__.py
  sunpy/data/data_manager/__init__.py
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/downloader.py
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/storage.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/db_testdata.csv
  sunpy/data/data_manager/tests/mocks.py
  sunpy/data/data_manager/tests/test_cache.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/data/data_manager/tests/test_storage.py
  sunpy/data/sunpyrc
  sunpy/instr/goes.py
  sunpy/instr/lyra.py
  sunpy/instr/tests/test_lyra.py
  sunpy/map/map_factory.py
  sunpy/util/config.py
  sunpy/util/decorators.py
  sunpy/util/net.py
  sunpy/util/util.py
Labels: Feature Request, Merge When CI Passes, net

#3405 Add examples of using reproject with solar data
  changelog/3405.doc.rst
  docs/conf.py
  examples/sunpy_other_packages/README.txt
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/sunpy_other_packages/reprojection_heliographic_stonyhurst.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/getting_lasco_observer_location.py
  tox.ini
Labels: Documentation, Merge When CI Passes

#3521 Attempt to fix the online build
  azure-pipelines.yml
  sunpy/net/tests/test_hek2vso.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, backport 1.0, net

#3524 [1.0] Backport #3521
  azure-pipelines.yml
  sunpy/net/tests/test_hek2vso.py
  tox.ini
Labels: No Changelog Entry Needed

#3526 Do not build 3.8 wheels
  azure-pipelines.yml
Labels: No Changelog Entry Needed

#3527 Fix kwarg documented order
  sunpy/net/dataretriever/client.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 1.0, net

#3528 Reduce memory consumption of aiai_euvi_mosaic
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
Labels: Examples, Infrastructure, No Changelog Entry Needed, [DocFix]

#3531 Update .rtd-environment.yml
  .rtd-environment.yml
Labels: Infrastructure, No Changelog Entry Needed

#3504 Add more features and clarification to Animators
  changelog/3407.breaking.rst
  changelog/3504.feature.rst
  licenses/GLUE.rst
  sunpy/extern/modest_image.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
  tox.ini
Labels: visualization

#3538 Fixed wrong header being used in "AIA as Seen from Mars" example
  examples/sunpy_other_packages/reprojection_different_observers.py
Labels: Examples, No Changelog Entry Needed, backport 1.1

#3543 Change code block to remove warning
  docs/dev_guide/documentation.rst
Labels: No Changelog Entry Needed, [DocFix]

#3551 Add backporting github action
  .github/workflows/backport.yml
Labels: Infrastructure, No Changelog Entry Needed

#3548 Block `graphviz` version 2.42 on RTD due to the bug with scaling
  .rtd-environment.yml
  changelog/3548.doc.rst
Labels: Documentation, Infrastructure, [CodeFix], backport 1.0, backport 1.1

#3549 Add link to Thompson paper and clarifications to HMI map example
  changelog/3549.docfix.rst
  examples/plotting/hmi_synoptic_maps.py
Labels: Documentation, Examples, backport 1.0, backport 1.1

#3550 Fix tests for data_manager
  changelog/3550.trivial.rst
  setup.cfg
  sunpy/conftest.py
  sunpy/data/__init__.py
  sunpy/data/data_manager/__init__.py
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/storage.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/mocks.py
  sunpy/data/data_manager/tests/test_manager.py
Labels: [BugFix], backport 1.1

#3547 Pass posargs through to tox build docs
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, backport 1.1

#3555 [1.1] Reenable wheels for 1.1rc2
  azure-pipelines.yml
Labels: No Changelog Entry Needed

#3558 Remove github action backport
  .github/workflows/backport.yml
Labels: Infrastructure, No Changelog Entry Needed

#3559 Improve numpy pinnings for 3.8
  pyproject.toml
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 1.0, backport 1.1

#3560 Revert moving the cache and manager instances
  sunpy/data/__init__.py
  sunpy/data/data_manager/__init__.py
Labels: No Changelog Entry Needed, [BugFix], backport 1.1, data

#3566 data manager tests part 3
  .gitignore
  setup.cfg
  sunpy/coordinates/tests/test_transformations.py
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/tests/__init__.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_cache.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/database/tests/test_tables.py
  sunpy/instr/tests/test_fermi.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_helio.py
  sunpy/util/tests/test_scraper.py
  sunpy/visualization/animator/tests/test_wcs.py
  tox.ini
Labels: No Changelog Entry Needed, backport 1.1
