Repository sunpy/sunpy, pull requests merged in 2019-05, with the labels that each got.

#3084 temporarily skip troublesome example
  examples/acquiring_data/skip_downloading_and_plotting.py
Labels: No Changelog Entry Needed

#3087 Update to logger docs
  docs/guide/logger.rst
Labels: No Changelog Entry Needed, [DocFix]

#2998 sunpy.timeseries python file review
  .circleci/config.yml
  examples/acquiring_data/skip_hmi.py
  sunpy/net/helioviewer.py
  sunpy/timeseries/__init__.py
  sunpy/timeseries/metadata.py
  sunpy/timeseries/sources/__init__.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed, [Review], timeseries

#3089 backport rhessi test fix
  .travis.yml
  sunpy/instr/tests/test_rhessi.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3090 Fix online test and sample data error recovery
  docs/guide/acquiring_data/hek.rst
  sunpy/data/_sample.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix]

#3092 removal of SunPy_git since its not needed
  sunpy/util/sysinfo.py
  sunpy/util/tests/test_sysinfo.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix]

#3000 Tests for animator class
  sunpy/tests/figure_hashes_py36.json
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/line.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Labels: No Changelog Entry Needed, Tests, [WIP], visualization

#3055 Add capability for light-travel-time correction
  changelog/3055.feature.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Labels: coordinates

#3099 Added rsun_obs property to return a quantity
  changelog/3099.bugfix.rst
  sunpy/map/sources/stereo.py
  sunpy/map/sources/tests/test_euvi_source.py
Labels: map

#3104 Clean up sunpy.system_info()
  sunpy/util/sysinfo.py
Labels: No Changelog Entry Needed

#3063 Fix two bugs in scraper code.
  changelog/3063.bugfix.1.rst
  changelog/3063.bugfix.2.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: [BugFix], util

#3100 Clipping Map plots to a percentile interval
  changelog/3100.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_py36.json
Labels: [Review], map

#3107 Change to use function annotations
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed

#3106 Tidy up warning when plotting on non-wcsaxes
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, [BugFix]

#3111 Remove header from licence
  LICENSE.rst
Labels: No Changelog Entry Needed, [CodeFix]

#3056 Make AIAMap use the HAE coordinates in the header
  changelog/3056.bugfix.rst
  docs/code_ref/coordinates.rst
  docs/guide/units-coordinates.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/map/sources/sdo.py
  sunpy/physics/tests/test_solar_rotation.py
  sunpy/tests/figure_hashes_py36.json
Labels: [BugFix], map

#3112 Sample data limits
  docs/guide/tour.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Labels: Documentation, Examples, No Changelog Entry Needed, [DocFix]

#3115 Change the way observer location is calculated in Map
  changelog/3115.breaking.1.rst
  changelog/3115.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_mapbase.py
Labels: Affects Dev, [BugFix], map

#2972 Fixing solar rotation for coordinates and the differential rotation of maps
  changelog/2972.bugfix.rst
  docs/code_ref/map.rst
  docs/whatsnew/0.8.rst
  examples/map/base_and_running_difference_mapcubes.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/solar_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: Refactoring, [Review], physics

#3083 Helper map header function
  changelog/3083.feature.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/map/__init__.py
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: Feature Request, Merge When CI Passes, [Review], map

#3067 Attempt to correctly read observer locations for MDI and EIT
  changelog/3067.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_mdi_source.py
Labels: [BugFix], map

#3103 Fixes to `.plot()` (for Map) and `.peek()` (for all classes)
  changelog/3103.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/mapbase.py
  sunpy/tests/helpers.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/visualization/visualization.py
Labels: [BugFix], map

#3123 Fixing differential rotation of coordinates again.
  changelog/3123.bugfix.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: [BugFix], coordinates

#3113 Added the capability to query JPL HORIZONS
  changelog/3113.feature.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  tox.ini
Labels: coordinates

#3105 Cleanup sample data example
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  examples/acquiring_data/skip_downloading_and_plotting.py
  examples/acquiring_data/skip_hmi.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/map/map_rotation.py
  examples/map/maps_example.py
  examples/map/submaps_and_cropping.py
  examples/plotting/aia_example.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/timeseries_example.py
  examples/time_series/timeseries_peak_finding.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Labels: Documentation, Examples, No Changelog Entry Needed

#3125 [1.0] 1.0.0rc2
  CHANGELOG.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  examples/acquiring_data/skip_downloading_and_plotting.py
  examples/acquiring_data/skip_hmi.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/map/map_rotation.py
  examples/map/maps_example.py
  examples/map/submaps_and_cropping.py
  examples/plotting/aia_example.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/timeseries_example.py
  examples/time_series/timeseries_peak_finding.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/map/compositemap.py
  sunpy/map/mapbase.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
  sunpy/tests/helpers.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/visualization/visualization.py
  tox.ini
Labels: No Changelog Entry Needed

#3128 Fixed uses of a deprecated keyword
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Labels: No Changelog Entry Needed, [BugFix], map

#3130 Only build towncrier in the docs if we have a dev release
  docs/conf.py
Labels: No Changelog Entry Needed, [DocFix]

#3132 Minor doc fix
  sunpy/sun/sun.py
Labels: No Changelog Entry Needed, [DocFix]

#3134 Fixes for sunpy.sun.sun
  sunpy/sun/sun.py
  sunpy/sun/tests/test_sun.py
Labels: No Changelog Entry Needed, [BugFix], [DocFix], sun

#3116 More reliably determine lon/lat from WCS
  changelog/3116.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: [BugFix], coordinates

#3140 pandas check for timeseries to_array()
  sunpy/timeseries/timeseriesbase.py
Labels: No Changelog Entry Needed, [BugFix]

#3141 Cleanup the changelog before 1.0
  changelog/2603.feature.rst
  changelog/2611.breaking.rst
  changelog/2621.bugfix.rst
  changelog/2635.bugfix.rst
  changelog/2638.breaking.rst
  changelog/2655.trivial.1.rst
  changelog/2655.trivial.2.rst
  changelog/2655.trivial.rst
  changelog/2671.trivial.rst
  changelog/2676.breaking.rst
  changelog/2679.bugfix.rst
  changelog/2694.breaking.rst
  changelog/2700.bugfix.rst
  changelog/2723.feature.rst
  changelog/2730.trivial.rst
  changelog/2746.doc.rst
  changelog/2749.bugfix.rst
  changelog/2759.feature.rst
  changelog/2797.feature.rst
  changelog/2808.removal.rst
  changelog/2826.feature.rst
  changelog/2830.removal.10.rst
  changelog/2830.removal.11.rst
  changelog/2830.removal.12.rst
  changelog/2830.removal.13.rst
  changelog/2830.removal.14.rst
  changelog/2830.removal.2.rst
  changelog/2830.removal.3.rst
  changelog/2830.removal.4.rst
  changelog/2830.removal.5.rst
  changelog/2830.removal.6.rst
  changelog/2830.removal.7.rst
  changelog/2830.removal.8.rst
  changelog/2830.removal.9.rst
  changelog/2830.removal.rst
  changelog/2831.trivial.rst
  changelog/2853.bugfix.rst
  changelog/2866.feature.rst
  changelog/2922.trivial.rst
  changelog/2980.feature.1.rst
  changelog/2981.trivial.rst
  changelog/2999.breaking.rst
  changelog/3001.breaking.1.rst
  changelog/3001.breaking.rst
  changelog/3044.breaking.rst
  changelog/3055.feature.rst
Labels: No Changelog Entry Needed, [DocFix]

#3137 Re-implementation of `sunpy.sun.sun` functions
  changelog/3137.breaking.rst
  sunpy/instr/tests/test_fermi.py
  sunpy/sun/sun.py
  sunpy/sun/tests/test_sun.py
Labels: coordinates

#3143 Update the submodule stability matrix
  docs/dev_guide/sunpy_stability.yaml
Labels: Documentation, No Changelog Entry Needed

#3142 mailmap updates and the start of the release notes
  .mailmap
  RELEASE.rst
Labels: No Changelog Entry Needed, [DocFix]

#3138 Docs for header_helper
  docs/guide/data_types/maps.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix]

#3145 added skips for asdf tests
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  sunpy/tests/helpers.py
Labels: No Changelog Entry Needed, [BugFix]

#3139 Adding rotation arguments to the header helper function
  changelog/3139.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: Merge When CI Passes, [BugFix], map

#3131 [1.0] Extra backports for next RC/Release
  .mailmap
  CHANGELOG.rst
  RELEASE.rst
  docs/conf.py
  docs/dev_guide/sunpy_stability.yaml
  docs/guide/data_types/maps.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/instr/tests/test_fermi.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  sunpy/map/header_helper.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/tests/test_header_helper.py
  sunpy/sun/sun.py
  sunpy/sun/tests/test_sun.py
  sunpy/tests/helpers.py
  sunpy/timeseries/timeseriesbase.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#3146 skip due to 32bit print differences
  docs/guide/data_types/maps.rst
Labels: No Changelog Entry Needed, [DocFix]

#3147 tidy up of the install/bug docs
  changelog/3147.doc.rst
  docs/guide/bugs.rst
  docs/guide/index.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  docs/guide/installation/linux.rst
  docs/guide/installation/mac.rst
  docs/guide/testingfeatures.rst
  docs/guide/troubleshooting.rst
Labels: [DocFix]

#3150 Removed `sunpy.sun.sun.solar_cycle_number`
  changelog/3150.removal.rst
  sunpy/sun/sun.py
  sunpy/sun/tests/test_sun.py
Labels: [BugFix], sun

#3152 Updated the `sunpy.sun.sun` tests to be very stringent
  sunpy/sun/tests/test_sun.py
Labels: No Changelog Entry Needed, Tests, sun

#3149 Fix differential rotation of map
  changelog/3149.bugfix.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: Merge When CI Passes, [BugFix]

#3153 Removal of image utils file due to un_norm and to_norm not being used after #3149
  sunpy/image/tests/test_util.py
  sunpy/image/util.py
  sunpy/physics/differential_rotation.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3157 More improvements to sunpy.sun.sun tests
  sunpy/sun/tests/test_sun.py
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, sun

#3162 Fix the helioviewer data_sources function
  changelog/3162.bugfix.rst
  docs/guide/acquiring_data/helioviewer.rst
  sunpy/net/helioviewer.py
Labels: Merge When CI Passes, [BugFix], net

#3163 The new `sunpy.coordinates.sun`
  changelog/3163.breaking.rst
  docs/code_ref/coordinates.rst
  docs/code_ref/sun.rst
  docs/dev_guide/sunpy_stability.yaml
  examples/units_and_coordinates/AltAz_Coordinate_transform.py
  sunpy/coordinates/__init__.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/transformations.py
  sunpy/instr/fermi.py
  sunpy/instr/goes.py
  sunpy/instr/rhessi.py
  sunpy/map/mapbase.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/sun/__init__.py
  sunpy/sun/sun.py
  sunpy/util/exceptions.py
Labels: coordinates, sun

#3133 Adds zenodo metadata file
  .zenodo.json
Labels: No Changelog Entry Needed

#3148 Whats new in 1.0
  docs/guide/customization.rst
  docs/guide/data_types/maps.rst
  docs/guide/logger.rst
  docs/whatsnew/1.0.rst
Labels: No Changelog Entry Needed, [DocFix]

#3165 Gallery fixes for 1.0
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  examples/acquiring_data/searching_vso.py
  examples/acquiring_data/skip_downloading_and_plotting.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/acquiring_data/skip_hmi.py
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/computer_vision_techniques/mask_disk.py
  examples/computer_vision_techniques/off_limb_enhance.py
  examples/example_template/example_template.py
  examples/map/brightness_pixel_location.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/image_bright_regions_gallery_example.py
  examples/map/map_data_histogram.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/map/map_rotation.py
  examples/map/maps_example.py
  examples/map/submaps_and_cropping.py
  examples/plotting/LineAnimator_examples.py
  examples/plotting/aia_example.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/hmi_synoptic_maps.py
  examples/plotting/imageanimatorwcs.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/magnetogram_active_regions.py
  examples/plotting/map_editcolormap.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/plotting/solar_cycle_example.py
  examples/plotting/sunpy_matplotlib_colormap.py
  examples/plotting/wcs_axis_map_example.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/power_spectra_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_peak_finding.py
  examples/time_series/timeseriesmetadata_example.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/AltAz_Coordinate_transform.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/constants_reference.py
Labels: Examples, No Changelog Entry Needed, [DocFix]
