Repository sunpy/sunpy, pull requests merged in 2019-06, with the labels that each got.

#3171 [1.0] 1.0.0
  .zenodo.json
  CHANGELOG.rst
  docs/whatsnew/1.0.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  examples/acquiring_data/searching_vso.py
  examples/acquiring_data/skip_downloading_and_plotting.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/acquiring_data/skip_hmi.py
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/computer_vision_techniques/loop_edge_enhance.py
  examples/computer_vision_techniques/mask_disk.py
  examples/computer_vision_techniques/off_limb_enhance.py
  examples/example_template/example_template.py
  examples/map/brightness_pixel_location.py
  examples/map/composite_map_AIA_HMI.py
  examples/map/image_bright_regions_gallery_example.py
  examples/map/map_data_histogram.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/map/map_rotation.py
  examples/map/maps_example.py
  examples/map/submaps_and_cropping.py
  examples/plotting/LineAnimator_examples.py
  examples/plotting/aia_example.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/hmi_synoptic_maps.py
  examples/plotting/imageanimatorwcs.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/magnetogram_active_regions.py
  examples/plotting/map_editcolormap.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/plotting/solar_cycle_example.py
  examples/plotting/sunpy_matplotlib_colormap.py
  examples/plotting/wcs_axis_map_example.py
  examples/saving_and_loading_data/coordinates_in_asdf.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/power_spectra_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_peak_finding.py
  examples/time_series/timeseriesmetadata_example.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/AltAz_Coordinate_transform.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/constants_reference.py
Labels: No Changelog Entry Needed

#3173 [zenodo] Removes the identifier to previous version so it creates the releases
  .zenodo.json
Labels: No Changelog Entry Needed

#3174 [1.0] Backport #3173
  .zenodo.json
Labels: No Changelog Entry Needed

#3175 Add in final numbers
  RELEASE.rst
  docs/whatsnew/1.0.rst
Labels: No Changelog Entry Needed

#3180 Added missing apostrophes
  README.rst
Labels: No Changelog Entry Needed, [DocFix]

#3186 Added missing HGC<->HGC loopback transformation
  changelog/3186.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [BugFix], coordinates

#3178 Fixed Carrington longitude and Carrington rotation number
  changelog/3178.bugfix.rst
  docs/code_ref/coordinates.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/map/sources/tests/test_mdi_source.py
Labels: [BugFix], coordinates

#3191 Culled-down version of the transformation graph for our docs
  sunpy/coordinates/__init__.py
  sunpy/coordinates/transformations.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], coordinates

#3192 Fix CI
  azure-pipelines.yml
  azure-templates.yml
  docs/code_ref/io.rst
Labels: No Changelog Entry Needed, [CodeFix]

#3184 Fix two *small* errors in header helper
  changelog/3184.bugfix.rst
  docs/dev_guide/maintainer_workflow.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
  sunpy/net/tests/test_fido.py
Labels: Merge When CI Passes, [BugFix], map

#3183 Fix for checking inputs to header_helper, removing ability to add all kwargs and only ones defined
  changelog/3183.bugfix.rst
  docs/guide/data_types/maps.rst
  examples/map/map_from_numpy_array.py
  sunpy/map/header_helper.py
  tox.ini
Labels: Merge When CI Passes, [BugFix], map

#3194 fix config generation on multiple threads
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3181 More updates to the Gallery
  changelog/2708.doc.rst
  changelog/3181.doc.rst
  docs/rtd_requirements.txt
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/example_template/example_template.py
  examples/map/map_data_histogram.py
  examples/plotting/simple_differential_rotation.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/getting_lasco_observer_location.py
  examples/units_and_coordinates/getting_observer_location.py
  examples/units_and_coordinates/planet_locations.py
  examples/units_and_coordinates/venus_transit.py
  sunpy/map/header_helper.py
  sunpy/map/tests/test_maputils.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  tox.ini
Labels: Examples, Merge When CI Passes, [DocFix]

#3196 RTD back to conda due to openjpeg
  .gitattributes
  .readthedocs.yml
  .rtd-environment.yml
  docs/rtd_requirements.txt
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#3197 Test tweaks for `sunpy.coordinates.sun`
  sunpy/coordinates/tests/test_sun.py
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, coordinates

#3195 [1.0] v1.0.1
  .gitattributes
  .readthedocs.yml
  .rtd-environment.yml
  CHANGELOG.rst
  README.rst
  azure-pipelines.yml
  azure-templates.yml
  changelog/2708.docfix.rst
  changelog/3163.breaking.rst
  docs/code_ref/coordinates.rst
  docs/code_ref/io.rst
  docs/guide/data_types/maps.rst
  docs/rtd_requirements.txt
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/example_template/example_template.py
  examples/map/map_data_histogram.py
  examples/map/map_from_numpy_array.py
  examples/plotting/simple_differential_rotation.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/getting_lasco_observer_location.py
  examples/units_and_coordinates/getting_observer_location.py
  examples/units_and_coordinates/planet_locations.py
  examples/units_and_coordinates/venus_transit.py
  sunpy/coordinates/__init__.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/header_helper.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/tests/test_fido.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed

#3199 Clarified ICRF versus dynamical in docstrings
  sunpy/coordinates/sun.py
Labels: No Changelog Entry Needed, [DocFix], coordinates

#3210 pin astropy<3.2 for RTD build
  .rtd-environment.yml
  azure-pipelines.yml
  examples/acquiring_data/downloading_lascoC3.py
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#3214 skip lasco examaple
  examples/acquiring_data/skip_downloading_lascoC3.py
Labels: No Changelog Entry Needed, [CodeFix]

#3215 RTD
  .readthedocs.yml
  docs/conf.py
Labels: Infrastructure, [CodeFix]

#3216 Replacing all use of meshgrid with maps with the appropriate maputil functions
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/computer_vision_techniques/mask_disk.py
  examples/computer_vision_techniques/off_limb_enhance.py
  examples/plotting/Finding_Local_Peaks_in_Solar_Data.py
Labels: Documentation, Examples

#3221 Restore online test suite.
  .circleci/config.yml
  .rtd-environment.yml
  examples/acquiring_data/skip_downloading_lascoC3.py
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/database/tests/test_tables.py
  sunpy/net/tests/test_helio.py
  sunpy/physics/tests/test_solar_rotation.py
  sunpy/tests/helpers.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], database

#3203 Added tests that check against SunSPICE transformations
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Labels: Tests, [CodeFix], coordinates

#3217 SDO Map sources header cleanup
  changelog/3217.bugfix.rst
  sunpy/map/sources/sdo.py
Labels: [CodeFix], map

#3218 Support custom projection in make_fitswcs_header
  changelog/3218.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: [BugFix], map

#3223 Improved handling of longitude wrap angles in frames
  changelog/3223.bugfix.rst
  docs/code_ref/coordinates.rst
  docs/guide/units-coordinates.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/frames.py
Labels: [BugFix], coordinates

#3220 Update to docs for fido clients
  changelog/3220.doc.rst
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
Labels: Documentation, Merge When CI Passes, [DocFix]

#3219 Fix the detection of distance in Helioprojective.calculate_distance
  changelog/3219.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: [BugFix], coordinates

#3228 Clarifying `astroquery` dependency in gallery example
  changelog/3228.doc.rst
  examples/units_and_coordinates/getting_lasco_observer_location.py
Labels: Examples, Merge When CI Passes, [DocFix]

#3229 Remove pytest warnings capture
  setup.cfg
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#3230 Fix a handful more test warnings
  sunpy/tests/mocks.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#3231 Remove coordinate test warnings
  sunpy/coordinates/tests/test_sun.py
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#3232 Update CITATION.rst
  CITATION.rst
Labels: No Changelog Entry Needed, [DocFix]

#3225 Bugfix in differential rotation when passing time
  changelog/3225.bugfix.rst
  sunpy/physics/differential_rotation.py
Labels: Merge When CI Passes, [BugFix], physics

#3227 Fixed `get_horizons_coord()` to work with `Time` array input
  changelog/3227.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Labels: [BugFix], coordinates

#3237 More warning removal
  setup.cfg
  sunpy/instr/tests/test_aia.py
  sunpy/instr/tests/test_iris.py
  sunpy/instr/tests/test_lyra.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
Labels: No Changelog Entry Needed, Tests

#3235 Fix issues with HGS grid
  changelog/3235.bugfix.rst
  setup.cfg
  sunpy/tests/figure_hashes_py36.json
  sunpy/visualization/wcsaxes_compat.py
Labels: [BugFix]

#3240 Fix: Util function to ensure list of dicts all have same keys for hek
  .github/ISSUE_TEMPLATE/bug_report.md
  azure-pipelines.yml
  azure-templates.yml
  changelog/3240.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/helio/hec.py
  sunpy/net/tests/test_hek.py
  sunpy/net/tests/test_helio.py
  sunpy/sun/constants.py
  sunpy/util/tests/test_util.py
  sunpy/util/util.py
  tox.ini
Labels: Merge When CI Passes, [BugFix], net, util

#3246 Fixed HCRS<->HGS transformations to work with changing observation times
  changelog/3246.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [BugFix], coordinates

#3236 Added azure script to build dist and wheels and upload on test pass.
  .circleci/config.yml
  CONTRIBUTING.rst
  README.rst
  azure-pipelines.yml
  publish-pypi.yml
  pyproject.toml
  setup.cfg
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#3251 fixed misspelling for setup.cfg
  setup.cfg
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3252 CI/Package issues found from 1.0.2
  azure-pipelines.yml
  setup.cfg
Labels: Infrastructure, No Changelog Entry Needed
