Repository sunpy/sunpy, pull requests merged in 2019-09, with the labels that each got.

#3333 updated print_config test to work on root
  sunpy/conftest.py
  sunpy/util/tests/test_config.py
Labels: No Changelog Entry Needed, [BugFix], backport 1.0

#3327 Package maintainers
  .github/CODEOWNERS
  docs/dev_guide/pr_review_procedure.rst
Labels: No Changelog Entry Needed

#3302 New doc entry on requirements for data source docstring
  docs/dev_guide/documentation.rst
  docs/dev_guide/new_objects.rst
Labels: Documentation

#3330 Add Debug logging to VSOClient
  changelog/3330.breaking.rst
  changelog/3330.feature.rst
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
  sunpy/net/vso/zeep_plugins.py
Labels: net

#3341 Fixed the mysterious change of logging level during testing
  docs/guide/logger.rst
Labels: No Changelog Entry Needed, Tests, backport 1.0

#3344 Ensure Azure triggers on all branches
  azure-pipelines.yml
Labels: No Changelog Entry Needed, backport 1.0

#3356 Fix off by one error in header helper
  changelog/3356.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: Affects Release, [BugFix], backport 1.0, map

#3301 SUVI fido client
  changelog/3301.feature.rst
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/util/scraper.py
Labels: Merge When CI Passes, [Review], net

#3269 Add support for SUVI images
  changelog/3269.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/cm/cm.py
  sunpy/cm/color_tables.py
  sunpy/data/test/dr_suvi-l2-ci195_g16_s20190403T093200Z_e20190403T093600Z_v1-0-0_rebinned.fits
  sunpy/database/tests/test_tables.py
  sunpy/map/sources/__init__.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/suvi.py
  sunpy/map/sources/tests/test_suvi_source.py
Labels: Feature Request, [WIP], map

#3363 Swap to new OpenAstronomy Azure template
  azure-pipelines.yml
  tox.ini
Labels: No Changelog Entry Needed, backport 1.0

#3365 Fix online tests to match current VSO results
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/tests/test_goes_suvi.py
  sunpy/net/tests/test_hek2vso.py
Labels: No Changelog Entry Needed, backport 1.0

#3366 [Backport 1.0] Fix online tests to match current VSO results
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/net/tests/test_hek2vso.py
Labels: No Changelog Entry Needed

#3339 Debugging output for coordinate transformations
  changelog/3339.feature.rst
  sunpy/coordinates/transformations.py
Labels: Merge When CI Passes, [Review], coordinates

#3361 Add remove_column() method to TimeSeries
  changelog/3361.feature.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: Merge When CI Passes, timeseries

#3346 Small Improvements to ImageAnimatorWCS
  changelog/3346.trivial.rst
  sunpy/visualization/animator/image.py
Labels: Merge When CI Passes, [DocFix], visualization

#3311 Partial instr review
  sunpy/instr/__init__.py
  sunpy/instr/aia.py
  sunpy/instr/fermi.py
  sunpy/instr/goes.py
  sunpy/instr/iris.py
  sunpy/instr/iris/__init__.py
  sunpy/instr/lyra.py
  sunpy/instr/rhessi.py
  sunpy/instr/tests/test_aia.py
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_iris.py
  sunpy/instr/tests/test_lyra.py
  sunpy/instr/tests/test_rhessi.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed
