Repository sunpy/sunpy, pull requests merged in 2019-10, with the labels that each got.

#3381 Updated the URL for Fermi pointing files
  changelog/3381.bugfix.rst
  sunpy/instr/fermi.py
Labels: Affects Release, [BugFix], backport 0.9, backport 1.0, instr

#3380 Add shape property to TimeSeries
  changelog/3380.feature.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries

#3379 Add missing import in the GenericTimeSeries docstring
  sunpy/timeseries/timeseriesbase.py
Labels: Documentation, No Changelog Entry Needed, Tests, [DocFix], backport 0.9, backport 1.0

#3394 Improve the CONTRIBUTING/Newcomers page
  CONTRIBUTING.rst
  changelog/3394.doc.rst
Labels: Merge When CI Passes, [DocFix], backport 1.0

#3400 Less sunpy
  docs/guide/index.rst
  docs/guide/roi.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0

#3360 Add function to compute start time of a Carrington rotation
  changelog/3360.feature.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Labels: Feature Request, coordinates

#3376 Put Matplotlib imports inside TimeSeries methods
  changelog/3376.breaking.rst
  sunpy/timeseries/timeseriesbase.py
Labels: Merge When CI Passes, timeseries

#3287 Change treatment of non-finite entries before image coalignment
  changelog/3287.removal.rst
  sunpy/image/coalignment.py
  sunpy/image/tests/test_coalignment.py
Labels: Merge When CI Passes, image

#3406 Bump figure test matplotlib version
  changelog/3406.trivial.rst
  sunpy/tests/figure_hashes_py36.json
  tox.ini
Labels: Infrastructure, Tests

#3351 Fix construction of HG frames to be 3D
  changelog/3351.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: [BugFix], coordinates

#3404 Fix markup in Map example gallery README
  examples/map/README.txt
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix]

#3371 Fix lat lon makefitswcs
  changelog/3371.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: [BugFix], backport 1.0, map

#3399 Removing ".fits" from path kwarg for Fido.fetch()
  changelog/3399.doc .rst
  docs/guide/acquiring_data/fido.rst
Labels: [DocFix], backport 1.0

#3408 Explicitly sort maps for glob and directory patterns
  changelog/3408.feature.1.rst
  changelog/3408.feature.2.rst
  changelog/3408.feature.3.rst
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
Labels: [Review], map

#3418 Fixed missing keyword argument specification in test
  changelog/3418.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
Labels: Affects Release, Merge When CI Passes, Tests, [BugFix], backport 1.0

#3422 Reduce the number of files we upload after doc build
  .circleci/config.yml
  tox.ini
Labels: Infrastructure

#3423 Fix the manifest file to include the right helpers things and docs
  MANIFEST.in
  changelog/3423.bugfix.rst
Labels: Affects Release, Infrastructure, Priority High, [BugFix], backport 1.0

#3412 Store colormap names instead of Colormap objects
  changelog/3412.breaking.rst
  changelog/3412.feature
  docs/guide/data_types/maps.rst
  examples/computer_vision_techniques/mask_disk.py
  sunpy/map/mapbase.py
  sunpy/map/sources/hinode.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/proba2.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/suvi.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
  sunpy/map/tests/test_mapbase.py
Labels: map

#3398 Added ASDF schemas for new coordinate frames
  changelog/3398.feature.rst
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/geocentricearthequatorial-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/geocentricsolarecliptic-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentricearthecliptic-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentricinertial-1.0.0.yaml
  sunpy/io/special/asdf/tags/coordinates/frames.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
Labels: [Review], coordinates

#3427 Explicitly set the clipping to False for the default normalizers for Map sources
  changelog/3427.bugfix.rst
  sunpy/map/sources/mlso.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/suvi.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_suvi_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
Labels: [Review], map

#3429 changing spelling of plotting in timeseries (#3426)
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/timeseriesbase.py
Labels: Affects Release, No Changelog Entry Needed, backport 1.0, timeseries

#3432 Change log file for PR #3429
  changelog/3429.trivial.rst
Labels: No Changelog Entry Needed, [DocFix], backport 1.0

#3431 Put parse_time example in an example folder
  examples/units_and_coordinates/README.txt
  examples/units_and_coordinates/parse_time.py
Labels: Documentation, [DocFix], backport 1.0

#3430 Clarify definition of map.dsun
  changelog/3430.doc.rst
  sunpy/map/mapbase.py
Labels: [DocFix], backport 1.0, map

#3332 Update to _Range object
  sunpy/net/vso/attrs.py
Labels: [BugFix], backport 1.0, net

#3438 Fix a database remote test (maybe?)
  sunpy/database/tests/test_tables.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 1.0

#3444 [Backport 1.0] Explicitly set the clipping to False for the default normalizers for Map sources
  changelog/3427.bugfix.rst
  sunpy/map/sources/mlso.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
Labels: No Changelog Entry Needed

#3451 Updated the Venus-transit gallery example
  examples/units_and_coordinates/venus_transit.py
Labels: Examples, [DocFix], backport 1.0

#3450 Updated the guide to use `clip_interval`
  docs/guide/data_types/maps.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0, map

#3396 Resolve deprecation warnings for test_sysinfo.py
  changelog/3396.trivial.rst
  sunpy/extern/README.rst
  sunpy/extern/distro.py
  sunpy/extern/distro_license.rst
  sunpy/util/sysinfo.py
Labels: Tests, backport 1.0

#3449 Use a faster library to get the package version
  changelog/3449.trivial.rst
  setup.cfg
  sunpy/version.py
Labels: Refactoring, [CodeFix], backport 1.0

#3454 Fixes to Map plotting in user guide
  changelog/3399.doc.rst
  changelog/3417.bugfix.rst
  changelog/3454.doc.rst
  docs/guide/data_types/maps.rst
Labels: Documentation, backport 1.0, map

#3453 [backport-1.0] Updated the guide to use clip_interval
  changelog/3450.doc.rst
  changelog/3451.doc.rst
  docs/guide/data_types/maps.rst
Labels: No Changelog Entry Needed

#3410 Move sunpy.cm to sunpy.visualization.colormaps
  .github/CODEOWNERS
  changelog/3410.removal.rst
  docs/code_ref/cm.rst
  docs/code_ref/index.rst
  docs/code_ref/visualization.rst
  docs/dev_guide/sunpy_stability.yaml
  docs/guide/data_types/maps.rst
  examples/plotting/map_editcolormap.py
  examples/plotting/sunpy_matplotlib_colormap.py
  setup.cfg
  sunpy/cm/__init__.py
  sunpy/map/mapbase.py
  sunpy/visualization/colormaps/__init__.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/__init__.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: visualization

#3462 Fix raising a warning about missing observer when not needed
  changelog/3462.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 1.0, map
