Repository sunpy/sunpy, pull requests merged in 2020-02, with the labels that each got.

#3740 Work around incorrect content-disposition headers in some VSO files
  changelog/3740.bugfix.rst
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: [BugFix], backport 1.0, backport 1.1, net

#3745 Fix doc build
  examples/time_series/timeseries_example.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#3750 Use the sunpy conda channel on RTD to reduce time and memory
  .rtd-environment.yml
Labels: Infrastructure, No Changelog Entry Needed, backport 1.0, backport 1.1

#3753 Update .readthedocs.yml
  .readthedocs.yml
Labels: Infrastructure, [CodeFix], backport 1.0, backport 1.1

#3742 Fix sunpy.io warnings
  docs/dev_guide/logger.rst
  sunpy/io/tests/test_fits.py
  sunpy/io/tests/test_jp2.py
Labels: No Changelog Entry Needed, Tests, io

#3756 fixed install via setuptools
  examples/time_series/skip_goes_hek_m25.py
  setup.cfg
  setup.py
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#3757 fixed doc for timeseries classes
  docs/code_ref/timeseries.rst
Labels: No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#3760 skip another example
  azure-pipelines.yml
  examples/example_template/example_template.py
  examples/plotting/skip_solar_cycle_example.py
Labels: Documentation, Examples, No Changelog Entry Needed, [DocFix]

#3537 Coordinate frames that include solar differential rotation
  changelog/3537.feature.rst
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/other_api.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/code_ref/coordinates/wcs.rst
  docs/code_ref/index.rst
  sunpy/coordinates/__init__.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/strategies.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_offset_frame.py
  sunpy/coordinates/wcs_utils.py
Labels: coordinates

#3675 add property to access QueryResponse as Table
  changelog/3675.feature.rst
  sunpy/net/dataretriever/client.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
Labels: net

#3714 Refactoring sunpy.net.attrs
  changelog/3714.removal.rst
  changelog/3714.trivial.rst
  docs/code_ref/net.rst
  docs/code_ref/util.rst
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/tour.rst
  examples/plotting/magnetogram_active_regions.py
  examples/sunpy_other_packages/reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  examples/sunpy_other_packages/reprojection_different_observers.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/database/attrs.py
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_eve.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/dataretriever/tests/test_lyra_ud.py
  sunpy/net/dataretriever/tests/test_noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_attr.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_attr_walker.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_hek.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
  sunpy/util/functools.py
  sunpy/util/multimethod.py
  sunpy/util/tests/test_functools.py
  sunpy/util/tests/test_multimethod.py
Labels: net

#3769 Cleanup to Attrs
  changelog/3714.removal.1.rst
  sunpy/net/vso/vso.py
Labels: No Changelog Entry Needed, [CodeFix], net

#3746 create .data property so as to encourage cleaner API
  changelog/3746.feature.rst
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries

#3627 Difference image example for the gallery
  changelog/3627.doc.rst
  examples/map/difference_images.py
Labels: Examples, backport 1.0, backport 1.1, map

#3773 Fix more issues with attrs
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: Affects Dev, No Changelog Entry Needed, [BugFix]

#3391 Submit SunPy to the Journal of Open Source Software
  .zenodo.json
  joss_paper/author_processing.py
  joss_paper/joss_paper_plot.pdf
  joss_paper/joss_paper_plot.py
  joss_paper/matplotlibrc
  joss_paper/metadata.yml
  joss_paper/paper.bib
  joss_paper/paper.md
Labels: No Changelog Entry Needed

#3775 Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Labels: Tests, [BugFix], coordinates

#3772 Fix the calculation of Carrington longitude as seen from Earth (again!)
  changelog/3772.bugfix.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Labels: [BugFix], [Review], backport 1.0, backport 1.1, coordinates

#3777 [Backport 1.0] Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#3778 [Backport 1.1] Fixes to the transformation test for NorthOffsetFrame
  changelog/3775.trivial.rst
  sunpy/coordinates/tests/test_offset_frame.py
Labels: No Changelog Entry Needed

#3779 [Backport 1.0] Fix the calculation of Carrington longitude as seen from Earth (again!)
  changelog/3772.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Labels: No Changelog Entry Needed

#3780 [Backport 1.1] Fix the calculation of Carrington longitude as seen from Earth (again!)
  changelog/3772.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/sources/tests/test_mdi_source.py
Labels: No Changelog Entry Needed

#3781 [Backport 1.0] Fixes to Map plotting in user guide
  changelog/3417.bugfix.rst
  changelog/3454.doc.rst
  docs/guide/data_types/maps.rst
Labels: No Changelog Entry Needed

#3784 [1.0] woops
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/net/tests/test_vso.py
Labels: No Changelog Entry Needed

#3783 [1.1] Last two backports
  changelog/3627.doc.rst
  changelog/3740.bugfix.rst
  examples/map/difference_images.py
  sunpy/database/tests/test_attrs.py
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
  tox.ini
Labels: No Changelog Entry Needed

#3786 [1.0] c+v astropy
  .circleci/config.yml
Labels: Infrastructure, No Changelog Entry Needed

#3787 [1.1] c+v astropy
  .circleci/config.yml
Labels: Infrastructure, No Changelog Entry Needed

#3785 added gsoc wiki link in newcommers
  .circleci/config.yml
  CONTRIBUTING.rst
  tox.ini
Labels: Documentation, No Changelog Entry Needed

#3788 Add return type to carrington_rotation_number docs
  sunpy/coordinates/sun.py
Labels: Documentation, No Changelog Entry Needed, backport 1.1, coordinates

#3791 Fix the CI
  .circleci/config.yml
  setup.cfg
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix], backport 1.1

#3680 Updates TimeSeriesMeta documentation.
  changelog/3680.doc.rst
  sunpy/timeseries/metadata.py
Labels: [DocFix], backport 1.0, backport 1.1, timeseries

#3795 Updating AAS paper with full bibtex information
  joss_paper/paper.bib
Labels: No Changelog Entry Needed

#3796 [1.1] Backports
  .circleci/config.yml
  azure-pipelines.yml
  changelog/3680.doc.rst
  setup.cfg
  sunpy/timeseries/metadata.py
  tox.ini
Labels: No Changelog Entry Needed

#3798 Make database tests actually test and then pass
  sunpy/database/tests/test_attrs.py
Labels: No Changelog Entry Needed, backport 1.0, backport 1.1, database

#3797 [1.0] Backports
  changelog/3680.doc.rst
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/timeseries/metadata.py
Labels: No Changelog Entry Needed

#3799 [Backport 1.1] Make database tests actually test and then pass
  sunpy/database/tests/test_attrs.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#3804 Added a convenience function for testing closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_offset_frame.py
Labels: Tests, [BugFix], backport 1.0, backport 1.1, coordinates

#3806 Avoid use of .data in TimeSeries examples
  examples/time_series/power_spectra_example.py
  examples/time_series/timeseries_convolution_filter.py
  examples/time_series/timeseries_example.py
  examples/time_series/timeseries_peak_finding.py
  sunpy/timeseries/timeseriesbase.py
Labels: Examples, No Changelog Entry Needed, timeseries

#3815 [Backport 1.0] Added a helper function for testing equality/closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_offset_frame.py
Labels: No Changelog Entry Needed

#3762 Fix mapbase test warnings
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Tests

#3823 Use to_dataframe() everywhere in timeseries
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseries_factory.py
Labels: No Changelog Entry Needed, timeseries

#3803 Update citation information with ApJ and JOSS papers
  sunpy/CITATION.rst
  sunpy/__init__.py
Labels: No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#3835 Fixed title/label overlap in example gallery
  changelog/3835.doc.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Labels: [DocFix]

#3776 Added example of world_to_pixel to Units & Coordinates guide
  changelog/3776.doc.rst
  docs/guide/units-coordinates.rst
Labels: Documentation

#3808 Fix Matplotlib deprecation warning in animator
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/mapsequenceanimator.py
Labels: No Changelog Entry Needed, visualization

#3816 [Backport 1.1] Added a helper function for testing equality/closeness of longitudes
  changelog/3804.trivial.rst
  sunpy/coordinates/tests/helpers.py
  sunpy/coordinates/tests/test_offset_frame.py
Labels: No Changelog Entry Needed

#3829 Document types of jsoc.attrs.PrimeKey
  sunpy/net/jsoc/attrs.py
Labels: Documentation, net

#3563 Corrected docstring for _B0
  sunpy/coordinates/ephemeris.py
Labels: No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1, coordinates

#3848 Links on Newcomer's guide page fixed
  CONTRIBUTING.rst
Labels: No Changelog Entry Needed, [DocFix]

#3849 Improve warning when date-obs keyword not present
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, map
