Repository sunpy/sunpy, pull requests merged in 2020-12, with the labels that each got.

#4694 Minor code cleanup in sunpy.coordinates
  sunpy/coordinates/frames.py
  sunpy/coordinates/sun.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0, coordinates

#4595 Add attr for requesting cutouts from jsoc
  changelog/4595.feature.rst
  docs/conf.py
  examples/acquiring_data/downloading_cutouts.py
  setup.cfg
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: Merge When CI Passes, [Review], net

#4702 Default to HPLN/LT-TAN if CTYPE not present
  changelog/4702.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, map

#4691 Adjust RotatedSunFrame to rely on supported Astropy machinery
  changelog/4691.breaking.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: backport 2.0, coordinates

#4704 [Backport 2.0] Adjust RotatedSunFrame to rely on supported Astropy machinery
  changelog/4691.breaking.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: No Changelog Entry Needed

#4705 Attempt to fix some cron jobs
  azure-pipelines.yml
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed

#4700 Use wcs.pixel_to_world in map.pixel_to_world
  changelog/4700.bugfix.rst
  changelog/4700.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: ManualBackport, [BugFix], map

#4706 Fix another dist test bug
  sunpy/map/tests/test_mapbase.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#4711 Fixing replacing bad GOES values with nans
  sunpy/timeseries/sources/goes.py
Labels: No Changelog Entry Needed, [BugFix], timeseries

#4713 Hopefully fix 39 tests by not installing reproject
  setup.cfg
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed

#4709 New NorthOffsetFrame Example from function example
  changelog/4709.doc.rst
  examples/units_and_coordinates/north_offset_frame.py
  sunpy/coordinates/offset_frame.py
Labels: Examples, coordinates

#4721 Fix broken links to documentation
  README.rst
  docs/guide/installation.rst
Labels: No Changelog Entry Needed, [CodeFix]

#4724 Added a warning if lower-than-native-precision floats are seen by Helioprojective.make_3d()
  changelog/4724.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: [BugFix], backport 2.0, coordinates

#4728 [Backport 2.0] Added a warning if lower-than-native-precision floats are seen by Helioprojective.make_3d()
  changelog/4724.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: No Changelog Entry Needed

#4640 Update zenodo.json for 2.1
  .mailmap
  .zenodo.json
  tools/update_zenodo.py
Labels: No Changelog Entry Needed, [CodeFix]

#4729 Update attrs json files and add a script for doing so
  docs/guide/acquiring_data/fido.rst
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/data/attrs.json
  sunpy/net/vso/vso.py
  tools/update_attrs_json.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#4730 Rework the docs to deal with pre release versions better
  docs/conf.py
  setup.cfg
  sunpy/util/sphinx/changelog.py
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4732 Ignore resourcewarning in tests
  setup.cfg
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4731 Fix un-closed files in tests
  sunpy/instr/fermi.py
  sunpy/io/tests/test_fits.py
  sunpy/util/tests/test_config.py
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix], backport 2.0, backport 2.1

#4736 Tidying up example with new Fido client with HEK
  examples/acquiring_data/querying_the_GOES_event_list.py
Labels: No Changelog Entry Needed, [DocFix], backport 2.1

#4741 Fix changelog links
  CHANGELOG.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#4745 Document HEKRow
  sunpy/database/database.py
  sunpy/net/hek/__init__.py
  sunpy/net/hek/hek.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#4717 Add docs on FITS keywords used in GenericMap properties
  changelog/4717.doc.rst
  sunpy/map/mapbase.py
Labels: Documentation, backport 2.0, backport 2.1, map

#4749 Misc map link fixes
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1, map

#4727 Fix submap not using all four corners of the input rectangle
  changelog/4727.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/map/tests/test_maputils.py
Labels: Priority High, [BugFix], [Review], backport 2.0, backport 2.1, map

#4757 [backport 2.0] Fix submap not using all four corners of the input rectangle
  changelog/4727.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4758 [backport 2.0] Fix various deprecation warnings
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_lyra.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/net/jsoc/jsoc.py
  sunpy/tests/tests/test_self_test.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4760 Update list of oldest test dependencies
  setup.cfg
  tox.ini
Labels: backport 2.1

#4764 [2.0] Backport of #4700
  changelog/4700.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4770 Add test for swapped ctypes
  sunpy/map/tests/test_mapbase.py
Labels: Merge When CI Passes, No Changelog Entry Needed, backport 2.0, backport 2.1, map

#4773 Define custom __dir__ for attrs
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/helio/attrs.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
Labels: No Changelog Entry Needed, backport 2.1

#4776 Add corner coords function to maputils
  changelog/4776.feature.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: backport 2.1, map

#4778 Removed .sources lines from sunpy/docs/code_ref/net.rst
  docs/code_ref/net.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.1, net

#4781 Fix net doc headings
  docs/code_ref/net.rst
  sunpy/net/dataretriever/__init__.py
Labels: No Changelog Entry Needed, [DocFix], backport 2.1, net

#4783 Document JSOC attrs
  sunpy/net/jsoc/__init__.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1, net

#4790 More misc documentation link fixes
  CHANGELOG.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/installation.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/data/data_manager/downloader.py
  sunpy/database/database.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/helioviewer.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/util/scraper.py
  sunpy/visualization/colormaps/__init__.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.1

#4791 Issue#4768
  changelog/4791.feature.rst
  sunpy/net/tests/test_attrs.py
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: backport 2.1, time

#4798 Minor cleanup to database docs
  sunpy/database/__init__.py
  sunpy/database/commands.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1, database

#4801 Clarify measurement docstring
  sunpy/map/mapbase.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1, map

#4806 Update oldestdeps for 2.0.x
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4805 Cleanup EVE file parsing
  changelog/4805.bugfix.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/eve.py
Labels: [BugFix], backport 2.0, backport 2.1, timeseries

#4808 [Backport 2.0] Cleanup EVE file parsing
  changelog/4805.bugfix.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/eve.py
Labels: No Changelog Entry Needed
