Repository sunpy/sunpy, pull requests merged in 2020-03, with the labels that each got.

#3825 Fix primekey pop in JSOCClient._make_recordset
  changelog/3825.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: [BugFix], backport 1.0, backport 1.1, net

#3868 Split out VSO exceptions into their own file
  sunpy/net/vso/exceptions.py
  sunpy/net/vso/vso.py
Labels: No Changelog Entry Needed

#3872 Use isot for setting dateobs in GenericMap.wcs
  changelog/3872.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 1.0, backport 1.1, map

#3869 Implement client specific attrs registration
  changelog/3869.feature.rst
  sunpy/net/__init__.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
Labels: net

#3877 Move physobs to be a top level attr
  changelog/3877.removal.rst
  examples/plotting/magnetogram_active_regions.py
  examples/sunpy_other_packages/reprojection_align_aia_hmi.py
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/vso/attrs.py
Labels: [Review], net

#3880 Grammatical error on examples page fixed
  examples/map/README.txt
Labels: No Changelog Entry Needed, [DocFix]

#3867 Prevent imshow_kwargs being modified in-place by plot()
  changelog/3867.bugfix.rst
  sunpy/map/mapbase.py
Labels: map

#3874 Improve subclassing attrs.Time and JSOC _can_handle_query
  sunpy/net/_attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_attrs.py
Labels: No Changelog Entry Needed, [Review], net

#3731 Download data and add database entry from HEK query
  changelog/3731.feature.rst
  sunpy/database/database.py
  sunpy/database/tests/test_database.py
Labels: [Review], database

#3709 List possible TimeSeriesMetaData signatures
  changelog/3709.docfix.rst
  sunpy/timeseries/metadata.py
Labels: backport 1.1, timeseries

#3640 Make input to aia_color_table unitful
  changelog/3640.breaking.rst
  setup.cfg
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: map, visualization

#3737 Adds Rectangle coordinate parser and associated tests.
  changelog/3737.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Labels: Merge When CI Passes, coordinates

#3887 Fixed missing `sunpy.coordinates.utils` in docs
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/utils.py
Labels: ManualBackport, No Changelog Entry Needed, [DocFix], coordinates

#3886 Fixed a minor error in the calculation of the Sun's position angle
  changelog/3886.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_sun.py
Labels: [BugFix], backport 1.0, backport 1.1, coordinates

#3892 Fixed typos of Heliocentric instead of Heliographic
  docs/code_ref/coordinates/index.rst
Labels: No Changelog Entry Needed, [DocFix], backport 1.1, coordinates

#3895 Fix citation headings for website
  sunpy/CITATION.rst
Labels: Affects Dev, No Changelog Entry Needed, [DocFix]

#3899 updated HEKClient to return json again
  changelog/3899.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Labels: [BugFix], backport 1.0, backport 1.1, net

#3866 Clarify some docs for map.plot()
  changelog/3866.doc.rst
  sunpy/map/mapbase.py
Labels: [DocFix], backport 1.0, backport 1.1, map

#3902 Fixed incorrect module name in test on 1.1
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: No Changelog Entry Needed, Tests, backport 1.0

#3890 [Backport 1.0] Fixed missing `sunpy.coordinates.utils` in docs
  docs/code_ref/coordinates.rst
  sunpy/coordinates/utils.py
Labels: No Changelog Entry Needed

#3893 [Backport 1.1] Fixed typos of Heliocentric instead of Heliographic
  docs/code_ref/coordinates.rst
Labels: No Changelog Entry Needed

#3891 [Backport 1.1] Fixed missing `sunpy.coordinates.utils` in docs
  docs/code_ref/coordinates.rst
  sunpy/coordinates/utils.py
Labels: No Changelog Entry Needed

#3905 Make gridline plotting example prettier
  examples/plotting/finegrained_plot.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 1.1

#3915 Backport #3872 to 1.0.x
  changelog/3872.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed

#3852 fix indexing of QueryResponse for fetch
  changelog/3852.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
Labels: [BugFix], backport 1.0, backport 1.1, net

#3917 Update Circleci and URL for Hek.
  .circleci/config.yml
  azure-pipelines.yml
  changelog/3917.bugfix.rst
  docs/conf.py
  docs/guide/acquiring_data/fido.rst
  sunpy/net/hek/hek.py
Labels: [BugFix], backport 1.0, backport 1.1

#3920 [1.1] Backports for 1.1
  .circleci/config.yml
  azure-pipelines.yml
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  changelog/3852.bugfix.rst
  changelog/3899.bugfix.rst
  changelog/3917.bugfix.rst
  docs/conf.py
  setup.cfg
  sunpy/net/hek/hek.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_hek.py
Labels: No Changelog Entry Needed

#3921 [1.0] Backports for 1.0
  .circleci/config.yml
  azure-pipelines.yml
  changelog/3838.bugfix.1.rst
  changelog/3838.bugfix.rst
  changelog/3852.bugfix.rst
  changelog/3899.bugfix.rst
  changelog/3917.bugfix.rst
  docs/conf.py
  sunpy/database/tests/test_attrs.py
  sunpy/net/hek/hek.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_hek.py
Labels: No Changelog Entry Needed

#3870 Fix peek warning
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed

#3923 Skip the problematic VSO doctest
  docs/guide/acquiring_data/fido.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix], backport 1.0, backport 1.1

#3926 Backport of #3923 to 1.0
  docs/guide/acquiring_data/fido.rst
Labels: No Changelog Entry Needed

#3927 Backport of #3923 to 1.1
  docs/guide/acquiring_data/fido.rst
Labels: No Changelog Entry Needed

#3912 Added documentation for refreshing local documentation changes
  docs/dev_guide/documentation.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#3856 Improved Documentation on how to write a changelog
  changelog/3856.doc.rst
  docs/dev_guide/maintainer_workflow.rst
Labels: Documentation, [DocFix]

#3925 Bump astropy version in figure tests
  changelog/3925.trivial.rst
  tox.ini
Labels: Tests

#3924 Remove warnings in coordinate tests
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/utils.py
Labels: No Changelog Entry Needed, Tests, coordinates

#3919 Improve the accuracy of `get_horizons_coord()`
  changelog/3919.bugfix.rst
  setup.cfg
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  tox.ini
Labels: coordinates

#3792 Updated compositemap to handle 'linewidths' argument.
  changelog/3792.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Labels: map

#3928 Gallery Skips
  .circleci/config.yml
  .rtd-environment.yml
  docs/conf.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/skip_timeseriesmetadata_example.py
  examples/units_and_coordinates/skip_AIA_limb_STEREO.py
  examples/units_and_coordinates/skip_SDO_to_STEREO_Coordinate_Conversion.py
  setup.cfg
  sunpy/__init__.py
  sunpy/data/_sample.py
  sunpy/database/tests/test_attrs.py
  sunpy/util/config.py
  tox.ini
Labels: No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#3944 We do need pytest and forgot to pin astropy
  .rtd-environment.yml
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3946 [1.1] Backport of #3928
  .circleci/config.yml
  .rtd-environment.yml
  docs/conf.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/sunpy_other_packages/skip_reprojection_aia_euvi_mosaic.py
  examples/sunpy_other_packages/skip_reprojection_different_observers.py
  examples/time_series/goes_hek_m25.py
  examples/time_series/skip_timeseriesmetadata_example.py
  examples/units_and_coordinates/skip_AIA_limb_STEREO.py
  examples/units_and_coordinates/skip_SDO_to_STEREO_Coordinate_Conversion.py
  setup.cfg
  sunpy/data/_sample.py
  sunpy/database/tests/test_attrs.py
  sunpy/util/config.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3948 [1.0] pin astropy for post release
  setup.cfg
Labels: No Changelog Entry Needed

#3949 [1.1] pin astropy for post release
  setup.cfg
Labels: No Changelog Entry Needed

#3947 pin astropy for post release
  setup.cfg
  sunpy/database/tests/test_tables.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#3937 Remove warnings from figure tests
  sunpy/map/tests/test_plotting.py
Labels: No Changelog Entry Needed, Tests, map

#3938 Improve installation docs
  docs/guide/installation/index.rst
Labels: Documentation, [DocFix]

#3939 Update installation requirements
  docs/guide/installation/advanced.rst
  setup.cfg
Labels: Documentation, No Changelog Entry Needed, [DocFix]
