Repository sunpy/sunpy, pull requests merged in 2020-01, with the labels that each got.

#3633 Update pandas plotting registration
  changelog/3633.bugfix.rst
  sunpy/timeseries/__init__.py
Labels: [CodeFix], backport 1.0, backport 1.1, timeseries

#3646 Print all possible map loading errors in MapFactory
  changelog/3646.breaking.rst
  sunpy/map/map_factory.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/tests/test_map_factory.py
Labels: map

#3653 fix rtd?
  .rtd-environment.yml
  binder/environment.yml
Labels: Infrastructure, No Changelog Entry Needed, backport 1.0, backport 1.1

#3655 Install extension helpers on rtd before install
  .rtd-environment.yml
Labels: Infrastructure, No Changelog Entry Needed, backport 1.0, backport 1.1

#3657 Reduce memory consuption of different observers example
  examples/sunpy_other_packages/reprojection_different_observers.py
Labels: Examples, No Changelog Entry Needed, backport 1.1

#3659 Attempt to fix codeowners
  .github/CODEOWNERS
Labels: No Changelog Entry Needed

#3634 Test concatenating two of the same TimeSeries
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed, Tests, timeseries

#3661 Rhessi Test changes
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/tests/test_rhessi.py
  sunpy/net/helio/parser.py
Labels: No Changelog Entry Needed, [CodeFix], backport 1.0, backport 1.1

#3645 Make WCS creation and header creation more lenient
  changelog/3645.bugfix.rst
  sunpy/io/fits.py
  sunpy/io/tests/test_fits.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, backport 1.1, io

#3647 What's New in 1.1
  docs/code_ref/data.rst
  docs/whatsnew/1.1-wispr.png
  docs/whatsnew/1.1.rst
  docs/whatsnew/index.rst
  sunpy/data/data_manager/__init__.py
  tox.ini
Labels: No Changelog Entry Needed, backport 1.1

#3667 Update release notes, mailmap and script for 1.1
  .mailmap
  RELEASE.rst
  docs/whatsnew/1.1.rst
  tools/generate_releaserst.xsh
Labels: Documentation, Infrastructure, No Changelog Entry Needed, backport 1.1

#3669 hopefully fix astropy dev build
  docs/guide/data_types/maps.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#3676 Removed astropy helpers from various files
  .pep8speaks.yml
  CONTRIBUTING.rst
  MANIFEST.in
  changelog/3676.doc.rst
  setup.cfg
  sunpy/version.py
Labels: Documentation, [DocFix]

#3679 Put back version.py
  sunpy/__init__.py
  sunpy/version.py
Labels: No Changelog Entry Needed, [CodeFix]

#3678 Bump sunpy.sun test coverage to 100%
  sunpy/sun/tests/test_constants.py
Labels: No Changelog Entry Needed, Tests, sun

#3664 Fix deprecation warning when reading JPEG2000 files
  sunpy/io/jp2.py
Labels: No Changelog Entry Needed, [CodeFix], io

#3683 Fix Python version for requiring importlib_resources
  changelog/3683.trivial.rst
  setup.cfg
Labels: [CodeFix], backport 1.0, backport 1.1

#3685 Use Giles over SunPy bot for milestones and changelogs
  .circleci/config.yml
  pyproject.toml
Labels: Infrastructure, No Changelog Entry Needed

#3689 Pin glymur to avoid gdal dependency
  .rtd-environment.yml
  binder/environment.yml
  setup.cfg
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, backport 1.0, backport 1.1

#3681 updated figure test text
  docs/dev_guide/tests.rst
Labels: No Changelog Entry Needed, [DocFix]

#3693 Add figure comparison page to giles to link it in the checks
  pyproject.toml
Labels: No Changelog Entry Needed, backport 1.0, backport 1.1

#3573 Fix rotation issue in HMI example (#3233)
  changelog/3573.feature.rst
  examples/acquiring_data/downloading_hmi.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: Examples, Merge When CI Passes, [DocFix], backport 1.0, backport 1.1, map

#3699 Remove glymur pins for infra, and exclude 0.9.0 in setup.cfg
  .rtd-environment.yml
  azure-pipelines.yml
  binder/environment.yml
  setup.cfg
  sunpy/tests/helpers.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, backport 1.0, backport 1.1

#3540 Context manager to ignore the inertial motion of the Sun for transformations
  changelog/3540.feature.rst
  sunpy/coordinates/__init__.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [Review], coordinates

#3707 [1.0] Backport of #3573
  changelog/3573.feature.rst
  examples/acquiring_data/downloading_hmi.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: No Changelog Entry Needed

#3708 [1.1] Backport of #3573
  changelog/3573.feature.rst
  examples/acquiring_data/downloading_hmi.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: No Changelog Entry Needed

#3706 Clarify top_left and bottom_right docs
  changelog/3706.docfix.rst
  sunpy/map/mapbase.py
Labels: Documentation, [DocFix], backport 1.0, backport 1.1, map

#3652 Fix warnings in sunpy.coordinates
  changelog/3652.trivial.rst
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_sun.py
Labels: Tests, [CodeFix], coordinates

#3717 Fix sunpy.physics warnings
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], physics

#3692 Updates warning message for `~sunpy.map.observer_coordinate`
  changelog/3692.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map

#3712 Package updates
  .circleci/config.yml
  .gitignore
  .pre-commit-config.yaml
  azure-pipelines.yml
  changelog/3692.feature.rst
  docs/Makefile
  docs/code_ref/sunpy.rst
  docs/conf.py
  docs/dev_guide/code_standards.rst
  docs/guide/tour.rst
  examples/acquiring_data/downloading_hmi.py
  examples/plotting/aia_example.py
  examples/time_series/power_spectra_example.py
  setup.cfg
  setup.py
  sunpy/__init__.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/extern/distro_license.rst
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_source_type.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/sun/sun.py
  sunpy/timeseries/sources/norh.py
  sunpy/util/decorators.py
  sunpy/version.py
  sunpy/visualization/animator/wcs.py
  tools/hektemplate.py
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#3724 update url for matrix in readme
  README.rst
Labels: No Changelog Entry Needed, [DocFix]

#3725 another one
  CONTRIBUTING.rst
Labels: No Changelog Entry Needed, [CodeFix], [DocFix]

#3673 Updates ``~sunpy.map.mapbase.draw_grid()`` to allow disabling the axes labels and the ticks on the top and right axes.
  changelog/3673.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
  sunpy/visualization/wcsaxes_compat.py
Labels: map, visualization

#3639 Adds support for passing TimeSeriesMetaData object to timeseries_factory and associated validation tests.
  changelog/3639.bugfix.rst
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
Labels: [BugFix], backport 1.0, backport 1.1, timeseries

#3719 Warning for VSO errors
  changelog/3719.trivial.rst
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Labels: net

#3739 Update README.rst
  README.rst
Labels: No Changelog Entry Needed, [DocFix]

#3310 Tidy up ANA code.
  .gitignore
  .pre-commit-config.yaml
  sunpy/io/src/ana/_pyana.c
  sunpy/io/src/ana/anacompress.c
  sunpy/io/src/ana/anadecompress.c
  sunpy/io/src/ana/anarw.c
  sunpy/io/src/ana/anarw.h
  sunpy/io/src/ana/testrw.c
  sunpy/io/src/ana/types.h
  sunpy/io/tests/test_ana.py
Labels: Merge When CI Passes, No Changelog Entry Needed, io

#3726 added kwargs to peek() to maintain consistency
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed, timeseries

#3741 Fix the vso warning test now sample is fixed vso side
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_vso.py
Labels: Affects Dev, Merge When CI Passes, No Changelog Entry Needed, [BugFix], net
