Repository sunpy/sunpy, pull requests merged in 2020-07, with the labels that each got.

#4323 Return Latitude from B0
  changelog/4323.breaking.rst
  sunpy/coordinates/sun.py
Labels: [BugFix], coordinates

#4334 package novice replaced with good first issue
  CONTRIBUTING.rst
Labels: No Changelog Entry Needed, [DocFix]

#4335 Make FITS header warning more helpful
  changelog/4335.trivial.rst
  sunpy/map/mapbase.py
Labels: backport 2.0, map

#4341 Fix imports of Downloader in fido_factory
  sunpy/net/fido_factory.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0

#4338 added deprecation to map.size property
  changelog/4338.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [CodeFix], map

#4328 Set v{min,max} on the norm when plotting
  changelog/4328.breaking.rst
  examples/computer_vision_techniques/off_limb_enhance.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
Labels: map, visualization

#4340 replaced noaa with the new json urls
  CONTRIBUTING.rst
  changelog/4340.bugfix.rst
  sunpy/data/test/observed-solar-cycle-indices-truncated.json
  sunpy/data/test/predicted-solar-cycle-truncated.json
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  tox.ini
Labels: backport 2.0, net, timeseries

#4349 [2.0] Backports
  .circleci/config.yml
  CONTRIBUTING.rst
  azure-pipelines.yml
  changelog/4340.bugfix.rst
  pyproject.toml
  setup.cfg
  sunpy/data/test/observed-solar-cycle-indices-truncated.json
  sunpy/data/test/predicted-solar-cycle-truncated.json
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
  sunpy/tests/hash.py
  sunpy/tests/helpers.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  tox.ini
Labels: No Changelog Entry Needed

#4330 Change rhessi colors
  changelog/4326.feature.rst
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed, timeseries

#4129 Maintain coherence between keys and keycomments in MetaDict
  changelog/4129.feature.rst
  sunpy/util/metadata.py
  sunpy/util/tests/test_metadata.py
Labels: Merge When CI Passes, map, util

#4351 Fix the component names in the Helioprojective docstring
  changelog/4351.trivial.rst
  sunpy/coordinates/frames.py
Labels: [DocFix], backport 2.0, coordinates

#4353 Fix some GOES warnings
  sunpy/instr/goes.py
  sunpy/instr/tests/test_goes.py
Labels: No Changelog Entry Needed, [CodeFix], instr

#4354 Fix various depreaction warnings
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_lyra.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/net/jsoc/jsoc.py
  sunpy/tests/helpers.py
  sunpy/tests/tests/test_self_test.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed, [CodeFix]

#4355 Filter out some warnings from tests
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_plotting.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/visualization/animator/tests/test_wcs.py
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#4360 figure dev hash update
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.0

#4362 Globally ignore various deprecation warnings
  setup.cfg
Labels: No Changelog Entry Needed, [CodeFix]

#4364 Improve goes peek()
  changelog/4364.bugfix.rst
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/goes.py
Labels: backport 2.0, timeseries

#4367 Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix], backport 2.0

#4366 More warnings
  setup.cfg
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/io/tests/test_srs.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/_attrs.py
  sunpy/time/tests/test_time.py
  sunpy/time/tests/test_timerange.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/visualization/colormaps/cm.py
Labels: No Changelog Entry Needed, Tests

#4369 Pin tox-conda to use OpenBLAS below 0.3.10 due to apparent bugs on Linux
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4372 added contains example to timerange class doc string
  changelog/4372.docfix.rst
  sunpy/time/timerange.py
Labels: [DocFix], backport 2.0, time

#4373 updated to isort 5
  .pre-commit-config.yaml
  setup.cfg
  sunpy/__init__.py
  sunpy/conftest.py
  sunpy/timeseries/timeseriesbase.py
  tools/unify_section_headings.py
Labels: Infrastructure, No Changelog Entry Needed, backport 2.0

#4053 add HMISynoptic Map
  changelog/4053.feature.rst
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/__init__.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Labels: Merge When CI Passes, map

#3909 Add contour map method
  changelog/3909.feature.rst
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map

#4350 removed all deprecated 1.1 code
  changelog/4350.breaking.rst
  sunpy/coordinates/frames.py
  sunpy/image/coalignment.py
  sunpy/image/tests/test_coalignment.py
  sunpy/instr/lyra.py
  sunpy/util/net.py
  sunpy/visualization/animator/image.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Labels: [CodeFix]

#4375 Don't assume earth observer when calculating rsun_obs
  changelog/4375.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 2.0, map

#4054 Add MDISynopticMap source
  changelog/4054.feature.rst
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_mdi_source.py
Labels: map

#4383 patch a test
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, [CodeFix]

#4374 Custom SunpyMetadataWarning
  sunpy/instr/tests/test_iris.py
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/exceptions.py
Labels: No Changelog Entry Needed, backport 2.0

#4377 removed minigallery
  .circleci/config.yml
  docs/conf.py
  docs/guide/plotting.rst
  setup.cfg
  sunpy/util/sphinx/minigallery.py
Labels: Infrastructure, No Changelog Entry Needed, backport 2.0

#4333 Add tests for sunpy.physics.differential_rotate
  sunpy/physics/tests/test_differential_rotation.py
Labels: No Changelog Entry Needed, Tests, physics

#4392 Update dev figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed, backport 2.0

#4393 Fix differential rotation test
  sunpy/physics/tests/test_differential_rotation.py
Labels: No Changelog Entry Needed

#4396 pin pytest
  .circleci/config.yml
  .test_package_pins.txt
  azure-pipelines.yml
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  tox.ini
Labels: No Changelog Entry Needed, backport 2.0

#4397 Only put changed figures on the figure test report page
  sunpy/tests/helpers.py
Labels: No Changelog Entry Needed, Tests

#4400 Remove more warnings from tests
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/helpers.py
Labels: No Changelog Entry Needed, [CodeFix]

#4403 More test warning removals
  sunpy/image/tests/test_transform.py
  sunpy/io/tests/test_filetools.py
  sunpy/io/tests/test_fits.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed, [CodeFix]
