Repository sunpy/sunpy, pull requests merged in 2020-04, with the labels that each got.

#3955 pin pillow
  setup.cfg
Labels: No Changelog Entry Needed, backport 1.0, backport 1.1

#3959 Fixed confusing printing of longitudes in Map repr
  changelog/3959.bugfix.rst
  sunpy/map/mapbase.py
Labels: [BugFix], backport 1.0, backport 1.1, map

#3967 Fix astropy pinning
  setup.cfg
  tox.ini
Labels: No Changelog Entry Needed, [CodeFix]

#3971 Update figure test artefact upload directory
  .circleci/config.yml
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#3962 Rename reprojection gallery folder
  changelog/3962.docfixt.rst
  docs/conf.py
  examples/map_transformations/README.txt
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
  examples/map_transformations/skip_reprojection_aia_euvi_mosaic.py
  examples/map_transformations/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/README.txt
Labels: Examples

#3952 Fix map source test warnings
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], map

#3970 Allow manager.override_file to specify a local file path without file:// prefix
  changelog/3970.bugfix.rst
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_manager.py
Labels: [BugFix], backport 1.1, data

#3978 Pin pytest to <5.4
  setup.cfg
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#3956 Using urlsplit in scraper
  changelog/3956.trivial.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: [CodeFix], util

#3980 Document return type of BaseClient.search
  sunpy/net/base_client.py
Labels: Documentation, [DocFix], net

#3981 Add AttrWalker __repr__
  sunpy/net/attr.py
Labels: No Changelog Entry Needed, net

#3973 Solved the problem of leaving socket opened
  changelog/3973.bugfix.rst
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Labels: Affects Release, Merge When CI Passes, [BugFix], backport 1.0, backport 1.1, net

#3972 Fix CI
  .circleci/config.yml
  .gitignore
  .test_package_pins.txt
  azure-pipelines.yml
  examples/acquiring_data/skip_downloading_lascoC3.py
  setup.cfg
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_helioviewer.py
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#3953 GOES event list example
  changelog/3953.doc.rst
  examples/acquiring_data/querying_the_GOES_event_list.py
Labels: Documentation, Examples

#3986 Add missing newline to changelog file
  changelog/3953.doc.rst
Labels: No Changelog Entry Needed, [DocFix]

#3987 Exclude Sphinx 3
  .test_package_pins.txt
Labels: Infrastructure, No Changelog Entry Needed

#3995 Cleanup Dependencies and Re-enable asdf schema tests
  setup.cfg
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix], backport 1.0, backport 1.1

#3996 Reconfigure the figure test artifacts and Giles
  .circleci/config.yml
  pyproject.toml
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 1.0, backport 1.1

#3990 Fix the automatic creation of slider labels from WCS
  changelog/3990.bugfix.rst
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: [BugFix], visualization

#3989 Fix draw_grid parameter doc
  sunpy/map/mapbase.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1, map

#4001 Fix Line plots in ArrayAnimatorWCS with masked arrays
  changelog/4001.bugfix.rst
  sunpy/tests/figure_hashes_py37.json
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: [BugFix], backport 1.1, visualization

#4005 Miscellanous cleanup in coordinates now that we depend on Astropy 3.2+
  examples/saving_and_loading_data/coordinates_in_asdf.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
Labels: No Changelog Entry Needed, Refactoring, coordinates

#3985 [1.1] Backports of #3973 and #3972
  .circleci/config.yml
  .gitignore
  .test_package_pins.txt
  azure-pipelines.yml
  changelog/3973.bugfix.rst
  examples/acquiring_data/skip_downloading_lascoC3.py
  setup.cfg
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/net/vso/vso.py
  tox.ini
Labels: No Changelog Entry Needed

#3984 [1.0] Backports of #3973 and #3972
  .circleci/config.yml
  .gitignore
  .test_package_pins.txt
  azure-pipelines.yml
  changelog/3973.bugfix.rst
  examples/acquiring_data/skip_downloading_lascoC3.py
  setup.cfg
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/net/vso/vso.py
  tox.ini
Labels: No Changelog Entry Needed

#3994 Removed xfail label in scraper test & enabled to scrap local files
  changelog/3994.feature.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: util

#3979 Helper method for checking against required and optional query attrs
  changelog/3979.trivial.rst
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
Labels: net

#3840 Used parse_time function to compare Time
  changelog/3840.bugfix.rst
  sunpy/net/vso/attrs.py
Labels: [BugFix]

#4012 Add the summary report to tox pytest runs
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#4015 Fixed a bug with `transform_with_sun_center()`
  changelog/4015.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [BugFix], coordinates

#4007 fix for str return from the cache
  changelog/4007.bugfix.rst
  sunpy/data/data_manager/cache.py
  sunpy/map/compositemap.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/timeseries/timeseriesbase.py
Labels: ManualBackport, [BugFix], backport 1.1

#4004 Take 2 on auto figure uploads
  .circleci/config.yml
  azure-pipelines.yml
  pyproject.toml
  sunpy/tests/helpers.py
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [Review]

#4014 Removed deprecations associated with `sunpy.coordinates.sun`
  changelog/4014.removal.1.rst
  changelog/4014.removal.2.rst
  docs/code_ref/sun.rst
  docs/dev_guide/sunpy_stability.yaml
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/sun.py
  sunpy/instr/goes.py
  sunpy/sun/sun.py
Labels: coordinates, sun

#4018 Remove developing installation instructions from README.rst
  README.rst
Labels: Documentation, No Changelog Entry Needed

#3727 Map now raises the file that failed to load if it errors on reading.
  changelog/3727.bugfix.rst
  setup.cfg
  sunpy/io/file_tools.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
Labels: Merge When CI Passes, map

#3822 Compatibility with parfive 1.1
  changelog/3822.feature.rst
  setup.cfg
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/util/scraper.py
Labels: ManualBackport, Merge When CI Passes, backport 1.0, backport 1.1, net

#4020 Removes appending login from norh and scraper.
  changelog/4020.trivial.rst
  sunpy/net/dataretriever/sources/norh.py
  sunpy/util/scraper.py
Labels: [CodeFix], net

#4021 Fixes the failing Scraper FTP test
  sunpy/util/tests/test_scraper.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#4024 Fixes get_rectangle_coordinates docs
  sunpy/coordinates/utils.py
Labels: No Changelog Entry Needed, [DocFix]

#4027 RTD fix
  readthedocs.yml
  rtd-environment.yml
Labels: No Changelog Entry Needed, [CodeFix], backport 1.0, backport 1.1

#3982 Fix deprecated decorator
  changelog/3982.bugfix.rst
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: [BugFix], backport 1.0, backport 1.1, util

#4023 Update pull_request_template.md
  .github/pull_request_template.md
Labels: Infrastructure, No Changelog Entry Needed

#3974 Sorted response tables in vso
  changelog/3974.bugfix.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: [Review], net

#4030 Backport 3982 to 1.0
  changelog/3982.bugfix.rst
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: No Changelog Entry Needed

#4031 Backport 3982 to 1.1
  changelog/3982.bugfix.rst
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: No Changelog Entry Needed

#4032 [1.1] Backports
  .circleci/config.yml
  changelog/3822.feature.rst
  changelog/3962.docfixt.rst
  changelog/4001.bugfix.rst
  changelog/4007.bugfix.rst
  docs/conf.py
  examples/map_transformations/README.txt
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
  examples/map_transformations/skip_reprojection_aia_euvi_mosaic.py
  examples/map_transformations/skip_reprojection_different_observers.py
  examples/sunpy_other_packages/README.txt
  pyproject.toml
  setup.cfg
  sunpy/data/data_manager/cache.py
  sunpy/database/tests/test_tables.py
  sunpy/map/compositemap.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/tests/figure_hashes_py37.json
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/scraper.py
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#3951 Added an HTML summary for Map and MapSequence
  changelog/3951.feature.rst
  docs/code_ref/io.rst
  docs/guide/data_types/maps.rst
  docs/guide/installation/advanced.rst
  setup.cfg
  sunpy/map/__init__.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
Labels: [Review], map

#4033 [1.0] Backports
  changelog/3822.feature.rst
  pyproject.toml
  setup.cfg
  sunpy/database/tests/test_tables.py
  sunpy/map/compositemap.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/tests/test_norh.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/util/scraper.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4034 Improve sample data doc
  changelog/4034.doc.rst
  sunpy/data/sample.py
Labels: Documentation, [DocFix], backport 1.0, backport 1.1, data

#3960 Add deprecation warning to aiaprep
  changelog/3960.removal.rst
  sunpy/instr/aia.py
Labels: Merge When CI Passes, instr

#4017 Tidy/add some Map factory tests
  sunpy/map/tests/test_map_factory.py
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, map

#3977 Sanitize args list in map factory
  sunpy/map/map_factory.py
Labels: Merge When CI Passes, No Changelog Entry Needed, map

#4038 Output a rendering-time warning for the HTML summary of a MapSequence with many elements
  sunpy/map/mapsequence.py
Labels: No Changelog Entry Needed, map

#4039 Fixes to the STEREO/SECCHI COR2 starfield gallery example
  changelog/4039.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Labels: Examples, Merge When CI Passes, [DocFix]

#4043 Clean up resample docs
  changelog/4043.doc.rst
  sunpy/map/mapbase.py
Labels: [DocFix], backport 1.0, backport 1.1, map

#4019 Show detailed hypothesis statistics in a dedicated CI build
  azure-pipelines.yml
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/net/dataretriever/tests/test_goes_ud.py
  sunpy/net/tests/strategies.py
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, Tests

#4046 Added a custom directive for Sphinx for generated HTML output
  docs/conf.py
  docs/dev_guide/documentation.rst
  sunpy/map/__init__.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed

#4037 Use singledispatch in Map factory
  changelog/4037.trivial.rst
  sunpy/map/map_factory.py
Labels: map

#4013 Move constants defined in "coordinates" sub-package to "sun"
  changelog/4013.feature.rst
  docs/guide/tour.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/sun/_constants.py
  sunpy/sun/constants.py
  sunpy/sun/tests/test_constants.py
Labels: coordinates, sun

#4052 Improve multiple-match error in map factory
  changelog/4052.trivial.rst
  sunpy/map/map_factory.py
Labels: Merge When CI Passes, [CodeFix], map

#4056 Update JSOC warning
  sunpy/net/jsoc/jsoc.py
Labels: No Changelog Entry Needed, net

#4060 Unskip non-reprojection examples
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/time_series/timeseriesmetadata_example.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Labels: Examples, Merge When CI Passes, No Changelog Entry Needed

#4058 Fixing bug in Fido to allow download to path="./"
  changelog/4058.bugfix.rst
  sunpy/net/fido_factory.py
  sunpy/net/tests/test_fido.py
Labels: [BugFix]

#4068 CI Fix
  setup.cfg
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix], backport 1.0, backport 1.1

#4067 Prevent header_to_fits modifying the header in place
  changelog/4067.bugfix.rst
  sunpy/io/fits.py
  sunpy/map/tests/test_mapbase.py
Labels: backport 1.0, backport 1.1, io
