Repository sunpy/sunpy, pull requests merged in 2020-08, with the labels that each got.

#4399 update RTD and fix docs
  .pre-commit-config.yaml
  docs/guide/plotting.rst
  readthedocs.yml
  rtd-environment.yml
  sunpy/coordinates/tests/test_frames.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/image/tests/test_transform.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/net/hek/attrs.py
  sunpy/util/sphinx/changelog.py
  sunpy/util/sphinx/generate.py
  tools/hektemplate.py
Labels: No Changelog Entry Needed, backport 2.0

#4404 [2.0] Backports
  .circleci/config.yml
  .pre-commit-config.yaml
  .test_package_pins.txt
  azure-pipelines.yml
  docs/guide/plotting.rst
  readthedocs.yml
  rtd-environment.yml
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/image/tests/test_coalignment.py
  sunpy/image/tests/test_transform.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/net/hek/attrs.py
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/util/sphinx/changelog.py
  sunpy/util/sphinx/generate.py
  tools/hektemplate.py
  tox.ini
Labels: No Changelog Entry Needed

#4388 Expand datamanager error.
  changelog/4350.removal.rst
  sunpy/data/data_manager/cache.py
  sunpy/util/util.py
  tox.ini
Labels: No Changelog Entry Needed, backport 2.0

#4409 Retain nanosecond precision in parse_time for pandas
  changelog/4409.bugfix.rst
  docs/guide/time.rst
  sunpy/instr/tests/test_goes.py
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: backport 2.0, time

#3648 Force zero warnings in test suite
  setup.cfg
  sunpy/map/tests/test_compositemap.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#4357 added functionality to check if ther server is active or not
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#4414 Fix sphinx links in sunpy/guide
  changelog/4414.docfix.rst
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/customization.rst
  docs/guide/data_types/maps.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/installation/advanced.rst
  docs/guide/time.rst
  docs/guide/tour.rst
  docs/guide/units-coordinates.rst
Labels: Documentation, [DocFix], backport 2.0

#4415 Fix misc intersphinx links in docs
  changelog/4415.docfix.rst
  sunpy/coordinates/utils.py
  sunpy/database/caching.py
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/image/coalignment.py
  sunpy/image/transform.py
  sunpy/instr/goes.py
  sunpy/instr/lyra.py
  sunpy/io/fits.py
  sunpy/io/special/genx.py
  sunpy/timeseries/metadata.py
  sunpy/timeseries/timeseriesbase.py
Labels: Documentation, [DocFix], backport 2.0

#4011 Supporting Post search filtering again for VSO
  changelog/4011.bugfix.rst
  sunpy/net/vso/attrs.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: [Review], net

#4420 Un-pin pytest
  .test_package_pins.txt
  tox.ini
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.0

#4422 Explicitly specify the encoding for reading in CITATION.rst
  changelog/4422.bugfix.rst
  sunpy/__init__.py
Labels: [BugFix], backport 2.0

#4102 Improve support for velocities in coordinates
  changelog/4102.feature.1.rst
  changelog/4102.feature.2.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/frames.py
Labels: coordinates

#4424 Remove all transformations from a frame instance to a frame class
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, [BugFix], coordinates

#4427 Follow-up: Removed one more transformation from a frame instance to a frame class
  sunpy/coordinates/tests/test_transformations.py
Labels: No Changelog Entry Needed, [BugFix], coordinates

#4425 Remove pinned version for OpenBLAS from conda-forge
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, backport 2.0

#4343 Always use the same ERFA package used by Astropy
  setup.cfg
  sunpy/coordinates/sun.py
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed, [CodeFix], coordinates

#4434 Add a colormap figure test
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], visualization

#4435 precommit update/CI updates
  .pre-commit-config.yaml
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/searching_vso.py
  sunpy/conftest.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/database/tests/test_database.py
  sunpy/map/mapbase.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/differential_rotation.py
Labels: Infrastructure, ManualBackport, No Changelog Entry Needed, [CodeFix]

#4379 sample data uses download instead of retry
  sunpy/data/_sample.py
  sunpy/data/sample.py
  sunpy/data/tests/__init__.py
  sunpy/data/tests/test_sample.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4436 [2.0] Backport of #4435
  .pre-commit-config.yaml
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/searching_vso.py
  sunpy/conftest.py
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/database/tests/test_database.py
  sunpy/map/mapbase.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/differential_rotation.py
Labels: No Changelog Entry Needed, [CodeFix]

#4437 downloading_hmi now uses the VSO
  examples/acquiring_data/downloading_hmi.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 2.0

#4441 [2.0] Backport of #4409
  .circleci/config.yml
  changelog/4409.bugfix.rst
  docs/guide/time.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed

#4419 Function to get file timeranges in scraper
  changelog/4419.feature.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: util
