Repository sunpy/sunpy, pull requests merged in 2020-10, with the labels that each got.

#4531 Fix minor typo
  docs/dev_guide/code_standards.rst
Labels: No Changelog Entry Needed, [DocFix]

#4525 Tidy up github files
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/whatever_else.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  README.rst
  docs/code_of_conduct.rst
  docs/dev_guide/newcomers.rst
  docs/index.rst
Labels: Infrastructure, No Changelog Entry Needed

#4534 Restored and updated doctests for accurate solar angular radius
  docs/guide/data_types/maps.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix]

#4537 changed all c3 to c2
  examples/acquiring_data/downloading_lascoC2.py
Labels: Examples, Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 2.0

#4543 Docfix changed to doc
  changelog/3549.doc.rst
  changelog/3706.doc.rst
  changelog/3709.doc.rst
  changelog/3962.doct.rst
  changelog/4098.doc.rst
  changelog/4136.doc.rst
  changelog/4169.doc.rst
  changelog/4183.doc.rst
  changelog/4274.doc.rst
  changelog/4372.doc.rst
  changelog/4378.doc.1.rst
  changelog/4378.doc.rst
  changelog/4414.doc.rst
  changelog/4415.doc.rst
  changelog/4418.doc.rst
  changelog/4470.doc.rst
  changelog/4472.doc.rst
  changelog/4494.doc.rst
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4529 Fixed get_dates() not working working properly when less than 24 hours passed
  changelog/4529.bugfix.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Labels: [BugFix], backport 2.0, time

#4547 removed pytest pin
  .test_package_pins.txt
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#4548 Added explanation in 'Differentially rotating a map' example
  changelog/4548.doc.rst
  examples/differential_rotation/reprojected_map.py
Labels: [DocFix], backport 2.0

#4517 Clean up timeseries plotting
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed, Refactoring, [CodeFix], timeseries

#4557 Update figure test hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix], backport 2.0

#4542 Refactor attrs
  sunpy/database/attrs.py
  sunpy/net/_attrs.py
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Labels: No Changelog Entry Needed, Refactoring, [CodeFix]

#4562 fix names of test functions that were incorrectly named test_fitstoEIT
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_lasco_source.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#4563 Move argument validation out of _get_new_observer
  sunpy/physics/differential_rotation.py
Labels: No Changelog Entry Needed, [CodeFix], physics

#4566 Link to stable parfive docs
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4567 Respect max_conn in JSOC
  changelog/4567.bugfix.rst
  sunpy/net/jsoc/jsoc.py
Labels: [BugFix], backport 2.0, net

#4540 Fixed label in changelog readme
  changelog/README.rst
  pyproject.toml
Labels: No Changelog Entry Needed

#4573 Use clip_interval thoroughly in the gallery examples
  changelog/4573.docfix.rst
  examples/map/map_rotation.py
  examples/plotting/aia_example.py
  examples/plotting/fading_between_maps.py
  examples/plotting/finegrained_plot.py
  examples/plotting/great_arc_example.py
  examples/plotting/lat_lon_lines.py
  examples/plotting/overplot_hek_polygon.py
  examples/plotting/simple_differential_rotation.py
  examples/saving_and_loading_data/genericmap_in_asdf.py
Labels: [DocFix], backport 2.0

#4560 differential rotation now uses isot time instead of custom string.
  setup.cfg
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  tox.ini
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4578 Update figure hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix]

#4581 Fix stable figure tests
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/helpers.py
  tox.ini
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0

#4579 Add detector to LASCO search in example
  examples/acquiring_data/downloading_lascoC2.py
Labels: No Changelog Entry Needed, [DocFix], backport 2.0

#4582 Enable coverage reports on circleCI
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix], backport 2.0

#4588 Attempt fixing doc build
  azure-pipelines.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix], backport 2.0

#4270 Allow hiding of ticks and labels via coord_params in ArrayAnimatorWCS
  changelog/4270.feature.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: [Review], visualization

#4584 Update sun.py to use GeocentricTrueEcliptic
  changelog/4584.trivial.rst
  sunpy/coordinates/sun.py
Labels: No Backport, Refactoring, coordinates

#4590 Correctly parse lists of times
  changelog/4590.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: [BugFix], backport 2.0, time

#4589 Allow sunpy.timeseries.TimeSeries to read in from pathlib.Path
  changelog/4589.feature.rst
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
Labels: Merge When CI Passes, timeseries

#4594 typo fix in usage string of generate_releaserst.xsh
  tools/generate_releaserst.xsh
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4561 LASCOMap: clear rotation metadata for Helioviewer JPEG2000 images
  changelog/4561.bugfix.rst
  sunpy/data/test/2013_05_13__16_54_06_137__SOHO_LASCO_C3_white-light.jp2
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_lasco_source.py
Labels: [BugFix], backport 2.0, map

#4601 fixed wsdl parser bug
  changelog/4601.bugfix.rst
  sunpy/net/helio/parser.py
Labels: Merge When CI Passes, [BugFix], backport 2.0, net

#4602 Don't automatically render changelog on stable doc releases
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed, backport 2.0

#4610 Add documentation on coordinates with velocities
  changelog/4610.doc.rst
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/velocities.rst
Labels: Documentation, No Backport, coordinates

#4611 Add composite map peeking test
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix], map
