Repository sunpy/sunpy, pull requests merged in 2020-09, with the labels that each got.

#4445 Update naxis after map.resample
  changelog/4445.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: Merge When CI Passes, map

#4418 Add some missing bits to the API docs
  changelog/4418.docfix.rst
  docs/code_ref/data.rst
  docs/code_ref/sun.rst
  sunpy/net/hek/hek.py
  sunpy/sun/constants.py
Labels: Documentation, [DocFix], backport 2.0

#4405 Allow jsocClient to download .tar archives from JSOC
  changelog/4405.feature.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: Merge When CI Passes, net

#4452 Don't convert float32 to float64 in affine_transform
  changelog/4452.bugfix.rst
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
Labels: [BugFix], backport 2.0, image

#4433 Move colormap data to .csv files
  changelog/4433.feature.rst
  eit_dark_blue.csv
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/README.rst
  sunpy/visualization/colormaps/data/eit_dark_blue.csv
  sunpy/visualization/colormaps/data/eit_dark_green.csv
  sunpy/visualization/colormaps/data/eit_dark_red.csv
  sunpy/visualization/colormaps/data/eit_yellow.csv
  sunpy/visualization/colormaps/data/grayscale.csv
  sunpy/visualization/colormaps/data/hi1.csv
  sunpy/visualization/colormaps/data/hi2.csv
  sunpy/visualization/colormaps/data/hmi_mag.csv
  sunpy/visualization/colormaps/data/idl_3.csv
  sunpy/visualization/colormaps/data/lasco_c2.csv
  sunpy/visualization/colormaps/data/lasco_c3.csv
  sunpy/visualization/colormaps/data/stereo_cor1.csv
  sunpy/visualization/colormaps/data/stereo_cor2.csv
  sunpy/visualization/colormaps/data/trace_1216.csv
  sunpy/visualization/colormaps/data/trace_1550.csv
  sunpy/visualization/colormaps/data/trace_1600.csv
  sunpy/visualization/colormaps/data/trace_1700.csv
  sunpy/visualization/colormaps/data/trace_171.csv
  sunpy/visualization/colormaps/data/trace_195.csv
  sunpy/visualization/colormaps/data/trace_284.csv
Labels: Merge When CI Passes, visualization

#4455 Improve title of differential rotation example
  examples/differential_rotation/reprojected_map.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 2.0

#4460 Remove spurious colormap file
  eit_dark_blue.csv
Labels: No Changelog Entry Needed, [CodeFix]

#4451 Use bunit in sunpy.map
  changelog/4451.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_mapbase.py
Labels: map

#4461 Update 4445.bugfix.rst
  changelog/4445.bugfix.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 2.0

#4449 Make RTD not the main check for sphinx warnings
  azure-pipelines.yml
  readthedocs.yml
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4321 Redesigning genericClient
  changelog/4321.breaking.1.rst
  changelog/4321.breaking.rst
  changelog/4321.feature.1.rst
  changelog/4321.feature.3.rst
  changelog/4321.feature.4.rst
  changelog/4321.feature.rst
  changelog/4321.removal.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/database/tables.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
  sunpy/net/dataretriever/tests/test_client.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/tests/test_vso.py
Labels: Merge When CI Passes, Refactoring, [Review], net

#4472 Update Mapsequence.plot docstring
  changelog/4472.docfix.rst
  sunpy/map/mapsequence.py
  sunpy/visualization/animator/mapsequenceanimator.py
Labels: backport 2.0, map

#4470 Added documentation for copying a Map
  changelog/4470.docfix.rst
  docs/guide/data_types/maps.rst
Labels: Documentation, backport 2.0, map

#4466 Fix registration of wildcard attrs
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/tests/test_attr.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix]

#4479 More BUNIT fixes for AIAMap
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, map

#4486 Add aiapy docs to the intersphinx mapping
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed

#4485 Remove aiaprep and associated tests
  changelog/4485.removal.rst
  docs/code_ref/instr.rst
  sunpy/instr/aia.py
  sunpy/instr/tests/test_aia.py
Labels: instr

#4487 Clean colormaps sub-module
  sunpy/visualization/colormaps/color_tables.py
Labels: No Changelog Entry Needed, [CodeFix]

#4488 Remove sunpy.cm
  changelog/4488.removal.rst
  sunpy/cm/__init__.py
Labels: Merge When CI Passes, cm

#4378 Updated install, dev and contributing docs
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  changelog/4378.docfix.1.rst
  changelog/4378.docfix.rst
  docs/conf.py
  docs/dev_guide/code_standards.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/images/azure_check_pr.png
  docs/dev_guide/images/azure_goto.png
  docs/dev_guide/images/azure_steps_in_job.png
  docs/dev_guide/images/azure_summary_check.png
  docs/dev_guide/images/checks.png
  docs/dev_guide/images/checks_pr.png
  docs/dev_guide/images/list_of_azure_checks.png
  docs/dev_guide/pr_review_procedure.rst
  docs/dev_guide/tests.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.py
Labels: Documentation, ManualBackport, Merge When CI Passes

#4489 Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4477 Normalize images before transformation when using skimage
  changelog/4477.bugfix.rst
  sunpy/image/transform.py
Labels: Merge When CI Passes, image

#4463 Maputil speedups
  changelog/4463.trivial.rst
  sunpy/map/maputils.py
Labels: backport 2.0, map

#4494 Added a gallery example for saving & loading GenericMap using asdf
  changelog/4494.docfix.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
Labels: Examples, Merge When CI Passes, [Review], backport 2.0

#4432 Ignore out-of-range years for an SRS query
  changelog/4432.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
Labels: net

#4476 Force map.meta to be a MetaDict
  changelog/4476.trivial.2.rst
  changelog/4476.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/metadata.py
Labels: [Review], map, util

#4465 Update Azure config with new template features
  .codecov.yaml
  azure-pipelines.yml
  setup.cfg
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 2.0

#4491 Remove submap warnings on pixel ordering
  changelog/4491.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 2.0, map

#4464 str function for mapbase
  changelog/4464.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: backport 2.0, map

#4505 [2.0] Backports and release
  .codecov.yaml
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CHANGELOG.rst
  CONTRIBUTING.rst
  azure-pipelines.yml
  changelog/4288.bugfix.rst
  changelog/4335.trivial.rst
  changelog/4340.bugfix.rst
  changelog/4350.removal.rst
  changelog/4351.trivial.rst
  changelog/4364.bugfix.rst
  changelog/4375.bugfix.rst
  changelog/4378.docfix.1.rst
  changelog/4378.docfix.rst
  changelog/4409.bugfix.rst
  changelog/4422.bugfix.rst
  changelog/4432.bugfix.rst
  changelog/4452.bugfix.rst
  changelog/4491.trivial.rst
  docs/conf.py
  docs/dev_guide/index.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  readthedocs.yml
  setup.py
  sunpy/map/mapbase.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_mapbase.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4506 [2.0] remove warning
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed, [CodeFix]

#4467 Cache map.wcs
  changelog/4467.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
  sunpy/util/metadata.py
Labels: [Review], map

#4510 Remove global ignore of nanoseconds warning in tests
  setup.cfg
Labels: No Changelog Entry Needed, [CodeFix]

#4507 Remove stored logos
  .test_package_pins.txt
  docs/conf.py
  docs/logo/favicon.ico
  docs/logo/sunpy_icon_128x128.png
  tox.ini
Labels: Documentation, Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4513 remove usedevelop = true
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4462 Modify tests to be compatible with parfive 1.2
  sunpy/database/tests/test_database.py
  sunpy/net/tests/test_fido.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4515 Pin parfive oldest deps
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 2.0

#4511 Remove timeseries warning simplefilters
  changelog/4511.bugfix.rst
  sunpy/instr/lyra.py
  sunpy/instr/tests/test_lyra.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  tox.ini
Labels: [CodeFix], timeseries

#4520 Fixed heading now that there is no SunPy-specific minigallery directive
  docs/dev_guide/documentation.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4518 Fixed a miniscule inaccuracy in the calculation of the angular radius of the Sun
  changelog/4518.bugfix.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Labels: [BugFix], backport 2.0, coordinates
