Repository sunpy/sunpy, pull requests merged in 2020-11, with the labels that each got.

#4617 Add note about observer_coord in fits header helper
  sunpy/map/header_helper.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed, [DocFix], map

#4618 Add input/output doc to wcs_utils
  sunpy/coordinates/wcs_utils.py
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed, [DocFix], coordinates

#4621 Update ArrayAnimatorWCS class
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: No Backport, No Changelog Entry Needed, Refactoring, visualization

#4615 Remove deprecated lytaf_path arguments
  changelog/4615.removal.rst
  sunpy/instr/lyra.py
Labels: instr

#4616 Remove deprecated positional arguments to map methods
  changelog/4616.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map

#4623 Parmatrise wcs_frame_mapping tests
  sunpy/coordinates/tests/test_wcs_utils.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], coordinates

#4613 Fix velocity transformations
  changelog/4613.bugfix.rst
  docs/code_ref/coordinates/velocities.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: No Backport, coordinates

#4586 Remove self_test() references from docs
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0

#4593 milestone and contrib guide update
  docs/dev_guide/maintainer_workflow.rst
  docs/dev_guide/newcomers.rst
  docs/dev_guide/pr_review_procedure.rst
  pyproject.toml
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed

#4614 Remove multimethod
  changelog/4614.removal.rst
  docs/code_ref/util.rst
  sunpy/net/attr.py
  sunpy/util/multimethod.py
  sunpy/util/tests/test_multimethod.py
Labels: Merge When CI Passes, util

#4600 Fixes to the SRSClient
  changelog/4600.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Labels: [BugFix], backport 2.0, net

#4628 fix online failures in helio
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.0

#4605 Hash based figure tests with pytest-mpl
  .circleci/config.yml
  changelog/4605.removal.rst
  setup.cfg
  sunpy/conftest.py
  sunpy/tests/hash.py
  sunpy/tests/helpers.py
  tox.ini
Labels: backport 2.0

#4629 dev scm update
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  setup.cfg
  setup.py
  sunpy/__init__.py
  sunpy/_dev/__init__.py
  sunpy/_dev/scm_version.py
  sunpy/version.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0

#4624 Reduce number of maximum jsoc connections
  changelog/4624.bugfix.rst
  sunpy/net/jsoc/jsoc.py
Labels: Merge When CI Passes, backport 2.0, net

#4598 Rewrite overplotting SRS active regions example
  changelog/4598.docfix.rst
  examples/plotting/magnetogram_active_regions.py
Labels: Documentation, [DocFix], backport 2.0

#4637 [2.0] Backport 4588
  azure-pipelines.yml
Labels: No Changelog Entry Needed

#4634 [2.0] Backport #4560
  setup.cfg
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  tox.ini
Labels: No Changelog Entry Needed

#4635 [2.0] 4581 backport
  sunpy/tests/figure_hashes_mpl_321_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/helpers.py
  tox.ini
Labels: No Changelog Entry Needed

#4638 Backport #4605
  .circleci/config.yml
  changelog/4605.removal.rst
  setup.cfg
  sunpy/conftest.py
  sunpy/tests/hash.py
  sunpy/tests/helpers.py
  tox.ini
Labels: No Changelog Entry Needed

#4639 Backport #4629
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  setup.cfg
  setup.py
  sunpy/__init__.py
  sunpy/_dev/__init__.py
  sunpy/_dev/scm_version.py
  sunpy/version.py
Labels: No Changelog Entry Needed

#4642 [2.0] Tests for the SRSClient
  changelog/4600.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Labels: No Changelog Entry Needed

#4569 Add Python 3.9 builds
  azure-pipelines.yml
  changelog/4569.feature.rst
  tox.ini
Labels: Infrastructure, Tests

#4643 updated return types for the HECClient
  changelog/4643.breaking.rst
  setup.cfg
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Labels: No Backport, [BugFix], net

#4499 Extend TimeSeries concatenate to allow iterables
  changelog/4499.feature.rst
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries

#4620 Support observer information in WCS
  changelog/4620.breaking.rst
  changelog/4620.feature.rst
  changelog/4620.removal.rst
  docs/guide/data_types/maps.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  tox.ini
Labels: [Review], coordinates, map

#4585 Improve the dev guide handling
  docs/code_ref/index.rst
  docs/code_ref/stability.rst
  docs/code_ref/sunpy_stability.yaml
  docs/conf.py
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/config.rst
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/example_gallery.rst
  docs/dev_guide/contents/funding.rst
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/images/azure_goto.png
  docs/dev_guide/contents/images/azure_steps_in_job.png
  docs/dev_guide/contents/images/azure_summary_check.png
  docs/dev_guide/contents/images/checks.png
  docs/dev_guide/contents/images/checks_pr.png
  docs/dev_guide/contents/images/list_of_azure_checks.png
  docs/dev_guide/contents/logger.rst
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/new_objects.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/pr_review_procedure.rst
  docs/dev_guide/contents/remote_data.rst
  docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/units_quantities.rst
  docs/dev_guide/index.rst
  docs/guide/installation/advanced.rst
Labels: Documentation, Merge When CI Passes, No Changelog Entry Needed, backport 2.0

#4055 Created Fido Client for Gong synoptic maps
  changelog/4055.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/net/_attrs.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
Labels: net

#4426 Raise an error if a file contains no HDUs with NAXIS > 1
  changelog/4426.trivial.rst
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/util/exceptions.py
Labels: map

#4641 Manylinux2014
  azure-pipelines.yml
  changelog/4569.feature.rst
  changelog/4569.trivial.rst
  sunpy/net/helio/tests/test_helio.py
  tools/send_matrix_message.xsh
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Backport, No Changelog Entry Needed

#4554 Fix ylim setting by LineAnimator
  changelog/4554.bugfix.rst
  sunpy/visualization/animator/line.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Labels: [BugFix], [Review], backport 2.0

#4647 Added robots.txt to exclude all but stable and latest
  docs/conf.py
  docs/robots.txt
Labels: No Changelog Entry Needed, backport 2.0

#4649 [2.0] Backport #4647
  docs/conf.py
  docs/robots.txt
Labels: No Changelog Entry Needed

#4650 Update minimum dependencies listed in docs
  docs/guide/installation/index.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4653 Add missing MDISynopticMap to docs
  sunpy/map/sources/__init__.py
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4552 Added a coordinate system checks to maputils functions, Issue#4546
  changelog/4552.bugfix.rst
  docs/guide/index.rst
  docs/guide/roi.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: [BugFix], [Review], backport 2.0, map

#4646 updated extern files
  setup.cfg
  sunpy/extern/appdirs.py
  sunpy/extern/appdirs_license.txt
  sunpy/extern/distro.py
  sunpy/extern/inflect.py
  sunpy/extern/parse.py
Labels: No Changelog Entry Needed, [CodeFix], [Review]

#4443 Units equivalency for converting between arcsec and km on the Sun
  changelog/4443.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
Labels: Merge When CI Passes, [Review], coordinates

#4592 TimeSeries support for new GOES netcdf files
  azure-pipelines.yml
  changelog/4592.feature.rst
  setup.cfg
  sunpy/data/test/goes_truncated_test_goes15.nc
  sunpy/data/test/goes_truncated_test_goes16.nc
  sunpy/io/file_tools.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  tox.ini
Labels: [Review], io, timeseries

#4236 Adding an example using creating a Map from observations in RA-DEC
  changelog/4236.doc.rst
  examples/units_and_coordinates/radec_to_hpc_map.py
  sunpy/data/_sample.py
Labels: Examples, backport 2.0, coordinates, map

#4656 Remove .rsun and .heliographic_observer from examples
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/arrayanimatorwcs.py
Labels: No Changelog Entry Needed

#4003 Enable interpreting HPC coordinates as on the inside of a spherical screen
  changelog/4003.feature.rst
  examples/map_transformations/reprojection_spherical_screen.py
  sunpy/coordinates/frames.py
Labels: [Review], coordinates

#4658 update min astropy version
  docs/guide/installation/index.rst
  setup.cfg
Labels: No Changelog Entry Needed

#4661 Small edit to radio ra-dec example
  examples/units_and_coordinates/radec_to_hpc_map.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix]

#4659 Allow the observer designation of 'self' for a HeliographicCarrington coordinate
  changelog/4659.feature.rst
  docs/code_ref/coordinates/index.rst
  sunpy/coordinates/frameattributes.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/map/mapbase.py
Labels: [Review], coordinates

#4663 Fixed a huge performance bug in our transformations
  changelog/4663.bugfix.rst
  sunpy/coordinates/frameattributes.py
Labels: [BugFix], backport 2.0, coordinates

#4669 Fixed the WCS->frame mapping when the observer location is given in HGC coordinates
  changelog/4669.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: No Backport, [BugFix], coordinates

#4668 Added offline hypothesis tests to the tox online build and show hypothesis statistics
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#4394 Functionality to client to download new GOES 16/17 data and reprocessed 13/14/15
  changelog/4394.feature.rst
  examples/time_series/timeseriesmetadata_example.py
  sunpy/__init__.py
  sunpy/database/tests/test_tables.py
  sunpy/extern/parse.py
  sunpy/net/dataretriever/attrs/goes.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/util/scraper.py
Labels: [Review], net

#4652 Force use of units when contouring
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, [Review], map

#4665 Updating the RHESSI colortable
  changelog/4665.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/rhessi.csv
  sunpy/visualization/colormaps/data/std_gamma_2.csv
Labels: Feature Request, [Review], map, visualization

#4673 Pin libopenblas to resolve macOS bug
  sunpy/image/tests/test_transform.py
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 2.0

#4675 Fixed links to the maintainer list
  docs/code_ref/stability.rst
  docs/dev_guide/contents/pr_review_procedure.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix]

#4662 created more extra deps
  README.rst
  changelog/4662.breaking.rst
  docs/guide/index.rst
  docs/guide/installation.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  setup.cfg
Labels: Infrastructure, Merge When CI Passes, [Review]

#4677 Update README.rst to revise IRC link to one of Element.io
  README.rst
Labels: No Changelog Entry Needed, [CodeFix]

#4679 Finish unfinished business: Continue to patch READM.rst for IRC links
  README.rst
Labels: No Changelog Entry Needed, [CodeFix]

#4676 Exclude NaNs from map FITS headers
  changelog/4676.bugfix.rst
  sunpy/io/fits.py
  sunpy/io/tests/test_fits.py
Labels: Merge When CI Passes, No Backport, [BugFix], map

#4678 Split the pipelines yaml into stages
  azure-pipelines.yml
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/pr_review_procedure.rst
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4681 [2.0] update erfa imports for astropy
  sunpy/coordinates/sun.py
  sunpy/coordinates/transformations.py
  sunpy/instr/tests/test_lyra.py
  tox.ini
Labels: No Changelog Entry Needed

#4682 Don't wait for other tests to pass before running Cron tests
  azure-pipelines.yml
  docs/dev_guide/contents/pr_review_procedure.rst
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4684 Fix Failing CI
  azure-pipelines.yml
  sunpy/instr/tests/test_lyra.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#4685 added new tox 32bit pin
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4687 Only run cron on cron or manual
  azure-pipelines.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4689 [2.0] 2.0.5
  CHANGELOG.rst
  changelog/4552.bugfix.rst
  changelog/4554.bugfix.rst
  changelog/4663.bugfix.rst
Labels: No Changelog Entry Needed

#4690 [Backport 2.0] Always use the same ERFA package used by Astropy
  sunpy/coordinates/sun.py
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed, [CodeFix], coordinates

#4686 New GOES XRS example
  changelog/4686.doc.rst
  examples/acquiring_data/goes_xrs_example.py
  examples/time_series/goes_hek_m25.py
Labels: Examples, No Backport, [Review]
