Repository sunpy/sunpy, pull requests merged in 2020-05, with the labels that each got.

#4076 Some cleanup of affine-transform tests
  sunpy/image/tests/test_transform.py
Labels: Infrastructure, No Changelog Entry Needed, Tests, [CodeFix], backport 1.0, backport 1.1

#4081 Do a little hack for circleci docs preview
  docs/conf.py
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 1.0, backport 1.1

#4080 Un-skip reprojection examples
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/map_transformations/reprojection_different_observers.py
Labels: Documentation, Examples, Merge When CI Passes, No Changelog Entry Needed

#4072 Migrated the examples from the RotatedSunFrame tutorial to the gallery
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/conf.py
  examples/differential_rotation/README.txt
  examples/differential_rotation/differentially_rotated_coordinate.py
  examples/differential_rotation/differentially_rotated_gridlines.py
  examples/differential_rotation/reprojected_map.py
  sunpy/coordinates/metaframes.py
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#3722 Added function to generate user config file and tests
  changelog/3722.feature.rst
  docs/guide/customization.rst
  sunpy/conftest.py
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Labels: [Review], util

#4061 Simplify solar cycle example
  examples/plotting/skip_solar_cycle_example.py
  examples/plotting/solar_cycle_example.py
Labels: Examples, No Changelog Entry Needed

#4088 fix hek for unicode that fails on json
  changelog/4088.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
Labels: [BugFix], backport 1.0, backport 1.1, net

#4085 Make _observers_are_equal compatible with 4.1
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed, backport 1.0, backport 1.1, coordinates

#4089 Fix a doctest to work on multiple versions of Astropy
  docs/guide/units-coordinates.rst
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#4092 [Backport 1.0] Make _observers_are_equal astropy 4.1 compatible
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed

#4084 Use to_dataframe() in goes.py
  sunpy/instr/goes.py
Labels: No Changelog Entry Needed, instr

#4105 Clarify that data manager hashes are SHA-256
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
Labels: No Changelog Entry Needed, [DocFix], backport 1.1

#4098 Document variables (e.g. Map, Fido, TimeSeries...)
  changelog/4098.docfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  docs/dev_guide/documentation.rst
  docs/dev_guide/new_objects.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/downloading_lascoC3.py
  examples/acquiring_data/searching_vso.py
  examples/map/README.txt
  sunpy/map/map_factory.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/fido_factory.py
  sunpy/timeseries/timeseries_factory.py
Labels: Documentation, backport 1.0, backport 1.1, data

#4109 Remove VSO deprecations
  changelog/4109.breaking.rst
  sunpy/database/tables.py
  sunpy/net/vso/vso.py
Labels: net

#4113 Use astropy to create `sunpy.sun.constants` docstring RST table
  sunpy/sun/constants.py
  sunpy/sun/tests/test_constants.py
Labels: No Changelog Entry Needed

#4112 Fixed error in logger message for get_body_heliographic_stonyhurst()
  changelog/4112.bugfix.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Labels: [BugFix], backport 1.0, backport 1.1, coordinates

#4111 Minor fixes to RotatedSunFrame docstrings
  sunpy/coordinates/metaframes.py
Labels: No Changelog Entry Needed, [DocFix], coordinates

#4110 Add a custom User Agent for sunpy parfive downloads
  .test_package_pins.txt
  changelog/4109.removal.rst
  setup.cfg
  sunpy/data/_sample.py
  sunpy/data/data_manager/downloader.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/fido_factory.py
  sunpy/net/helioviewer.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
  sunpy/util/parfive_helpers.py
Labels: No Changelog Entry Needed, net

#4116 Updated STEREO SECCHI starfield example to use all of the information in the star catalog
  changelog/4116.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Labels: Examples, coordinates

#4122 [Backport 1.0] Fixes to the STEREO/SECCHI COR2 starfield example
  changelog/4039.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4118 Improve fits header helper doc
  sunpy/map/header_helper.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#4126 [Backport 1.0] Updated STEREO SECCHI starfield example to use all of the information in the star catalog
  changelog/4116.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#4127 Fix submap for scaled u.pix units
  changelog/4127.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: Bug(?), backport 1.0, backport 1.1, map

#4124 Added a custom directive for Sphinx to include mini-galleries
  changelog/4124.doc.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/conf.py
  docs/dev_guide/documentation.rst
Labels: Documentation

#4140 skip_magnetogram_active_regions.py
  examples/plotting/skip_magnetogram_active_regions.py
Labels: No Changelog Entry Needed, backport 1.0, backport 1.1

#4136 Issue: #4042: Improvement for spline option doc for resampling
  changelog/4136.docfix.rst
  sunpy/map/mapbase.py
Labels: Merge When CI Passes, [DocFix], backport 1.0, backport 1.1, map

#4131 reduced time for goes_suvi fetch test
  sunpy/net/dataretriever/tests/test_goes_suvi.py
Labels: No Changelog Entry Needed

#4137 Issue #4091: Logging for download sample data failure
  changelog/4137.trivial.rst
  sunpy/data/_sample.py
Labels: [CodeFix], backport 1.0, backport 1.1, data

#4147 [Backport 1.1] Fixed unintended modification of the main transform graph
  sunpy/coordinates/transformations.py
Labels: [BugFix], backport 1.0, coordinates

#4146 Fixed unintended modification of the main transform graph
  sunpy/coordinates/transformations.py
Labels: No Changelog Entry Needed, [BugFix], coordinates

#4132 href fix in scraper
  changelog/4132.bugfix.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: Merge When CI Passes, [BugFix], net

#4141 Propagate map coordinate frame properly in on_disk_bounding_coordinates
  changelog/4141.bugfix.rst
  sunpy/map/maputils.py
Labels: [BugFix], backport 1.0, backport 1.1, map

#4153 Remove sphinx-gallery config comments from rendered examples
  docs/conf.py
Labels: Examples, No Changelog Entry Needed, [DocFix]

#4152 Fix reference pixel in header helper
  changelog/4152.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
Labels: backport 1.0, backport 1.1, map

#4154 Make reference_pixel index from zero
  changelog/4154.bugfix.rst
  sunpy/image/coalignment.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [Review], map

#4149 Issue: #4091: Changing info logs to warn/error for download failure
  sunpy/data/_sample.py
Labels: No Changelog Entry Needed, [CodeFix]

#4103 Improve cache downloader error
  sunpy/data/data_manager/cache.py
Labels: No Changelog Entry Needed, backport 1.1, data

#4121 Fix map.{top_right_coord, center}
  changelog/4121.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
Labels: [BugFix], map

#4161 Update downloading_hmi.py with download change
  examples/acquiring_data/downloading_hmi.py
Labels: No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#4134 Fix/overhaul/test submap
  changelog/4134.bugfix.rst
  examples/map/composite_map_AIA_HMI.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/instr/aia.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_maputils.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: map

#4162 Rename timeseries_example.py to skip_timeseries_example.py
  examples/time_series/skip_timeseries_example.py
Labels: No Changelog Entry Needed, [DocFix], backport 1.0, backport 1.1

#4163 Log at debug for sample data during doc build
  docs/conf.py
  sunpy/data/_sample.py
Labels: No Changelog Entry Needed

#4166 Backport #4152 to 1.0
  changelog/4152.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
Labels: No Changelog Entry Needed

#4172 Remove astropy 3.1 compatibility wrapper for Quantity.to_string
  changelog/4172.trivial.rst
  sunpy/visualization/animator/base.py
Labels: [CodeFix]

#4164 Fixes for linear upsampling
  changelog/4164.bugfix.rst
  sunpy/image/resample.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 1.0, backport 1.1, image

#4177 [1.1] Backports
  .circleci/config.yml
  changelog/4067.bugfix.rst
  changelog/4088.bugfix.rst
  changelog/4098.docfix.rst
  changelog/4164.bugfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  docs/conf.py
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/searching_vso.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/map/README.txt
  examples/time_series/skip_timeseries_example.py
  sunpy/database/tests/test_tables.py
  sunpy/image/resample.py
  sunpy/io/fits.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
  sunpy/timeseries/timeseries_factory.py
  tox.ini
Labels: No Changelog Entry Needed

#3677 Updates map.draw_rectangle API to be consistent with map.submap
  changelog/3677.feature.rst
  licenses/SCIKIT-LEARN.rst
  sunpy/coordinates/utils.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_py36.json
  sunpy/tests/figure_hashes_py37.json
  sunpy/util/decorators.py
Labels: map

#4185 Fix specification of STEREO B in an example
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Labels: Examples, No Changelog Entry Needed

#4176 [1.0] Backports
  .circleci/config.yml
  changelog/4088.bugfix.rst
  changelog/4098.docfix.rst
  changelog/4164.bugfix.rst
  docs/code_ref/data.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/timeseries.rst
  docs/conf.py
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  examples/acquiring_data/searching_vso.py
  examples/acquiring_data/skip_downloading_hmi.py
  examples/acquiring_data/skip_downloading_lascoC3.py
  examples/map/README.txt
  examples/time_series/skip_timeseries_example.py
  sunpy/image/resample.py
  sunpy/map/header_helper.py
  sunpy/map/map_factory.py
  sunpy/net/attrs.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/tests/test_hek.py
  sunpy/timeseries/timeseries_factory.py
  tox.ini
Labels: No Changelog Entry Needed

#4183 Fix bug in selecting hdu indices in sunpy.io.fits.read
  changelog/4183.bugfix.rst
  changelog/4183.docfix.rst
  docs/code_ref/map.rst
  sunpy/io/fits.py
  sunpy/io/tests/test_fits.py
Labels: [BugFix], io

#4100 ran unify_section_headings.py
  docs/code_ref/coordinates/carrington.rst
  docs/code_ref/coordinates/index.rst
  docs/code_ref/coordinates/other_api.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/code_ref/coordinates/wcs.rst
  docs/code_ref/data.rst
  docs/code_ref/database.rst
  docs/code_ref/image.rst
  docs/code_ref/index.rst
  docs/code_ref/instr.rst
  docs/code_ref/io.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/physics.rst
  docs/code_ref/roi.rst
  docs/code_ref/sun.rst
  docs/code_ref/sunpy.rst
  docs/code_ref/time.rst
  docs/code_ref/timeseries.rst
  docs/code_ref/util.rst
  docs/code_ref/visualization.rst
  docs/dev_guide/logger.rst
  docs/dev_guide/remote_data.rst
  docs/dev_guide/stability.rst
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/helioviewer.rst
  docs/guide/acquiring_data/index.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/acquiring_data/sample-data.rst
  docs/guide/data_types/index.rst
  docs/guide/data_types/maps.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/index.rst
  docs/guide/installation/advanced.rst
  docs/guide/installation/index.rst
  docs/guide/plotting.rst
  docs/guide/roi.rst
  docs/guide/ssw.rst
  docs/guide/time.rst
  docs/guide/tour.rst
  docs/guide/units-coordinates.rst
  tools/unify_section_headings.py
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4182 Add colormaps.color_tables to docs
  changelog/4182.doc.rst
  docs/code_ref/visualization.rst
  sunpy/visualization/colormaps/color_tables.py
Labels: Documentation, [DocFix], visualization

#4186 removed posixpath in rhessi
  docs/dev_guide/example_gallery.rst
  sunpy/database/attrs.py
  sunpy/map/compositemap.py
  sunpy/map/sources/source_type.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
  sunpy/net/hek/attrs.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
  sunpy/physics/tests/test_differential_rotation.py
  tools/hektemplate.py
  tox.ini
Labels: No Changelog Entry Needed, [CodeFix]

#4188 Refactor the sphinx config to match the package template
  .gitignore
  changelog/4188.trivial.rst
  docs/code_ref/util.rst
  docs/conf.py
  docs/whatsnew/changelog.rst
  setup.cfg
  sunpy/util/sphinx/__init__.py
  sunpy/util/sphinx/changelog.py
  sunpy/util/sphinx/doctest.py
  sunpy/util/sphinx/generate.py
  sunpy/util/sphinx/minigallery.py
  sunpy/util/towncrier.py
Labels: Infrastructure, Refactoring, [CodeFix]

#4192 Burn tricky fido repr test
  sunpy/net/tests/test_fido.py
Labels: No Changelog Entry Needed, [BugFix], backport 2.0, net

#4199 Fix printing an Attr when registry is empty
  changelog/4199.bugfix.rst
  sunpy/net/attr.py
  sunpy/net/tests/test_attr.py
Labels: [BugFix], backport 2.0, net

#4191 Backport 4183 to 1.0
  changelog/4183.bugfix.rst
  changelog/4183.docfix.rst
  docs/code_ref/map.rst
  sunpy/io/fits.py
Labels: No Changelog Entry Needed

#4203 Fixed non-relative paths in sphinx-gallery configuration
  docs/conf.py
Labels: No Changelog Entry Needed, backport 2.0

#4212 Fixed GBM dataretriever Detector attribute to use lowercase
  sunpy/net/dataretriever/sources/fermi_gbm.py
Labels: No Changelog Entry Needed, backport 2.0

#4208 Document that the unified file IO shouldn't be used for FITS
  changelog/4208.doc.rst
  docs/code_ref/io.rst
Labels: Documentation, [DocFix], backport 2.0

#4217 Explicitly import ESPTimeSeries
  sunpy/timeseries/sources/__init__.py
Labels: No Changelog Entry Needed, backport 2.0, timeseries

#4215 use TimeDelta instead of sunpy.instr.fermi.met_to_utc() in GBM timeseries
  sunpy/timeseries/sources/fermi_gbm.py
Labels: Merge When CI Passes, backport 2.0, timeseries

#4206 Fix draw_contour() docs
  sunpy/map/mapbase.py
Labels: Documentation, [DocFix], backport 2.0, map

#4205 Improve Map histogram example
  changelog/4205.doc.rst
  examples/map/map_data_histogram.py
Labels: Examples, backport 2.0

#4204 Add a couple of map error tests
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, backport 2.0, map
