Repository sunpy/sunpy, pull requests merged in 2021-02, with the labels that each got.

#4938 [2.0] fix CI and updated 2.0 whats new
  .test_package_pins.txt
  azure-pipelines.yml
  changelog/4938.trivial.rst
  docs/code_ref/coordinates/index.rst
  docs/code_ref/io.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/data_types/maps.rst
  docs/guide/tour.rst
  docs/whatsnew/2.0.rst
  sunpy/extern/modest_image.py
  sunpy/image/resample.py
  sunpy/image/tests/test_resample.py
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/attrs.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/helio/parser.py
  sunpy/net/jsoc/jsoc.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/timeseries/sources/norh.py
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
  tox.ini
Labels: No Changelog Entry Needed

#4945 Final zenodo for 2.1
  .mailmap
  .zenodo.json
Labels: No Changelog Entry Needed, [DocFix]

#4951 Updated 2.0 whatsnew
  docs/whatsnew/2.0.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#4793 Add basic airspeed velocity (ASV) workflow
  .github/workflows/asv-initial.yml
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/benchmarks_for_map.py
  benchmarks/benchmarks_for_parse_time.py
Labels: Benchmarks, Infrastructure, No Backport, No Changelog Entry Needed

#4954 pin drms to 0.6.1
  setup.cfg
Labels: No Changelog Entry Needed, backport 2.0, backport 2.1

#4929 Fixed miscellaneous bugs with GenericMap.draw_rectangle()
  changelog/4929.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: ManualBackport, [BugFix], backport 2.1, map

#4950 Added appropriate error message for a JSOC search when Notify isn't passed
  changelog/4950.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
Labels: backport 2.1, net

#4949 Minor cleanups to Fido
  changelog/4949.trivial.rst
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/fido_factory.py
  sunpy/net/vso/table_response.py
Labels: [CodeFix], backport 2.1, net

#4963 Fixed the timing of figure creation for a test
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.0, backport 2.1

#4976 Fix h5netcdf deprecation warning
  sunpy/timeseries/sources/goes.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix], backport 2.1

#4970 Always send cron notify
  azure-pipelines.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4981 Fix h5netcdf 0.10
  azure-pipelines.yml
  rtd-environment.yml
  sunpy/timeseries/sources/goes.py
Labels: Infrastructure, Merge When CI Passes, No Changelog Entry Needed, backport 2.1

#4792 Adding example of x/y limits when plotting Map
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Labels: Examples, backport 2.0, backport 2.1

#4984 [2.0] Backport of Adding example of x/y limits when plotting Map (#4792)
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Labels: No Changelog Entry Needed

#4983 [2.1] Backport of Adding example of x/y limits when plotting Map (#4792)
  changelog/4792.doc.rst
  examples/plotting/xy_lims.py
Labels: No Changelog Entry Needed

#4980 Convert stale bot to a GitHub action
  .github/stale.yml
  .github/workflows/stale_bot.yml
Labels: Infrastructure, No Changelog Entry Needed

#4885 Reduce the length of the BaseClient repr
  sunpy/net/base_client.py
  sunpy/net/fido_factory.py
Labels: No Changelog Entry Needed, backport 2.1, net

#4987 Bump minimum required Matplotlib version
  setup.cfg
  tox.ini
Labels: No Backport, No Changelog Entry Needed

#4881 Handle time scale FITS metadata in map.date
  changelog/4881.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/rhessi.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 2.0, backport 2.1, map

#4991 Reduce runtimes of some more tests
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.1

#4990 Reduce number of rotatedsun test examples
  sunpy/coordinates/tests/test_metaframes.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.1

#4993 Assorted Doc Build Fixes
  CHANGELOG.rst
  changelog/4993.feature.rst
  docs/conf.py
  examples/plotting/magnetogram_active_regions.py
  readthedocs.yml
  rtd-environment.yml
  sunpy/data/_sample.py
  sunpy/util/parfive_helpers.py
  tox.ini
Labels: Documentation, Examples, Merge When CI Passes, [CodeFix], backport 2.1, data

#4931 Added an alternate histogram and colormap shading to Map quicklook
  changelog/4931.feature.rst
  sunpy/map/mapbase.py
Labels: backport 2.1, map

#4387 Docs for writing new Fido clients
  changelog/4387.doc.rst
  docs/code_ref/net.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/index.rst
  sunpy/net/attr.py
  sunpy/net/base_client.py
Labels: Documentation, [Review], backport 2.1, net

#4979 Fixes to differential rotation (both implementations)
  changelog/4979.bugfix.1.rst
  changelog/4979.bugfix.2.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: [BugFix], backport 2.0, backport 2.1, coordinates

#5000 Always run cron notify
  azure-pipelines.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#5003 Remove section numbers from HEK docs
  docs/guide/acquiring_data/hek.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5007 [2.1] Backport of Docs for writing new Fido clients
  changelog/4387.doc.rst
  docs/code_ref/net.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/index.rst
  sunpy/net/attr.py
  sunpy/net/base_client.py
Labels: No Changelog Entry Needed

#5002 Fixed solar_rotate_coordinate() docstring examples
  sunpy/physics/differential_rotation.py
Labels: ManualBackport, No Changelog Entry Needed, [DocFix], backport 2.1, physics

#4926 Don't overwrite metadata in map sources
  changelog/4926.bugfix.1.rst
  changelog/4926.bugfix.rst
  sunpy/database/tests/test_tables.py
  sunpy/io/fits.py
  sunpy/map/sources/iris.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/yohkoh.py
Labels: [BugFix], backport 2.1, map

#4999 [Backport 2.0] Fixes to differential rotation (both implementations)
  changelog/4979.bugfix.1.rst
  changelog/4979.bugfix.2.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: No Changelog Entry Needed

#5008 [2.0] Various Backports
  .gitignore
  changelog/4834.docfix.rst
  docs/code_ref/net.rst
  docs/guide/acquiring_data/hek.rst
  examples/time_series/timeseriesmetadata_example.py
  setup.cfg
  sunpy/map/tests/test_mapsequence.py
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/attrs.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/mapsequenceanimator.py
  tools/hek_mkcls.py
  tools/hektemplate.py
Labels: No Changelog Entry Needed

#4904 Fix #4886 look for a tarball first fallback to individual files
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: [BugFix], backport 2.0, backport 2.1, net

#5011 [Backport 2.1] Fix #4886 look for a tarball first fallback to individual files (#4904)
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: No Changelog Entry Needed

#4645 2.1 what's new
  docs/whatsnew/2.1.rst
  docs/whatsnew/index.rst
  examples/acquiring_data/goes_xrs_example.py
  tools/generate_releaserst.xsh
Labels: Documentation, No Changelog Entry Needed, backport 2.1

#5016 Add some missing docs to sunpy.net
  sunpy/net/attr.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5013 [2.0] Fix #4886 look for a tarball first fallback to individual files (#4904)
  changelog/4904.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/strategies.py
  sunpy/net/tests/test_fido.py
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: No Changelog Entry Needed

#4809 added draw_quadrangle method
  changelog/4809.feature.rst
  examples/plotting/quadrangle.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/_quadrangle.py
Labels: No Backport, map, visualization

#4971 Only update wcs animator when slider index changes
  changelog/4971.trivial.rst
  sunpy/visualization/animator/wcs.py
Labels: No Backport, [CodeFix], visualization

#5021 Set COLUMNS environment variable in conftest
  sunpy/conftest.py
  tox.ini
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#5019 Map drawing methods should use add_patch instead of add_artist
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: ManualBackport, [BugFix], map

#5023 Add Solar Orbiter EUI colormaps
  changelog/5023.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Labels: backport 2.1, visualization

#5020 Add some basic logging to HEK
  changelog/5020.trivial.rst
  sunpy/net/hek/hek.py
Labels: No Changelog Entry Needed, [CodeFix], net

#5022 Fix scraper issue with Windows and URL path separation
  changelog/5022.bugfix.rst
  sunpy/util/scraper.py
  sunpy/util/tests/test_scraper.py
Labels: Tests, [BugFix], backport 2.0, backport 2.1, util

#5028 Update changelog post release
  CHANGELOG.rst
Labels: No Backport, No Changelog Entry Needed, [DocFix]

#4975 Add regular CI to run ASV for new commits and benchmarks
  .github/workflows/asv-regular.yml
  benchmarks/benchmarks_for_is_time.py
Labels: Infrastructure, No Backport, No Changelog Entry Needed

#5029 [2.1] Backport of #5019
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, No Changelog Entry Needed

#4528 Added an example for drawing rectangles on maps
  changelog/4528.doc.rst
  examples/plotting/plot_rectangle.py
Labels: Examples, backport 2.0, backport 2.1

#5030 [2.0] Backport of #5019
  changelog/5019.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_401post1.json
Labels: Merge When CI Passes, No Changelog Entry Needed

#5033 MDI synoptic map does not need crder
  sunpy/map/sources/soho.py
Labels: No Changelog Entry Needed, backport 2.0, backport 2.1

#5035 whatsnew 3.0
  docs/whatsnew/3.0.rst
  docs/whatsnew/index.rst
Labels: Merge When CI Passes, No Backport, No Changelog Entry Needed, [DocFix]

#5038 added support to more than one registry url for hec
  sunpy/net/helio/parser.py
  sunpy/net/helio/registry_links.py
  sunpy/net/helio/tests/test_helio.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1, net
