Repository sunpy/sunpy, pull requests merged in 2021-12, with the labels that each got.

#5722 Fixed our logger intercepting Astropy warnings
  .pre-commit-config.yaml
  changelog/5722.bugfix.rst
  changelog/5722.trivial.rst
  docs/guide/logger.rst
  sunpy/util/exceptions.py
  sunpy/util/logger.py
  sunpy/util/tests/test_logger.py
Labels: [BugFix], [Review], backport 3.0, backport 3.1

#5723 Update ASDF schemas to reference by URI not tag
  changelog/5723.bugfix.rst
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/geocentricearthequatorial-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/geocentricsolarecliptic-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentric-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentricearthecliptic-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliocentricinertial-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_carrington-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_carrington-1.1.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_carrington-1.2.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_stonyhurst-1.0.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/heliographic_stonyhurst-1.1.0.yaml
  sunpy/io/special/asdf/schemas/sunpy.org/sunpy/coordinates/frames/helioprojective-1.0.0.yaml
Labels: [BugFix], io, backport 3.0, backport 3.1

#5719 Fix example in docbuild
  .zenodo.json
  docs/code_ref/coordinates/carrington.rst
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/pr_review_procedure.rst
  docs/dev_guide/index.rst
  docs/whatsnew/1.0.rst
  examples/map/map_resampling_and_superpixels.py
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/magnetogram_active_regions.py
  examples/time_series/timeseries_convolution_filter.py
  sunpy/coordinates/ephemeris.py
  sunpy/timeseries/sources/eve.py
Labels: [DocFix], No Changelog Entry Needed, No Backport

#5551 Document how to write private code and util/utils.py
  docs/dev_guide/contents/code_standards.rst
Labels: Documentation, [Review], No Changelog Entry Needed, Discussion, No Backport

#5568 Try a python 3.10 CI job
  azure-pipelines.yml
  changelog/5568.feature.rst
  setup.cfg
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  tox.ini
Labels: Upstream Fix Required, [CodeFix], Infrastructure, backport 3.0, backport 3.1

#5730 Fix tables test
  sunpy/database/tests/test_tables.py
Labels: [BugFix], No Changelog Entry Needed, Merge When CI Passes, backport 3.0, backport 3.1

#5732 [3.0] Backport #5568
  azure-pipelines.yml
  changelog/5568.feature.rst
  setup.cfg
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes

#5736 Update ORCID info
  .zenodo.json
Labels: No Changelog Entry Needed, [CodeFix]

#5737 Remove pytest-intercept-remote test dep
  setup.cfg
Labels: No Changelog Entry Needed, backport 3.0, backport 3.1

#5743 Pin skimage to <0.19
  setup.cfg
Labels: No Changelog Entry Needed, backport 3.0, backport 3.1

#5692 Add dictionary of CDF unit conversions
  changelog/5692.bugfix.rst
  sunpy/io/cdf.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: [BugFix], [Review], timeseries, backport 3.1

#5735 Clean up timeseries doc and add CDF part
  changelog/5735.doc.rst
  docs/code_ref/timeseries.rst
Labels: [DocFix], timeseries, backport 3.1

#5749 Always run figure tests without comparison
  setup.cfg
  sunpy/tests/helpers.py
Labels: No Changelog Entry Needed, Infrastructure, No Backport

#5738 hec warning and increased default for max_records
  changelog/5738.bugfix.rst
  sunpy/net/helio/hec.py
Labels: [BugFix], net, backport 3.0, backport 3.1

#5681 Speed up VSO time parsing in some cases
  changelog/5681.trivial.rst
  sunpy/net/vso/table_response.py
Labels: [Review], net, No Backport

#5741 Cleanup of the magnetogram/SRS example
  examples/plotting/magnetogram_active_regions.py
Labels: [DocFix], No Changelog Entry Needed, Merge When CI Passes, backport 3.0, backport 3.1

#5714 max conns to JSOC is always 1
  changelog/5714.bugfix.rst
  examples/acquiring_data/downloading_cutouts.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
Labels: [BugFix], [Review], net

#5720 Time formatting is ugly on some timeseries plots
  changelog/5720.bugfix.rst
  examples/acquiring_data/goes_xrs_example.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/rhessi.py
Labels: [BugFix], timeseries

#5755 [3.0] Backports
  changelog/5714.bugfix.rst
  changelog/5738.bugfix.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/plotting/magnetogram_active_regions.py
  sunpy/net/fido_factory.py
  sunpy/net/helio/hec.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
Labels: No Changelog Entry Needed

#5756 [3.1] Backports
  changelog/5714.bugfix.rst
  changelog/5720.bugfix.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/plotting/magnetogram_active_regions.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed

#5752 Tox clean up
  .pyinstaller/run_tests.py
  sunpy/tests/helpers.py
  tox.ini
Labels: No Changelog Entry Needed, [CodeFix], Infrastructure, backport 3.1

#5758 Clean up timeseries factory tests
  sunpy/timeseries/sources/tests/__init__.py
  sunpy/timeseries/sources/tests/test_eve.py
  sunpy/timeseries/sources/tests/test_fermi_gbm.py
  sunpy/timeseries/sources/tests/test_goes.py
  sunpy/timeseries/sources/tests/test_lyra.py
  sunpy/timeseries/sources/tests/test_noaa.py
  sunpy/timeseries/sources/tests/test_norh.py
  sunpy/timeseries/sources/tests/test_rhessi.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: timeseries, No Changelog Entry Needed, No Backport

#5751 Handle empty CDF files in CDF reader
  changelog/5751.bugfix.rst
  sunpy/data/test/solo_L1_swa-pas-mom_20200706_V01.cdf
  sunpy/io/cdf.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: [BugFix], timeseries, Merge When CI Passes, backport 3.1

#5759 [3.1] Backports
  changelog/5751.bugfix.rst
  sunpy/data/test/solo_L1_swa-pas-mom_20200706_V01.cdf
  sunpy/io/cdf.py
  sunpy/timeseries/sources/tests/__init__.py
  sunpy/timeseries/sources/tests/test_eve.py
  sunpy/timeseries/sources/tests/test_fermi_gbm.py
  sunpy/timeseries/sources/tests/test_goes.py
  sunpy/timeseries/sources/tests/test_lyra.py
  sunpy/timeseries/sources/tests/test_noaa.py
  sunpy/timeseries/sources/tests/test_norh.py
  sunpy/timeseries/sources/tests/test_rhessi.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: No Changelog Entry Needed, Merge When CI Passes

#5760 pyinstaller CI fix
  .pyinstaller/run_tests.py
  azure-pipelines.yml
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, [CodeFix], backport 3.1
