Repository sunpy/sunpy, pull requests merged in 2021-01, with the labels that each got.

#4812 DOC: fix typo in bibtex
  sunpy/CITATION.rst
Labels: No Changelog Entry Needed

#4816 Ignore backport-bot in update_zenodo.py
  tools/update_zenodo.py
Labels: backport 2.0, backport 2.1

#4811 Fix gallery documentation links
  examples/acquiring_data/downloading_hmi.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/goes_xrs_example.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/map/image_bright_regions_gallery_example.py
  examples/map/map_from_numpy_array.py
  examples/map/map_resampling_and_superpixels.py
  examples/plotting/Finding_Local_Peaks_in_Solar_Data.py
  examples/plotting/magnetogram_active_regions.py
  examples/plotting/map_editcolormap.py
  examples/time_series/power_spectra_example.py
  examples/time_series/skip_timeseries_example.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/radec_to_hpc_map.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#4787 MapSequence HMI fix
  .gitignore
  docs/dev_guide/contents/tests.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/visualization/animator/mapsequenceanimator.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix], backport 2.0, backport 2.1

#4834 Fix documentation of attrs and retemplate hek attrs
  changelog/4834.docfix.rst
  docs/code_ref/net.rst
  sunpy/net/attrs.py
  sunpy/net/hek/attrs.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/attrs.py
  tools/hek_mkcls.py
  tools/hektemplate.py
Labels: [DocFix], [Review], backport 2.0, backport 2.1, net

#4838 Improvements to the listings of sample data
  changelog/4838.trivial.rst
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  sunpy/data/sample.py
Labels: Examples, [CodeFix], backport 2.0, backport 2.1, data

#4830 Removed explicit calls to get_rectangle_coordinates in draw_rectangle figure tests
  sunpy/map/tests/test_plotting.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.1

#4843 Improvements to example of reprojection of HMI onto AIA
  changelog/4843.docfix.rst
  examples/map_transformations/reprojection_align_aia_hmi.py
Labels: [DocFix], backport 2.0, backport 2.1

#4852 Fixed issue with hypothesis testing and setting the Astropy ephemeris
  changelog/4852.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Labels: Tests, [CodeFix], backport 2.0, backport 2.1

#4788 Return all VSO Query info in the table
  changelog/4788.bugfix.rst
  docs/guide/acquiring_data/fido.rst
  examples/acquiring_data/fido_metadata_queries.py
  sunpy/net/helio/hec.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: [BugFix], [Review], backport 2.1, net

#4846 Fix CROTA meta keyword EUVI
  changelog/4846.bugfix.rst
  sunpy/map/sources/stereo.py
Labels: backport 2.1, map

#4850 Reduce data downloaded by tseries metadata example
  examples/time_series/timeseriesmetadata_example.py
Labels: Documentation, Examples, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#4849 Remove un-used test data
  sunpy/data/test/BIR_20110922_050000_01.fit
  sunpy/data/test/BIR_20110922_051500_01.fit.gz
  sunpy/data/test/EVE_He_II_304_averages.csv
  sunpy/database/tests/test_tables.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1

#4837 Reduce number of files downloaded by cutout example
  examples/acquiring_data/downloading_cutouts.py
Labels: No Changelog Entry Needed, backport 2.1

#4862 Remove HELIO from metadata example as it is unstable
  examples/acquiring_data/fido_metadata_queries.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 2.1

#4877 Revert "MPL workaround?"
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.1

#4882 Add support for TIMEUNIT FITS keyword
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: backport 2.1, map

#4819 Change default format of carrington_rotation_time return
  changelog/4819.breaking.rst
  changelog/4819.trivial.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Labels: backport 2.1, coordinates

#4901 Simplified semi_circular_loop function in asdf coordinates example
  examples/saving_and_loading_data/coordinates_in_asdf.py
Labels: No Changelog Entry Needed, backport 2.0, backport 2.1

#4905 Change the room the cron notifications get posted to
  azure-pipelines.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#4898 Use plt.axes() instead of plt.gca()
  sunpy/visualization/wcsaxes_compat.py
Labels: No Changelog Entry Needed, backport 2.0, backport 2.1

#4916 Fixed the introspection of arguments for subclasses of DataAttr
  changelog/4916.docfix.rst
  sunpy/net/attr.py
Labels: backport 2.0, backport 2.1, net

#4899 Remove old _FORCE_NO_WCSAXES variable
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/wcsaxes_compat.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix], backport 2.1

#4889 Correctly set date-obs in HMI synoptic map source
  sunpy/map/sources/sdo.py
Labels: No Changelog Entry Needed, backport 2.1, map

#4822 Add STEREO EUVI colormaps
  changelog/4822.feature.rst
  docs/guide/data_types/maps.rst
  sunpy/map/sources/stereo.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/euvi_171.csv
  sunpy/visualization/colormaps/data/euvi_195.csv
  sunpy/visualization/colormaps/data/euvi_284.csv
  sunpy/visualization/colormaps/data/euvi_304.csv
Labels: Merge When CI Passes, backport 2.1, visualization

#4933 Improve section order in dev guide
  docs/dev_guide/index.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix]

#4932 Add missing quantity input decorator
  sunpy/coordinates/utils.py
Labels: No Changelog Entry Needed, [BugFix], backport 2.0, backport 2.1

#4876 Improve differential rotation documentation
  changelog/4876.doc.rst
  sunpy/coordinates/metaframes.py
  sunpy/physics/differential_rotation.py
Labels: Documentation, backport 2.1, coordinates, physics

#4928 Enable building 3.9 Wheels
  azure-pipelines.yml
Labels: No Changelog Entry Needed, [CodeFix], backport 2.1

#4940 Update numpy warning filtering
  setup.cfg
  sunpy/extern/modest_image.py
  sunpy/image/resample.py
  sunpy/image/tests/test_resample.py
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/map/tests/test_mapbase.py
  sunpy/timeseries/sources/norh.py
Labels: No Changelog Entry Needed, Tests, backport 2.0, backport 2.1

#4939 Fix animator axes test
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: No Changelog Entry Needed, [BugFix], backport 2.0, backport 2.1, visualization

#4943 More doc link fixes
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/logger.rst
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/new_objects.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/remote_data.rst
  docs/whatsnew/0.9.rst
  docs/whatsnew/1.1.rst
  docs/whatsnew/2.0.rst
  sunpy/database/database.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/net/dataretriever/client.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/helioviewer.py
  sunpy/net/jsoc/jsoc.py
  sunpy/time/timerange.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/decorators.py
  sunpy/util/sphinx/changelog.py
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/wcs.py
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.1

#4930 added colorbar label
  changelog/4930.feature.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, backport 2.1, map
