Repository sunpy/sunpy, pull requests merged in 2021-08, with the labels that each got.

#5476 Use `interpn` for resampling
  changelog/5476.trivial.rst
  sunpy/image/resample.py
Labels: No Backport, [Review], image

#5486 [skip ci] more action change
  .github/workflows/asv-regular.yml
Labels: Infrastructure, No Backport, No Changelog Entry Needed

#5480 Deprecate 'neighbor' as a resample method
  changelog/5480.deprecation.rst
  sunpy/image/resample.py
  sunpy/image/tests/test_resample.py
  sunpy/map/tests/test_mapbase.py
Labels: [Review], image, map

#5490 Fixed a units issue when determining the proper value for ``lonpole``
  changelog/5490.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, [BugFix], backport 3.0

#5492 Manually inherit class docstring for QueryResponseTable
  sunpy/net/base_client.py
Labels: [DocFix], net, No Changelog Entry Needed, backport 3.0

#5491 Add "keyword-only" to nitpick exceptions
  docs/nitpick-exceptions
Labels: [Review], [DocFix], No Changelog Entry Needed, backport 3.0

#5417 Add function to get limb coordinates
  changelog/5417.feature.rst
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/utils.py
  sunpy/map/mapbase.py
Labels: [Review], coordinates, No Backport

#5499 last nitpick for doc build
  docs/nitpick-exceptions
Labels: [DocFix], No Changelog Entry Needed

#5493 Rename CROTA to CROTA2 for EUI maps
  changelog/5493.bugfix.rst
  sunpy/map/sources/solo.py
Labels: map, No Backport

#5506 Add some WCS smoke tests for map sources
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_eui_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/tests/test_suvi_source.py
  sunpy/map/sources/tests/test_trace_source.py
Labels: [Review], No Changelog Entry Needed, backport 3.0

#5508 Fix XRT TIMESYS keyword
  changelog/5508.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: map, [BugFix], [Review], backport 3.0

#5512 Update devedeps figure test python version
  .circleci/config.yml
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, backport 3.0

#5496 Fix NOAAIndices plot limits
  changelog/5496.bugfix.rst
  sunpy/timeseries/sources/noaa.py
Labels: [BugFix], [Review], timeseries, backport 3.0

#5435 Add CDF reader to TimeSeries
  changelog/5435.feature.rst
  docs/code_ref/io.rst
  setup.cfg
  sunpy/data/test/psp_fld_l2_mag_rtn_1min_20200104_v02.cdf
  sunpy/io/cdf.py
  sunpy/io/file_tools.py
  sunpy/time/time.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  tox.ini
Labels: [Review], io, timeseries, No Backport

#5511 Describe release schedule on Release History page
  docs/whatsnew/index.rst
Labels: Documentation, No Changelog Entry Needed, backport 3.0
