Repository sunpy/sunpy, pull requests merged in 2021-03, with the labels that each got.

#5042 Skip github action scripts on forks
  .github/workflows/asv-initial.yml
  .github/workflows/asv-regular.yml
Labels: Infrastructure, No Backport, No Changelog Entry Needed, [CodeFix]

#5037 Add method for common unit string fixes
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
Labels: No Changelog Entry Needed, [CodeFix], map

#5044 Improve error message in MetaDict __init__()
  sunpy/util/metadata.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1

#5045 forgot / and updated second URL to https
  rtd-environment.yml
  sunpy/net/helio/parser.py
  tox.ini
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1, net

#5048 [2.1] Backport of #5044
  sunpy/util/metadata.py
Labels: No Changelog Entry Needed

#5054 Stop color table arrays from being modified in place
  changelog/5054.bugfix.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Labels: Merge When CI Passes, [BugFix], backport 2.1

#5040 [2.0] Collection of backports
  CHANGELOG.rst
  azure-pipelines.yml
  changelog/4993.feature.rst
  docs/conf.py
  examples/plotting/magnetogram_active_regions.py
  readthedocs.yml
  rtd-environment.yml
  sunpy/data/_sample.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/registry_links.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/util/metadata.py
  sunpy/util/parfive_helpers.py
  tox.ini
Labels: No Changelog Entry Needed

#5047 Be more lenient when constructing a MetaDict
  changelog/5047.bugfix.rst
  sunpy/map/tests/test_mapbase.py
  sunpy/util/metadata.py
Labels: [BugFix], backport 2.1, map

#5053 Remove global vars in cm/color_tables
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix]

#5059 Update TimeSeries Documentation Regarding peek Method
  docs/guide/data_types/timeseries.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5025 added dynamic z axis option
  changelog/5025.feature.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_403.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_wcs.py
  sunpy/visualization/animator/wcs.py
Labels: No Backport, [Review], visualization

#5068 Broken Link in Readme
  README.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5070 ignore warning created in figure-dev-deps
  setup.cfg
Labels: Merge When CI Passes, No Changelog Entry Needed, Tests, [CodeFix], backport 2.0, backport 2.1

#4968 Allow non-pyplot figures to be used by animators
  changelog/4968.feature.rst
  sunpy/visualization/animator/base.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
Labels: No Backport, Tests, visualization

#5065 Add another test for dynamic interval plotting
  sunpy/visualization/animator/tests/test_wcs.py
Labels: No Backport, No Changelog Entry Needed, Tests, visualization

#5062 Fix TimeSeries plotting docs
  docs/guide/data_types/timeseries.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5069 revert to add_artist for draw_limb to fix bug
  changelog/5069.bugfix.rst
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1

#5085 Updated Time Series plot example
  docs/guide/data_types/timeseries.rst
Labels: Infrastructure, No Changelog Entry Needed, [DocFix], backport 2.1

#5084 Refactored RotatedSunFrame transformations
  changelog/5084.bugfix.rst
  changelog/5084.trivial.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: [BugFix], backport 2.0, backport 2.1, coordinates

#5071 dep updates for core packages
  docs/conf.py
  docs/whatsnew/3.0.rst
  setup.cfg
  sunpy/database/tests/test_database.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  tox.ini
Labels: Infrastructure, Merge When CI Passes, No Backport, No Changelog Entry Needed

#5089 Fix bug where DataManager breaks on deleting db file
  changelog/5089.bugfix.rst
  sunpy/data/data_manager/storage.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Labels: [BugFix], backport 2.0, backport 2.1, data

#5049 Migrate to using OpenAstronomy/sphinx-changelog for towncrier sphinx extension
  CHANGELOG.rst
  changelog/5049.breaking.rst
  docs/code_ref/util.rst
  docs/conf.py
  docs/whatsnew/changelog.rst
  setup.cfg
  sunpy/util/sphinx/changelog.py
  sunpy/util/towncrier.py
Labels: Infrastructure, Merge When CI Passes, No Backport

#5100 update online db test
  sunpy/database/database.py
  sunpy/database/tests/test_database.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.0, backport 2.1

#5103 New fail on sdist/wheels
  sunpy/database/tests/test_database.py
Labels: Infrastructure, No Backport, No Changelog Entry Needed, [CodeFix]

#5093 Add method to check if two intervals intersect each other
  changelog/5093.feature.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Labels: No Backport, time

#4969 Safer handling of pyplot figures by tests
  changelog/4969.trivial.rst
  sunpy/conftest.py
Labels: No Backport, Tests

#5090 HMI cutout example
  changelog/5090.doc.rst
  examples/plotting/hmi_cutout.py
Labels: Examples, backport 2.0, backport 2.1

#4879 Added longitude argument and broadcasting capabilites to carrington_rotation_time()
  changelog/4879.feature.rst
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
Labels: Merge When CI Passes, No Backport, [Review], coordinates

#5108 Shortcut adding zero timedelta in parse_time()
  changelog/5108.trivial.rst
  sunpy/time/time.py
Labels: backport 2.0, backport 2.1, time

#5114 Updating "Masking out the solar disk" example
  changelog/5114.doc.rst
  examples/computer_vision_techniques/mask_disk.py
Labels: Examples, backport 2.0, backport 2.1

#5110 pin oldest deps
  .test_package_pins.txt
  docs/whatsnew/3.0.rst
  setup.cfg
  tox.ini
Labels: No Backport, No Changelog Entry Needed

#5125 added tests for map_sequence animator and test for plot
  changelog/5125.trivial.rst
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_mapsequenceanimator.py
Labels: No Backport, Tests, [CodeFix], map

#5127 Transformations now ignore time differences below numerical precision
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Labels: [BugFix], backport 2.0, backport 2.1, coordinates

#5130 [2.0] Backport of #5127
  changelog/5127.bugfix.rst
  sunpy/coordinates/transformations.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#5133 Fix method name in Fido doc
  docs/dev_guide/contents/extending_fido.rst
Labels: Documentation, No Changelog Entry Needed, [DocFix], backport 2.1

#5134 Add some newlines to the walker __repr__
  sunpy/net/attr.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.1

#5132 Added rigid rotation model to `diff_rot()`
  changelog/5132.feature.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: No Backport, physics

#5051 Raise warning in GenericMap.rotate() if `missing` is incompatible with the data array
  changelog/5051.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: backport 2.0, backport 2.1, map

#5091 Re-ordered keyword-only arguments of draw_rectangle
  changelog/5091.trivial.rst
  sunpy/map/mapbase.py
Labels: No Backport, [CodeFix], map

#5077 added example of plotting positions on blank maps
  changelog/5077.doc.rst
  examples/plotting/plotting_blank_map.py
Labels: Examples, backport 2.0, backport 2.1

#5142 Show the inherited attributes/methods in the docs for Map subclasses
  changelog/5142.doc.rst
  docs/code_ref/map.rst
Labels: Documentation, [DocFix], backport 2.0, backport 2.1, map

#4867 Added wcsaxes plotting example
  changelog/4867.doc.rst
  examples/plotting/wcsaxes_plotting_example.py
Labels: Examples, Merge When CI Passes, [Review], backport 2.0, backport 2.1

#5121 new gallery example for selecting pixels in a map based on a coordinate transform
  changelog/5121.doc.rst
  examples/map/map_segment.py
Labels: Documentation, Examples, Merge When CI Passes, backport 2.0, backport 2.1

#5152 Unused arguments passed to test methods in GenericMap
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, No Changelog Entry Needed, Tests, [CodeFix]

#5156 pin importlib_metadata in test deps
  .test_package_pins.txt
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 2.0, backport 2.1

#5155 Changed JP2 map to figure test
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, No Changelog Entry Needed, Tests, [CodeFix]

#5136 Add more information to non-registration errors in AttrWalker
  sunpy/net/attr.py
Labels: No Changelog Entry Needed, [CodeFix], net

#5161 update figure dev docs and added tox-pypi-filter
  .circleci/config.yml
  docs/dev_guide/contents/tests.rst
  sunpy/net/helio/hec.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  tox.ini
Labels: No Backport, No Changelog Entry Needed, Tests
