Repository sunpy/sunpy, pull requests merged in 2021-05, with the labels that each got.

#5294 use release sphinx-gallery for rtd
  rtd-environment.yml
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1, backport 3.0

#5293 updated vso example with a more complex double query
  examples/acquiring_data/searching_vso.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 3.0

#5301 Minor `superpixel()` fixes
  changelog/5301.bugfix.1.rst
  changelog/5301.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 3.0, map

#5279 ignore gallery warnings on release version of docs only
  .gitignore
  docs/conf.py
  docs/guide/plotting.rst
  docs/whatsnew/index.rst
  examples/map/composite_map_AIA_HMI.py
  examples/plotting/plotting_blank_map.py
  sunpy/database/tests/test_database.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Labels: No Changelog Entry Needed, [DocFix], backport 3.0

#5305 Remove runtime use of assert_quantity_allclose
  changelog/5305.bugfix.rst
  sunpy/coordinates/sun.py
Labels: [BugFix], backport 2.0, backport 2.1, backport 3.0, coordinates

#5306 ignore E226 for pep8speaks
  .pep8speaks.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#5290 rename master to main
  .circleci/config.yml
  .github/workflows/asv-initial.yml
  README.rst
  azure-pipelines.yml
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/newcomers.rst
  pyproject.toml
Labels: Infrastructure, No Changelog Entry Needed

#5311 Improve error message when trying to parse an unkonwn file with tseries
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
Labels: No Changelog Entry Needed, [BugFix], backport 3.0, timeseries

#5314 Re-enable the JPL HORIZONS consistency unit test
  changelog/5314.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
Labels: Tests, [CodeFix], backport 2.0, backport 2.1, backport 3.0, coordinates

#5317 Changes a few relative imports to absolute imports
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/data/tests/test_sample.py
  sunpy/io/special/asdf/tags/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tags/tests/test_genericmap.py
  sunpy/net/vso/attrs.py
Labels: No Changelog Entry Needed, [CodeFix]

#5319 [2.1] CI fix
  CHANGELOG.rst
  azure-pipelines.yml
  docs/dev_guide/contents/extending_fido.rst
  sunpy/instr/fermi.py
  sunpy/instr/tests/test_fermi.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/sources/rhessi.py
Labels: No Changelog Entry Needed

#5325 [Backport 3.0] Re-enable the JPL HORIZONS consistency unit test
  changelog/5314.trivial.rst
  setup.cfg
  sunpy/coordinates/tests/test_ephemeris.py
Labels: No Changelog Entry Needed

#5320 ci fix
  CHANGELOG.rst
  azure-pipelines.yml
  docs/dev_guide/contents/extending_fido.rst
  sunpy/io/file_tools.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/sources/rhessi.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [CodeFix]

#5322 pin a min version of h5py
  setup.cfg
Labels: No Changelog Entry Needed, [Review], backport 2.1, backport 3.0

#5309 Fix metadata created by `resample()`
  changelog/5309.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: [BugFix], backport 3.0, map

#5333 [2.0] render changelog and pin version for rtd
  CHANGELOG.rst
  changelog/5203.trivial.rst
  changelog/5222.bugfix.rst
  changelog/5314.trivial.rst
  docs/conf.py
Labels: No Changelog Entry Needed

#5334 [2.1] render changelog and pin version for rtd
  CHANGELOG.rst
  changelog/5203.trivial.rst
  changelog/5222.bugfix.rst
  docs/conf.py
Labels: No Changelog Entry Needed

#5336 terrible azure hack
  azure-pipelines.yml
Labels: No Changelog Entry Needed, backport 3.0

#5337 [3.0] backport of CI changes
  azure-pipelines.yml
Labels: No Changelog Entry Needed, [CodeFix]

#5338 Fixed intersphinx link to Quadrangle
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, [DocFix], backport 3.0

#5342 Support asdf 2.8.0
  changelog/5342.bugfix.rst
  sunpy/io/special/asdf/tags/map/generic_map.py
Labels: [BugFix], backport 2.0, backport 2.1, backport 3.0, io

#5340 Warning on doc build fix
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/tests.rst
  sunpy/util/scraper.py
Labels: No Changelog Entry Needed, [DocFix], backport 3.0

#5346 Test against dev asdf
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#5272 [2.1] Backport #5264 to 2.1
  CHANGELOG.rst
  changelog/3962.doct.rst
  changelog/5314.trivial.rst
  changelog/5342.bugfix.rst
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/tests.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: No Changelog Entry Needed

#5349 Update changelog for 3.0 release
  CHANGELOG.rst
Labels: Infrastructure, No Changelog Entry Needed

#5352 Remove units warning in contour levels processing
  changelog/5352.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, [CodeFix]

#5354 Remove support for plotting maps to non-WCSAxes
  changelog/5354.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, [CodeFix]

#5350 Remove old astropy compat code from timerange
  sunpy/time/timerange.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix], time

#5353 Remove deprecated origin keyword
  changelog/5353.removal.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, [CodeFix]

#5265 Refactor `make_fitswcs_header`
  sunpy/map/header_helper.py
Labels: No Changelog Entry Needed, map

#5358 Error on 2D coordinate with observer='self'
  changelog/5358.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: [Review], backport 3.0

#5355 Remove deprecated net API
  changelog/5355.removal.1.rst
  changelog/5355.removal.2.rst
  changelog/5355.removal.rst
  sunpy/net/hek/attrs.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Labels: Merge When CI Passes, No Backport

#5233 Adds a test function to report status of remote urls pinged during test run
  changelog/5233.trivial.rst
  setup.cfg
Labels: Merge When CI Passes, Tests

#5315 Support observers defined in obsgeo in wcs_utils
  changelog/5315.feature.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: No Backport, [Review], coordinates

#5363 Convert -1 sunspot values to NaN
  changelog/5363.breaking.rst
  sunpy/timeseries/sources/noaa.py
Labels: No Backport, timeseries
