Repository sunpy/sunpy, pull requests merged in 2021-06, with the labels that each got.

#5375 Simplify some timeseries factory code
  sunpy/timeseries/timeseries_factory.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix], timeseries

#5386 Fixed figure deferral in the diffrot gridlines example
  examples/differential_rotation/differentially_rotated_gridlines.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 3.0

#5395 Fixed two bugs associated with the `rsun` attribute for `Heliographic*` frames
  changelog/5395.bugfix.1.rst
  changelog/5395.bugfix.2.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/transformations.py
  sunpy/coordinates/wcs_utils.py
Labels: [BugFix], backport 3.0, coordinates

#5391 Properly specify `rsun` in the output header when reprojecting an AIA map
  examples/differential_rotation/reprojected_map.py
  examples/map_transformations/reprojection_different_observers.py
  examples/map_transformations/reprojection_spherical_screen.py
Labels: Examples, [DocFix], backport 3.0

#5399 Update devdeps figure hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed, [Review], backport 3.0

#5403 Add filter information to LASCO nickname
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_lasco_source.py
Labels: No Changelog Entry Needed, [CodeFix], map

#5402 Clean up lasco C2 example
  changelog/5402.doc.rst
  examples/acquiring_data/downloading_lascoC2.py
Labels: [DocFix], backport 3.0

#5385 Refactor TimeSeriesFactory argument parsing
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix], [Review], timeseries

#5384 Use MapFactory path parsing code in TimeseriesFactory
  sunpy/map/map_factory.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/util/io.py
Labels: No Backport, No Changelog Entry Needed, [Review], timeseries

#5373 Added `reindex` method in ``GenericTimeSeries``
  changelog/5373.feature.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: No Backport, [Review], timeseries

#5368 Added support for mocking online tests in norh
  sunpy/net/dataretriever/sources/tests/test_norh.py
Labels: No Changelog Entry Needed, Tests, [Review], net

#5401 Fix SXT wavelength
  changelog/5401.bugfix.rst
  sunpy/map/sources/yohkoh.py
Labels: [BugFix], backport 3.0, map

#5381 Fixed bugs in transformations involving a change in `obstime`
  changelog/5381.bugfix.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/code_ref/coordinates/velocities.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [BugFix], backport 3.0, coordinates

#5348 Remove warnings for custom attributes set on WCS
  changelog/5348.removal.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: No Backport, [Review], coordinates

#5351 Update self test
  docs/guide/installation.rst
  setup.cfg
  sunpy/tests/self_test.py
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix], [Review]

#5392 Fixed bug where ``GenericMap`` breaks with keyword-arguments
  changelog/5392.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_map_factory.py
Labels: [BugFix], [Review], backport 3.0, map

#5407 Silence Pep8Speaks
  .pep8speaks.yml
Labels: No Changelog Entry Needed, [CodeFix], [Review]

#5191 Added a `angular_radius` convenience property to `Helioprojective`
  changelog/5191.trivial.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: No Backport, [Review], coordinates

#5409 Use pathlib for test path
  sunpy/data/test/__init__.py
  sunpy/io/file_tools.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/tests/test_sunpy_data_filenames.py
  sunpy/util/tests/test_scraper.py
Labels: No Changelog Entry Needed, Tests, [CodeFix], backport 3.0

#5366 Use sphinxext-opengraph to fix og tags
  docs/conf.py
  setup.cfg
Labels: No Changelog Entry Needed, [DocFix], [Review], backport 3.0

#5275 Allows pixel input to draw_quadrangle
  changelog/5275.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, [Review], map

#5200 Moved timeseries peek to plot()
  changelog/5200.breaking.rst
  changelog/5200.feature.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: No Backport, [Review], timeseries

#5413 Clean up HMI synoptic map example
  changelog/5413.doc.rst
  examples/plotting/hmi_synoptic_maps.py
Labels: Examples, [DocFix], backport 3.0

#5419 Fixed bugged behavior of `all_corner_coords_from_map()` for non-square maps
  changelog/5419.bugfix.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: [BugFix], backport 3.0, map

#5398 Fixed the bug in `GenericMap.draw_contours()` that resulted in incorrect plot limits
  changelog/5398.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: [BugFix], [Review], backport 3.0, map

#5421 [Backport 3.0] Fixed the bug in `GenericMap.draw_contours()` that resulted in incorrect plot limits
  changelog/5398.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Merge When CI Passes, No Changelog Entry Needed, map

#5224 PyInstaller Support for SunPy
  .gitignore
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  azure-pipelines.yml
  changelog/5224.feature.rst
  sunpy/data/data_manager/tests/test_manager.py
  tox.ini
Labels: Infrastructure, No Backport, [Review]

#5364 copy scraper into net and added it to the main net namespace
  changelog/5364.breaking.rst
  docs/code_ref/net.rst
  docs/code_ref/util.rst
  docs/dev_guide/contents/extending_fido.rst
  sunpy/net/__init__.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/scraper.py
  sunpy/net/tests/test_scraper.py
  sunpy/util/scraper.py
Labels: No Backport, [Review], net

#5423 Removes duplicate test to be skipped for pyinstaller
  .pyinstaller/run_sunpy_tests.py
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#5429 Avoid a pytest import in the coordinates asdf tag
  changelog/5429.bugfix.rst
  sunpy/io/special/asdf/tags/coordinates/frames.py
Labels: Merge When CI Passes, [BugFix], backport 3.0, io
