Repository sunpy/sunpy, pull requests merged in 2021-04, with the labels that each got.

#5166 Don't include CROTA when PC present in WCS
  changelog/5166.trivial.rst
  sunpy/map/mapbase.py
Labels: [BugFix], backport 2.0, backport 2.1

#5126 Return None for unknown pieces of metadata
  changelog/5126.breaking.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, map

#4596 Initial implementation of new self_test
  CHANGELOG.rst
  azure-pipelines.yml
  changelog/4596.trivial.rst
  setup.cfg
  sunpy/__init__.py
  sunpy/coordinates/tests/test_frameattributes.py
  sunpy/io/tests/test_fits.py
  sunpy/tests/helpers.py
  sunpy/tests/runner.py
  sunpy/tests/self_test.py
  sunpy/tests/tests/test_self_test.py
  tox.ini
Labels: Infrastructure, No Backport, [Review]

#5178 Fix modest image on mpl dev
  sunpy/extern/modest_image.py
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1

#5174 Fixed provider for GONG client
  changelog/5174.breaking.rst
  sunpy/net/dataretriever/sources/gong.py
Labels: No Backport, [CodeFix], [Review], net

#5168 Added 2 small missing tests for GenericMap
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, No Changelog Entry Needed, Tests, map

#5172 `GenericMap.rsun_obs` now uses `rsun_ref` if it is in the header
  changelog/5172.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 2.1, map

#5176 updated config for pep8speaks
  .pep8speaks.yml
Labels: Infrastructure, No Backport, No Changelog Entry Needed, [CodeFix], [Review]

#5177 Adding calc of rsun_obs to make_fitswcs_header
  changelog/5177.bugfix.rst
  docs/guide/data_types/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: backport 2.1, map

#5183 fix online test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/scraper.py
Labels: No Changelog Entry Needed, Tests, [CodeFix]

#5189 [2.0] update changelog and test
  setup.cfg
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/util/towncrier.py
Labels: No Changelog Entry Needed

#5186 Added a docstring to HMISynopticMap
  changelog/5186.doc.rst
  sunpy/map/sources/sdo.py
Labels: [DocFix], backport 2.1, map

#5194 patch online test
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Labels: No Backport, No Changelog Entry Needed, Tests, [CodeFix]

#5175 Updated system info and extern packages
  azure-pipelines.yml
  changelog/5175.feature.rst
  docs/conf.py
  sunpy/extern/appdirs.py
  sunpy/extern/inflect.py
  sunpy/extern/parse.py
  sunpy/tests/self_test.py
  sunpy/util/sysinfo.py
  sunpy/util/tests/test_sysinfo.py
  tox.ini
Labels: No Backport, [Review], util

#5195 Adding Python 2 support to sunpy
  sunpy/net/fido_factory.py
  sunpy/util/sysinfo.py
  sunpy/util/util.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix]

#5196 Misc copy edits to extending Fido guide
  docs/dev_guide/contents/extending_fido.rst
Labels: No Backport, No Changelog Entry Needed, [DocFix]

#5198 update dev figure hash
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1

#5173 Updated URL for SRS client
  changelog/5173.breaking.rst
  changelog/5173.feature.rst
  sunpy/data/test/20100621SRS.txt
  sunpy/io/special/srs.py
  sunpy/io/tests/test_srs.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/util/scraper.py
Labels: Merge When CI Passes, No Backport, [Review], net

#5203 xfail the consistency test with JPL HORIZONS
  changelog/5203.trivial.rst
  sunpy/coordinates/tests/test_ephemeris.py
Labels: Tests, [CodeFix], backport 2.0, backport 2.1, coordinates

#5206 Misc doc link fixes
  CHANGELOG.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/data_types/timeseries.rst
  docs/whatsnew/1.0.rst
  docs/whatsnew/1.1.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/2.1.rst
  examples/acquiring_data/goes_xrs_example.py
  examples/developer_tools/remote_data_manager.py
  examples/plotting/arrayanimatorwcs.py
  examples/plotting/xy_lims.py
  sunpy/net/attr.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/attrs.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/vso.py
Labels: No Backport, No Changelog Entry Needed, [DocFix]

#5209 Move the imports after the Python version check in `__init__.py`
  .pep8speaks.yml
  setup.cfg
  sunpy/__init__.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed, [CodeFix], backport 2.0, backport 2.1

#5213 Fix planet locations example
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/units_and_coordinates/getting_observer_location.py
  examples/units_and_coordinates/planet_locations.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5219 Added missing SunpyUserWarning
  sunpy/coordinates/wcs_utils.py
Labels: Merge When CI Passes, No Changelog Entry Needed, [BugFix], backport 2.1, coordinates

#5145 save method for MapSequence
  changelog/5145.feature.rst
  sunpy/map/mapsequence.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapsequence.py
Labels: No Backport, [Review], map

#5154 Add Support for Unitful contours
  changelog/5154.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, [Review], map

#5222 [2.1] Fixing visibility issues with the grid overlays for SunPy 2.x
  changelog/5222.bugfix.rst
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/wcsaxes_compat.py
Labels: backport 2.0, visualization

#5223 Add a `_check_axes` helper method to `GenericMap`
  changelog/5223.trivial.rst
  sunpy/map/mapbase.py
Labels: map

#4526 externed sunkit-instruments
  changelog/4526.breaking.rst
  docs/code_ref/instr.rst
  docs/conf.py
  setup.cfg
  sunpy/data/test/LATEST_EVE_L0CS_DIODES_1m.txt
  sunpy/data/test/annotation_lyra.db
  sunpy/data/test/annotation_manual.db
  sunpy/data/test/annotation_science.db
  sunpy/data/test/hsi_calib_ev_20020220_1106_20020220_1106_25_40.fits
  sunpy/data/test/hsi_obssumm_20110404_042.fits.gz
  sunpy/data/test/hsi_obssumm_filedb_201104.txt
  sunpy/database/tests/test_tables.py
  sunpy/extern/sunkit_instruments/__init__.py
  sunpy/extern/sunkit_instruments/fermi/__init__.py
  sunpy/extern/sunkit_instruments/fermi/fermi.py
  sunpy/extern/sunkit_instruments/goes_xrs/__init__.py
  sunpy/extern/sunkit_instruments/goes_xrs/goes_xrs.py
  sunpy/extern/sunkit_instruments/iris/__init__.py
  sunpy/extern/sunkit_instruments/iris/iris.py
  sunpy/extern/sunkit_instruments/lyra/__init__.py
  sunpy/extern/sunkit_instruments/lyra/lyra.py
  sunpy/extern/sunkit_instruments/rhessi/__init__.py
  sunpy/extern/sunkit_instruments/rhessi/rhessi.py
  sunpy/instr/__init__.py
  sunpy/instr/fermi.py
  sunpy/instr/goes.py
  sunpy/instr/iris.py
  sunpy/instr/lyra.py
  sunpy/instr/rhessi.py
  sunpy/instr/tests/test_calculate_radiative_loss_rate.txt
  sunpy/instr/tests/test_fermi.py
  sunpy/instr/tests/test_goes.py
  sunpy/instr/tests/test_iris.py
  sunpy/instr/tests/test_lyra.py
  sunpy/instr/tests/test_rhessi.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
  sunpy/timeseries/sources/rhessi.py
Labels: Merge When CI Passes, No Backport, Refactoring, [Review], instr

#5202 Increase test coverage for CompositeMap
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, No Changelog Entry Needed, Tests, [CodeFix], map

#5232 [Backport 2.0] Relaxed a WCSAxes tolerance to work around disappearing lines in a grid overlay
  changelog/5222.bugfix.rst
  sunpy/visualization/wcsaxes_compat.py
Labels: Merge When CI Passes, No Changelog Entry Needed, visualization

#5235 Delete time.py
  sunpy/util/time.py
Labels: No Changelog Entry Needed, [CodeFix]

#5236 Deprecate `GenericMap.draw_rectangle()` in favor of `GenericMap.draw_quadrangle()`
  changelog/5236.removal.rst
  docs/guide/plotting.rst
  examples/plotting/hmi_cutout.py
  examples/plotting/plot_rectangle.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, [Review], map

#5243 Automatically delete unused figures from sunpy-figure-test
  .circleci/config.yml
Labels: Infrastructure, No Changelog Entry Needed, Tests, [CodeFix]

#5239 Enhanced `GenericMap.draw_contours()` to be able to plot on a different WCSAxes
  changelog/5239.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: [Review], map

#5245 Update attrs json files for 3.0 release
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/vso/data/attrs.json
Labels: Infrastructure, No Changelog Entry Needed, [Review], net

#5238 Consistently use super() in map sources
  sunpy/map/sources/hinode.py
  sunpy/map/sources/proba2.py
  sunpy/map/sources/stereo.py
  sunpy/map/sources/trace.py
  sunpy/map/sources/yohkoh.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix], [Review]

#5242 Wrap the `psi` component of Heliocentric Radial at 360 deg
  changelog/5242.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: No Backport, coordinates

#5111 Namespace downloaded files with module name
  changelog/5111.feature.rst
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
Labels: No Backport, [Review], data

#5229 Add contour example
  changelog/5229.doc.rst
  examples/map/hmi_contours_wcsaxes.py
  examples/map_transformations/reprojection_different_observers.py
Labels: Examples, Merge When CI Passes, No Backport, [DocFix]

#5201 Add Vagrant file for dev environment
  .gitignore
  Vagrantfile
Labels: Infrastructure, No Backport, No Changelog Entry Needed

#5248 tidy up of misc code in datamanger and the example
  examples/developer_tools/remote_data_manager.py
  sunpy/data/data_manager/cache.py
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_cache.py
Labels: Merge When CI Passes, No Backport, No Changelog Entry Needed, [CodeFix], data

#5250 remove towncrier from setup.cfg
  setup.cfg
Labels: No Backport, No Changelog Entry Needed, [CodeFix]

#5244 WCSAxes warnings for 3.0
  changelog/5244.removal.rst
  changelog/5244.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
Labels: [Review], map

#5252 Add contains_coordinate
  changelog/5252.feature.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: No Backport, map

#5241 Save original copy of metadata
  .gitignore
  changelog/5241.feature.rst
  docs/dev_guide/contents/new_objects.rst
  examples/map/map_metadata_modification.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/metadata.py
  sunpy/util/tests/test_metadata.py
Labels: [Review], map

#5254 Fix mad implementation of contains_solar_center()
  sunpy/map/maputils.py
Labels: No Changelog Entry Needed, [CodeFix], map

#5237 Overhaul `GenericMap.draw_limb()` for transformations and to show visibility
  changelog/5237.feature.rst
  examples/map_transformations/reprojection_different_observers.py
  examples/units_and_coordinates/AIA_limb_STEREO.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, [Review], map

#4698 Allow time span with steps to get_horizons_coord
  changelog/4698.feature.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/tests/test_ephemeris.py
Labels: No Backport, coordinates

#5257 MDIMap uses CONTENT keyword to identify measurement
  changelog/5257.bugfix.rst
  sunpy/data/test/mdi.fd_Ic.20101015_230100_TAI.data.fits
  sunpy/data/test/mdi.fd_M_96m_lev182.20101015_191200_TAI.data.fits
  sunpy/data/test/mdi_fd_Ic_6h_01d.5871.0000_s.fits
  sunpy/data/test/mdi_fd_M_96m_01d.5874.0005_s.fits
  sunpy/database/tests/test_tables.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/tests/test_map_factory.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/animator/tests/test_mapsequenceanimator.py
Labels: [BugFix], backport 2.0, backport 2.1

#5263 sorted return in online srs test
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix]

#5122 GenericMap now passes docstrings to its subclasses
  sunpy/map/mapbase.py
Labels: No Backport, No Changelog Entry Needed

#5255 Leverage `pcolormesh()` for GenericMap/CompositeMap plotting
  changelog/5255.breaking.1.rst
  changelog/5255.breaking.2.rst
  changelog/5255.feature.1.rst
  changelog/5255.feature.2.rst
  examples/map_transformations/autoalign_aia_hmi.py
  examples/map_transformations/reprojection_align_aia_hmi.py
  sunpy/map/compositemap.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Backport, [Review], map

#5260 Update mailmap and zenodo.json for 3.0
  .mailmap
  .zenodo.json
Labels: No Changelog Entry Needed, [Review]

#5268 Fixed now-needed import of imperial
  docs/guide/tour.rst
Labels: No Changelog Entry Needed, [DocFix], backport 2.0, backport 2.1

#5264 Allow observer='self' through FITS header helper
  changelog/5264.bugfix.1.rst
  changelog/5264.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: [BugFix], [Review], backport 2.1

#5273 Filter out nans from HMIMaps
  sunpy/map/sources/sdo.py
Labels: No Backport, No Changelog Entry Needed, [DocFix]

#5276 Fix map source doc when source has no docstring
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed

#5283 ignore E501 for pep8speaks
  .pep8speaks.yml
Labels: Infrastructure, No Changelog Entry Needed, [CodeFix]

#5286 Squash some example gallery warnings
  examples/computer_vision_techniques/finding_masking_bright_pixels.py
  examples/computer_vision_techniques/mask_disk.py
  examples/map/composite_map_AIA_HMI.py
  examples/plotting/fading_between_maps.py
  examples/plotting/hmi_cutout.py
  examples/units_and_coordinates/parse_time.py
  sunpy/map/sources/rhessi.py
  sunpy/map/sources/soho.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 3.0
