Repository sunpy/sunpy, pull requests merged in 2021-07, with the labels that each got.

#5433 Remove pandas from net dependencies
  setup.cfg
Labels: No Changelog Entry Needed, [CodeFix], backport 3.0

#5436 Fix docstring in TimeSeriesMetaData
  sunpy/timeseries/metadata.py
Labels: No Changelog Entry Needed, [DocFix], backport 3.0

#5438 Fix futurewarning in timeseries
  sunpy/timeseries/timeseriesbase.py
Labels: No Changelog Entry Needed, backport 3.0, timeseries

#5440 Implement API endpoint fallback for helioviewer
  changelog/5440.bugfix.rst
  docs/guide/acquiring_data/helioviewer.rst
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: Merge When CI Passes, No Backport, [BugFix], net

#5441 [3.0] Release 3.0.1
  CHANGELOG.rst
  changelog/5358.bugfix.rst
  changelog/5381.bugfix.rst
  changelog/5395.bugfix.1.rst
  changelog/5395.bugfix.2.rst
  changelog/5401.bugfix.rst
  changelog/5402.doc.rst
  docs/guide/acquiring_data/helioviewer.rst
  examples/units_and_coordinates/skip_STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/skip_getting_lasco_observer_location.py
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#5443 Document fig/axes animator atributes
  sunpy/visualization/animator/base.py
Labels: No Changelog Entry Needed, backport 3.0

#5442 Changelog for 3.0.1
  CHANGELOG.rst
  changelog/5358.bugfix.rst
  changelog/5381.bugfix.rst
  changelog/5392.bugfix.rst
  changelog/5395.bugfix.1.rst
  changelog/5395.bugfix.2.rst
  changelog/5398.bugfix.rst
  changelog/5401.bugfix.rst
  changelog/5402.doc.rst
  changelog/5413.doc.rst
  changelog/5419.bugfix.rst
  changelog/5429.bugfix.rst
Labels: No Backport, No Changelog Entry Needed, [DocFix]

#5446 Revert "Added `reindex` method in ``GenericTimeSeries``"
  changelog/5373.feature.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix], timeseries

#5451 fix order of arguments in scale input
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
Labels: No Changelog Entry Needed, [DocFix], backport 3.0

#5453 Restore the CI
  .github/workflows/asv-initial.yml
  .github/workflows/asv-regular.yml
  .gitignore
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_sunpy_tests.py
  azure-pipelines.yml
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  tox.ini
Labels: No Changelog Entry Needed, [CodeFix]

#5459 Fix vso.fetch() docstring
  sunpy/net/vso/vso.py
Labels: No Changelog Entry Needed, [DocFix], backport 3.0

#5456 Remove transform argument from draw_contours example
  examples/map/hmi_contours_wcsaxes.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 3.0

#5460 docs: Fix a few typos
  docs/dev_guide/contents/remote_data.rst
  docs/guide/units-coordinates.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/database/database.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, [DocFix]

#5465 Fixed the "Creating a Heliographic Map" example to use `rsun`
  examples/map_transformations/reprojection_heliographic_stonyhurst.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 3.0

#5464 Add plot settings for HMI synoptic map
  changelog/5464.feature.rst
  sunpy/map/sources/sdo.py
Labels: No Backport

#5467 More cleanup to HMI synoptic map example
  changelog/5467.bugfix.rst
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Labels: Examples, [Review], backport 3.0, map

#5469 Backport #5467
  changelog/5467.bugfix.rst
  examples/plotting/hmi_synoptic_maps.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Labels: Merge When CI Passes, No Changelog Entry Needed

#5365 Public/Private API and Deprecation Policy and Dependency Support Policy
  asv.conf.json
  changelog/README.rst
  docs/dev_guide/contents/api.rst
  docs/dev_guide/contents/dependencies.rst
  docs/dev_guide/index.rst
  pyproject.toml
Labels: Documentation, No Changelog Entry Needed, backport 3.0

#5472 Use disk center as the reference coordinate for the Mars observer
  examples/map_transformations/reprojection_different_observers.py
Labels: Examples, No Changelog Entry Needed, [DocFix], backport 3.0

#5411 Use singledispatch in TimeSeriesFactory
  changelog/5411.trivial.rst
  sunpy/timeseries/timeseries_factory.py
Labels: Refactoring, [Review], timeseries

#5416 Update handling of solar radius in sunpy.map
  changelog/5416.feature.rst
  changelog/5416.trivial.rst
  sunpy/coordinates/sun.py
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Labels: No Backport, [Review], map

#5468 Remove incorrect timesys warning in Map
  changelog/5468.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
Labels: [Review], backport 3.0, map

#5448 Fixed the definition of `lonpole` by the FITS WCS header helper
  changelog/5448.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: [BugFix], backport 3.0, map

#5463 Add some JSOC client debug logs
  sunpy/net/jsoc/jsoc.py
Labels: No Backport, No Changelog Entry Needed, [CodeFix], [Review], net

#5462 Fix EUI observer coordinate date
  changelog/5462.bugfix.rst
  sunpy/map/sources/solo.py
  sunpy/map/sources/tests/test_eui_source.py
Labels: [BugFix], backport 3.0, map

#5474 [Backport 3.0] Fixed the definition of `lonpole` by the FITS WCS header helper
  changelog/5448.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: No Changelog Entry Needed

#5479 Misc asv stuff
  .gitignore
  asv.conf.json
  benchmarks/benchmarks_for_resample.py
Labels: Infrastructure, No Changelog Entry Needed

#5482 Simplify asv
  .github/workflows/asv-initial.yml
  .github/workflows/asv-regular.yml
Labels: Infrastructure, No Backport, No Changelog Entry Needed

#5449 Add new date properties to Map
  changelog/5449.breaking.rst
  changelog/5449.feature.rst
  docs/whatsnew/3.1.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Backport, map

#5478 Better handling of metadata/properties for Stonyhurst heliographic maps
  changelog/5478.bugfix.1.rst
  changelog/5478.bugfix.2.rst
  sunpy/coordinates/wcs_utils.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: [BugFix], backport 3.0, map

#5484 [Backport 3.0] Better handling of metadata/properties for Stonyhurst heliographic maps
  changelog/5478.bugfix.rst
  sunpy/coordinates/wcs_utils.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed

#5483 asv actions daily at 7:37 am
  .github/workflows/asv-regular.yml
  asv.conf.json
Labels: Infrastructure, No Backport, No Changelog Entry Needed

#5485 [skip ci] update config with new action version
  .github/workflows/asv-regular.yml
Labels: Infrastructure, No Backport, No Changelog Entry Needed, [CodeFix]
