Repository sunpy/sunpy, pull requests merged in 2021-09, with the labels that each got.

#5489 Add new time format for parsing TAI seconds since 1958-01-01
  changelog/5489.feature.rst
  docs/whatsnew/3.1.rst
  sunpy/time/__init__.py
  sunpy/time/tests/test_taiseconds.py
  sunpy/time/time.py
  sunpy/time/timeformats.py
  sunpy/time/utime.py
Labels: time, Merge When CI Passes, Whats New?, No Backport

#5522 flow update
  .github/workflows/asv-regular.yml
Labels: No Changelog Entry Needed, [CodeFix], Infrastructure, No Backport

#5515 Improvements to differential rotation doc
  docs/code_ref/coordinates/rotatedsunframe.rst
Labels: Documentation, [DocFix], coordinates, No Changelog Entry Needed, backport 3.0

#5524 Minor system_info() cleanups
  sunpy/util/sysinfo.py
  sunpy/util/tests/test_sysinfo.py
Labels: [Review], No Changelog Entry Needed, backport 3.0

#5518 Bump minimum astropy version
  docs/whatsnew/3.1.rst
  setup.cfg
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, Whats New?, No Backport

#5519 Remove Quadrangle vendoring
  sunpy/map/mapbase.py
  sunpy/visualization/_quadrangle.py
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport

#5526 [Backport 3.0] Only pass line property kwargs to a contour when plotting CompositeMap
  changelog/5521.bugfix.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed

#5529 Use newer data for stereo examples
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Labels: [DocFix], No Changelog Entry Needed, backport 3.0

#5527 Added a comparison of differential-rotation models
  changelog/5527.doc.rst
  examples/differential_rotation/comparing_rotation_models.py
  sunpy/physics/differential_rotation.py
Labels: [Review], Examples, No Backport

#5532 SunPy > sunpy
  docs/code_ref/data.rst
  docs/code_ref/database.rst
  docs/code_ref/image.rst
  docs/code_ref/io.rst
  docs/code_ref/map.rst
  docs/code_ref/net.rst
  docs/code_ref/physics.rst
  docs/code_ref/stability.rst
  docs/code_ref/sun.rst
  docs/code_ref/sunpy.rst
  docs/code_ref/time.rst
  docs/code_ref/timeseries.rst
  docs/code_ref/util.rst
  docs/code_ref/visualization.rst
  docs/dev_guide/contents/api.rst
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/config.rst
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/example_gallery.rst
  docs/dev_guide/contents/extending_fido.rst
  docs/dev_guide/contents/funding.rst
  docs/dev_guide/contents/logger.rst
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/new_objects.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/pr_review_procedure.rst
  docs/dev_guide/contents/tests.rst
  docs/dev_guide/contents/units_quantities.rst
  docs/dev_guide/index.rst
  docs/guide/acquiring_data/database.rst
  docs/guide/acquiring_data/hek.rst
  docs/guide/acquiring_data/helioviewer.rst
  docs/guide/acquiring_data/index.rst
  docs/guide/acquiring_data/jsoc.rst
  docs/guide/acquiring_data/sample-data.rst
  docs/guide/customization.rst
  docs/guide/data_types/index.rst
  docs/guide/data_types/maps.rst
  docs/guide/data_types/timeseries.rst
  docs/guide/index.rst
  docs/guide/installation.rst
  docs/guide/logger.rst
  docs/guide/plotting.rst
  docs/guide/ssw.rst
  docs/guide/time.rst
  docs/guide/tour.rst
  docs/guide/troubleshooting.rst
  docs/guide/units-coordinates.rst
  docs/index.rst
Labels: [DocFix], No Changelog Entry Needed, No Backport

#5534 Improvements to AIA+EUVI coordinates examples
  changelog/5534.docfix.1.rst
  changelog/5534.docfix.2.rst
  examples/units_and_coordinates/AIA_limb_STEREO.py
  examples/units_and_coordinates/SDO_to_STEREO_Coordinate_Conversion.py
Labels: [DocFix], backport 3.0

#5374 Known Issues Page
  docs/code_ref/index.rst
  docs/code_ref/known_issues.rst
  docs/index.rst
Labels: Documentation, [Review], No Changelog Entry Needed, No Backport

#5536 Update to mention pixel
  examples/units_and_coordinates/AIA_limb_STEREO.py
Labels: [DocFix], Examples, No Changelog Entry Needed, backport 3.0

#5502 Add WISPR map source
  changelog/5502.feature.rst
  docs/whatsnew/3.1.rst
  sunpy/map/sources/__init__.py
  sunpy/map/sources/psp.py
  sunpy/map/sources/tests/test_wispr_source.py
Labels: [Review], Whats New?, No Backport

#5538 Added a test for rotation on data that is a rectangle. The best shape
  docs/dev_guide/contents/tests.rst
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: Tests, [Review], No Changelog Entry Needed, [CodeFix], No Backport

#5544 Added basic fits save/load example
  .gitignore
  .pre-commit-config.yaml
  changelog/5544.doc.rst
  examples/saving_and_loading_data/genericmap_in_fits.py
Labels: Documentation, Examples, Merge When CI Passes, backport 3.0

#5550 Remove table attribute vending
  sunpy/net/base_client.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/table_response.py
  sunpy/util/_table_attribute.py
Labels: No Changelog Entry Needed, [CodeFix], No Backport

#5554 Minor re-ordering of developer testing docs
  docs/dev_guide/contents/tests.rst
Labels: Documentation, No Changelog Entry Needed, No Backport

#5281 Context manager to handle differential rotation automatically in transformations
  changelog/5281.feature.rst
  docs/code_ref/coordinates/rotatedsunframe.rst
  docs/whatsnew/3.1.rst
  examples/differential_rotation/reprojected_map.py
  sunpy/coordinates/__init__.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: [Review], coordinates, Whats New?, No Backport

#5432 Fix plot labels when plotting across different WCSes
  changelog/5432.bugfix.1.rst
  changelog/5432.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/visualization/visualization.py
Labels: map, [BugFix], backport 3.0

#5431 Add info urls to client results
  changelog/5431.feature.rst
  docs/guide/acquiring_data/fido.rst
  docs/guide/acquiring_data/jsoc.rst
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Labels: net
