Repository sunpy/sunpy, pull requests merged in 2022-10, with the labels that each got.

#6440 Remove sunpy.image.coalignment
  CHANGELOG.rst
  changelog/6440.removal.rst
  docs/code_ref/image.rst
  docs/whatsnew/4.0.rst
  sunpy/image/coalignment.py
  sunpy/image/tests/test_coalignment.py
  sunpy/map/mapsequence.py
Labels: map, image, CodeFix, No Backport

#6443 corrections to cut out example text
  examples/acquiring_data/downloading_cutouts.py
  examples/map_transformations/downloading_hmi.py
Labels: DocFix, Examples, No Changelog Entry Needed, No Backport

#6437 Remove `shift` and `shifted_value`
  CHANGELOG.rst
  changelog/6437.removal.rst
  docs/whatsnew/4.0.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, CodeFix, No Backport

#6310 Deprecate timeseries peek() positional arguments
  changelog/6310.deprecation.rst
  docs/whatsnew/4.1.rst
  examples/acquiring_data/search_cdaweb.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/tests/test_eve.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/decorators.py
Labels: Needs Review, timeseries, Whats New?, No Backport

#6442 added a note to SXTMap about the coordinate frame
  sunpy/map/sources/yohkoh.py
Labels: map, DocFix, No Changelog Entry Needed, backport 4.0

#6430 Improvements to the plotting guide
  changelog/6430.doc.rst
  docs/guide/plotting.rst
Labels: Documentation, DocFix

#6448 Backport PR #6442 on branch 4.0 (added a note to SXTMap about the coordinate frame)
  sunpy/map/sources/yohkoh.py
Labels: map, DocFix, No Changelog Entry Needed, backport 4.0

#6426 Download sample data files on demand
  changelog/6426.deprecation.rst
  changelog/6426.feature.rst
  docs/conf.py
  docs/guide/tour.rst
  examples/README.txt
  sunpy/data/_sample.py
  sunpy/data/sample.py
Labels: data, Whats New?, No Backport

#6455 Added a git diff hook for pre-commit
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, Infrastructure

#6456 Ignore pandas warning coming from DRMS
  setup.cfg
Labels: No Changelog Entry Needed, Infrastructure, backport 4.0

#6458 Backport PR #6456 on branch 4.0 (Ignore pandas warning coming from DRMS)
  setup.cfg
Labels: No Changelog Entry Needed, Infrastructure, backport 4.0

#6447 Fix the K-Cor Map source to default to MLSO geographic location
  changelog/6447.bugfix.rst
  changelog/6447.trivial.rst
  sunpy/data/test/20181209_180305_kcor_l1.5_rebinned.header
  sunpy/data/test/20181209_180305_kcor_l2.header
  sunpy/map/mapbase.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/tests/test_kcor_source.py
Labels: map, BugFix, backport 4.0

#6463 Backport PR #6447 on branch 4.0 (Fix the K-Cor Map source to default to MLSO geographic location)
  changelog/6447.bugfix.rst
  changelog/6447.trivial.rst
  sunpy/data/test/20181209_180305_kcor_l1.5_rebinned.header
  sunpy/data/test/20181209_180305_kcor_l2.header
  sunpy/map/mapbase.py
  sunpy/map/sources/mlso.py
  sunpy/map/sources/tests/test_kcor_source.py
Labels: map, BugFix, backport 4.0

#6460 Tidy GOES tests and adding new XRS files for testing
  changelog/6460.trivial.rst
  sunpy/data/test/goes_truncated_test_1m_avg_goes15.nc
  sunpy/data/test/goes_truncated_test_1m_avg_goes16.nc
  sunpy/data/test/goes_truncated_test_goes13.nc
  sunpy/timeseries/sources/tests/test_goes.py
Labels: Tests, timeseries

#6462 Improvements to the unit tutorial
  changelog/6462.doc.rst
  docs/code_ref/coordinates/index.rst
  docs/guide/coordinates.rst
  docs/guide/data_types/maps.rst
  docs/guide/index.rst
  docs/guide/tour.rst
  docs/guide/units-coordinates.rst
  docs/guide/units.rst
Labels: Documentation, No Backport

#6449 Fix download result for empty JSOC searches
  changelog/6449.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: BugFix, net, backport 4.0

#6465 Backport PR #6449 on branch 4.0 (Fix download result for empty JSOC searches)
  changelog/6449.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: BugFix, net, backport 4.0

#6470 Minor fixes to doc dev docs
  docs/Makefile
  docs/dev_guide/contents/documentation.rst
Labels: Documentation, DocFix, No Changelog Entry Needed, No Backport

#6466 [4.0] Backports
  .pre-commit-config.yaml
  changelog/6410.bugfix.rst
  changelog/6460.trivial.rst
  sunpy/data/test/goes_truncated_test_1m_avg_goes15.nc
  sunpy/data/test/goes_truncated_test_1m_avg_goes16.nc
  sunpy/data/test/goes_truncated_test_goes13.nc
  sunpy/image/tests/test_coalignment.py
  sunpy/net/helio/hec.py
  sunpy/physics/tests/test_solar_rotation.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
  tox.ini
Labels: No Changelog Entry Needed

#6451 Fix for GOES 13,14,15 files to correctly parse the satellite number
  changelog/6451.bugfix.rst
  sunpy/data/test/sci_gxrs-l2-irrad_g13_d20170901_truncated.nc
  sunpy/data/test/sci_gxrs-l2-irrad_g15_d20131028_truncated.nc
  sunpy/data/test/sci_xrsf-l2-avg1m_g15_d20190102_truncated.nc
  sunpy/data/test/sci_xrsf-l2-avg1m_g16_d20210101_truncated.nc
  sunpy/data/test/sci_xrsf-l2-flx1s_g17_d20201016_truncated.nc
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, timeseries, backport 4.0

#6475 [4.0 ] update helioviewer page and run more commands
  changelog/6475.doc.rst
  docs/guide/acquiring_data/helioviewer.rst
Labels: Documentation, DocFix

#6468 Update readme
  README.rst
Labels: No Changelog Entry Needed, backport 4.0

#6476 Backport PR #6468 on branch 4.0 (Update readme)
  README.rst
Labels: No Changelog Entry Needed, backport 4.0

#6480 Hinode map source fixes
  changelog/6480.bugfix.1.rst
  changelog/6480.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_sot_source.py
Labels: map, BugFix, backport 4.0

#6454 Add the primary detector info to the XRSTimeSeries if info exists in file
  changelog/6454.feature.rst
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: Needs Review, timeseries, No Backport

#6482 Exclude the CITATION.rst symbolic link from EOF checking by pre-commit
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, backport 4.0

#6483 Backport PR #6480 on branch 4.0 (Hinode map source fixes)
  changelog/6480.bugfix.1.rst
  changelog/6480.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_sot_source.py
Labels: map, BugFix, backport 4.0

#6485 Backport PR #6482 on branch 4.0 (Exclude the CITATION.rst symbolic link from EOF checking by pre-commit)
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, backport 4.0

#6479 Switch tox-conda to use a conda environment file
  sunpy-dev-env.yml
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6450 Fix response for no CDAWEB results
  changelog/6450.bugfix.rst
  sunpy/net/cdaweb/cdaweb.py
  sunpy/net/cdaweb/test/test_cdaweb.py
Labels: BugFix, net, backport 4.0

#6487 Backport PR #6450 on branch 4.0 (Fix response for no CDAWEB results)
  changelog/6450.bugfix.rst
  sunpy/net/cdaweb/cdaweb.py
  sunpy/net/cdaweb/test/test_cdaweb.py
Labels: BugFix, net, No Changelog Entry Needed, backport 4.0

#6477 Move timeseries conftest.py to test folder
  sunpy/timeseries/sources/tests/conftest.py
  sunpy/timeseries/tests/conftest.py
Labels: Tests, No Changelog Entry Needed, CodeFix, backport 4.0

#6490 Fix tests that did not account for the Windows path separator
  sunpy/data/tests/test_sample.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Labels: Tests, BugFix, No Changelog Entry Needed, backport 4.0

#6492 Backport PR #6490 on branch 4.0 (Fix tests that did not account for the Windows path separator)
  sunpy/data/tests/test_sample.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
Labels: Tests, BugFix, No Changelog Entry Needed, backport 4.0

#6491 Added graphviz to the conda environment file
  sunpy-dev-env.yml
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6488 [4.0] More backports
  .pre-commit-config.yaml
  sunpy-dev-env.yml
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/conftest.py
  sunpy/timeseries/sources/tests/conftest.py
  sunpy/timeseries/sources/tests/test_eve.py
  sunpy/timeseries/sources/tests/test_fermi_gbm.py
  sunpy/timeseries/sources/tests/test_goes.py
  sunpy/timeseries/sources/tests/test_lyra.py
  sunpy/timeseries/sources/tests/test_noaa.py
  sunpy/timeseries/sources/tests/test_norh.py
  sunpy/timeseries/sources/tests/test_rhessi.py
  sunpy/timeseries/tests/conftest.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  tox.ini
Labels: No Changelog Entry Needed

#6494 Fix the incorrect Python version for tox-conda test build
  tox.ini
Labels: Tests, No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6495 Backport PR #6494 on branch 4.0 (Fix the incorrect Python version for tox-conda test build)
  tox.ini
Labels: Tests, No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6486 Share y-axis limits on GOES plots
  changelog/6486.bugfix.rst
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, backport 4.0

#6499 Add unit to header helper
  changelog/6499.feature.1.rst
  changelog/6499.feature.2.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: No Backport

#6508 pin pytest for tests until we fix the tests and upstream changes
  .test_package_pins.txt
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6507 rename test_data_filenames to get_test_data_filenames
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/tests.rst
  sunpy/conftest.py
  sunpy/data/test/__init__.py
  sunpy/io/tests/test_fits.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/tests/test_map_factory.py
  sunpy/tests/tests/test_sunpy_data_filenames.py
  sunpy/timeseries/tests/conftest.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6509 [4.0] Extra Backports
  changelog/6486.bugfix.rst
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/tests.rst
  sunpy/conftest.py
  sunpy/data/test/__init__.py
  sunpy/io/tests/test_fits.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/tests/test_map_factory.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/tests/tests/test_sunpy_data_filenames.py
  sunpy/timeseries/conftest.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
  sunpy/timeseries/tests/conftest.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: No Changelog Entry Needed

#6472 Fix scraper file timerange
  changelog/6472.feature.rst
  sunpy/net/scraper.py
  sunpy/net/tests/test_scraper.py
Labels: Needs Review, net, Merge When CI Passes, No Backport

#6335 Update Installation instructions
  docs/conf.py
  docs/installation.rst
  setup.cfg
Labels: DocFix, No Changelog Entry Needed, backport 4.0

#6515 Backport PR #6335 on branch 4.0 (Update Installation instructions )
  docs/conf.py
  docs/installation.rst
  setup.cfg
Labels: DocFix, No Changelog Entry Needed, backport 4.0

#6404 Deprecate the Helioviewer Client
  CHANGELOG.rst
  changelog/6404.deprecation.rst
  docs/conf.py
  docs/dev_guide/contents/pr_review_procedure.rst
  docs/guide/acquiring_data/helioviewer-1.png
  docs/guide/acquiring_data/helioviewer-2.png
  docs/guide/acquiring_data/helioviewer-3.png
  docs/guide/acquiring_data/helioviewer-4.png
  docs/guide/acquiring_data/helioviewer.rst
  docs/whatsnew/4.1.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/getting_lasco_observer_location.py
  setup.cfg
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: net, Whats New?, No Backport

#6511 Remove HMI download and update cutout example to remove first image download
  examples/acquiring_data/downloading_cutouts.py
  examples/map/difference_images.py
  examples/map_transformations/upside_down_hmi.py
Labels: Documentation, No Changelog Entry Needed, backport 4.0

#6518 [4/0] Backport #6511
  examples/acquiring_data/downloading_cutouts.py
  examples/map/difference_images.py
  examples/map_transformations/upside_down_hmi.py
Labels: DocFix, No Changelog Entry Needed

#6523 Re-enabled the use of pytest-arraydiff
  setup.cfg
  sunpy/physics/tests/reference/test_differential_rotation.txt
Labels: Tests, No Changelog Entry Needed, backport 4.0

#6532 Backport PR #6523 on branch 4.0 (Re-enabled the use of pytest-arraydiff)
  setup.cfg
  sunpy/physics/tests/reference/test_differential_rotation.txt
Labels: Tests, No Changelog Entry Needed, backport 4.0

#6533 Remove limb plotting on non-WCS Axes
  changelog/6533.removal.rst
  sunpy/map/mapbase.py
Labels: map, CodeFix, No Backport

#6525 Update what's new for 4.1
  docs/whatsnew/4.1.rst
Labels: DocFix, No Changelog Entry Needed, No Backport

#6527 Remove old test warning filter
  sunpy/timeseries/sources/tests/test_fermi_gbm.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6534 Backport PR #6527 on branch 4.0 (Remove old test warning filter)
  sunpy/timeseries/sources/tests/test_fermi_gbm.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6521 Fixing issues related to tox-conda
  sunpy-dev-env.yml
  tox.ini
Labels: Tests, No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6520 Update Fido attrs
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/vso/data/attrs.json
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6536 Backport PR #6520 on branch 4.0 (Update Fido attrs)
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/vso/data/attrs.json
Labels: No Changelog Entry Needed, CodeFix, backport 4.0
