Repository sunpy/sunpy, pull requests merged in 2022-04, with the labels that each got.

#5980 Test for timeseries
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: Tests, timeseries, No Changelog Entry Needed, No Backport

#5975 Skip dim>=3 data when reading CDF files
  changelog/5975.bugfix.rst
  sunpy/io/cdf.py
Labels: BugFix, io, backport 3.1

#6014 Update cron schedule and add GitHub CLI token
  .github/workflows/scheduled_builds.yml
Labels: No Changelog Entry Needed, No Backport

#6015 Adds plots in SampleData Overview
  examples/acquiring_data/2011_06_07_sampledata_overview.py
Labels: Documentation, DocFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#6022 Fix Pillow 10 deprecation warning
  setup.cfg
Labels: No Changelog Entry Needed, CodeFix, backport 3.0, backport 3.1

#6025 Tell GitHub Actions to use the sunpy repo
  .github/workflows/scheduled_builds.yml
Labels: BugFix, No Changelog Entry Needed, No Backport

#6024 Update Timeseries Docs
  .gitignore
  changelog/6024.doc.rst
  sunpy/timeseries/timeseriesbase.py
Labels: Documentation, timeseries, No Backport

#6028 fix doc build
  changelog/6011.bugfix.rst
  docs/nitpick-exceptions
  docs/whatsnew/4.0.rst
Labels: DocFix, No Changelog Entry Needed, No Backport

#6033 Backport 5975 to 3.1
  changelog/5975.bugfix.rst
  sunpy/io/cdf.py
Labels: No Changelog Entry Needed

#6034 Backport 6022 3.1
  setup.cfg
Labels: No Changelog Entry Needed

#6035 Backport 6022 3.0
  setup.cfg
Labels: No Changelog Entry Needed

#6032 Add _html_repr_ for TimeSeries
  changelog/6032.feature.rst
  sunpy/map/mapbase.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/util.py
Labels: timeseries, No Backport

#6018 Relax conditions for HMI Synoptic map source
  changelog/6018.bugfix.rst
  sunpy/map/sources/sdo.py
Labels: map, BugFix, Merge When CI Passes, backport 3.0, backport 3.1

#6046 Fixed outdated statement in map-rotation example
  examples/map/map_rotation.py
Labels: DocFix, Examples, No Changelog Entry Needed, backport 3.0, backport 3.1

#5703 Add option to use carrington coordinates with `draw_grid()`
  changelog/5703.feature.rst
  docs/whatsnew/4.0.rst
  examples/plotting/grid_plotting.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/visualization/wcsaxes_compat.py
Labels: Merge When CI Passes, Whats New?, No Backport

#6023 Use astropy and matplotlib nightly feeds for devdeps CI
  .github/workflows/ci.yml
  tox.ini
Labels: No Changelog Entry Needed, backport 3.0, backport 3.1

#6049 Don't bother running online CI when publishing
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed

#6031 Deprecate `sunpy.physics.solar_rotation`
  changelog/6031.deprecation.1.rst
  changelog/6031.deprecation.2.rst
  docs/whatsnew/4.0.rst
  sunpy/physics/solar_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: physics, No Backport

#6045 Set `GITHUB_TOKEN` to be `WORKFLOW_TOKEN` secret
  .github/workflows/scheduled_builds.yml
Labels: BugFix, No Changelog Entry Needed, No Backport

#6017 Adds a function to get linearly spaced astropy time object in TimeRange
  sunpy/time/timerange.py
Labels: DocFix, time, No Changelog Entry Needed, Merge When CI Passes, backport 3.0, backport 3.1

#5811 Add GitHub Actions Changelog Bot
  .github/workflows/changelog_bot.yml
  tools/write_changelog_entry.py
Labels: No Changelog Entry Needed, No Backport

#6055 Fix bugs in changelog workflow
  .github/workflows/changelog_bot.yml
  tools/write_changelog_entry.py
Labels: BugFix, No Changelog Entry Needed, No Backport

#6029 cutdown flake8, added autopep8
  .pre-commit-config.yaml
  benchmarks/benchmarks_for_is_time.py
  benchmarks/benchmarks_for_map.py
  benchmarks/benchmarks_for_parse_time.py
  sunpy/map/sources/sdo.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/util/logger.py
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6059 Ignore ImageIO deprecation warning
  setup.cfg
Labels: No Changelog Entry Needed, Merge When CI Passes, backport 3.0, backport 3.1

#6053 Panel dev page
  docs/dev_guide/contents/code_standards.rst
  docs/dev_guide/contents/config.rst
  docs/dev_guide/contents/public_api.rst
  docs/dev_guide/index.rst
Labels: DocFix, No Changelog Entry Needed, No Backport

#5867 Overhaul of `affine_transform()` and `GenericMap.rotate()`
  changelog/5867.breaking.1.rst
  changelog/5867.breaking.2.rst
  changelog/5867.breaking.3.rst
  changelog/5867.breaking.4.rst
  changelog/5867.breaking.5.rst
  changelog/5867.feature.1.rst
  changelog/5867.feature.2.rst
  docs/conf.py
  docs/whatsnew/4.0.rst
  setup.cfg
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: image, Whats New?, No Backport

#6064 Fixed scikit-image rotation of big-endian images
  changelog/6064.bugfix.rst
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, image

#6066 Fix and tidy tests
  sunpy/database/tests/test_database.py
  sunpy/io/_fits.py
  sunpy/io/tests/test_fits.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/net/vso/tests/test_attrs.py
Labels: Tests, No Changelog Entry Needed, Merge When CI Passes, CodeFix

#6067 removed more jsoc tests
  .github/workflows/cancel_ci.yml
  docs/conf.py
  setup.cfg
  sunpy/conftest.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
Labels: Tests, No Changelog Entry Needed, Merge When CI Passes, CodeFix

#6068 Update action again
  .github/workflows/cancel_ci.yml
Labels: No Changelog Entry Needed

#5943 Speeding up Fermi GBM data parsing for TimeSeries
  changelog/5943.bugfix.1.rst
  changelog/5943.bugfix.2.rst
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/sources/fermi_gbm.py
Labels: BugFix, timeseries, Merge When CI Passes, backport 3.0, backport 3.1

#6076 [Backport 3.0] Fixed scikit-image rotation of big-endian images
  changelog/6064.bugfix.rst
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Merge When CI Passes

#6075 [Backport 3.1] Fixed scikit-image rotation of big-endian images
  changelog/6064.bugfix.rst
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Merge When CI Passes

#6077 Pin a maximum version of asdf
  changelog/6077.trivial.rst
  setup.cfg
Labels: io, backport 3.0, backport 3.1, io.special.asdf

#6078 Timeseries test clean
  sunpy/timeseries/tests/test_timeseriesbase.py
Labels: No Changelog Entry Needed

#6080 Fix EVE client docstring
  sunpy/net/dataretriever/sources/eve.py
Labels: DocFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#6079 Deprecate draw_limb on non-WCS axes
  changelog/6079.deprecation.rst
  sunpy/map/mapbase.py
Labels: map, CodeFix, No Backport

#6083 Woops
  docs/guide/acquiring_data/fido.rst
Labels: DocFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#6086 Switch helioviewer URL order
  sunpy/net/helioviewer.py
Labels: net, No Changelog Entry Needed, backport 3.0, backport 3.1

#5817 Warning when an off-disk helioprojective coordinate is converted from 2D to 3D
  changelog/5817.feature.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/map/mapbase.py
Labels: coordinates, No Backport

#6090 Capture warnings in new test
  setup.cfg
  sunpy/coordinates/tests/test_frames.py
Labels: Tests, BugFix, No Changelog Entry Needed

#6088 Add fix for dask html repr bug. Add regression tests
  changelog/6088.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix

#6052 Added missing kwargs to VSO client fetch
  changelog/6052.breaking.rst
  changelog/6052.bugfix.rst
  sunpy/net/cdaweb/cdaweb.py
  sunpy/net/dataretriever/client.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/vso.py
Labels: net, No Backport

#5977 Rename shift method
  changelog/5977.deprecation.1.rst
  changelog/5977.deprecation.2.rst
  changelog/6052.breaking.rst
  docs/whatsnew/4.0.rst
  setup.cfg
  sunpy/data/test/_generate_asdf_test.py
  sunpy/data/test/aiamap_genericmap_1.0.0.asdf
  sunpy/data/test/aiamap_shift_genericmap_1.0.0.asdf
  sunpy/io/special/asdf/converters/generic_map.py
  sunpy/io/special/asdf/resources/manifests/sunpy-1.0.0.yaml
  sunpy/io/special/asdf/resources/schemas/generic_map-1.1.0.yaml
  sunpy/io/special/asdf/tests/test_genericmap.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Needs Review, No Backport

#6089 Add OpenCV as an option for rotation
  changelog/5916.feature.rst
  changelog/6089.breaking.rst
  changelog/6089.feature.rst
  docs/conf.py
  docs/whatsnew/4.0.rst
  setup.cfg
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, image, No Backport

#6095 Release stuff for 4.0
  .mailmap
  .zenodo.json
  docs/whatsnew/4.0.rst
  sunpy/extern/distro.py
  sunpy/extern/inflect.py
  sunpy/extern/modest_image.py
  sunpy/extern/parse.py
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/data/attrs.json
  tools/update_zenodo.py
Labels: No Changelog Entry Needed

#6097 Test speedups
  sunpy/image/tests/test_resample.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
Labels: Tests, No Changelog Entry Needed, CodeFix, backport 4.0

#6099 Significant improvements in rotation performance
  docs/conf.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, image, No Changelog Entry Needed, backport 4.0

#6103 Bugfixes for errors detected in asdf downstream testing of sunpy
  sunpy/io/special/asdf/resources/schemas/heliographic_carrington-1.0.0.yaml
  sunpy/io/special/asdf/resources/schemas/heliographic_carrington-1.1.0.yaml
Labels: No Changelog Entry Needed, backport 4.0
