Repository sunpy/sunpy, pull requests merged in 2022-09, with the labels that each got.

#6394 Use WCS API in `contains_coordinate`
  sunpy/map/maputils.py
Labels: No Changelog Entry Needed, No Backport

#5956 Mask values when reading CDF files
  changelog/5956.feature.rst
  sunpy/data/test/solo_L2_epd-ept-north-hcad_20200713_V02.cdf
  sunpy/io/cdf.py
  sunpy/io/tests/test_cdf.py
Labels: timeseries, No Backport

#6396 Fix adaptive reproject test with reproject 0.9
  sunpy/map/tests/test_reproject_to.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6397 Backport PR #6396 on branch 4.0 (Fix adaptive reproject test with reproject 0.9)
  sunpy/map/tests/test_reproject_to.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6333 parfive 2.0.0 whatsnew entry
  docs/whatsnew/4.1.rst
Labels: DocFix, No Changelog Entry Needed, Whats New?, No Backport

#6399 Fix Matplotlib `get_cmap` deprecation
  MANIFEST.in
  examples/example_template/example_template.py
  examples/plotting/map_editcolormap.py
  examples/plotting/sunpy_matplotlib_colormap.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: visualization, No Changelog Entry Needed, Merge When CI Passes, CodeFix, Run cron CI, backport 4.0

#6400 Backport PR #6399 on branch 4.0 (Fix Matplotlib `get_cmap` deprecation)
  MANIFEST.in
  examples/example_template/example_template.py
  examples/plotting/map_editcolormap.py
  examples/plotting/sunpy_matplotlib_colormap.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: visualization, No Changelog Entry Needed, Merge When CI Passes, CodeFix, Run cron CI, backport 4.0

#6401 Change the jsoc email to a sunpy one
  docs/conf.py
  sunpy/conftest.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6402 Backport PR #6401 on branch 4.0 (Change the jsoc email to a sunpy one)
  docs/conf.py
  sunpy/conftest.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6405 Prevent double CI on branch and open PR
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, No Backport

#6345 Update Map Guide
  changelog/6345.doc.rst
  docs/guide/data_types/maps.rst
  docs/guide/data_types/timeseries.rst
Labels: Documentation, Needs Review

#6413 Improvements to the TimeSeries guide
  changelog/6345.doc.rst
  docs/guide/data_types/maps.rst
  docs/guide/data_types/timeseries.rst
Labels: Documentation, Needs Review, timeseries, No Changelog Entry Needed, Whats New?

#6416 Improve intro to newcomers guide
  docs/dev_guide/contents/newcomers.rst
Labels: Documentation, DocFix, No Changelog Entry Needed, No Backport

#6410 Fixed XRSTimeSeries quality flags from breaking parsing of some XRS data.
  changelog/6410.bugfix.rst
  sunpy/data/test/goes_truncated_test_1m_avg.nc
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, timeseries, backport 4.0

#6423 Adding dimensionless units to xrs quality columns
  changelog/6423.bugfix.rst
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, timeseries, backport 4.0

#6427 Backport PR #6423 on branch 4.0 (Adding dimensionless units to xrs quality columns)
  changelog/6423.bugfix.rst
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, timeseries, No Changelog Entry Needed, backport 4.0

#6428 tidy up sunpy init
  sunpy/__init__.py
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6434 Remove deprecated animator code
  changelog/xxxx.removal.rst
  sunpy/visualization/animator/__init__.py
  sunpy/visualization/animator/tests/test_basefuncanimator.py
  sunpy/visualization/animator/tests/test_wcs.py
Labels: visualization, No Backport

#6432 Remove sunpy.io.fits
  CHANGELOG.rst
  changelog/6432.removal.rst
  docs/code_ref/io.rst
  docs/conf.py
  docs/whatsnew/4.0.rst
  setup.cfg
  sunpy/data/test/__init__.py
  sunpy/io/_fits.py
  sunpy/io/fits.py
Labels: io, CodeFix, No Backport

#6433 Remove solar rotation code
  CHANGELOG.rst
  changelog/6433.removal.rst
  docs/code_ref/physics.rst
  docs/whatsnew/4.0.rst
  sunpy/physics/solar_rotation.py
  sunpy/physics/tests/test_solar_rotation.py
Labels: physics, CodeFix, No Backport

#6438 Remove sunpy.util.scraper
  changelog/6434.removal.rst
  changelog/6438.removal.rst
  docs/whatsnew/1.1.rst
  sunpy/util/scraper.py
Labels: util, No Backport

#6384 Make sure data examples achieve a single task
  docs/guide/data_types/maps.rst
  examples/README.txt
  examples/acquiring_data/2011_06_07_sampledata_overview.py
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/downloading_lascoC2.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_the_GOES_event_list.py
  examples/map_transformations/downloading_hmi.py
  sunpy/data/sample.py
  tutorials/goes_xrs_example.py
Labels: Documentation, No Changelog Entry Needed, No Backport

#6436 Clean up SXTMap and add source tests and test data
  changelog/6436.bugfix.1.rst
  changelog/6436.bugfix.2.rst
  changelog/6436.trivial.rst
  sunpy/data/test/YohkohSXT.header
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_sxt_source.py
  sunpy/map/sources/yohkoh.py
Labels: map, BugFix, backport 4.0

#6441 Backport PR #6436 on branch 4.0 (Clean up SXTMap and add source tests and test data)
  changelog/6436.bugfix.1.rst
  changelog/6436.bugfix.2.rst
  changelog/6436.trivial.rst
  sunpy/data/test/YohkohSXT.header
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_sxt_source.py
  sunpy/map/sources/yohkoh.py
Labels: map, BugFix, No Changelog Entry Needed, backport 4.0
