Repository sunpy/sunpy, pull requests merged in 2022-03, with the labels that each got.

#5909 Catches missing 'UNITS' attribute while loading CDF files (and adds some _known_units)
  sunpy/io/cdf.py
Labels: BugFix, timeseries, backport 3.1

#5917 Update goes test files to be corrected truncated to preserve original format
  sunpy/data/test/goes_truncated_test_goes15.nc
  sunpy/data/test/goes_truncated_test_goes17.nc
Labels: Tests, timeseries, No Changelog Entry Needed, backport 3.0, backport 3.1

#5934 Fix order of astropy and hypothesis decorators
  sunpy/coordinates/tests/strategies.py
Labels: backport 3.0, backport 3.1

#5926 Add a policy on supported test dependencies
  docs/dev_guide/contents/dependencies.rst
Labels: Documentation, Tests, Needs Review, backport 3.0, backport 3.1

#5930 Fix matplotlib links in doc build
  docs/conf.py
Labels: Documentation, Needs Review, DocFix, backport 3.0, backport 3.1

#5919 Move installation guide to root of doc tree
  docs/guide/index.rst
  docs/index.rst
  docs/installation.rst
Labels: DocFix, No Changelog Entry Needed, backport 3.1

#5916 Add method argument to rotate and affine_transform
  changelog/5916.feature.rst
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Labels: Needs Review, image, No Backport

#5915 Updating parsing GOES/XRS time array so that it can ignore leap seconds
  changelog/5915.bugfix.rst
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, timeseries, backport 3.0, backport 3.1

#5945 Partial CI fixes
  azure-pipelines.yml
  docs/dev_guide/contents/dependencies.rst
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Labels: DocFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#5868 fix filename issue for iris files
  changelog/5868.bugfix.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: BugFix, net, backport 3.0, backport 3.1

#5889 Allow for passing `cmap` and `norm` to `MapSequence.plot`
  changelog/5889.bugfix.rst
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, BugFix, backport 3.0, backport 3.1

#5946 Removed pyinstaller and vagrant
  .gitignore
  .pyinstaller/hooks/hook-sunpy.py
  .pyinstaller/run_tests.py
  Vagrantfile
  azure-pipelines.yml
  setup.cfg
  sunpy/net/tests/strategies.py
  tox.ini
Labels: No Changelog Entry Needed, CodeFix, Manual Backport, backport 3.0, backport 3.1

#5953 Run 3.0 oldestdeps on py37
  .github/workflows/tests.yml
Labels: Tests

#5932 Backport 5906 to 3.0
  .github/workflows/python-test-workflow.yml
  setup.cfg
  sunpy/image/tests/test_coalignment.py
  tox.ini
Labels: No Changelog Entry Needed

#5955 [3.1] Backports
  azure-pipelines.yml
  changelog/5889.bugfix.rst
  changelog/5915.bugfix.rst
  docs/dev_guide/contents/dependencies.rst
  docs/guide/index.rst
  docs/index.rst
  docs/installation.rst
  sunpy/data/test/goes_truncated_test_goes15.nc
  sunpy/data/test/goes_truncated_test_goes17.nc
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: No Changelog Entry Needed

#5954 [3.0] Backports
  .gitignore
  Vagrantfile
  azure-pipelines.yml
  changelog/5889.bugfix.rst
  changelog/5915.bugfix.rst
  sunpy/data/test/goes_truncated_test_goes15.nc
  sunpy/data/test/goes_truncated_test_goes16.nc
  sunpy/data/test/goes_truncated_test_goes17.nc
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/net/tests/strategies.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: No Changelog Entry Needed

#5958 Fix some problems around `warn_deprecated`
  docs/dev_guide/contents/api.rst
  sunpy/util/decorators.py
Labels: BugFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#5786 Fix superpixel() metadata computations
  changelog/5786.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/strategies.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, Merge When CI Passes, backport 3.0, backport 3.1

#5966 More gallery animation fixes
  examples/plotting/arrayanimatorwcs.py
  examples/plotting/lineAnimator_examples.py
Labels: Documentation, Examples, No Changelog Entry Needed, No Backport

#5970 fix bug with lower case units in opening fits file
  changelog/5970.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, backport 3.0, backport 3.1

#5968 `SJIMap` bugfix
  changelog/5968.bugfix.rst
  changelog/5968.doc.rst
  sunpy/map/sources/iris.py
  sunpy/map/sources/tests/test_iris_source.py
Labels: map, BugFix, backport 3.0, backport 3.1

#5971 Removed broken online test
  changelog/5968.bugfix.rst
  changelog/5968.doc.rst
  sunpy/database/tests/test_database.py
Labels: Tests, No Changelog Entry Needed, CodeFix, No Backport

#5957 Deprecate image.coalignment
  changelog/5957.deprecation.rst
  docs/conf.py
  docs/guide/data_types/maps.rst
  docs/whatsnew/4.0.rst
  sunpy/image/coalignment.py
  sunpy/image/tests/test_coalignment.py
  sunpy/physics/solar_rotation.py
Labels: image, No Backport

#5979 Fix uncaptured image.coalignment warnings during release tests
  sunpy/image/tests/test_coalignment.py
Labels: Tests, No Changelog Entry Needed, CodeFix, No Backport

#5984 Remove generated API+example docs when running make clean
  docs/Makefile
Labels: No Changelog Entry Needed, CodeFix

#5987 Put show_colormaps() labels in bounds
  sunpy/visualization/colormaps/cm.py
Labels: DocFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#5991 fix figure hashes
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, Merge When CI Passes, CodeFix, backport 3.0, backport 3.1

#5992 [3.1] CI check
  .circleci/config.yml
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, Merge When CI Passes

#5993 [3.0] CI Check
  .circleci/config.yml
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed, Merge When CI Passes

#5961 Adds example for "reproject a map to a map projection with a custom origin"
  changelog/5961.doc.rst
  examples/map_transformations/projection_custom_origin.py
Labels: Examples, No Backport

#5983 Deprecate sunpy.io.fits
  changelog/5983.deprecation.rst
  docs/code_ref/io.rst
  docs/code_ref/map.rst
  docs/conf.py
  docs/guide/data_types/timeseries.rst
  docs/whatsnew/4.0.rst
  examples/example_template/example_template.py
  setup.cfg
  sunpy/database/tables.py
  sunpy/database/tests/test_database.py
  sunpy/io/_fits.py
  sunpy/io/file_tools.py
  sunpy/io/fits.py
  sunpy/io/tests/test_fits.py
  sunpy/map/mapbase.py
  sunpy/timeseries/timeseries_factory.py
Labels: Whats New?, No Backport

#5939 Move Publishing to GitHub Actions
  .github/actions/matrix/action.yml
  .github/workflows/ci.yml
  .github/workflows/python-test-workflow.yml
  .github/workflows/scheduled_builds.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  docs/dev_guide/contents/images/actions_check_pr.png
  docs/dev_guide/contents/images/actions_summary_check.png
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/images/azure_goto.png
  docs/dev_guide/contents/images/azure_steps_in_job.png
  docs/dev_guide/contents/images/azure_summary_check.png
  docs/dev_guide/contents/images/checks.png
  docs/dev_guide/contents/images/checks_pr.png
  docs/dev_guide/contents/images/list_of_azure_checks.png
  docs/dev_guide/contents/pr_review_procedure.rst
  tools/send_matrix_message.xsh
Labels: No Changelog Entry Needed, Infrastructure

#5803 Fixed `GenericMap.rotate()` when using a matrix that is not a pure rotation
  changelog/5803.bugfix.1.rst
  changelog/5803.bugfix.2.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, BugFix, backport 3.0, backport 3.1

#5825 Set symmetric colorbar limits on HMI maps
  changelog/5825.bugfix.rst
  changelog/5825.feature.rst
  examples/plotting/magnetogram_active_regions.py
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_421_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, Merge When CI Passes, No Backport

#6001 fixes spelling within sphinx gallery
  examples/units_and_coordinates/README.txt
Labels: DocFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#6000 [31.] Backport #5803
  changelog/5803.bugfix.1.rst
  changelog/5803.bugfix.2.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed

#5999 [30.] Backport #5803
  changelog/5803.bugfix.1.rst
  changelog/5803.bugfix.2.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_332_ft_261_astropy_42.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev.json
Labels: No Changelog Entry Needed

#6004 Backport GitHub Actions to 3.0
  .github/actions/matrix/action.yml
  .github/workflows/ci.yml
  .github/workflows/python-test-workflow.yml
  .github/workflows/scheduled_builds.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  docs/dev_guide/contents/images/actions_check_pr.png
  docs/dev_guide/contents/images/actions_summary_check.png
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/images/azure_goto.png
  docs/dev_guide/contents/images/azure_steps_in_job.png
  docs/dev_guide/contents/images/azure_summary_check.png
  docs/dev_guide/contents/images/checks.png
  docs/dev_guide/contents/images/checks_pr.png
  docs/dev_guide/contents/images/list_of_azure_checks.png
  docs/dev_guide/contents/pr_review_procedure.rst
  tools/send_matrix_message.xsh
Labels: No Changelog Entry Needed, No Backport

#5997 Backport GitHub Actions to 3.1
  .github/actions/matrix/action.yml
  .github/workflows/ci.yml
  .github/workflows/python-test-workflow.yml
  .github/workflows/scheduled_builds.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  docs/dev_guide/contents/images/actions_check_pr.png
  docs/dev_guide/contents/images/actions_summary_check.png
  docs/dev_guide/contents/images/azure_check_pr.png
  docs/dev_guide/contents/images/azure_goto.png
  docs/dev_guide/contents/images/azure_steps_in_job.png
  docs/dev_guide/contents/images/azure_summary_check.png
  docs/dev_guide/contents/images/checks.png
  docs/dev_guide/contents/images/checks_pr.png
  docs/dev_guide/contents/images/list_of_azure_checks.png
  docs/dev_guide/contents/pr_review_procedure.rst
  tools/send_matrix_message.xsh
Labels: No Changelog Entry Needed, No Backport

#6005 Checkout local repository for Matrix Notify Action
  .github/workflows/ci.yml
Labels: BugFix, No Changelog Entry Needed, backport 3.0, backport 3.1

#6009 Delete .pep8speaks.yml
  .pep8speaks.yml
Labels: No Changelog Entry Needed, CodeFix

#6010 When life throws you a tomato, you have to cover it in dry ice.
  MANIFEST.in
  pyproject.toml
  tox.ini
Labels: No Changelog Entry Needed, backport 3.0, backport 3.1

#6011 Adds extra group to optional dependencies in system_info
  changelog/6011.bugfix.rst
  sunpy/util/sysinfo.py
  sunpy/util/tests/test_sysinfo.py
Labels: util, No Backport

#5998 Temporary addition of a Maxwell unit
  changelog/5998.feature.rst
  sunpy/map/__init__.py
  sunpy/map/_units.py
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Backport
