Repository sunpy/sunpy, pull requests merged in 2022-07, with the labels that each got.

#6318 Fix filtering of empty VSO results w/ numpy 1.23
  changelog/6318.bugfix.rst
  sunpy/net/fido_factory.py
Labels: BugFix, net, backport 4.0

#6321 Updates sample data test
  sunpy/data/tests/test_sample.py
Labels: Tests, No Changelog Entry Needed, Merge When CI Passes, CodeFix, backport 4.0

#6324 Update astropy dev pip index
  tox.ini
Labels: Tests, No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6262 Goes parse netcdf and leap seconds
  changelog/6262.bugfix.rst
  sunpy/data/test/goes_13_leap_second.nc
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: BugFix, timeseries, Merge When CI Passes, backport 4.0

#6329 Update license year
  LICENSE.rst
Labels: No Changelog Entry Needed, CodeFix, backport 4.0

#6331 Fix CFF file author naming format
  CITATION.cff
Labels: DocFix, No Changelog Entry Needed, backport 4.0

#6327 Deprecate GenericTimeSeries.index
  changelog/6327.deprecation.rst
  changelog/6327.feature.rst
  docs/dev_guide/contents/example_gallery.rst
  docs/guide/data_types/timeseries.rst
  examples/acquiring_data/goes_xrs_example.py
  examples/plotting/solar_cycle_example.py
  examples/time_series/timeseriesmetadata_example.py
  sunpy/timeseries/sources/tests/test_goes.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries, No Backport

#6334 fix issue with parfive 2.0 and the sample data error
  changelog/6334.bugfix.rst
  sunpy/data/_sample.py
Labels: CodeFix, data, backport 4.0

#6336 Add bugfix release policy to docs
  changelog/6336.doc.rst
  docs/whatsnew/index.rst
Labels: Documentation, backport 4.0

#6332 Move visualization.limb into visualization.drawing
  changelog/6251.feature.rst
  changelog/6332.deprecation.rst
  changelog/6332.feature.rst
  changelog/6332.trivial.rst
  docs/code_ref/visualization.rst
  docs/whatsnew/4.1.rst
  examples/plotting/limb_plotting.py
  examples/plotting/plot_equator_prime_meridian.py
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/visualization/drawing.py
  sunpy/visualization/limb.py
  sunpy/visualization/tests/test_drawing.py
  sunpy/visualization/tests/test_limb.py
Labels: Needs Review, visualization, No Backport
