Repository sunpy/sunpy, pull requests merged in 2022-11, with the labels that each got.

#6535 Backport PR #6521 on branch 4.0 (Fixing issues related to tox-conda)
  sunpy-dev-env.yml
  tox.ini
Labels: Tests, No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6547 Update conda env with sphinx-copybutton
  sunpy-dev-env.yml
  sunpy/map/sources/tests/test_mdi_source.py
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6524 Added a how-to guide for using conda for development dependencies
  changelog/6524.doc.rst
  docs/dev_guide/contents/conda_for_dependencies.rst
  docs/dev_guide/index.rst
Labels: Documentation, DocFix, No Backport

#6538 Remove use_scipy argument in rotate functions
  changelog/6538.removal.rst
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
Labels: map, image, No Backport

#6548 Backport PR #6547 on branch 4.0 (Update conda env with sphinx-copybutton)
  sunpy-dev-env.yml
  sunpy/map/sources/tests/test_mdi_source.py
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, backport 4.0

#6549 Cleanup overriding `.date` property on EUIMap
  sunpy/map/sources/solo.py
Labels: map, No Changelog Entry Needed, No Backport

#6537 Remove neighbour as an interpolation method
  changelog/6537.removal.rst
  examples/map/map_resampling_and_superpixels.py
  sunpy/image/resample.py
  sunpy/image/tests/test_resample.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: image, No Backport

#6544 removal of bytes encode for table
  sunpy/net/helio/hec.py
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6552 Include the actual CITATION.rst rather than a symlink to it
  docs/about.rst
Labels: Documentation, DocFix, No Changelog Entry Needed, backport 4.0

#6553 Backport PR #6552 on branch 4.0 (Include the actual CITATION.rst rather than a symlink to it)
  docs/about.rst
Labels: Documentation, DocFix, No Changelog Entry Needed, backport 4.0

#6512 Python 3.11 Support
  .github/workflows/ci.yml
  changelog/6512.bugfix.rst
  docs/dev_guide/contents/extending_fido.rst
  pyproject.toml
  setup.cfg
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/net/vso/vso.py
  sunpy/util/metadata.py
  sunpy/util/net.py
  tox.ini
Labels: Merge When CI Passes, Infrastructure, backport 4.0, Run publish

#6478 Implemented site configuration for sunpyrc, modified docs
  changelog/6478.feature.rst
  docs/guide/customization.rst
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
Labels: Needs Review, util, No Backport

#6406 Make all kwargs to `reproject_to` kwarg only
  changelog/6406.deprecation.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
Labels: map, No Backport

#6543 Removed message from tools hek
  tools/hektemplate.py
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6554 Backport PR #6512 on branch 4.0 (Python 3.11 Support)
  .github/workflows/ci.yml
  changelog/6512.bugfix.rst
  docs/dev_guide/contents/extending_fido.rst
  pyproject.toml
  setup.cfg
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/net/vso/vso.py
  sunpy/util/metadata.py
  sunpy/util/net.py
  tox.ini
Labels: No Changelog Entry Needed, Run cron CI

#6555 Tweaks from PR reviews
  changelog/6537.removal.rst
  examples/time_series/skip_timeseries_example.py
  examples/time_series/timeseries_example.py
Labels: Documentation, DocFix, Examples, Merge When CI Passes

#6546 added 304 image to sample data
  changelog/6546.feature.rst
  sunpy/data/_sample.py
Labels: Merge When CI Passes, data, No Backport

#6542 Update stability matrix for 4.1
  docs/code_ref/sunpy_stability.yaml
Labels: Documentation, No Changelog Entry Needed, Merge When CI Passes, No Backport

#6415 Add helper for creating Carrington header
  CHANGELOG.rst
  changelog/6415.feature.rst
  changelog/6499.feature.1.rst
  changelog/6499.feature.2.rst
  docs/code_ref/map.rst
  docs/guide/data_types/maps.rst
  docs/whatsnew/2.0.rst
  docs/whatsnew/4.1.rst
  examples/map/map_from_numpy_array.py
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/map_transformations/reprojection_carrington.py
  examples/map_transformations/reprojection_different_observers.py
  examples/units_and_coordinates/radec_to_hpc_map.py
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, Needs Review, Merge When CI Passes, Whats New?, No Backport

#6540 Update mailmap and zenodo for 4.1
  .mailmap
  .zenodo.json
  docs/whatsnew/4.1.rst
  tools/update_zenodo.py
Labels: DocFix, No Changelog Entry Needed

#6560 update extern readme and code
  sunpy/extern/README.rst
  sunpy/extern/__init__.py
  sunpy/util/net.py
  tools/update_extern.py
Labels: No Changelog Entry Needed, No Backport

#6342 Fixed bug that prevents RotatedSunFrame instances from being pickled
  changelog/6342.bugfix.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: BugFix, coordinates, backport 4.0, backport 4.1

#6569 Backport PR #6342 on branch 4.1 (Fixed bug that prevents RotatedSunFrame instances from being pickled)
  changelog/6342.bugfix.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: BugFix, coordinates, No Changelog Entry Needed, backport 4.0, backport 4.1

#6568 Backport PR #6342 on branch 4.0 (Fixed bug that prevents RotatedSunFrame instances from being pickled)
  changelog/6342.bugfix.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: BugFix, coordinates, No Changelog Entry Needed, backport 4.0, backport 4.1

#6558 Optionally set detector in header helper
  changelog/6558.feature.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, No Backport

#6557 Use `XPOSURE` key in `exposure_time` property
  changelog/6557.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/psp.py
  sunpy/map/sources/solo.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Backport

#6559 tweak timeseries example and update parfive keyword
  docs/conf.py
  examples/time_series/timeseries_example.py
  sunpy/map/map_factory.py
  tox.ini
Labels: DocFix, No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6579 Backport PR #6559 on branch 4.1 (tweak timeseries example and update parfive keyword)
  docs/conf.py
  examples/time_series/timeseries_example.py
  sunpy/map/map_factory.py
  tox.ini
Labels: DocFix, No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6573 Fixed the determination of scale and rotation matrix from the CDij matrix
  changelog/6573.bugfix.1.rst
  changelog/6573.bugfix.2.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6582 Fixed a reference for make_fitswcs_header
  changelog/6558.feature.rst
Labels: map, DocFix, No Changelog Entry Needed, No Backport

#6583 Backport PR #6573 on branch 4.0 (Fixed the determination of scale and rotation matrix from the CDij matrix)
  changelog/6573.bugfix.1.rst
  changelog/6573.bugfix.2.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6584 Backport PR #6573 on branch 4.1 (Fixed the determination of scale and rotation matrix from the CDij matrix)
  changelog/6573.bugfix.1.rst
  changelog/6573.bugfix.2.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6571 Fix the handling of `CDELTi` and `PCi_j` in `resample()` and `superpixel()`
  changelog/6571.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, BugFix, backport 4.0, backport 4.1

#6587 Backport PR #6571 on branch 4.1 (Fix the handling of `CDELTi` and `PCi_j` in `resample()` and `superpixel()`)
  changelog/6571.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, BugFix, backport 4.0, backport 4.1

#6581 Fixes issues with `parse_time()` and the handling of excess zeros in the microsecond field
  changelog/6581.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: BugFix, time, backport 4.0, backport 4.1

#6589 Backport PR #6581 on branch 4.0 (Fixes issues with `parse_time()` and the handling of excess zeros in the microsecond field)
  changelog/6581.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: BugFix, time, backport 4.0, backport 4.1

#6590 Backport PR #6581 on branch 4.1 (Fixes issues with `parse_time()` and the handling of excess zeros in the microsecond field)
  changelog/6581.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: BugFix, time, backport 4.0, backport 4.1

#6588 [4.0] Backport of #6571
  changelog/6571.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed

#6591 add hvpy to conda env
  MANIFEST.in
  sunpy-dev-env.yml
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6593 Fix cdaweb doctest
  sunpy/net/cdaweb/helpers.py
Labels: DocFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6594 Backport PR #6593 on branch 4.0 (Fix cdaweb doctest)
  sunpy/net/cdaweb/helpers.py
Labels: DocFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6595 Backport PR #6593 on branch 4.1 (Fix cdaweb doctest)
  sunpy/net/cdaweb/helpers.py
Labels: DocFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6596 Added how to create the conda development environment from a URL
  docs/dev_guide/contents/conda_for_dependencies.rst
Labels: Documentation, No Changelog Entry Needed, No Backport

#6597 Fix a bug in `make_fitswcs_header()` when creating a rotation matrix from an angle when the pixels are non-square
  changelog/6597.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6598 Backport PR #6597 on branch 4.0 (Fix a bug in `make_fitswcs_header()` when creating a rotation matrix from an angle when the pixels are non-square)
  changelog/6597.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6599 Backport PR #6597 on branch 4.1 (Fix a bug in `make_fitswcs_header()` when creating a rotation matrix from an angle when the pixels are non-square)
  changelog/6597.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6600 Update self_test
  changelog/6600.bugfix.rst
  changelog/6600.feature.rst
  sunpy/conftest.py
  sunpy/tests/self_test.py
Labels: Tests, Infrastructure, No Backport, Run cron CI

#6605 Add support for old EIT Maps with bad date-obs
  changelog/6605.bugfix.rst
  sunpy/data/test/seit_00171_fd_19961211_1900.header
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6607 Backport PR #6605 on branch 4.1 (Add support for old EIT Maps with bad date-obs)
  changelog/6605.bugfix.rst
  sunpy/data/test/seit_00171_fd_19961211_1900.header
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6610 Port sdist cibuildwheel fix from 4.1 to main
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Run publish

#6613 [Doc Sprint] Initial renaming and sorting of Guide (and Reference a little)
  docs/conf.py
  docs/guide/tour.rst
  docs/index.rst
  docs/intro/acquiring_data/database.rst
  docs/intro/acquiring_data/fido.rst
  docs/intro/acquiring_data/hek.rst
  docs/intro/acquiring_data/helioviewer.rst
  docs/intro/acquiring_data/index.rst
  docs/intro/acquiring_data/jsoc.rst
  docs/intro/acquiring_data/sample-data.rst
  docs/intro/coordinates.rst
  docs/intro/data_types/index.rst
  docs/intro/data_types/maps.rst
  docs/intro/data_types/timeseries.rst
  docs/intro/index.rst
  docs/intro/installation.rst
  docs/intro/logger.rst
  docs/intro/plotting.rst
  docs/intro/time.rst
  docs/intro/units.rst
  docs/reference/coordinates/carrington.rst
  docs/reference/coordinates/index.rst
  docs/reference/coordinates/other_api.rst
  docs/reference/coordinates/rotatedsunframe.rst
  docs/reference/coordinates/velocities.rst
  docs/reference/coordinates/wcs.rst
  docs/reference/customization.rst
  docs/reference/data.rst
  docs/reference/database.rst
  docs/reference/image.rst
  docs/reference/index.rst
  docs/reference/io.rst
  docs/reference/known_issues.rst
  docs/reference/map.rst
  docs/reference/net.rst
  docs/reference/physics.rst
  docs/reference/ssw.rst
  docs/reference/stability.rst
  docs/reference/sun.rst
  docs/reference/sunpy.rst
  docs/reference/sunpy_stability.yaml
  docs/reference/time.rst
  docs/reference/timeseries.rst
  docs/reference/troubleshooting.rst
  docs/reference/util.rst
  docs/reference/visualization.rst
  docs/whatsnew/index.rst
  setup.cfg
  sunpy/CITATION.rst
Labels: Documentation, No Changelog Entry Needed

#6617 Make sphinx gallery link to our own code
  docs/conf.py
Labels: No Changelog Entry Needed, Infrastructure

#6614 Remove manual heading numbering in guide
  docs/intro/data_types/maps.rst
  docs/intro/data_types/timeseries.rst
  docs/intro/time.rst
Labels: Documentation, No Changelog Entry Needed, Merge When CI Passes

#6602 Update cdaweb attrs
  .pre-commit-config.yaml
  sunpy/net/cdaweb/data/attrs.json
Labels: net, No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6624 Backport PR #6602 on branch 4.1 (Update cdaweb attrs)
  .pre-commit-config.yaml
  sunpy/net/cdaweb/data/attrs.json
Labels: net, No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6623 Backport PR #6602 on branch 4.0 (Update cdaweb attrs)
  .pre-commit-config.yaml
  sunpy/net/cdaweb/data/attrs.json
Labels: net, No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6620 Add PixelPair to docs
  changelog/6620.doc.rst
  sunpy/map/mapbase.py
Labels: DocFix, backport 4.0, backport 4.1

#6626 Backport PR #6620 on branch 4.1 (Add PixelPair to docs)
  changelog/6620.doc.rst
  sunpy/map/mapbase.py
Labels: DocFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6625 Backport PR #6620 on branch 4.0 (Add PixelPair to docs)
  changelog/6620.doc.rst
  sunpy/map/mapbase.py
Labels: DocFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6616 Add target audience and how to read doc to the intro tutorial
  docs/intro/coordinates.rst
  docs/intro/data_types/index.rst
  docs/intro/index.rst
  docs/intro/maps.rst
  docs/intro/plotting.rst
  docs/intro/time.rst
  docs/intro/timeseries.rst
  docs/intro/units.rst
Labels: No Changelog Entry Needed

#6621 Add minigallery to extract_along_coord
  sunpy/map/maputils.py
Labels: DocFix, No Changelog Entry Needed, backport 4.1

#6627 Backport PR #6621 on branch 4.1 (Add minigallery to extract_along_coord)
  sunpy/map/maputils.py
Labels: DocFix, No Changelog Entry Needed, backport 4.1

#6630 [skip ci] Bump minimum sphinx-gallery pin
  setup.cfg
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, backport 4.0, backport 4.1

#6631 Backport PR #6630 on branch 4.0 ([skip ci] Bump minimum sphinx-gallery pin)
  setup.cfg
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, backport 4.0, backport 4.1

#6632 Backport PR #6630 on branch 4.1 ([skip ci] Bump minimum sphinx-gallery pin)
  setup.cfg
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, backport 4.0, backport 4.1

#6628 Try unpinning pytest{-xdist}
  .test_package_pins.txt
  setup.cfg
  tox.ini
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, backport 4.1

#6633 Backport PR #6628 on branch 4.1 (Try unpinning pytest{-xdist})
  .test_package_pins.txt
  setup.cfg
  tox.ini
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, backport 4.1

#6635 Backport https://github.com/sunpy/sunpy/pull/6628 to 4.0
  .test_package_pins.txt
  setup.cfg
  tox.ini
Labels: No Changelog Entry Needed

#6637 Fix exposure time bug
  changelog/6637.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, BugFix, backport 4.1
