Repository sunpy/sunpy, pull requests merged in 2023-10, with the labels that each got.

#7219 Fix inappropriate x limits in "Flare times on a GOES XRS plot" example
  examples/time_series/goes_hek_m25.py
Labels: Examples, No Changelog Entry Needed, Minor Change, backport 5.0

#7222 Backport PR #7219 on branch 5.0 (Fix inappropriate x limits in "Flare times on a GOES XRS plot" example)
  examples/time_series/goes_hek_m25.py
Labels: Examples, No Changelog Entry Needed, Minor Change, backport 5.0

#7100 Add tests for checking whether Map methods are lazy
  changelog/7100.trivial.rst
  docs/conf.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase_dask.py
Labels: Tests, map

#7206 Add a check for out-of-bounds sampling by `sunpy.map.sample_at_coords()`
  changelog/7206.bugfix.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: map, Merge When CI Passes, Minor Change, backport 5.0

#7225 Backport PR #7206 on branch 5.0 (Add a check for out-of-bounds sampling by `sunpy.map.sample_at_coords()`)
  changelog/7206.bugfix.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: map, Merge When CI Passes, Minor Change, backport 5.0

#7214 Clean up old MPL compatibility code
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: Needs Review, No Changelog Entry Needed, No Backport

#7186 When instantiating a frame, use `obstime` from `observer` if `obstime` not otherwise provided
  changelog/7186.feature.rst
  sunpy/coordinates/ephemeris.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: Needs Review, coordinates, No Backport

#7200 Remove deprecated extract_along_coord
  CHANGELOG.rst
  changelog/7200.removal.rst
  docs/whatsnew/4.1.rst
  docs/whatsnew/5.0.rst
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: Needs Review, No Backport

#7202 Remove old limb drawing function
  CHANGELOG.rst
  changelog/7202.removal.rst
  docs/whatsnew/3.1.rst
  sunpy/visualization/__init__.py
  sunpy/visualization/limb.py
Labels: Needs Review, No Backport

#7203 Remove GenericTimeSeries.index
  CHANGELOG.rst
  changelog/7203.removal.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: Needs Review, No Backport

#7229 Update zenodo records for Will and Dan
  .zenodo.json
Labels: No Changelog Entry Needed

#7226 Update GOES tests for new files
  setup.cfg
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/parser.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/util/exceptions.py
Labels: Tests, net, No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 5.0

#7230 Backport PR #7226 on branch 5.0 (Update GOES tests for new files)
  setup.cfg
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/parser.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/util/exceptions.py
Labels: Tests, net, No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 5.0

#7231 Backport PR #7160 on branch 5.0 (Reproject AIA instead of HMI in masking example)
  changelog/7160.doc.rst
  examples/map/masking_hmi.py
Labels: Examples, backport 5.0

#7233 add asdf-astropy dev to devdeps tests
  tox.ini
Labels: No Changelog Entry Needed, Run cron CI, Minor Change, backport 5.0

#7234 Backport PR #7233 on branch 5.0 (add asdf-astropy dev to devdeps tests)
  tox.ini
Labels: No Changelog Entry Needed, Run cron CI, Minor Change, backport 5.0

#7235 Fix for installation using zsh
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/tests.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change

#7238 Fix typo in install command
  docs/dev_guide/contents/tests.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change

#7118 Add a Helioprojective method to return coordinate visibility
  changelog/7118.feature.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: coordinates, Merge When CI Passes, No Backport

#7240 Remove deprecated sunpy.io.cdf
  changelog/7240.removal.rst
  docs/conf.py
  sunpy/io/_cdf.py
  sunpy/io/cdf.py
  sunpy/io/tests/test_cdf.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: io, Minor Change

#7113 Internal functions for coordinate transformations are now private API
  CHANGELOG.rst
  changelog/7113.deprecation.rst
  docs/reference/coordinates/index.rst
  docs/topic_guide/coordinates/rotatedsunframe.rst
  sunpy/coordinates/__init__.py
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: coordinates, No Backport

#7242 Remove deprecated sunpy.io.file_tools
  changelog/7242.removal.rst
  sunpy/io/_file_tools.py
  sunpy/io/file_tools.py
  sunpy/io/tests/test_filetools.py
Labels: io, Minor Change

#7220 Add gong map class
  changelog/7220.feature.rst
  sunpy/data/test/gong_synoptic.header
  sunpy/map/sources/__init__.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/tests/test_gong_synoptic_source.py
Labels: Whats New?

#7250 Remove deprecated download sample data
  CHANGELOG.rst
  changelog/7250.removal.rst
  sunpy/data/__init__.py
  sunpy/data/_sample.py
  sunpy/data/sample.py
Labels: data, No Backport

#7245 Parse more `wavelnth` comments for units
  sunpy/io/_fits.py
  sunpy/io/tests/test_fits.py
  sunpy/map/sources/tests/test_gong_synoptic_source.py
Labels: No Changelog Entry Needed

#7255 Remove old mirror URL
  sunpy/data/_sample.py
Labels: Refactoring, No Changelog Entry Needed, data, No Backport, Minor Change

#7257 Fix docs build for `ruamel.yaml` >= 0.18.0
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 5.0

#7260 Backport PR #7257 on branch 5.0 (Fix docs build for `ruamel.yaml` >= 0.18.0)
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 5.0

#7261 Map: protect against `norm` being set to `None` for `plot()` method
  changelog/7261.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Minor Change, backport 5.0

#7251 Replace old-test-supported-numpy in build system
  pyproject.toml
Labels: No Changelog Entry Needed, Run cron CI, Run publish

#7263 Backport PR #7261 on branch 5.0 (Map: protect against `norm` being set to `None` for `plot()` method)
  changelog/7261.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Minor Change, backport 5.0

#7267 Seperate docs into docs and docs-gallery
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/newcomers.rst
  setup.cfg
  sunpy/util/tests/test_sysinfo.py
  tox.ini
Labels: Documentation, No Changelog Entry Needed, Infrastructure, Minor Change

#7272 RTD needs docs-gallery
  .readthedocs.yaml
Labels: Documentation, No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change

#7273 Use Python 3.10 for source build
  .github/workflows/ci.yml
Labels: Run publish, backport 5.0

#7274 Backport PR #7273 on branch 5.0 (Use Python 3.10 for source build)
  .github/workflows/ci.yml
Labels: Run publish, backport 5.0

#7275 Add empty 5.1 whats new
  docs/whatsnew/5.1.rst
  docs/whatsnew/index.rst
Labels: Documentation, No Changelog Entry Needed, Minor Change
