Repository sunpy/sunpy, pull requests merged in 2023-12, with the labels that each got.

#7330 Fix devdeps figure tests and getting the wrong filename
  sunpy/tests/helpers.py
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7331 Backport PR #7330 on branch 5.0 (Fix devdeps figure tests and getting the wrong filename)
  sunpy/tests/helpers.py
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7329 Add Clarification on setting Environment Variable for JSOC Email
  changelog/7329.doc.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_and_loading_SHARP_data.py
Labels: Examples, Minor Change, backport 5.0, backport 5.1

#7336 Backport PR #7329 on branch 5.1 (Add Clarification on setting Environment Variable for JSOC Email)
  changelog/7329.doc.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_and_loading_SHARP_data.py
Labels: Examples, Minor Change, backport 5.0, backport 5.1

#7335 Backport PR #7329 on branch 5.0 (Add Clarification on setting Environment Variable for JSOC Email)
  changelog/7329.doc.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_and_loading_SHARP_data.py
Labels: Examples, Minor Change, backport 5.0, backport 5.1

#7320 Remove sunpy.database
  .github/CODEOWNERS
  CHANGELOG.rst
  changelog/7320.removal.rst
  docs/conf.py
  docs/dev_guide/contents/funding.rst
  docs/nitpick-exceptions
  docs/reference/database.rst
  docs/reference/index.rst
  docs/reference/sunpy_stability.yaml
  docs/reference/util.rst
  docs/topic_guide/installation.rst
  docs/whatsnew/6.0.rst
  docs/whatsnew/index.rst
  setup.cfg
  sunpy-dev-env.yml
  sunpy/conftest.py
  sunpy/data/sunpyrc
  sunpy/database/__init__.py
  sunpy/database/attrs.py
  sunpy/database/caching.py
  sunpy/database/commands.py
  sunpy/database/database.py
  sunpy/database/tables.py
  sunpy/database/tests/__init__.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_caching.py
  sunpy/database/tests/test_commands.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_table.txt
  sunpy/database/tests/test_tables.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/attr.py
  sunpy/net/jsoc/data/attrs.json
  sunpy/util/config.py
  sunpy/util/tests/test_sysinfo.py
  sunpy/util/types.py
  tox.ini
Labels: No Backport

#7344 Raise our own error when trying to rotate a map of integer data while using a `missing` value of NaN
  changelog/7344.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 5.0, backport 5.1

#7346 Backport PR #7344 on branch 5.0 (Raise our own error when trying to rotate a map of integer data while using a `missing` value of NaN)
  changelog/7344.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 5.0, backport 5.1

#7347 Backport PR #7344 on branch 5.1 (Raise our own error when trying to rotate a map of integer data while using a `missing` value of NaN)
  changelog/7344.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 5.0, backport 5.1
