Repository sunpy/sunpy, pull requests merged in 2023-04, with the labels that each got.

#6894 Added clarity to docstring for utime format
  changelog/6894.doc.rst
  sunpy/time/timeformats.py
Labels: time, backport 4.0, backport 4.1, Minor Change

#6898 Backport PR #6894 on branch 4.0 (Added clarity to docstring for utime format)
  changelog/6894.doc.rst
  sunpy/time/timeformats.py
Labels: time, backport 4.0, backport 4.1, Minor Change

#6899 Backport PR #6894 on branch 4.1 (Added clarity to docstring for utime format)
  changelog/6894.doc.rst
  sunpy/time/timeformats.py
Labels: time, backport 4.0, backport 4.1, Minor Change

#6840 Add maputils function to fully pixelate a coordinate path
  changelog/6840.deprecation.rst
  changelog/6840.feature.rst
  changelog/6882.breaking.rst
  examples/plotting/great_arc_example.py
  examples/units_and_coordinates/map_slit_extraction.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_maputils.py
Labels: map, No Backport

#6897 Fixed backticks in a changelog entry
  changelog/6820.bugfix.rst
Labels: Documentation, No Changelog Entry Needed, Minor Change

#6902 display data unit in html repr
  changelog/6902.feature.rst
  sunpy/map/mapbase.py
Labels: map, No Backport, Minor Change

#6903 Fixed and Updated Documentation References in Examples/Core Sunpy Code
  changelog/6903.doc.rst
  examples/time_series/goes_xrs_example.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/radec_to_hpc_map.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/wcs_utils.py
  sunpy/map/mapbase.py
Labels: Documentation, No Backport, Minor Change

#6900 Pandas 2.0 broke an example
  examples/time_series/timeseries_peak_finding.py
Labels: Examples, No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6906 Backport PR #6900 on branch 4.0 (Pandas 2.0 broke an example)
  examples/time_series/timeseries_peak_finding.py
Labels: Examples, No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6907 Backport PR #6900 on branch 4.1 (Pandas 2.0 broke an example)
  examples/time_series/timeseries_peak_finding.py
Labels: Examples, No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6872 Move Fido tutorial up a doc level
  docs/tutorial/acquiring_data/fido.rst
  docs/tutorial/acquiring_data/index.rst
  docs/tutorial/maps.rst
  sunpy/net/fido_factory.py
Labels: No Changelog Entry Needed, No Backport

#6910 Fix name of changelog entry
  changelog/6693.feature.rst
Labels: Documentation, No Changelog Entry Needed, No Backport

#6896 Update note for internal fits reader
  docs/reference/io.rst
  sunpy/io/_fits.py
Labels: Documentation, io, No Changelog Entry Needed, No Backport

#6915 Remove workaround in example
  changelog/6742.feature.rst
  docs/whatsnew/5.0.rst
  examples/plotting/magnetogram_active_regions.py
  setup.cfg
Labels: No Changelog Entry Needed, No Backport, Minor Change

#6916 Remove old warning filter
  sunpy/map/tests/test_plotting.py
Labels: No Changelog Entry Needed, No Backport, Minor Change

#6881 Move content from coordinate reference to guide
  docs/guide/coordinates/carrington.rst
  docs/guide/coordinates/index.rst
  docs/guide/coordinates/rotatedsunframe.rst
  docs/guide/coordinates/velocities.rst
  docs/guide/coordinates/wcs.rst
  docs/guide/index.rst
  docs/reference/coordinates/index.rst
  docs/reference/coordinates/other_api.rst
Labels: Documentation, No Changelog Entry Needed, No Backport

#6919 Alllow oldestdeps tox runs on macOS arm
  tox.ini
Labels: No Changelog Entry Needed, No Backport, Minor Change

#6879 Refactoring the "Units" section of the guide
  changelog/6879.doc.rst
  docs/tutorial/units.rst
Labels: Documentation, No Changelog Entry Needed

#6922 Install sphinxext-opengraph from conda in dev env
  sunpy-dev-env.yml
Labels: No Changelog Entry Needed, No Backport, Minor Change

#6781 Add example for reproducing the "Where is STEREO Today?" plot
  CHANGELOG.rst
  changelog/6781.doc.rst
  docs/conf.py
  examples/acquiring_data/README.txt
  examples/computer_vision_techniques/README.txt
  examples/developer_tools/README.txt
  examples/differential_rotation/README.txt
  examples/map/README.txt
  examples/map_transformations/README.txt
  examples/plotting/README.txt
  examples/saving_and_loading_data/README.txt
  examples/showcase/README.txt
  examples/showcase/hmi_cutout.py
  examples/showcase/where_is_stereo.py
  examples/time_series/README.txt
  examples/units_and_coordinates/README.txt
Labels: Examples, Whats New?, No Backport

#6929 GOES version 2.2 data update
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: Tests, No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6921 Now pass max_splits into the downloader for JSOC only fetches
  changelog/6921.bugfix.rst
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/util/parfive_helpers.py
Labels: backport 4.0, backport 4.1, Minor Change

#6887 Adds support in SunPy for the VSO REST/TAP Data Providers
  changelog/6887.feature.rst
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: net, backport 4.0, backport 4.1

#6934 Backport PR #6887 on branch 4.0 (Adds support in SunPy for the VSO REST/TAP Data Providers)
  changelog/6887.feature.rst
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: net, backport 4.0, backport 4.1

#6935 Backport PR #6887 on branch 4.1 (Adds support in SunPy for the VSO REST/TAP Data Providers)
  changelog/6887.feature.rst
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/vso/table_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: net, backport 4.0, backport 4.1

#6932 Backport PR #6921 on branch 4.0 (Now pass max_splits into the downloader for JSOC only fetches)
  changelog/6921.bugfix.rst
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/util/parfive_helpers.py
Labels: backport 4.0, backport 4.1, Minor Change

#6933 Backport PR #6921 on branch 4.1 (Now pass max_splits into the downloader for JSOC only fetches)
  changelog/6921.bugfix.rst
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/util/parfive_helpers.py
Labels: backport 4.0, backport 4.1, Minor Change

#6930 Backport PR #6929 on branch 4.0 (GOES version 2.2 data update)
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: Tests, No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6931 Backport PR #6929 on branch 4.1 (GOES version 2.2 data update)
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: Tests, No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6936 Revert "Update more tests"
  sunpy/map/tests/test_map_factory.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
Labels: No Backport

#6895 Marks sunpy.io readers private
  .pre-commit-config.yaml
  changelog/6895.deprecation.rst
  docs/conf.py
  docs/dev_guide/contents/documentation.rst
  docs/reference/io.rst
  docs/whatsnew/5.0.rst
  sunpy/database/tables.py
  sunpy/io/__init__.py
  sunpy/io/_cdf.py
  sunpy/io/_file_tools.py
  sunpy/io/_jp2.py
  sunpy/io/cdf.py
  sunpy/io/file_tools.py
  sunpy/io/jp2.py
  sunpy/io/tests/test_cdf.py
  sunpy/io/tests/test_jp2.py
  sunpy/map/map_factory.py
  sunpy/time/time.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
Labels: Needs Review, io, No Backport

#6939 Skips HEC and fixes last few online tests
  .pre-commit-config.yaml
  sunpy/map/tests/test_map_factory.py
  sunpy/net/fido_factory.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/parser.py
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/jsoc.py
  sunpy/util/parfive_helpers.py
Labels: Tests, No Changelog Entry Needed, backport 4.0, backport 4.1

#6835 Adds the gallery example for `mplcairo` plotting
  .rtd-environment.yml
  changelog/6835.doc.rst
  examples/plotting/mplcairo_plotting.py
  setup.cfg
  sunpy-dev-env.yml
Labels: Documentation, Examples, No Backport

#6941 Scraper docs add note about regex
  sunpy/net/scraper.py
Labels: Documentation, net, No Changelog Entry Needed, No Backport, Minor Change

#6943 Use 'test' extra to isntall for tests on cibuildwheel
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, Run publish, Minor Change

#6925 Add the 1 minute GOES data access to the GOES-XRS client
  changelog/6925.feature.rst
  docs/whatsnew/4.0.rst
  docs/whatsnew/4.1.rst
  docs/whatsnew/5.0.rst
  examples/time_series/goes_hek_m25.py
  examples/time_series/goes_xrs_example.py
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Labels: net, Whats New?

#6942 Drop parfive less than 2
  changelog/6942.feature.rst
  docs/whatsnew/5.0.rst
  setup.cfg
  sunpy/conftest.py
  sunpy/data/_sample.py
  sunpy/data/data_manager/tests/test_downloader.py
  sunpy/net/fido_factory.py
  sunpy/net/jsoc/jsoc.py
  sunpy/util/parfive_helpers.py
Labels: net, Merge When CI Passes, Whats New?, No Backport

#6576 LASCO_tutorials_and_masking
  changelog/6576.feature.rst
  examples/map/lasco_mask.py
  examples/plotting/lasco_overlay.py
Labels: Documentation, Examples, No Backport

#6950 Fix extras during cibuildwheel
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport, Run publish, Minor Change

#6911 Join HISTORY cards with newline characters
  changelog/6911.bugfix.rst
  changelog/6911.feature.rst
  docs/guide/history_comments.rst
  docs/guide/index.rst
  sunpy/io/_fits.py
  sunpy/io/tests/test_fits.py
Labels: io, No Backport

#6938 Revamp the landing page with cards
  changelog/6938.doc.rst
  docs/index.rst
Labels: Documentation

#6951 Remove setup.py
  asv.conf.json
  pyproject.toml
  setup.cfg
  setup.py
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#6960 Ruff PR 1
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  sunpy/__init__.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_utils.py
  sunpy/io/special/srs.py
  sunpy/map/sources/__init__.py
  sunpy/map/sources/hinode.py
  sunpy/net/vso/vso.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/visualization/drawing.py
Labels: No Changelog Entry Needed, No Backport

#6961 Ruff PR 2
  benchmarks/time.py
  docs/conf.py
  examples/developer_tools/remote_data_manager.py
  pyproject.toml
  sunpy/coordinates/wcs_utils.py
  sunpy/data/sample.py
  sunpy/database/tests/test_commands.py
  sunpy/database/tests/test_database.py
  sunpy/io/file_tools.py
  sunpy/io/jp2.py
  sunpy/io/special/genx.py
  sunpy/io/tests/test_filetools.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/helio/__init__.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/scraper.py
  sunpy/net/tests/test_attr.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/visualization/colormaps/__init__.py
  sunpy/visualization/visualization.py
Labels: No Changelog Entry Needed, No Backport

#6966 Stop hypothesis from complaining when generating pc/cd matrices
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Run cron CI, backport 4.0, backport 4.1

#6949 Pass a scalar to skimage contour
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Run cron CI, backport 4.0, backport 4.1

#6955 Update attrs.json for 5.0
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/vso/data/attrs.json
Labels: No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6968 Backport PR #6966 on branch 4.0 (Stop hypothesis from complaining when generating pc/cd matrices)
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Run cron CI, backport 4.0, backport 4.1

#6969 Backport PR #6966 on branch 4.1 (Stop hypothesis from complaining when generating pc/cd matrices)
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Run cron CI, backport 4.0, backport 4.1

#6970 Backport PR #6949 on branch 4.0 (Pass a scalar to skimage contour)
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Run cron CI, backport 4.0, backport 4.1

#6972 Backport PR #6955 on branch 4.0 (Update attrs.json for 5.0)
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/vso/data/attrs.json
Labels: No Changelog Entry Needed, backport 4.0, backport 4.1, Minor Change

#6952 Clean cibuildwheel config
  pyproject.toml
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport, Run publish

#6962 Ruff PR 3
  docs/conf.py
  examples/computer_vision_techniques/off_limb_enhance.py
  examples/map/map_data_histogram.py
  examples/plotting/simple_differential_rotation.py
  pyproject.toml
  sunpy/__init__.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/transformations.py
  sunpy/coordinates/utils.py
  sunpy/database/caching.py
  sunpy/database/tests/test_attrs.py
  sunpy/database/tests/test_tables.py
  sunpy/io/_jp2.py
  sunpy/io/special/genx.py
  sunpy/map/map_factory.py
  sunpy/map/mapsequence.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/stereo.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/map/tests/test_plotting.py
  sunpy/net/cdaweb/cdaweb.py
  sunpy/net/fido_factory.py
  sunpy/net/hek/hek.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/legacy_response.py
  sunpy/net/vso/vso.py
  sunpy/time/timerange.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/util/config.py
  sunpy/util/tests/test_config.py
  sunpy/util/tests/test_functools.py
  sunpy/visualization/animator/mapsequenceanimator.py
  sunpy/visualization/colormaps/color_tables.py
  tools/hek_mkcls.py
  tools/unify_section_headings.py
Labels: No Changelog Entry Needed

#6975 Add ruff pytest checks
  pyproject.toml
  sunpy/conftest.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/data/data_manager/tests/conftest.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/database/tests/test_database.py
  sunpy/image/tests/test_transform.py
  sunpy/io/tests/test_fits.py
  sunpy/io/tests/test_genx.py
  sunpy/io/tests/test_srs.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
  sunpy/net/dataretriever/sources/tests/test_gong_synoptic.py
  sunpy/net/dataretriever/sources/tests/test_lyra_ud.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/jsoc/tests/test_attr.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/net/tests/test_scraper.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/tests/helpers.py
  sunpy/time/tests/test_time.py
  sunpy/time/tests/test_timerange.py
  sunpy/timeseries/sources/tests/test_goes.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/util/tests/test_decorators.py
  sunpy/util/tests/test_functools.py
  sunpy/visualization/colormaps/tests/test_cm.py
Labels: No Changelog Entry Needed, No Backport

#6979 Update devedeps figure hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, backport 4.0, backport 4.1

#6983 Re-enable HELIO tests
  sunpy/net/helio/tests/test_helio.py
Labels: No Changelog Entry Needed, No Backport, Minor Change

#6982 Backport PR #6979 on branch 4.1 (Update devedeps figure hashes)
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, backport 4.0, backport 4.1

#6981 Backport PR #6979 on branch 4.0 (Update devedeps figure hashes)
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, backport 4.0, backport 4.1

#6948 Migrate some gallery examples to how-to guides
  changelog/6948.doc.rst
  docs/how_to/index.rst
  docs/how_to/parse_time.rst
  docs/how_to/remote_data_manager.rst
  docs/how_to/search_multiple_wavelengths.rst
  docs/how_to/search_vso.rst
  examples/acquiring_data/searching_vso.py
  examples/developer_tools/remote_data_manager.py
  examples/units_and_coordinates/constants_reference.py
  examples/units_and_coordinates/parse_time.py
Labels: Documentation, Needs Review

#6920 Clean up time tutorial
  changelog/6920.doc.rst
  docs/tutorial/time.rst
  sunpy/time/time.py
Labels: Needs Review, No Backport

#6362 Implement a cgi alive test when determining what VSO endpoint to use
  changelog/6362.trivial.rst
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: net, Minor Change

#6963 Move more pages into the topic guide section
  .pre-commit-config.yaml
  docs/dev_guide/contents/documentation.rst
  docs/dev_guide/contents/remote_data.rst
  docs/dev_guide/contents/remote_data_manager.rst
  docs/dev_guide/index.rst
  docs/guide/custom_map_rotate.rst
  docs/guide/extending_fido.rst
  docs/guide/helioviewer.rst
  docs/guide/history_comments.rst
  docs/guide/index.rst
  docs/guide/installation.rst
  docs/guide/logger.rst
  docs/guide/new_map_class.rst
  docs/how_to/index.rst
  docs/how_to/search_multiple_wavelengths.rst
  docs/index.rst
  docs/tutorial/installation.rst
  docs/whatsnew/1.1.rst
Labels: Documentation, No Changelog Entry Needed, No Backport
