Repository sunpy/sunpy, pull requests merged in 2023-02, with the labels that each got.

#6756 Py38 purge more
  docs/dev_guide/contents/tests.rst
  setup.cfg
  sunpy/io/src/ana/_pyana.c
  tox.ini
Labels: No Changelog Entry Needed, CodeFix, Infrastructure, No Backport

#6501 Add example of using `sunpy.net.attr.or_`
  changelog/6501.doc.rst
  examples/acquiring_data/searching_multiple_wavelengths.py
Labels: Documentation, Examples, No Backport

#6725 add unit detection for XRT data
  changelog/6725.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6760 Backport PR #6725 on branch 4.0 (add unit detection for XRT data)
  changelog/6725.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: map, BugFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6761 Backport PR #6725 on branch 4.1 (add unit detection for XRT data)
  changelog/6725.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: map, BugFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6759 Pass `CODECOV_TOKEN` to uploader
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, backport 4.0, backport 4.1

#6737 Updating the GOES-XRS baseurl following change on noaa side
  changelog/6737.breaking.rst
  changelog/6737.bugfix.rst
  changelog/6737.feature.rst
  docs/intro/acquiring_data/fido.rst
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Labels: BugFix, net, Merge When CI Passes, backport 4.0, backport 4.1

#6762 Backport PR #6737 on branch 4.1 (Updating the GOES-XRS baseurl following change on noaa side)
  changelog/6737.breaking.rst
  changelog/6737.bugfix.rst
  changelog/6737.feature.rst
  docs/guide/acquiring_data/fido.rst
  sunpy/database/tests/test_tables.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_ud.py
Labels: BugFix, net, No Changelog Entry Needed, Merge When CI Passes, backport 4.0, backport 4.1

#6679 Update test that was marked xfail due to numpy version and trigger warning also based on numpy version
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Changelog Entry Needed, No Backport

#6764 Raise actual error message from failed read
  sunpy/map/map_factory.py
Labels: No Changelog Entry Needed, CodeFix, No Backport

#6710 Fix init issue for JP2 HMI images from helioveiwer
  changelog/6710.bugfix.rst
  sunpy/data/test/2013_05_13__16_54_06_137__SOHO_LASCO_C3_white-light.jp2
  sunpy/data/test/2013_06_24__17_31_30_84__SDO_AIA_AIA_193.jp2
  sunpy/data/test/2023_01_31__03_39_23_200__SDO_HMI_HMI_continuum.jp2
  sunpy/io/tests/test_jp2.py
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  tools/resize_jp2.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6765 Backport PR #6710 on branch 4.1 (Fix init issue for JP2 HMI images from helioveiwer)
  changelog/6710.bugfix.rst
  sunpy/data/test/2013_05_13__16_54_06_137__SOHO_LASCO_C3_white-light.jp2
  sunpy/data/test/2013_06_24__17_31_30_84__SDO_AIA_AIA_193.jp2
  sunpy/data/test/2023_01_31__03_39_23_200__SDO_HMI_HMI_continuum.jp2
  sunpy/io/tests/test_jp2.py
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  tools/resize_jp2.py
Labels: map, BugFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6766 [4.0] Backport of #6710
  changelog/6710.bugfix.rst
  sunpy/data/test/2013_05_13__16_54_06_137__SOHO_LASCO_C3_white-light.jp2
  sunpy/data/test/2013_06_24__17_31_30_84__SDO_AIA_AIA_193.jp2
  sunpy/data/test/2023_01_31__03_39_23_200__SDO_HMI_HMI_continuum.jp2
  sunpy/io/tests/test_jp2.py
  sunpy/map/mapbase.py
  sunpy/map/sources/sdo.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/tests/test_helioviewer.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  tools/resize_jp2.py
Labels: No Changelog Entry Needed

#6757 add example for querying SHARP data and constructing a Map
  changelog/6757.doc.rst
  examples/acquiring_data/querying_and_loading_SHARP_data.py
Labels: Examples, No Backport

#6774 [skip ci] Update changelog
  changelog/6757.doc.rst
Labels: Documentation, DocFix, No Changelog Entry Needed

#6763 Fix failing online test
  sunpy/net/hek/tests/test_hek.py
Labels: Tests, No Changelog Entry Needed, CodeFix, No Backport

#6772 Update URL for matrix room
  README.rst
  docs/dev_guide/contents/newcomers.rst
  docs/index.rst
Labels: DocFix, No Changelog Entry Needed, backport 4.0, backport 4.1

#6773 Hover for numpy, astropy and python
  docs/conf.py
Labels: DocFix, No Changelog Entry Needed, No Backport

#6775 quick pass over example dev doc
  docs/dev_guide/contents/example_gallery.rst
Labels: Documentation, DocFix, No Changelog Entry Needed, No Backport

#6648 Fix `draw_quadrangle()` so that it accepts frames with data
  changelog/6648.bugfix.rst
  examples/differential_rotation/differentially_rotated_coordinate.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
Labels: map, BugFix, backport 4.0, backport 4.1

#6743 Deprecate `meta_keywords()`
  changelog/6743.deprecation.rst
  docs/intro/maps.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, No Backport

#6744 Example to read and load GOES XRS NRT JSON data
  changelog/6744.doc.rst
  examples/time_series/goes_xrs_nrt_data.py
Labels: Documentation, Examples, No Backport

#6771 Add Example to plot a the path of PSP around the Sun.
  changelog/6771.doc.rst
  examples/units_and_coordinates/ParkerSolarProbe_trajectory.py
Labels: Documentation, Examples, No Backport

#6782 Add sphinx-hoverxref dependency to the conda environment file
  sunpy-dev-env.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Run cron CI

#6780 Add pandas to the devdeps
  tox.ini
Labels: Tests, No Changelog Entry Needed, No Backport, Run cron CI

#6783 Update link for NOAA solar cycle indices
  sunpy/timeseries/sources/noaa.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6784 Backport PR #6783 on branch 4.1 (Update link for NOAA solar cycle indices)
  sunpy/timeseries/sources/noaa.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6786 Added a line to switch astropy ephemeris via astropy.coordinates.solar_system_ephemeris
  sunpy/coordinates/ephemeris.py
Labels: DocFix, No Changelog Entry Needed, No Backport

#6175 Publish pure Python wheels
  .github/workflows/ci.yml
  changelog/6175.feature.rst
  docs/intro/installation.rst
  sunpy/io/ana.py
Labels: Infrastructure, No Backport, Run publish

#6797 Wrong ref type for class solar_system_ephemeris
  sunpy/coordinates/ephemeris.py
Labels: DocFix, No Changelog Entry Needed, Merge When CI Passes, No Backport

#6791 Making the landing page more friendlier
  docs/index.rst
  docs/tour.svg
  setup.cfg
Labels: Documentation, No Changelog Entry Needed, No Backport

#6796 fixed mapbase autoalign
  changelog/6796.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_352_ft_261_astropy_51_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, BugFix, backport 4.0, backport 4.1

#6392 Cleaned up existing ASV tests and added new ones
  benchmarks/benchmarks_for_is_time.py
  benchmarks/benchmarks_for_map.py
  benchmarks/benchmarks_for_parse_time.py
  benchmarks/benchmarks_for_resample.py
  benchmarks/coordinates.py
  benchmarks/map.py
  benchmarks/time.py
Labels: No Changelog Entry Needed, No Backport, Benchmarks

#6804 Fix HEK remote test
  sunpy/net/hek/tests/test_hek.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6805 Backport PR #6804 on branch 4.0 (Fix HEK remote test)
  sunpy/net/hek/tests/test_hek.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6806 Backport PR #6804 on branch 4.1 (Fix HEK remote test)
  sunpy/net/hek/tests/test_hek.py
Labels: No Changelog Entry Needed, CodeFix, backport 4.0, backport 4.1

#6803 Update ASV environment
  .github/workflows/asv-regular.yml
  asv.conf.json
Labels: No Changelog Entry Needed, CodeFix, No Backport, Benchmarks

#6810 remove example and sunkit-image dep due to circular nature
  changelog/6459.feature.rst
  examples/plotting/rgb_composite.py
  setup.cfg
Labels: DocFix, Examples, No Changelog Entry Needed, Merge When CI Passes, No Backport
