Repository sunpy/sunpy, pull requests merged in 2024-07, with the labels that each got.

#7692 Updated example for the hmimag colormap
  changelog/7692.doc.rst
  sunpy/visualization/colormaps/color_tables.py
Labels: Documentation, Minor Change, backport 5.0, backport 5.1

#7697 Backport PR #7692 on branch 5.0 (Updated example for the hmimag colormap)
  changelog/7692.doc.rst
  sunpy/visualization/colormaps/color_tables.py
Labels: Documentation, Minor Change, backport 5.0, backport 5.1

#7698 Backport PR #7692 on branch 5.1 (Updated example for the hmimag colormap)
  changelog/7692.doc.rst
  sunpy/visualization/colormaps/color_tables.py
Labels: Documentation, Minor Change, backport 5.0, backport 5.1

#7691 Fix missing attrs in import and added tests to ensure extent type wor…
  docs/tutorial/maps.rst
  sunpy/net/_attrs.py
  sunpy/net/base_client.py
  sunpy/net/cdaweb/helpers.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/attrs.py
  sunpy/net/vso/tests/test_vso.py
Labels: Minor Change, backport 5.0, backport 5.1

#7543 Adds ValueError to mapbase.submap() when Helioprojection coordinate contains NaN values.
  changelog/7543.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Backport

#7695 Enhance flexibility of get_dummy_map_from_header for cross-package use
  sunpy/data/test/__init__.py
Labels: data, No Backport, Minor Change

#7700 Remove skips for numpy 2
  sunpy/image/tests/test_transform.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/tests/test_timeseries_factory.py
  tox.ini
Labels: Tests, No Changelog Entry Needed, No Backport, Minor Change

#7696 Update base Norh URL
  changelog/7696.trivial.rst
  sunpy/map/mapsequence.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/scraper.py
  sunpy/net/tests/test_fido.py
  sunpy/net/tests/test_scraper.py
  sunpy/net/vso/vso.py
Labels: Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7115 Provide a planar screen as an optional assumption for handling off-disk helioprojective coordinates
  changelog/7115.deprecation.rst
  changelog/7115.feature.rst
  docs/reference/coordinates/index.rst
  docs/whatsnew/6.0.rst
  examples/map_transformations/autoalign_aia_hmi.py
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/map_transformations/reprojection_spherical_screen.py
  examples/plotting/lasco_overlay.py
  examples/plotting/mplcairo_plotting.py
  examples/plotting/three_map_composite.py
  examples/showcase/stereoscopic_3d.py
  sunpy/coordinates/__init__.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/screens.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
Labels: coordinates, Merge When CI Passes, Whats New?, No Backport

#7702 Add auto back
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7707 Fix the docstrings for Map cached properties
  sunpy/util/decorators.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7664 Add backwards compatibility for the scraper
  docs/topic_guide/extending_fido.rst
  docs/topic_guide/index.rst
  docs/topic_guide/scraper_migration.rst
  docs/whatsnew/5.0.rst
  sunpy/extern/parse.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/adapt.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/dataretriever/sources/rhessi.py
  sunpy/net/scraper.py
  sunpy/net/scraper_utils.py
  sunpy/net/tests/test_scraper.py
  sunpy/net/tests/test_scraper_utils.py
  sunpy/util/decorators.py
  tox.ini
Labels: net, No Changelog Entry Needed, Merge When CI Passes

#7708 Edited filename sanitization whatsnew entry
  docs/whatsnew/6.0.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change

#7452 Implemented `get_rotation_matrix` to compute the rotation matrix between two SPICE frames.
  changelog/7452.feature.rst
  sunpy/coordinates/spice.py
  sunpy/coordinates/tests/test_spice.py
Labels: coordinates, No Backport

#7709 Skip test if helio is broken
  sunpy/net/helio/tests/test_helio.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7710 Fix cron jobs
  .github/workflows/ci.yml
  sunpy/tests/self_test.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Run cron CI, Run publish, Minor Change

#7713 Backport PR #7709 on branch 5.0 (Skip test if helio is broken)
  sunpy/net/helio/tests/test_helio.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7714 Backport PR #7709 on branch 5.1 (Skip test if helio is broken)
  sunpy/net/helio/tests/test_helio.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7682 Be more rigorous with how we handle dates in map
  changelog/7682.breaking.1.rst
  changelog/7682.breaking.2.rst
  changelog/7682.breaking.rst
  docs/whatsnew/6.0.rst
  sunpy/coordinates/wcs_utils.py
  sunpy/map/mapbase.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/solo.py
  sunpy/map/sources/tests/test_wispr_source.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Whats New?, No Backport

#7532 Allow setting spherical screen radius
  _typos.toml
  changelog/7115.deprecation.rst
  changelog/7115.feature.rst
  changelog/7532.feature.rst
  docs/nitpick-exceptions
  docs/whatsnew/6.0.rst
  examples/map_transformations/autoalign_aia_hmi.py
  examples/map_transformations/reprojection_align_aia_hmi.py
  examples/plotting/lasco_overlay.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/screens.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/map/mapbase.py
Labels: coordinates, No Backport

#7718 Update extern
  sunpy/extern/appdirs.py
  sunpy/extern/appdirs_license.txt
  sunpy/extern/distro.py
  sunpy/extern/distro_license.rst
  sunpy/extern/parse.py
Labels: No Changelog Entry Needed, Infrastructure, Minor Change

#7721 mailmap for 6.0
  .mailmap
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7723 Update external licenses
  licenses/ASTROPY.rst
  licenses/GLUE.rst
  licenses/SCIKIT-LEARN.rst
  licenses/TOWNCRIER.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change

#7720 attrs update
  sunpy/net/cdaweb/cdaweb.py
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/jsoc/data/attrs.json
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, No Backport, Minor Change

#7722 Release numbers
  .mailmap
  docs/whatsnew/6.0.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change

#7727 figure devdeps hash
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7733 Backport PR #7727 on branch 6.0 (figure devdeps hash)
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7730 Parse DN correctly in header helper
  changelog/7730.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: Bug, map, Merge When CI Passes, Minor Change, backport 6.0

#7737 replace usages of ``copy_arrays`` with ``memmap``
  sunpy/io/special/asdf/tests/test_genericmap.py
Labels: Tests, io, No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.0

#7738 Backport PR #7730 on branch 6.0 (Parse DN correctly in header helper)
  changelog/7730.bugfix.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: Bug, map, Merge When CI Passes, Minor Change, backport 6.0

#7739 Backport PR #7737 on branch 6.0 (replace usages of ``copy_arrays`` with ``memmap``)
  sunpy/io/special/asdf/tests/test_genericmap.py
Labels: Tests, io, No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.0

#7725 Reorder, cull and add more to the whatsnews
  docs/whatsnew/6.0.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7742 Backport PR #7725 on branch 6.0 (Reorder, cull and add more to the whatsnews)
  docs/whatsnew/6.0.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7740 Update to use minimum_dependencies
  .gitignore
  .test_package_pins.txt
  docs/whatsnew/6.0.rst
  pyproject.toml
  pytest.ini
  sunpy/io/special/asdf/tests/test_genericmap.py
  sunpy/map/tests/test_mapbase.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 6.0

#7743 Backport PR #7740 on branch 6.0 (Update to use minimum_dependencies)
  .gitignore
  docs/whatsnew/6.0.rst
  pyproject.toml
  pytest.ini
  sunpy/io/special/asdf/tests/test_genericmap.py
  sunpy/map/tests/test_mapbase.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 6.0

#7744 Make XRTMap have default units of DN
  changelog/7744.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: Bug, map, Merge When CI Passes, Minor Change, backport 6.0

#7745 Backport PR #7744 on branch 6.0 (Make XRTMap have default units of DN)
  changelog/7744.bugfix.rst
  sunpy/map/sources/hinode.py
  sunpy/map/sources/tests/test_xrt_source.py
Labels: Bug, map, Merge When CI Passes, Minor Change, backport 6.0

#7719 Update zenodo for 6.0
  .mailmap
  .zenodo.json
  docs/whatsnew/6.0.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7746 Backport PR #7719 on branch 6.0 (Update zenodo for 6.0)
  .mailmap
  .zenodo.json
  docs/whatsnew/6.0.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7747 v6.0.0 Changelog
  CHANGELOG.rst
  changelog/7730.bugfix.rst
  changelog/7744.bugfix.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change

#7749 Add 6.0 and remove 5.X cron jobs
  .github/workflows/scheduled_builds.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7753 added unit nitpick
  CHANGELOG.rst
  docs/conf.py
  docs/nitpick-exceptions
  docs/tutorial/acquiring_data/jsoc.rst
  sunpy/image/tests/test_transform.py
  sunpy/net/jsoc/jsoc.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 6.0

#7755 Backport PR #7753 on branch 6.0 (added unit nitpick)
  CHANGELOG.rst
  docs/conf.py
  docs/nitpick-exceptions
  docs/tutorial/acquiring_data/jsoc.rst
  sunpy/image/tests/test_transform.py
  sunpy/net/jsoc/jsoc.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 6.0

#7759 numpy dev returns values now from np.set_printoptions
  docs/topic_guide/coordinates/rotatedsunframe.rst
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, Minor Change, backport 6.0

#7764 Backport PR #7759 on branch 6.0 (numpy dev returns values now from np.set_printoptions)
  docs/topic_guide/coordinates/rotatedsunframe.rst
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, Minor Change, backport 6.0

#7762 some docs fixes (replacing old links with new one )
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/pr_checklist.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change
