Repository sunpy/sunpy, pull requests merged in 2024-03, with the labels that each got.

#7475 Remove plot_date due to upstream dep warning
  sunpy/timeseries/sources/goes.py
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7482 Backport PR #7476 on branch 5.1 (Remove packages that are already pre-installed)
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7481 Backport PR #7476 on branch 5.0 (Remove packages that are already pre-installed)
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7480 Backport PR #7475 on branch 5.1 (Remove plot_date due to upstream dep warning)
  sunpy/timeseries/sources/goes.py
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7479 Backport PR #7475 on branch 5.0 (Remove plot_date due to upstream dep warning)
  sunpy/timeseries/sources/goes.py
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7470 Remove vendored `obsgeo_to_frame` in favor of using Astropy
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: No Changelog Entry Needed

#7484 Move towncrier config back into pyproject
  pyproject.toml
  towncrier.toml
Labels: Infrastructure, Minor Change

#7488 Pin out pytest 8.1.1
  .test_package_pins.txt
Labels: No Changelog Entry Needed

#7483 Update base URL for EVEClient to new LASP URL
  .github/workflows/ci.yml
  changelog/7483.bugfix.rst
  changelog/7483.doc.rst
  pytest.ini
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/vso/vso.py
Labels: net, Run cron CI, backport 5.0, backport 5.1

#7492 Save a repeat access by using the walrus operator
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed

#7496 unpin pytest as pytest-doctestplus has had a bugfix
  .test_package_pins.txt
Labels: Needs Review, No Changelog Entry Needed, Infrastructure, Run cron CI, Minor Change

#7498 Fix a unit test for our `observer` frame attribute
  sunpy/coordinates/tests/test_frameattributes.py
Labels: Tests, coordinates, No Changelog Entry Needed, Run cron CI, Minor Change, backport 5.0, backport 5.1

#7499 Backport PR #7498 on branch 5.0 (Fix a unit test for our `observer` frame attribute)
  sunpy/coordinates/tests/test_frameattributes.py
Labels: Tests, coordinates, No Changelog Entry Needed, Run cron CI, Minor Change, backport 5.0, backport 5.1

#7500 Backport PR #7498 on branch 5.1 (Fix a unit test for our `observer` frame attribute)
  sunpy/coordinates/tests/test_frameattributes.py
Labels: Tests, coordinates, No Changelog Entry Needed, Run cron CI, Minor Change, backport 5.0, backport 5.1

#7281 adds feature: Enhance `draw_contours` to Support Filled Contours
  changelog/7281.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, Needs Review, No Backport

#7501 Disable multicore build for sphinx
  tox.ini
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7486 Flip jp2 data vertically before saving
  changelog/7486.bugfix.rst
  sunpy/io/_jp2.py
  sunpy/io/tests/test_jp2.py
Labels: io, backport 5.0, backport 5.1

#7503 Backport PR #7486 on branch 5.1 (Flip jp2 data vertically before saving)
  changelog/7486.bugfix.rst
  sunpy/io/_jp2.py
  sunpy/io/tests/test_jp2.py
Labels: io, backport 5.0, backport 5.1

#7370 Add Warning for rsun Mismatch in reproject_to() Method
  changelog/7370.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
Labels: map, backport 5.0, backport 5.1

#7467 Fix jsoc keyword not escaping a string for the query
  changelog/7467.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: net, Merge When CI Passes, backport 5.0, backport 5.1

#7504 Backport PR #7467 on branch 5.0 (Fix jsoc keyword not escaping a string for the query)
  changelog/7467.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: net, Merge When CI Passes, backport 5.0, backport 5.1

#7505 Backport PR #7467 on branch 5.1 (Fix jsoc keyword not escaping a string for the query)
  changelog/7467.bugfix.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: net, Merge When CI Passes, backport 5.0, backport 5.1

#7465 A more appropriate way to define moon_radius constants
  sunpy/coordinates/sun.py
Labels: coordinates, No Changelog Entry Needed, Merge When CI Passes, Minor Change

#7369 Warn user when importing submodule without the submodules dependencies
  changelog/7369.feature.rst
  sunpy/image/__init__.py
  sunpy/map/__init__.py
  sunpy/net/__init__.py
  sunpy/timeseries/__init__.py
  sunpy/util/sysinfo.py
  sunpy/visualization/__init__.py
Labels: Merge When CI Passes, util, backport 5.0, backport 5.1

#7376 fixes notes heading reappearing due to another notes section in sunpy docs
  changelog/7376.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/mlso.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/util.py
Labels: Documentation, map, Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7506 Backport PR #7369 on branch 5.0 (Warn user when importing submodule without the submodules dependencies)
  changelog/7369.feature.rst
  sunpy/image/__init__.py
  sunpy/map/__init__.py
  sunpy/net/__init__.py
  sunpy/timeseries/__init__.py
  sunpy/util/sysinfo.py
  sunpy/visualization/__init__.py
Labels: No Changelog Entry Needed

#7507 Backport PR #7369 on branch 5.1 (Warn user when importing submodule without the submodules dependencies)
  changelog/7369.feature.rst
  sunpy/image/__init__.py
  sunpy/map/__init__.py
  sunpy/net/__init__.py
  sunpy/timeseries/__init__.py
  sunpy/util/sysinfo.py
  sunpy/visualization/__init__.py
Labels: No Changelog Entry Needed

#7469 Pass in segments keyword to the DRMS to return the SUMS dirs
  changelog/7469.feature.rst
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: net, Merge When CI Passes, Minor Change

#7453 Fix filename sanitization for downloaded files (do not replace periods, do not change case, and do not leave Unicode characters decomposed)
  changelog/7453.bugfix.rst
  docs/tutorial/acquiring_data/index.rst
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/util/net.py
  sunpy/util/tests/test_net.py
Labels: util, backport 5.0, backport 5.1

#7511 Added whatsnew for the file sanitization
  docs/whatsnew/6.0.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change

#7512 Removed three uses of the small-angle approximation in `sunpy.map.maputils`
  changelog/7512.bugfix.rst
  sunpy/map/maputils.py
Labels: map, Minor Change, backport 5.0, backport 5.1

#7515 Backport PR #7512 on branch 5.0 (Removed three uses of the small-angle approximation in `sunpy.map.maputils`)
  changelog/7512.bugfix.rst
  sunpy/map/maputils.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7516 Backport PR #7512 on branch 5.1 (Removed three uses of the small-angle approximation in `sunpy.map.maputils`)
  changelog/7512.bugfix.rst
  sunpy/map/maputils.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7517 Backport PR #7497 on branch 5.0 (Use headless opencv in conda devenv)
  .github/workflows/ci.yml
  sunpy-dev-env.yml
Labels: No Changelog Entry Needed

#7518 Backport PR #7497 on branch 5.1 (Use headless opencv in conda devenv)
  .github/workflows/ci.yml
  sunpy-dev-env.yml
Labels: No Changelog Entry Needed

#7513 Backport PR #7501: Disable multicore build for sphinx
  tox.ini
Labels: No Changelog Entry Needed

#7514 Backport PR #7501: Disable multicore build for sphinx
  tox.ini
Labels: No Changelog Entry Needed

#7468 Deprecated response_format in vso search
  changelog/7468.deprecation.rst
  docs/tutorial/acquiring_data/hek.rst
  pytest.ini
  sunpy/net/fido_factory.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/vso/legacy_response.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
Labels: net, Merge When CI Passes, No Backport

#7522 Fixes naxis update issue
  changelog/7522.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 5.0, backport 5.1

#7524 Backport PR #7522 on branch 5.1 (Fixes naxis update issue)
  changelog/7522.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 5.0, backport 5.1

#7523 Backport PR #7522 on branch 5.0 (Fixes naxis update issue)
  changelog/7522.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 5.0, backport 5.1

#7435 Convert draw rectangle gallery example into a how-to guide
  CHANGELOG.rst
  changelog/7435.doc.rst
  docs/how_to/create_rectangle_on_map.rst
  docs/how_to/index.rst
  examples/plotting/plot_rectangle.py
Labels: Documentation, No Backport

#7527 Fix issues in #7369
  sunpy/tests/helpers.py
  sunpy/util/sysinfo.py
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport

#7529 Revert "Backport PR #7369 on branch 5.1 (Warn user when importing submodule without the submodules dependencies)"
  changelog/7369.feature.rst
  sunpy/image/__init__.py
  sunpy/map/__init__.py
  sunpy/net/__init__.py
  sunpy/timeseries/__init__.py
  sunpy/util/sysinfo.py
  sunpy/visualization/__init__.py
Labels: No Changelog Entry Needed

#7528 Revert "Backport PR #7369 on branch 5.0 (Warn user when importing submodule without the submodules dependencies)"
  changelog/7369.feature.rst
  sunpy/image/__init__.py
  sunpy/map/__init__.py
  sunpy/net/__init__.py
  sunpy/timeseries/__init__.py
  sunpy/util/sysinfo.py
  sunpy/visualization/__init__.py
Labels: No Changelog Entry Needed

#6736 Reverse file detection logic fall to to extension
  changelog/6736.feature.rst
  sunpy/io/_file_tools.py
  sunpy/io/tests/test_filetools.py
Labels: Needs Review, io, No Backport

#7530 Fixed an inaccuracy in the HME<->HEE transformation
  changelog/7530.bugfix.rst
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/tests/test_transformations.py
Labels: coordinates, Minor Change, backport 5.0, backport 5.1

#7533 Backport PR #7530 on branch 5.1 (Fixed an inaccuracy in the HME<->HEE transformation)
  changelog/7530.bugfix.rst
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/tests/test_transformations.py
Labels: coordinates, Minor Change, backport 5.0, backport 5.1

#7534 Backport PR #7530 on branch 5.0 (Fixed an inaccuracy in the HME<->HEE transformation)
  changelog/7530.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: coordinates, backport 5.0, backport 5.1

#7538 Update extending_fido.rst
  docs/topic_guide/extending_fido.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change
