Repository sunpy/sunpy, pull requests merged in 2024-04, with the labels that each got.

#7545 Fixed the GEI->HME transformation to preserve the length unit of the coordinate
  changelog/7545.bugfix.rst
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/tests/test_transformations.py
Labels: coordinates, Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7548 Backport PR #7545 on branch 5.1 (Fixed the GEI->HME transformation to preserve the length unit of the coordinate)
  changelog/7545.bugfix.rst
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/tests/test_transformations.py
Labels: coordinates, Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7549 Backport PR #7545 on branch 5.0 (Fixed the GEI->HME transformation to preserve the length unit of the coordinate)
  changelog/7545.bugfix.rst
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/transformations.py
Labels: coordinates, Minor Change, backport 5.0, backport 5.1

#7539 ignore all socket resouce warning
  pytest.ini
Labels: Tests, Needs Review, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7520 See if we use tmpdir instead of removing files
  sunpy/io/tests/test_filetools.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7552 [5.0] Backports
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  changelog/7370.feature.rst
  changelog/7376.bugfix.rst
  changelog/7483.bugfix.rst
  changelog/7483.doc.rst
  changelog/7486.bugfix.rst
  setup.cfg
  sunpy/coordinates/sun.py
  sunpy/database/tests/test_tables.py
  sunpy/io/_jp2.py
  sunpy/io/tests/test_filetools.py
  sunpy/io/tests/test_jp2.py
  sunpy/map/mapbase.py
  sunpy/map/sources/mlso.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_reproject_to.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/scraper.py
  sunpy/net/vso/vso.py
  sunpy/tests/figure_hashes_mpl_353_ft_261_astropy_511_animators_100.json
  sunpy/util/datatype_factory_base.py
  sunpy/util/util.py
Labels: No Changelog Entry Needed

#7553 [5.1] Backports
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  changelog/7370.feature.rst
  changelog/7483.bugfix.rst
  changelog/7483.doc.rst
  setup.cfg
  sunpy/coordinates/sun.py
  sunpy/database/tests/test_tables.py
  sunpy/io/tests/test_filetools.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/scraper.py
  sunpy/net/vso/vso.py
  sunpy/tests/figure_hashes_mpl_353_ft_261_astropy_511_animators_100.json
  sunpy/util/datatype_factory_base.py
Labels: No Changelog Entry Needed

#7551 Fixed an unnecessary division computation for an unsupported division by a Map
  changelog/7551.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Minor Change, backport 5.0, backport 5.1

#7557 Backport PR #7551 on branch 5.1 (Fixed an unnecessary division computation for an unsupported division by a Map)
  changelog/7551.trivial.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Minor Change, backport 5.0, backport 5.1

#7540 Add exception and warning for a.helio.MaxRecords
  changelog/7540.bugfix.rst
  sunpy/net/helio/attrs.py
  sunpy/net/helio/hec.py
  sunpy/net/helio/tests/test_helio.py
Labels: net, Merge When CI Passes, No Backport, Minor Change

#7541 [scraper branch] added some bit of error handling in the scraper
  sunpy/net/scraper.py
  sunpy/net/tests/test_scraper.py
Labels: net, No Changelog Entry Needed, Minor Change

#7562 update license year 2024
  LICENSE.rst
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7563 Backport PR #7562 on branch 5.0 (update license year 2024)
  LICENSE.rst
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7564 Backport PR #7562 on branch 5.1 (update license year 2024)
  LICENSE.rst
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7494 Updates Sunpy core with package template
  .coveragerc
  .cruft.json
  .github/workflows/ci.yml
  .github/workflows/sub_package_update.yml
  .gitignore
  .pre-commit-config.yaml
  .ruff.toml
  MANIFEST.in
  docs/Makefile
  docs/conf.py
  pyproject.toml
  pytest.ini
  sunpy/_dev/__init__.py
  sunpy/data/README.rst
  sunpy/tests/__init__.py
  tox.ini
Labels: No Changelog Entry Needed, No Backport, Run cron CI, Run publish

#7567 Update oldest deps to two year age limit
  changelog/7383.feature.rst
  docs/whatsnew/6.0.rst
  pyproject.toml
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7556 fix sunpy and numpy 2.0
  .github/workflows/ci.yml
  docs/tutorial/units.rst
  pyproject.toml
  pytest.ini
  sunpy/coordinates/tests/test_frames.py
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_gong_halpha_source.py
  sunpy/tests/helpers.py
  sunpy/time/tests/test_time.py
  sunpy/time/timeformats.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/util/decorators.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Run cron CI, Run publish, Minor Change, backport 5.0, backport 5.1

#7569 [5.0] numpy 2.0
  .github/workflows/ci.yml
  docs/tutorial/units.rst
  pyproject.toml
  setup.cfg
  sunpy/coordinates/tests/test_frames.py
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_353_ft_261_astropy_511_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/tests/helpers.py
  sunpy/time/tests/test_time.py
  sunpy/time/timeformats.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/util/decorators.py
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, Run cron CI, Run publish

#7570 [5.1] numpy 2.0
  .github/workflows/ci.yml
  docs/tutorial/units.rst
  pyproject.toml
  setup.cfg
  sunpy/coordinates/tests/test_frames.py
  sunpy/image/tests/test_transform.py
  sunpy/image/transform.py
  sunpy/map/mapbase.py
  sunpy/tests/figure_hashes_mpl_353_ft_261_astropy_511_animators_100.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/tests/helpers.py
  sunpy/time/tests/test_time.py
  sunpy/time/timeformats.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/util/decorators.py
  tox.ini
Labels: No Changelog Entry Needed, Run cron CI, Run publish

#7024 Add support for Map to load from a generator
  changelog/7024.feature.rst
  sunpy/map/tests/test_map_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/util/functools.py
  sunpy/util/tests/test_util.py
  sunpy/util/util.py
Labels: map, Merge When CI Passes, No Backport

#7574 Update dev figure hashes
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7576 Manual Template update
  .cruft.json
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  .ruff.toml
Labels: No Changelog Entry Needed, Infrastructure, No Backport

#7583 [map branch] `NDCube.__init__` accesses `.wcs` and chaos unfolds
  sunpy/map/mapbase.py
  sunpy/map/mixins/mapmeta.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/tests/test_rhessi_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Labels: No Changelog Entry Needed

#7581 [map branch] remove old p2w and w2p functions
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_eui_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_gong_synoptic_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/tests/test_rhessi_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_suvi_source.py
  sunpy/map/sources/tests/test_swap_source.py
  sunpy/map/sources/tests/test_sxt_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/tests/test_wispr_source.py
  sunpy/map/sources/tests/test_xrt_source.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_maputils.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: No Changelog Entry Needed

#7579 Manual cruft update
  .cruft.json
  pyproject.toml
  pytest.ini
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7589 [map branch] Install `ndcube` from GitHub
  pyproject.toml
Labels: No Changelog Entry Needed

#7587 [map branch] Unit test to verify arithmetic operations work after inheriting from NDCube
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Minor Change

#7588 [map branch] `.wcs` setter
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed

#7491 Gallery example showing LOS intersections with simulation box
  changelog/7491.doc.rst
  examples/units_and_coordinates/los_simulation_box_intersection.py
Labels: Examples, Minor Change

#7421 Make GenericMap.plot() arguments keyword only
  changelog/7421.deprecation.rst
  docs/whatsnew/6.0.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_reproject_to.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: map, Whats New?, No Backport, Minor Change

#6978 Add how-to example for manipulating grid lines in images.
  changelog/6978.doc.rst
  docs/how_to/index.rst
  docs/how_to/manipulate_grid_lines.rst
Labels: Documentation, No Backport, Minor Change

#7409 Moved ```sunpy.physics.differential_rotation.diff_rot``` to ```sunpy.sun.models.differential_rotation```
  changelog/7409.deprecation.rst
  examples/plotting/simple_differential_rotation.py
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/sun/models.py
  sunpy/sun/tests/test_models.py
Labels: physics, No Backport, Minor Change

#7253 Adding ability to pass `clip_interval` and `vmin/vmax` to MapSequence.plot()
  changelog/7253.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/maputils.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, No Backport, Minor Change

#7422 If data is of uint8, then set plot_settings and norm accordingly
  changelog/7422.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
Labels: map, No Backport, Minor Change

#6841 Updated JP2000 reader to get key comments and at least for the history, combine them into one result
  changelog/6841.feature.rst
  pyproject.toml
  sunpy/data/test/2022_04_01__00_00_45__SOLO-EUI-FSI_EUI_FSI_174.jp2
  sunpy/io/_jp2.py
  sunpy/io/tests/test_jp2.py
  sunpy/util/io.py
  sunpy/util/net.py
  sunpy/util/xml.py
Labels: io, No Backport, Minor Change

#7437 Adds a warn when using both assume_spherical_screen() and propagate_with_solar_surface() context managers with reproject_to()
  changelog/7437.bugfix.rst
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/frames.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: map, util, No Backport, Minor Change

#7427 Refine GenericMap.draw_contours() for User-Provided Transformations
  changelog/7427.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, No Backport, Minor Change

#7594 Enable use of SunPyBaseCoordinateFrame outside sunpy
  changelog/7594.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: coordinates, Minor Change, backport 5.0, backport 5.1

#7597 Backport PR #7594 on branch 5.0 (Enable use of SunPyBaseCoordinateFrame outside sunpy)
  changelog/7594.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: coordinates, Minor Change, backport 5.0, backport 5.1

#7598 Backport PR #7594 on branch 5.1 (Enable use of SunPyBaseCoordinateFrame outside sunpy)
  changelog/7594.bugfix.rst
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/wcs_utils.py
Labels: coordinates, Minor Change, backport 5.0, backport 5.1

#7595 [map branch] Merge in upstream/main
  .cruft.json
  CHANGELOG.rst
  changelog/6841.feature.rst
  changelog/6978.doc.rst
  changelog/7253.feature.rst
  changelog/7409.deprecation.rst
  changelog/7421.deprecation.rst
  changelog/7422.bugfix.rst
  changelog/7427.feature.rst
  changelog/7437.bugfix.rst
  changelog/7491.doc.rst
  docs/conf.py
  docs/how_to/index.rst
  docs/how_to/manipulate_grid_lines.rst
  docs/nitpick-exceptions
  docs/reference/map.rst
  docs/whatsnew/6.0.rst
  examples/plotting/simple_differential_rotation.py
  examples/units_and_coordinates/los_simulation_box_intersection.py
  pyproject.toml
  pytest.ini
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/data/test/2022_04_01__00_00_45__SOLO-EUI-FSI_EUI_FSI_174.jp2
  sunpy/io/_jp2.py
  sunpy/io/tests/test_jp2.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/maputils.py
  sunpy/map/mixins/__init__.py
  sunpy/map/mixins/mapmeta.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/map/tests/test_plotting.py
  sunpy/map/tests/test_reproject_to.py
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/sun/models.py
  sunpy/sun/tests/test_models.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/util/decorators.py
  sunpy/util/io.py
  sunpy/util/net.py
  sunpy/util/tests/test_decorators.py
  sunpy/util/xml.py
Labels: No Changelog Entry Needed

#7601 fix failing windows tests
  sunpy/net/scraper.py
  sunpy/net/tests/test_scraper.py
Labels: No Changelog Entry Needed

#7599 [map branch] Add initial support for unwrapping rebin
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed
