Repository sunpy/sunpy, pull requests merged in 2024-06, with the labels that each got.

#7656 Added extra HMI TAI JSOC format with micro(or milli???) seconds
  changelog/7656.feature.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: time, No Backport, Minor Change

#7663 Update SunPy with the newest template values
  .cruft.json
  .github/workflows/sub_package_update.yml
Labels: No Changelog Entry Needed, Minor Change

#7665 resample hmi jp2 file
  sunpy/data/test/2023_01_31__03_39_23_200__SDO_HMI_HMI_continuum.jp2
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: Tests, No Changelog Entry Needed, No Backport, Minor Change

#7670 Backport PR #7662 on branch 5.1 (Update ANA for GCC 14)
  changelog/7662.bugfix.rst
  sunpy/io/src/ana/_pyana.c
Labels: Minor Change, backport 5.0, backport 5.1

#7669 Backport PR #7662 on branch 5.0 (Update ANA for GCC 14)
  changelog/7662.bugfix.rst
  sunpy/io/src/ana/_pyana.c
Labels: Minor Change, backport 5.0, backport 5.1

#7463 ADAPT Client
  .gitignore
  changelog/7463.feature.rst
  docs/reference/net.rst
  docs/topic_guide/extending_fido.rst
  docs/tutorial/acquiring_data/index.rst
  docs/whatsnew/6.0.rst
  sunpy/net/attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/attrs/__init__.py
  sunpy/net/dataretriever/attrs/adapt.py
  sunpy/net/dataretriever/sources/adapt.py
  sunpy/net/dataretriever/sources/tests/test_adapt.py
Labels: net, Whats New?, No Backport

#7642 Deprecate ANA reader/writer functions
  changelog/7642.breaking.rst
  sunpy/io/ana.py
  sunpy/io/tests/test_ana.py
  sunpy/io/tests/test_filetools.py
Labels: io

#7526 fixes the `solar_rotate_coordinate()`
  changelog/7526.bugfix.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: physics, No Backport, Minor Change

#7671 Results from hek changed
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek2vso/hek2vso.py
Labels: Tests, No Changelog Entry Needed, Merge When CI Passes, No Backport, Minor Change

#7585 Allow DN as a unit on `GenericMap`
  changelog/7585.feature.rst
  examples/map/map_contouring.py
  sunpy/io/special/asdf/resources/schemas/generic_map-1.0.0.yaml
  sunpy/io/special/asdf/resources/schemas/generic_map-1.1.0.yaml
  sunpy/io/special/asdf/tests/helpers.py
  sunpy/io/special/asdf/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tests/test_genericmap.py
  sunpy/map/mapbase.py
  sunpy/map/sources/tests/test_eui_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_wispr_source.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, No Backport

#7536 Redo extra groups and all and add core
  .github/workflows/ci.yml
  changelog/7536.breaking.1.rst
  changelog/7536.breaking.2.rst
  changelog/7536.breaking.rst
  changelog/7536.feature.rst
  docs/dev_guide/contents/dependencies.rst
  docs/whatsnew/6.0.rst
  pyproject.toml
  sunpy/tests/self_test.py
  sunpy/util/tests/test_sysinfo.py
  tox.ini
Labels: Merge When CI Passes, Infrastructure, Whats New?, No Backport, Run cron CI

#7640 Add Adapt Map
  changelog/7640.feature.rst
  docs/whatsnew/6.0.rst
  sunpy/data/test/adapt.header
  sunpy/map/sources/__init__.py
  sunpy/map/sources/adapt.py
  sunpy/map/sources/tests/test_adapt.py
Labels: map, Merge When CI Passes, No Backport

#7666 New title and description for zenodo
  .zenodo.json
Labels: No Changelog Entry Needed, No Backport, Minor Change

#7681 TST: fix incorrect upper bound on numpy for oldestdeps tox env
  tox.ini
Labels: No Changelog Entry Needed

#7683 Migrate to the new cli arg factor format for tox
  tox.ini
Labels: Infrastructure, backport 5.0, backport 5.1

#7686 ASDF schema update: minor change
  sunpy/io/special/asdf/resources/schemas/generic_map-1.0.0.yaml
  sunpy/io/special/asdf/resources/schemas/generic_map-1.1.0.yaml
  sunpy/io/special/asdf/resources/schemas/generic_map-1.2.0.yaml
Labels: No Changelog Entry Needed, backport 5.0, backport 5.1

#7687 Backport PR #7686 on branch 5.1 (ASDF schema update: minor change)
  sunpy/io/special/asdf/resources/schemas/generic_map-1.0.0.yaml
  sunpy/io/special/asdf/resources/schemas/generic_map-1.1.0.yaml
  sunpy/io/special/asdf/resources/schemas/generic_map-1.2.0.yaml
Labels: No Changelog Entry Needed, backport 5.1
