Repository sunpy/sunpy, pull requests merged in 2024-08, with the labels that each got.

#7765 add whatsnew for 6.1
  docs/whatsnew/6.1.rst
  docs/whatsnew/index.rst
Labels: Documentation, No Changelog Entry Needed, No Backport, Minor Change

#7752 The RotatedSunFrame class now accepts an astropy.time.TimeDelta object for the duration parameter.
  changelog/7752.feature.rst
  sunpy/coordinates/metaframes.py
  sunpy/coordinates/tests/test_metaframes.py
Labels: coordinates, No Backport

#7748 Move private api page to main section of our docs
  docs/dev_guide/index.rst
  docs/reference/index.rst
  docs/reference/internal_api.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change

#7717 Update simple_map and add figure test for it
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_mapbase.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: Tests, map, No Changelog Entry Needed, No Backport, Minor Change

#7767 CI config from 6.0
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7770 Backport PR #7768 on branch 6.0 (Ignore dep warning from asdf?)
  pytest.ini
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, backport 6.0

#7758 Update reference_date for AIA Map and Gong
  _typos.toml
  changelog/7758.bugfix.1.rst
  changelog/7758.bugfix.2.rst
  changelog/7758.bugfix.rst
  docs/topic_guide/coordinates/wcs.rst
  docs/tutorial/coordinates.rst
  docs/tutorial/maps.rst
  sunpy/data/test/hmi_bharp_vlos_mag.header
  sunpy/data/test/hmi_cea_sharp_magnetogram.header
  sunpy/data/test/hmi_sharp_magnetogram.header
  sunpy/map/mapbase.py
  sunpy/map/sources/adapt.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/helpers.py
  sunpy/map/sources/tests/test_adapt_source.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_eui_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_gong_halpha_source.py
  sunpy/map/sources/tests/test_gong_synoptic_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/tests/test_rhessi_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_suvi_source.py
  sunpy/map/sources/tests/test_swap_source.py
  sunpy/map/sources/tests/test_sxt_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/tests/test_wispr_source.py
  sunpy/map/sources/tests/test_xrt_source.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/physics/differential_rotation.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, backport 6.0

#7775 [6.0] Merge pull request #7758 from nabobalis/aia_date
  _typos.toml
  changelog/7758.bugfix.1.rst
  changelog/7758.bugfix.2.rst
  changelog/7758.bugfix.rst
  docs/topic_guide/coordinates/wcs.rst
  docs/tutorial/coordinates.rst
  docs/tutorial/maps.rst
  sunpy/data/test/hmi_bharp_vlos_mag.header
  sunpy/data/test/hmi_cea_sharp_magnetogram.header
  sunpy/data/test/hmi_sharp_magnetogram.header
  sunpy/map/mapbase.py
  sunpy/map/sources/adapt.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/helpers.py
  sunpy/map/sources/tests/test_adapt_source.py
  sunpy/map/sources/tests/test_aia_source.py
  sunpy/map/sources/tests/test_cor_source.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_eui_source.py
  sunpy/map/sources/tests/test_euvi_source.py
  sunpy/map/sources/tests/test_gong_halpha_source.py
  sunpy/map/sources/tests/test_gong_synoptic_source.py
  sunpy/map/sources/tests/test_hi_source.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/map/sources/tests/test_hmi_synoptic_source.py
  sunpy/map/sources/tests/test_iris_source.py
  sunpy/map/sources/tests/test_kcor_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_mdi_source.py
  sunpy/map/sources/tests/test_rhessi_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_suvi_source.py
  sunpy/map/sources/tests/test_swap_source.py
  sunpy/map/sources/tests/test_sxt_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/tests/test_wispr_source.py
  sunpy/map/sources/tests/test_xrt_source.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/physics/differential_rotation.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: No Changelog Entry Needed

#7769 Adds a how to guide to create coordinate object with custom observer
  changelog/7769.doc.rst
  docs/how_to/index.rst
  docs/how_to/observer_by_coordinate.rst
Labels: Documentation, coordinates, Minor Change

#7766 Add linkcheck to tox + CI + fix urls
  .github/workflows/ci.yml
  CHANGELOG.rst
  changelog/7766.doc.rst
  docs/conf.py
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/units_quantities.rst
  docs/dev_guide/index.rst
  docs/reference/customization.rst
  docs/tutorial/maps.rst
  examples/map/compare_rotation_results.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/spice.py
  sunpy/coordinates/utils.py
  sunpy/image/resample.py
  sunpy/map/mapbase.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/hinode.py
  sunpy/map/sources/solo.py
  sunpy/map/sources/stereo.py
  sunpy/net/cdaweb/helpers.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/jsoc/jsoc.py
  tox.ini
Labels: Documentation, Run cron CI, backport 6.0

#7777 Backport PR #7766 on branch 6.0 (Add linkcheck to tox + CI + fix urls)
  .github/workflows/ci.yml
  CHANGELOG.rst
  changelog/7766.doc.rst
  docs/conf.py
  docs/dev_guide/contents/maintainer_workflow.rst
  docs/dev_guide/contents/newcomers.rst
  docs/dev_guide/contents/pr_checklist.rst
  docs/dev_guide/contents/units_quantities.rst
  docs/dev_guide/index.rst
  docs/reference/customization.rst
  docs/tutorial/maps.rst
  examples/map/compare_rotation_results.py
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
  examples/units_and_coordinates/spice.py
  sunpy/coordinates/utils.py
  sunpy/image/resample.py
  sunpy/map/mapbase.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/hinode.py
  sunpy/map/sources/solo.py
  sunpy/map/sources/stereo.py
  sunpy/net/cdaweb/helpers.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/jsoc/jsoc.py
  tox.ini
Labels: Documentation, Run cron CI, backport 6.0

#7778 Add link to why not use anaconda in install page
  docs/tutorial/installation.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7779 Backport PR #7778 on branch 6.0 (Add link to why not use anaconda in install page)
  docs/tutorial/installation.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7782 Fix the CI
  docs/tutorial/maps.rst
  sunpy/net/cdaweb/helpers.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/tests/helpers.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: Tests, No Changelog Entry Needed, Run cron CI, Run publish, Minor Change, backport 6.0

#7785 Backport PR #7782 on branch 6.0 (Fix the CI)
  docs/tutorial/maps.rst
  sunpy/net/cdaweb/helpers.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/tests/helpers.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/tests/test_timeseries_factory.py
Labels: Tests, No Changelog Entry Needed, Run cron CI, Run publish, Minor Change, backport 6.0

#7788 Bugfix _file_tools._read
  changelog/7788.bugfix.rst
  sunpy/io/_file_tools.py
  sunpy/io/tests/test_filetools.py
Labels: io, Minor Change, backport 6.0

#7789 Backport PR #7788 on branch 6.0 (Bugfix _file_tools._read)
  changelog/7788.bugfix.rst
  sunpy/io/_file_tools.py
  sunpy/io/tests/test_filetools.py
Labels: io, Minor Change, backport 6.0
