Repository sunpy/sunpy, pull requests merged in 2024-12, with the labels that each got.

#7894 Backport PR #7892 on branch 6.0 (Fix cache configuration for tests against astropy 7)
  docs/tutorial/units.rst
  pytest.ini
  sunpy/conftest.py
  sunpy/time/timerange.py
  sunpy/visualization/colormaps/color_tables.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 6.0

#7890 Add fallback if lasco has a 0 bunit in the jp2
  changelog/7890.bugfix.rst
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_lasco_source.py
Labels: map, Source Metadata, Minor Change, backport 6.0

#7901 Backport PR #7890 on branch 6.0 (Add fallback if lasco has a 0 bunit in the jp2)
  changelog/7890.bugfix.rst
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_lasco_source.py
Labels: map, Source Metadata, Minor Change, backport 6.0

#7790 URI handling in Map and Timeseries Factories
  changelog/7790.feature.rst
  docs/whatsnew/6.1.rst
  pyproject.toml
  pytest.ini
  sunpy-dev-env.yml
  sunpy/io/_cdf.py
  sunpy/io/_file_tools.py
  sunpy/io/tests/test_filetools.py
  sunpy/map/map_factory.py
  sunpy/map/tests/test_map_factory.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/util/io.py
  tox.ini
Labels: map, io, timeseries, Whats New?, No Backport, Run cron CI

#7827 Cleanup `MapSequence`
  changelog/7827.deprecation.rst
  docs/tutorial/maps.rst
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_mapsequence.py
  sunpy/net/jsoc/tests/test_jsoc.py
Labels: map, Merge When CI Passes, No Backport

#7905 Updates from package template
  .cruft.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7902 updated rhessi.py(Summary lightcurves docstring)
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation

#7906 Backport PR #7902 on branch 6.0 (updated rhessi.py(Summary lightcurves docstring))
  sunpy/timeseries/sources/rhessi.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation

#7909 [6.0] Backports
  .cruft.json
  .github/workflows/ci.yml
  .github/workflows/sub_package_update.yml
  .gitignore
  .pre-commit-config.yaml
  .ruff.toml
  CHANGELOG.rst
  changelog/7854.bugfix.rst
  changelog/7890.bugfix.rst
  docs/conf.py
  docs/how_to/create_a_map.rst
  docs/how_to/fix_map_metadata.rst
  docs/how_to/read_asdf_file.rst
  docs/how_to/search_multiple_wavelengths.rst
  docs/how_to/search_vso.rst
  docs/topic_guide/coordinates/wcs.rst
  docs/tutorial/acquiring_data/index.rst
  docs/tutorial/acquiring_data/jsoc.rst
  docs/tutorial/coordinates.rst
  docs/tutorial/maps.rst
  examples/acquiring_data/skip_downloading_cutouts.py
  examples/acquiring_data/skip_fido_metadata_queries.py
  examples/acquiring_data/skip_querying_and_loading_SHARP_data.py
  examples/plotting/skip_hmi_synoptic_maps.py
  examples/plotting/skip_limb_plotting.py
  pyproject.toml
  pytest.ini
  sunpy/_dev/scm_version.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/utils.py
  sunpy/map/compositemap.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/tests/test_norh.py
  sunpy/net/fido_factory.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/jsoc/jsoc.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/net/vso/vso.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/tests/helpers.py
  sunpy/util/tests/test_util.py
  sunpy/visualization/colormaps/tests/test_cm.py
  sunpy/visualization/drawing.py
  tools/hek_mkcls.py
Labels: No Changelog Entry Needed

#7913 Update doctests for numpy 2.2
  docs/how_to/read_asdf_file.rst
  docs/tutorial/acquiring_data/hek.rst
  docs/tutorial/maps.rst
  sunpy/map/mapbase.py
Labels: Tests, No Changelog Entry Needed, Run cron CI, Run publish, Minor Change, backport 6.0

#7911 Adds support for the timestamp %Y%m%d%H%M
  changelog/7991.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: time, Minor Change, backport 6.0

#7915 Backport PR #7911 on branch 6.0 (Adds support for the timestamp %Y%m%d%H%M)
  changelog/7991.bugfix.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: time, Minor Change, backport 6.0

#7924 Rename `get_contours` to `find_contours`
  changelog/7760.deprecation.rst
  changelog/7760.feature.rst
  examples/map/map_contouring.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Changelog Entry Needed, Merge When CI Passes

#7920 bug fix for suviclient unit conversion
  changelog/7920.bugfix.rst
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
Labels: net, Minor Change, backport 6.0

#7925 Backport PR #7920 on branch 6.0 (bug fix for suviclient unit conversion)
  changelog/7920.bugfix.rst
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
Labels: net, Minor Change, backport 6.0

#7917 Handling FILLVAL_ATTRIBUTES Missing
  changelog/7917.bugfix.rst
  sunpy/io/_cdf.py
  sunpy/io/tests/test_cdf.py
Labels: Minor Change, backport 6.0

#7929 Backport PR #7917 on branch 6.0 (Handling FILLVAL_ATTRIBUTES Missing)
  changelog/7917.bugfix.rst
  sunpy/io/_cdf.py
  sunpy/io/tests/test_cdf.py
Labels: Minor Change, backport 6.0

#7934 Backport PR #7933 on branch 6.0 (Updates from the package template)
  .cruft.json
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, backport 6.0

#7803 Support for Helioprojective Radial
  changelog/7803.feature.1.rst
  changelog/7803.feature.2.rst
  changelog/7803.feature.3.rst
  docs/reference/coordinates/index.rst
  docs/whatsnew/6.1.rst
  examples/map_transformations/reprojection_helioprojective_radial.py
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_transformations.py
  sunpy/coordinates/wcs_utils.py
  sunpy/io/special/asdf/converters/frames.py
  sunpy/io/special/asdf/entry_points.py
  sunpy/io/special/asdf/resources/manifests/sunpy-1.1.2.yaml
  sunpy/io/special/asdf/resources/manifests/sunpy-1.2.1.yaml
  sunpy/io/special/asdf/resources/schemas/helioprojectiveradial-1.0.0.yaml
  sunpy/io/special/asdf/resources/schemas/helioprojectiveradial-1.1.0.yaml
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/visualization/tests/test_visualization.py
  sunpy/visualization/visualization.py
Labels: coordinates, Whats New?

#7939 Updates from package template
  .cruft.json
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7941 Backport PR #7939 on branch 6.0 (Updates from package template)
  .cruft.json
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7942 Renable full test-suite
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, Run publish, Minor Change, backport 6.0

#7944 Backport PR #7942 on branch 6.0 (Renable full test-suite)
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, Run publish, Minor Change, backport 6.0

#7937 Optimizing test_goes_suvi.py
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
Labels: Tests, net, No Changelog Entry Needed, Minor Change, backport 6.0

#7945 Backport PR #7937 on branch 6.0 (Optimizing test_goes_suvi.py)
  sunpy/net/dataretriever/sources/tests/test_goes_suvi.py
Labels: Tests, net, No Changelog Entry Needed, Minor Change, backport 6.0

#7956 Backport PR #7954 on branch 6.0 (Updates from the package template)
  .cruft.json
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, backport 6.0
