Repository sunpy/sunpy, pull requests merged in 2024-05, with the labels that each got.

#7618 Fix CI a bit more
  docs/tutorial/acquiring_data/index.rst
  docs/tutorial/acquiring_data/jsoc.rst
  pytest.ini
  sunpy/map/tests/test_mapbase_dask.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
Labels: Tests, No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7621 [5.0] CI + Release prep for 5.0.5
  CHANGELOG.rst
  changelog/7370.feature.rst
  changelog/7376.bugfix.rst
  changelog/7483.bugfix.rst
  changelog/7483.doc.rst
  changelog/7486.bugfix.rst
  changelog/7551.trivial.rst
  changelog/7594.bugfix.rst
  docs/tutorial/acquiring_data/index.rst
  docs/tutorial/acquiring_data/jsoc.rst
  sunpy/image/tests/test_transform.py
  sunpy/io/special/asdf/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tests/test_genericmap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/util/tests/test_functools.py
Labels: No Changelog Entry Needed

#7620 [5.1] CI + Release prep for 5.1.3
  CHANGELOG.rst
  changelog/7370.feature.rst
  changelog/7483.bugfix.rst
  changelog/7483.doc.rst
  changelog/7551.trivial.rst
  changelog/7594.bugfix.rst
  docs/tutorial/acquiring_data/index.rst
  docs/tutorial/acquiring_data/jsoc.rst
  sunpy/image/tests/test_transform.py
  sunpy/io/special/asdf/tests/test_coordinate_frames.py
  sunpy/io/special/asdf/tests/test_genericmap.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase_dask.py
  sunpy/net/base_client.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/util/tests/test_functools.py
Labels: No Changelog Entry Needed, Run cron CI, Run publish

#7561 Clean up util imports
  sunpy/util/decorators.py
Labels: No Changelog Entry Needed, util, Minor Change

#7627 Fix bug when converting results from the HEKClient
  changelog/7627.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
Labels: Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7611 Updated deprecated to use astropy underneath as we can pass in the wa…
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport, Minor Change

#7629 Backport PR #7627 on branch 5.0 (Fix bug when converting results from the HEKClient )
  changelog/7627.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
Labels: Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7630 Backport PR #7627 on branch 5.1 (Fix bug when converting results from the HEKClient )
  changelog/7627.bugfix.rst
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
Labels: Merge When CI Passes, Minor Change, backport 5.0, backport 5.1

#7628 new spelling
  .codespellrc
  .pre-commit-config.yaml
  CHANGELOG.rst
  _typos.toml
  docs/dev_guide/contents/newcomers.rst
  docs/reference/stability.rst
  docs/whatsnew/4.1.rst
  docs/whatsnew/5.0.rst
  examples/time_series/goes_xrs_example.py
  sunpy/conftest.py
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/io/tests/test_filetools.py
  sunpy/map/map_factory.py
  sunpy/net/attr.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_rhessi.py
  sunpy/net/vso/tests/test_attrs.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/util/tests/test_logger.py
  sunpy/visualization/animator/mapsequenceanimator.py
Labels: No Changelog Entry Needed, Infrastructure, No Backport

#7633 Fix failing link breaking our doc build
  CHANGELOG.rst
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 5.0, backport 5.1

#7634 Backport PR #7633 on branch 5.0 (Fix failing link breaking our doc build)
  CHANGELOG.rst
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 5.0, backport 5.1

#7635 Backport PR #7633 on branch 5.1 (Fix failing link breaking our doc build)
  CHANGELOG.rst
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Minor Change, backport 5.0, backport 5.1

#7537 Tidy up of the io doc strings and API page. Deprecate toplevel io namespace.
  CHANGELOG.rst
  changelog/6736.feature.rst
  changelog/7537.breaking.rst
  docs/dev_guide/contents/internal_api.rst
  docs/dev_guide/index.rst
  docs/how_to/index.rst
  docs/how_to/read_asdf_file.rst
  docs/reference/io.rst
  sunpy/io/__init__.py
  sunpy/io/_file_tools.py
  sunpy/io/_fits.py
  sunpy/io/_header.py
  sunpy/io/_jp2.py
  sunpy/io/ana.py
  sunpy/io/setup_package.py
  sunpy/io/special/asdf/entry_points.py
  sunpy/io/tests/test_filetools.py
  sunpy/io/tests/test_jp2.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/conftest.py
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/rhessi.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/visualization/tests/test_drawing.py
Labels: Documentation, Merge When CI Passes, No Backport

#7622 Fix devdeps fails
  sunpy/image/tests/test_transform.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase_dask.py
Labels: Tests, No Changelog Entry Needed, No Backport, Run cron CI, Minor Change

#7644 Update sphinx gallery config to be valid now under new sphinx versions
  docs/conf.py
Labels: No Changelog Entry Needed, Infrastructure, Still Needs Manual Backport, backport 5.0, backport 5.1

#7652 Bugfix GONG Ha run_obs property
  changelog/7652.bugfix.rst
  sunpy/map/sources/gong.py
  sunpy/map/sources/tests/test_gong_halpha_source.py
Labels: No Backport, Minor Change
