Repository sunpy/sunpy, pull requests merged in 2024-09, with the labels that each got.

#7756 Moved example from sunkit-magex about adapt maps
  changelog/7756.doc.rst
  examples/saving_and_loading_data/load_adapt_fits_into_map.py
Labels: Documentation, Examples, No Backport, Minor Change

#7792 devdeps and linkcheck tweaks
  docs/tutorial/units.rst
  sunpy/io/special/genx.py
Labels: No Changelog Entry Needed, Run cron CI, Minor Change, backport 6.0

#7793 Backport PR #7792 on branch 6.0 (devdeps and linkcheck tweaks)
  docs/tutorial/units.rst
  sunpy/io/special/genx.py
Labels: No Changelog Entry Needed, Run cron CI, Minor Change, backport 6.0

#7227 merge baseurl and pattern for scraper clients (#7077)
  changelog/7077.breaking.rst
  docs/reference/net.rst
  docs/topic_guide/extending_fido.rst
  docs/topic_guide/index.rst
  docs/topic_guide/scraper_migration.rst
  docs/whatsnew/5.0.rst
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/adapt.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/fermi_gbm.py
  sunpy/net/dataretriever/sources/goes.py
  sunpy/net/dataretriever/sources/gong.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/noaa.py
  sunpy/net/dataretriever/sources/norh.py
  sunpy/net/scraper.py
  sunpy/net/scraper_utils.py
  sunpy/net/tests/test_scraper.py
  sunpy/net/tests/test_scraper_utils.py
  sunpy/util/decorators.py
Labels: net, Merge When CI Passes, Whats New?

#7797 Updates from package template
  .cruft.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  .rtd-environment.yml
  pyproject.toml
Labels: No Changelog Entry Needed

#7796 Update our dep policy to SPEC 0
  changelog/7796.breaking.rst
  docs/dev_guide/contents/dependencies.rst
Labels: Documentation, No Backport

#7712 Added method to save a map to asdf file using .save
  changelog/7712.feature.rst
  docs/how_to/read_asdf_file.rst
  examples/saving_and_loading_data/genericmap_in_asdf.py
  sunpy/io/_file_tools.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Merge When CI Passes, No Backport, io/ASDF

#7798 Fixed bug loading in sunkit_magex.pfss.map.ADAPTMap
  changelog/7798.bugfix.rst
  sunpy/map/mapbase.py
Labels: Minor Change, backport 6.0

#7799 Backport PR #7798 on branch 6.0 (Fixed bug loading in sunkit_magex.pfss.map.ADAPTMap)
  changelog/7798.bugfix.rst
  sunpy/map/mapbase.py
Labels: Minor Change, backport 6.0

#7800 Reworked the blending gallery example so that mplcairo is not used
  CHANGELOG.rst
  changelog/7800.doc.rst
  changelog/7800.trivial.rst
  examples/plotting/mplcairo_plotting.py
  examples/plotting/screen_blend_mode.py
  pyproject.toml
  sunpy-dev-env.yml
Labels: Examples

#7801 Updates from package template
  .cruft.json
  .github/workflows/ci.yml
  .github/workflows/sub_package_update.yml
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, Merge When CI Passes, Run publish, Minor Change

#7760 Adds `get_contours` and supports "method" key word a keyword argument to select between `contourpy` and `scikit-image`
  changelog/7760.deprecation.rst
  changelog/7760.feature.rst
  docs/conf.py
  examples/map/map_contouring.py
  pyproject.toml
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Backport

#7805 [6.0] backport all template changes
  .cruft.json
  .github/workflows/ci.yml
  .github/workflows/sub_package_update.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  .rtd-environment.yml
  pyproject.toml
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change

#7807 Add backport 6.0 label to automated PRs.
  .github/workflows/sub_package_update.yml
Labels: No Changelog Entry Needed, No Backport, Minor Change

#7810 Fix map sources to always fall back to default values for `date` and `reference_date`
  changelog/7810.bugfix.rst
  sunpy/map/sources/adapt.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_aia_source.py
Labels: map, Minor Change, backport 6.0

#7814 Fixed bug with tilted and offset planar screen
  changelog/7814.bugfix.rst
  sunpy/coordinates/screens.py
  sunpy/coordinates/tests/test_frames.py
Labels: coordinates, Minor Change, backport 6.0

#7815 Backport PR #7814 on branch 6.0 (Fixed bug with tilted and offset planar screen)
  changelog/7814.bugfix.rst
  sunpy/coordinates/screens.py
  sunpy/coordinates/tests/test_frames.py
Labels: coordinates, Minor Change, backport 6.0

#7818 [6.0] Backports Updates from the package template (#7816)
  .cruft.json
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
Labels: No Changelog Entry Needed
