Repository sunpy/sunpy, pull requests merged in 2024-01, with the labels that each got.

#7348 Added an example of plotting a rectangle on a map with a rotation angle relative to the axes
  changelog/7348.feature.rst
  examples/plotting/plot_rotated_rectangle.py
Labels: Documentation, Examples, backport 5.0, backport 5.1

#7357 Backport PR #7348 on branch 5.0 (Added an example of plotting a rectangle on a map with a rotation angle relative to the axes)
  changelog/7348.feature.rst
  examples/plotting/plot_rotated_rectangle.py
Labels: Documentation, Examples, backport 5.0, backport 5.1

#7358 Backport PR #7348 on branch 5.1 (Added an example of plotting a rectangle on a map with a rotation angle relative to the axes)
  changelog/7348.feature.rst
  examples/plotting/plot_rotated_rectangle.py
Labels: Documentation, Examples, backport 5.0, backport 5.1

#7339 Removed positional argument support for reproject_to
  changelog/7339.breaking.rst
  docs/whatsnew/6.0.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
Labels: map, Whats New?, No Backport

#7356 Bail out of a unit test for `Helioprojective.is_visible()` if it won't be a meaningful test of tolerance
  changelog/7356.trivial.rst
  sunpy/coordinates/tests/test_frames.py
Labels: Tests, coordinates, Minor Change, backport 5.1

#7359 Backport PR #7356 on branch 5.1 (Bail out of a unit test for `Helioprojective.is_visible()` if it won't be a meaningful test of tolerance)
  changelog/7356.trivial.rst
  sunpy/coordinates/tests/test_frames.py
Labels: Tests, coordinates, Minor Change, backport 5.1

#7350 The 'delim_whitespace' keyword in pd.read_csv is deprecated
  changelog/7350.trivial.rst
  sunpy/timeseries/sources/eve.py
Labels: timeseries, Run cron CI, backport 5.0, backport 5.1

#7360 Backport PR #7350 on branch 5.0 (The 'delim_whitespace' keyword in pd.read_csv is deprecated)
  changelog/7350.trivial.rst
  sunpy/timeseries/sources/eve.py
Labels: timeseries, Run cron CI, backport 5.0, backport 5.1

#7361 Backport PR #7350 on branch 5.1 (The 'delim_whitespace' keyword in pd.read_csv is deprecated)
  changelog/7350.trivial.rst
  sunpy/timeseries/sources/eve.py
Labels: timeseries, Run cron CI, backport 5.0, backport 5.1

#7338 Removed HelioviewerClient
  CHANGELOG.rst
  changelog/7338.removal.rst
  docs/reference/net.rst
  docs/topic_guide/helioviewer.rst
  docs/topic_guide/index.rst
  docs/whatsnew/6.0.rst
  sunpy/net/helioviewer.py
  sunpy/net/tests/test_helioviewer.py
Labels: net, Whats New?, No Backport, Minor Change

#7337 Removed meta_keywords
  CHANGELOG.rst
  changelog/7337.removal.rst
  docs/how_to/create_custom_map.rst
  docs/reference/map.rst
  sunpy/map/header_helper.py
  sunpy/map/tests/test_header_helper.py
Labels: map, No Backport

#7342 Double check a non-empty but not None value was provided to jsoc notify
  changelog/7342.trivial.rst
  sunpy/net/jsoc/attrs.py
  sunpy/net/jsoc/tests/test_attr.py
Labels: net, No Backport

#7340 Removed positional argument support for timeseries peek
  changelog/7340.breaking.rst
  docs/whatsnew/6.0.rst
  sunpy/timeseries/sources/eve.py
  sunpy/timeseries/sources/fermi_gbm.py
  sunpy/timeseries/sources/lyra.py
  sunpy/timeseries/sources/noaa.py
  sunpy/timeseries/sources/norh.py
  sunpy/timeseries/sources/tests/test_eve.py
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries, Whats New?, No Backport, Minor Change

#7325 Address review comments from the pyopensci reviewers
  .github/workflows/ci.yml
  README.rst
  docs/citation.rst
  docs/dev_guide/contents/tests.rst
  docs/index.rst
  docs/topic_guide/installation.rst
  docs/tutorial/installation.rst
  pyproject.toml
  setup.cfg
  sunpy/tests/self_test.py
Labels: No Changelog Entry Needed, backport 5.0, backport 5.1

#7365 Backport PR #7325 on branch 5.1 (Address review comments from the pyopensci reviewers)
  .github/workflows/ci.yml
  README.rst
  docs/citation.rst
  docs/dev_guide/contents/tests.rst
  docs/index.rst
  docs/topic_guide/installation.rst
  docs/tutorial/installation.rst
  pyproject.toml
  setup.cfg
  sunpy/tests/self_test.py
Labels: No Changelog Entry Needed, backport 5.0, backport 5.1

#7363 Removal of try block in pytest fixture since we depend on astropy 5
  .pre-commit-config.yaml
  sunpy/coordinates/tests/conftest.py
Labels: Tests, No Changelog Entry Needed, No Backport, Minor Change

#7366 [5.0] Readme changes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.rst
  docs/citation.rst
  docs/dev_guide/contents/tests.rst
  docs/index.rst
  docs/topic_guide/installation.rst
  docs/tutorial/installation.rst
  pyproject.toml
  setup.cfg
  sunpy/tests/self_test.py
Labels: No Changelog Entry Needed

#7352 Add text from an email from Albert - Lazy edition
  changelog/7352.doc.rst
  examples/plotting/plotting_blank_map.py
Labels: Examples, backport 5.0, backport 5.1

#7367 Backport PR #7352 on branch 5.0 (Add text from an email from Albert - Lazy edition)
  changelog/7352.doc.rst
  examples/plotting/plotting_blank_map.py
Labels: Examples, backport 5.0, backport 5.1

#7368 Backport PR #7352 on branch 5.1 (Add text from an email from Albert - Lazy edition)
  changelog/7352.doc.rst
  examples/plotting/plotting_blank_map.py
Labels: Examples, backport 5.0, backport 5.1

#7372 remove filter on warnings for release docs
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed, backport 5.0, backport 5.1

#7351 Add python 3.12 tests
  .github/workflows/ci.yml
  changelog/7351.feature.rst
  setup.cfg
  sunpy/map/header_helper.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/strategies.py
  sunpy/time/tests/test_time.py
  sunpy/timeseries/metadata.py
  sunpy/util/metadata.py
  tox.ini
Labels: backport 5.0, backport 5.1

#7373 Backport PR #7372 on branch 5.1 (remove filter on warnings for release docs)
  docs/conf.py
Labels: Documentation, No Changelog Entry Needed, backport 5.0, backport 5.1

#7374 Backport PR #7351 on branch 5.1 (Add python 3.12 tests)
  .github/workflows/ci.yml
  changelog/7351.feature.rst
  setup.cfg
  sunpy/map/header_helper.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/strategies.py
  sunpy/time/tests/test_time.py
  sunpy/timeseries/metadata.py
  sunpy/util/metadata.py
  tox.ini
Labels: backport 5.0, backport 5.1

#7343 Ran the autopep8 linter for pyopensci review
  .jupyter/jupyter_notebook_config.py
  MANIFEST.in
  examples/showcase/eclipse_amount.py
  examples/showcase/stereoscopic_3d.py
  examples/showcase/where_is_stereo.py
  examples/time_series/goes_hek_m25.py
  pyproject.toml
  setup.cfg
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/spice.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/data/sample.py
  sunpy/image/tests/test_transform.py
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/io/tests/test_srs.py
  sunpy/map/header_helper.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase_dask.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/_attrs.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/helio/__init__.py
  sunpy/net/helio/chaincode.py
  sunpy/net/helio/hec.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/timeseries/conftest.py
  sunpy/timeseries/metadata.py
  sunpy/timeseries/sources/tests/conftest.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/decorators.py
  sunpy/util/exceptions.py
  sunpy/util/tests/test_datatype_factory_base.py
  sunpy/util/tests/test_metadata.py
  sunpy/visualization/colormaps/__init__.py
Labels: No Changelog Entry Needed, backport 5.0, backport 5.1

#7375 Backport PR #7343 on branch 5.1 (Ran the autopep8 linter for pyopensci review)
  .jupyter/jupyter_notebook_config.py
  MANIFEST.in
  examples/showcase/eclipse_amount.py
  examples/showcase/stereoscopic_3d.py
  examples/showcase/where_is_stereo.py
  examples/time_series/goes_hek_m25.py
  pyproject.toml
  setup.cfg
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/spice.py
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_metaframes.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/utils.py
  sunpy/coordinates/wcs_utils.py
  sunpy/data/data_manager/tests/test_manager.py
  sunpy/data/sample.py
  sunpy/image/tests/test_transform.py
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/io/tests/test_srs.py
  sunpy/map/header_helper.py
  sunpy/map/map_factory.py
  sunpy/map/mapbase.py
  sunpy/map/mapsequence.py
  sunpy/map/tests/test_header_helper.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase_dask.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/_attrs.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/helio/__init__.py
  sunpy/net/helio/chaincode.py
  sunpy/net/helio/hec.py
  sunpy/physics/tests/test_differential_rotation.py
  sunpy/timeseries/conftest.py
  sunpy/timeseries/metadata.py
  sunpy/timeseries/sources/tests/conftest.py
  sunpy/timeseries/tests/test_timeseries_factory.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/decorators.py
  sunpy/util/exceptions.py
  sunpy/util/tests/test_datatype_factory_base.py
  sunpy/util/tests/test_metadata.py
  sunpy/visualization/colormaps/__init__.py
Labels: No Changelog Entry Needed, backport 5.0, backport 5.1

#7377 add gitignore for sphinx build times page
  .gitignore
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change

#7378 add replacement to mapbase for unit: counts / pixel -> ct/pix
  sunpy/map/mapbase.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7379 Backport PR #7378 on branch 5.0 (add replacement to mapbase for unit: counts / pixel -> ct/pix)
  sunpy/map/mapbase.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7380 Backport PR #7378 on branch 5.1 (add replacement to mapbase for unit: counts / pixel -> ct/pix)
  sunpy/map/mapbase.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7381 [5.0] Manual backports
  .github/workflows/ci.yml
  .jupyter/jupyter_notebook_config.py
  MANIFEST.in
  changelog/7351.feature.rst
  docs/conf.py
  pyproject.toml
  setup.cfg
  sunpy/coordinates/tests/test_frames.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/tests/test_utils.py
  sunpy/coordinates/tests/test_wcs_utils.py
  sunpy/coordinates/transformations.py
  sunpy/coordinates/utils.py
  sunpy/database/tests/test_database.py
  sunpy/database/tests/test_tables.py
  sunpy/extern/distro.py
  sunpy/extern/inflect.py
  sunpy/image/tests/test_transform.py
  sunpy/io/special/genx.py
  sunpy/io/tests/test_genx.py
  sunpy/io/tests/test_srs.py
  sunpy/map/header_helper.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_maputils.py
  sunpy/net/dataretriever/sources/tests/test_fermi_gbm.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/helio/chaincode.py
  sunpy/net/helio/hec.py
  sunpy/net/jsoc/tests/test_jsoc.py
  sunpy/net/tests/strategies.py
  sunpy/time/tests/test_time.py
  sunpy/timeseries/metadata.py
  sunpy/timeseries/tests/test_timeseriesmetadata.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/decorators.py
  sunpy/util/exceptions.py
  sunpy/util/metadata.py
  sunpy/util/tests/test_datatype_factory_base.py
  tox.ini
Labels: No Changelog Entry Needed

#7382 Bug with flake8 and comments
  setup.cfg
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, backport 5.1

#7388 Backport PR #7382 on branch 5.1 (Bug with flake8 and comments)
  setup.cfg
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, backport 5.1

#7391 ignore filter for pandas
  setup.cfg
  sunpy/timeseries/timeseriesbase.py
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, backport 5.0, backport 5.1

#7393 Backport PR #7391 on branch 5.0 (ignore filter for pandas)
  setup.cfg
  sunpy/timeseries/timeseriesbase.py
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, backport 5.0, backport 5.1

#7394 Backport PR #7391 on branch 5.1 (ignore filter for pandas)
  setup.cfg
  sunpy/timeseries/timeseriesbase.py
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, backport 5.0, backport 5.1

#7307 Update `JSOCClient.fetch` to accomodate breaking changes in `drms`
  CHANGELOG.rst
  changelog/7307.trivial.rst
  setup.cfg
  sunpy/net/jsoc/jsoc.py
Labels: net, No Backport

#7396 add wheel upload to anaconda sunpy channel
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7401 Refactor two unit tests for sysinfo to be easier to edit.
  sunpy/util/tests/test_sysinfo.py
Labels: Tests, No Changelog Entry Needed, No Backport, Minor Change

#7262 Fix map metadata how to
  changelog/7262.doc.rst
  docs/how_to/fix_map_metadata.rst
  docs/how_to/index.rst
  docs/reference/map.rst
  sunpy/map/mapbase.py
Labels: Documentation, backport 5.0, backport 5.1

#7403 Backport PR #7262 on branch 5.0 (Fix map metadata how to)
  changelog/7262.doc.rst
  docs/how_to/fix_map_metadata.rst
  docs/how_to/index.rst
  docs/reference/map.rst
  sunpy/map/mapbase.py
Labels: Documentation, backport 5.0, backport 5.1

#7404 Backport PR #7262 on branch 5.1 (Fix map metadata how to)
  changelog/7262.doc.rst
  docs/how_to/fix_map_metadata.rst
  docs/how_to/index.rst
  docs/reference/map.rst
  sunpy/map/mapbase.py
Labels: Documentation, backport 5.0, backport 5.1

#7397 Add pyerfa as core dep and fix imports (fixes devdeps)
  changelog/7397.trivial.rst
  setup.cfg
  sunpy-dev-env.yml
  sunpy/coordinates/_transformations.py
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/time/tests/test_timerange.py
  sunpy/util/tests/test_sysinfo.py
Labels: Tests, Infrastructure, backport 5.0, backport 5.1

#7406 [5.1] Add pyerfa as core dep and fix imports (fixes devdeps) #7397
  changelog/7397.trivial.rst
  setup.cfg
  sunpy-dev-env.yml
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/time/tests/test_taiseconds.py
  sunpy/time/tests/test_timerange.py
  sunpy/timeseries/conftest.py
  sunpy/util/tests/test_sysinfo.py
Labels: No Changelog Entry Needed

#7405 [5.0] Add pyerfa as core dep and fix imports (fixes devdeps) #7397
  changelog/7397.trivial.rst
  setup.cfg
  sunpy-dev-env.yml
  sunpy/coordinates/sun.py
  sunpy/coordinates/tests/test_sun.py
  sunpy/coordinates/transformations.py
  sunpy/time/tests/test_taiseconds.py
  sunpy/time/tests/test_timerange.py
  sunpy/timeseries/tests/conftest.py
  sunpy/util/tests/test_sysinfo.py
Labels: No Changelog Entry Needed

#7402 Min python version is now py310
  .github/workflows/ci.yml
  changelog/7402.trivial.rst
  pyproject.toml
  setup.cfg
  sunpy/coordinates/frames.py
  sunpy/coordinates/utils.py
  sunpy/io/_fits.py
  sunpy/io/src/ana/_pyana.c
  sunpy/map/compositemap.py
  sunpy/map/header_helper.py
  sunpy/net/fido_factory.py
  sunpy/net/vso/vso.py
  sunpy/physics/differential_rotation.py
  sunpy/timeseries/metadata.py
  sunpy/timeseries/timeseries_factory.py
  sunpy/timeseries/timeseriesbase.py
  sunpy/util/util.py
  tox.ini
Labels: Infrastructure, No Backport

#7398 Remove extra tox settings for online test suite
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, No Backport

#7385 Saw these links error on the release branches
  CHANGELOG.rst
  docs/topic_guide/new_map_class.rst
Labels: Documentation, No Changelog Entry Needed, No Backport

#7410 Make sure asdf arrays are copied rather than memory mapped in two unit tests
  sunpy/io/special/asdf/tests/test_genericmap.py
Labels: Tests, No Changelog Entry Needed, io/ASDF, Minor Change, backport 5.0, backport 5.1

#7411 Backport PR #7410 on branch 5.0 (Make sure asdf arrays are copied rather than memory mapped in two unit tests)
  sunpy/io/special/asdf/tests/test_genericmap.py
Labels: Tests, No Changelog Entry Needed, io/ASDF, Minor Change, backport 5.0, backport 5.1

#7412 Backport PR #7410 on branch 5.1 (Make sure asdf arrays are copied rather than memory mapped in two unit tests)
  sunpy/io/special/asdf/tests/test_genericmap.py
Labels: Tests, No Changelog Entry Needed, io/ASDF, Minor Change, backport 5.0, backport 5.1

#7414 Remove tox-conda from conda dev env
  sunpy-dev-env.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7413 Fix online hek test
  docs/tutorial/acquiring_data/hek.rst
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7415 Backport PR #7413 on branch 5.0 (Fix online hek test)
  docs/tutorial/acquiring_data/hek.rst
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7416 Backport PR #7413 on branch 5.1 (Fix online hek test)
  docs/tutorial/acquiring_data/hek.rst
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 5.0, backport 5.1

#7407 Information on syncing tags in the newcomers guide
  docs/dev_guide/contents/newcomers.rst
Labels: Documentation, No Changelog Entry Needed, No Backport

#7424 Rectifies minor grammatical error
  docs/tutorial/acquiring_data/index.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change, backport 5.0, backport 5.1

#7425 Backport PR #7424 on branch 5.0 (Rectifies minor grammatical error)
  docs/tutorial/acquiring_data/index.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change, backport 5.0, backport 5.1

#7426 Backport PR #7424 on branch 5.1 (Rectifies minor grammatical error)
  docs/tutorial/acquiring_data/index.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change, backport 5.0, backport 5.1

#7417 Handle pytest 8.0.0
  .github/workflows/ci.yml
  sunpy/io/special/asdf/tests/test_coordinate_frames.py
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_mapbase_dask.py
  sunpy/tests/helpers.py
  sunpy/timeseries/sources/tests/test_eve.py
  tox.ini
Labels: Tests, No Changelog Entry Needed, Run cron CI, Minor Change, backport 5.0, backport 5.1
