Repository sunpy/sunpy, pull requests merged in 2025-02, with the labels that each got.

#8030 test to enuse that Map meta changes remains in asdf too
  sunpy/map/tests/test_map_factory.py
Labels: Tests, map, No Changelog Entry Needed, No Backport, Minor Change

#8054 Updated: SRSClient URL to new HTTPS endpoint
  changelog/8054.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Labels: net, Merge When CI Passes, Minor Change, backport 6.0, backport 6.1

#8055 Backport PR #8054 on branch 6.1 (Updated: SRSClient URL to new HTTPS endpoint)
  changelog/8054.bugfix.rst
  sunpy/net/dataretriever/sources/noaa.py
Labels: net, Merge When CI Passes, Minor Change, backport 6.0, backport 6.1

#7931 Adds Support to `datetime.timedelta` , `astropy.units.Quantity` in `sunpy.time.TimeRange.shift`
  changelog/7931.bugfix.rst
  changelog/7931.feature.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Labels: time, backport 6.1

#8056 Backport PR #7931 on branch 6.1 (Adds Support to `datetime.timedelta` , `astropy.units.Quantity` in `sunpy.time.TimeRange.shift`)
  changelog/7931.bugfix.rst
  changelog/7931.feature.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Labels: time, backport 6.1

#8062 Add line breaks to long signatures in API docs
  docs/conf.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8063 Backport PR #8062 on branch 6.0 (Add line breaks to long signatures in API docs)
  docs/conf.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8064 Backport PR #8062 on branch 6.1 (Add line breaks to long signatures in API docs)
  docs/conf.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8043 Add a hacky script for calculating version bumps
  tools/version_bumps.py
Labels: No Changelog Entry Needed, Infrastructure, No Backport

#8052 Adds valid input options for `sunpy.map.Map()` in the Maps documentation
  sunpy/map/map_factory.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8066 Backport PR #8052 on branch 6.0 (Adds valid input options for `sunpy.map.Map()` in the Maps documentation)
  sunpy/map/map_factory.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8067 Backport PR #8052 on branch 6.1 (Adds valid input options for `sunpy.map.Map()` in the Maps documentation)
  sunpy/map/map_factory.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8045 Datamanager.cache for Timeseries url handling
  changelog/8045.feature.rst
  sunpy/timeseries/timeseries_factory.py
Labels: timeseries, No Backport

#8041 Adds ability to make superpixel masked if any of its constituent pixels is masked.
  changelog/8041.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, No Backport

#8060 Added an ASV benchmarks CI build for PRs
  .github/workflows/ci_benchmarks.yml
  asv.conf.json
  benchmarks/coordinates.py
  benchmarks/map.py
  docs/dev_guide/contents/ci_jobs.rst
  pyproject.toml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Benchmarks, Run benchmarks

#8073 Cap the number of steps to benchmark for the daily ASV run
  .github/workflows/asv-regular.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Benchmarks

#8072 Add a post to the PR summarizing its CI benchmark results
  .github/workflows/ci_benchmarks.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Benchmarks

#8070 Fix EITMap colormap loading and improve instrument detection
  changelog/8070.bugfix.rst
  sunpy/data/test/EIT_header/SOHO_EIT_171_20070601T120013_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_195_20070601T121346_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_284_20070601T120607_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_304_20070601T121937_L1.header
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
Labels: map, Minor Change, backport 6.0, backport 6.1

#8075 Backport PR #8070 on branch 6.1 (Fix EITMap colormap loading and improve instrument detection)
  changelog/8070.bugfix.rst
  sunpy/data/test/EIT_header/SOHO_EIT_171_20070601T120013_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_195_20070601T121346_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_284_20070601T120607_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_304_20070601T121937_L1.header
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
Labels: map, Minor Change, backport 6.0, backport 6.1

#8074 Backport PR #8070 on branch 6.0 (Fix EITMap colormap loading and improve instrument detection)
  changelog/8070.bugfix.rst
  sunpy/data/test/EIT_header/SOHO_EIT_171_20070601T120013_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_195_20070601T121346_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_284_20070601T120607_L1.header
  sunpy/data/test/EIT_header/SOHO_EIT_304_20070601T121937_L1.header
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
Labels: map, Minor Change, backport 6.0, backport 6.1

#8077 Add a GitHub action summary for the CI benchmarks build
  .github/workflows/ci_benchmarks.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Benchmarks

#8065 fix path for pypi_filter + whatsnews 7.0
  docs/whatsnew/7.0.rst
  docs/whatsnew/index.rst
  tox.ini
Labels: No Changelog Entry Needed, Infrastructure, Minor Change

#8080 Backport PR #8076 on branch 6.1 (Standardize how-to guide names)
  docs/how_to/create_a_map.rst
  docs/how_to/create_coords.rst
  docs/how_to/create_custom_map.rst
  docs/how_to/create_custom_timeseries.rst
  docs/how_to/create_rectangle_on_map.rst
  docs/how_to/fix_map_metadata.rst
  docs/how_to/manipulate_grid_lines.rst
  docs/how_to/observer_by_coordinate.rst
  docs/how_to/read_asdf_file.rst
  docs/how_to/remote_data_manager.rst
  docs/how_to/search_multiple_wavelengths.rst
Labels: No Changelog Entry Needed, Documentation, backport 6.1

#8081 xfail NOAA SRS FTP tests
  sunpy/net/tests/test_scraper.py
Labels: net, No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8082 Backport PR #8081 on branch 6.1 (xfail NOAA SRS FTP tests)
  sunpy/net/tests/test_scraper.py
Labels: net, No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8087 minor formatting fix for CI benchmark section
  docs/dev_guide/contents/ci_jobs.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change, Documentation

#8088 Fixed JSOCClient Docs being inaccurate. #4619
  sunpy/net/jsoc/jsoc.py
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport, Minor Change, Documentation

#8091 Moved AI section down in readme
  README.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change

#8012 Add example to show how to overlay off-disk contours from one map onto another map
  changelog/8012.doc.rst
  examples/plotting/offdisk_contours.py
Labels: Examples, No Backport, Documentation

#8095 Updates from package template
  .cruft.json
  docs/whatsnew/4.0.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8093 Fixes a unit test since `sunpy.io` expands wildcard input with OS-independent sorting
  sunpy/map/tests/test_map_factory.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8096 Backport PR #8093 on branch 6.0 (Fixes a unit test since `sunpy.io` expands wildcard input with OS-independent sorting)
  sunpy/map/tests/test_map_factory.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8097 Backport PR #8093 on branch 6.1 (Fixes a unit test since `sunpy.io` expands wildcard input with OS-independent sorting)
  sunpy/map/tests/test_map_factory.py
Labels: Tests, No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8100 Backport PR #8099 on branch 6.1 (Fix links in what's new)
  docs/whatsnew/6.1.rst
Labels: No Changelog Entry Needed, Minor Change, Documentation, backport 6.1

#8104 Backport PR #8101 on branch 6.1 (Attempt to address issue with sqlite on RTD)
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8103 Backport PR #8101 on branch 6.0 (Attempt to address issue with sqlite on RTD)
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8102 Post 6.1
  .github/workflows/scheduled_builds.yml
  CHANGELOG.rst
  changelog/7931.bugfix.rst
  changelog/7931.feature.rst
  changelog/8037.bugfix.rst
  changelog/8038.trivial.rst
  changelog/8054.bugfix.rst
  changelog/8070.bugfix.rst
Labels: No Changelog Entry Needed, Infrastructure, Minor Change, Documentation

#8107 Add missing asdf_entry_points test decorations
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8108 Backport PR #8107 on branch 6.1 (Add missing asdf_entry_points test decorations)
  sunpy/map/tests/test_map_factory.py
  sunpy/map/tests/test_mapbase.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.1
