Repository sunpy/sunpy, pull requests merged in 2025-05, with the labels that each got.

#8158 Fixed a desync bug with property caching in `Map`
  changelog/8158.bugfix.rst
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Labels: map, util, Minor Change, backport 6.0, backport 6.1

#8159 Backport PR #8158 on branch 6.0 (Fixed a desync bug with property caching in `Map`)
  changelog/8158.bugfix.rst
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Labels: map, util, Minor Change, backport 6.0, backport 6.1

#8160 Backport PR #8158 on branch 6.1 (Fixed a desync bug with property caching in `Map`)
  changelog/8158.bugfix.rst
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
Labels: map, util, Minor Change, backport 6.0, backport 6.1

#8163 Backport PR #8162 on branch 6.1 (Updates from the package template)
  .cruft.json
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8166 Update .rtd-environment.yml
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8167 Backport PR #8166 on branch 6.0 (Update .rtd-environment.yml)
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8168 Backport PR #8166 on branch 6.1 (Update .rtd-environment.yml)
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8169 Update .rtd-environment.yml
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8170 Backport PR #8169 on branch 6.0 (Update .rtd-environment.yml)
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8171 Backport PR #8169 on branch 6.1 (Update .rtd-environment.yml)
  .rtd-environment.yml
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, backport 6.1

#8165 Removed decorator for deprecating positional arguments
  changelog/8165.removal.rst
  licenses/SCIKIT-LEARN.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: map, util, No Backport, Minor Change

#8173 Made dynamically constructed docstrings compatible with all Python versions
  .rtd-environment.yml
  changelog/8173.trivial.rst
  sunpy/coordinates/frames.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_util.py
  sunpy/util/util.py
Labels: backport 6.0, Documentation, backport 6.1

#8174 Backport PR #8173 on branch 6.1 (Made dynamically constructed docstrings compatible with all Python versions)
  .rtd-environment.yml
  changelog/8173.trivial.rst
  sunpy/coordinates/frames.py
  sunpy/map/tests/test_mapbase.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_util.py
  sunpy/util/util.py
Labels: No Changelog Entry Needed, Documentation, backport 6.1

#7842 Added a client to get the AIA "synoptic" data from the JSOC server
  changelog/7842.feature.rst
  docs/tutorial/acquiring_data/hek.rst
  docs/whatsnew/7.0.rst
  pytest.ini
  sunpy/net/_attrs.py
  sunpy/net/dataretriever/__init__.py
  sunpy/net/dataretriever/client.py
  sunpy/net/dataretriever/sources/aia_synopsis.py
  sunpy/net/dataretriever/sources/eve.py
  sunpy/net/dataretriever/sources/tests/test_aia_synopsis.py
  sunpy/net/dataretriever/sources/tests/test_eve.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/scraper.py
  sunpy/net/scraper_utils.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/tests/test_attrs.py
  sunpy/net/vso/tests/test_vso.py
  sunpy/timeseries/sources/noaa.py
Labels: net, Whats New?, No Backport

#8007 Add GONG Magnetogram map source
  changelog/8007.feature.rst
  sunpy/data/test/gong_magnetogram.header
  sunpy/map/sources/gong.py
  sunpy/map/sources/tests/test_gong_halpha_source.py
  sunpy/map/sources/tests/test_gong_magnetogram_source.py
Labels: map, No Backport

#8180 Fixed the dynamic construction of the GenericMap docstring
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.0, Documentation, backport 6.1

#8178 Added the convenience function `sunpy.util.grid_perimeter()`
  examples/plotting/draw_wcs_extent.py
  sunpy/util/tests/test_util.py
  sunpy/util/util.py
  sunpy/visualization/drawing.py
Labels: Refactoring, No Changelog Entry Needed, Merge When CI Passes, util, Minor Change

#8181 Backport PR #8180 on branch 6.0 (Fixed the dynamic construction of the GenericMap docstring)
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.0, Documentation, backport 6.1

#8182 Backport PR #8180 on branch 6.1 (Fixed the dynamic construction of the GenericMap docstring)
  sunpy/map/mapbase.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.0, Documentation, backport 6.1

#8161 Speed up mesh-based autoalign plotting of Maps
  _typos.toml
  changelog/8161.bugfix.rst
  changelog/8161.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/conftest.py
  sunpy/map/tests/test_compositemap.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/visualization/visualization.py
Labels: map, No Backport

#8036 Adds an imshow-based option for autoalign plotting of maps
  changelog/8036.deprecation.rst
  changelog/8036.feature.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, No Backport

#8177 Added EIT L1 Map Source
  changelog/8177.feature.rst
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_l1_source.py
  sunpy/map/sources/tests/test_eit_source.py
Labels: map, No Backport, Minor Change

#8186 Fix EIT L1
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_l1_source.py
Labels: No Changelog Entry Needed, No Backport, Minor Change

#8197 Backport PR #8193 on branch 6.0 (Fixed a bug when using array obstime with the magnetic frames)
  changelog/8193.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: coordinates, Minor Change, backport 6.0, backport 6.1

#8198 Backport PR #8193 on branch 6.1 (Fixed a bug when using array obstime with the magnetic frames)
  changelog/8193.bugfix.rst
  sunpy/coordinates/frames.py
  sunpy/coordinates/tests/test_frames.py
Labels: coordinates, Minor Change, backport 6.0, backport 6.1

#8133 PUNCHMap
  changelog/8133.feature.rst
  sunpy/data/test/punch.header
  sunpy/map/sources/__init__.py
  sunpy/map/sources/punch.py
  sunpy/map/sources/tests/test_punch_source.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/visualization/colormaps/cm.py
  sunpy/visualization/colormaps/color_tables.py
  sunpy/visualization/colormaps/data/punch.csv
Labels: map, Whats New?

#8183 Import everything under `sunpy.visualization` when the subpackage is imported
  sunpy/visualization/__init__.py
Labels: visualization, No Changelog Entry Needed, Minor Change

#8040 Option to automatically determine extent when reprojecting a map
  changelog/8040.feature.rst
  docs/whatsnew/7.0.rst
  examples/map_transformations/reprojection_auto_extent.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/util/util.py
Labels: map, Whats New?, No Backport

#8187 Automatically detect which autoalignment approach to use for Map plotting
  changelog/8187.feature.rst
  docs/whatsnew/7.0.rst
  examples/map_transformations/autoalign_aia_hmi.py
  examples/plotting/fading_between_maps.py
  examples/plotting/lasco_overlay.py
  examples/plotting/three_map_composite.py
  sunpy/map/compositemap.py
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, Whats New?, No Backport

#8201 Added a warning when combining `PlanarScreen` with `propagate_with_solar_surface`
  changelog/8201.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
Labels: map, Minor Change, backport 6.0, backport 6.1

#8202 Backport PR #8201 on branch 6.0 (Added a warning when combining `PlanarScreen` with `propagate_with_solar_surface`)
  changelog/8201.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_reproject_to.py
Labels: map, Minor Change, backport 6.0, backport 6.1

#7619 Improving HEK Representation
  changelog/7619.breaking.1.rst
  changelog/7619.breaking.rst
  docs/tutorial/acquiring_data/hek.rst
  docs/whatsnew/7.0.rst
  examples/plotting/overplot_hek_polygon.py
  pytest.ini
  sunpy/net/hek/data/coord_properties.json
  sunpy/net/hek/data/unit_properties.json
  sunpy/net/hek/hek.py
  sunpy/net/hek/tests/test_hek.py
  sunpy/net/hek/tests/test_utils.py
  sunpy/net/hek/utils.py
  sunpy/net/hek2vso/hek2vso.py
  sunpy/net/hek2vso/tests/test_hek2vso.py
  sunpy/net/tests/test_fido.py
Labels: Refactoring, net, No Backport

#8204 pre-branching updates for 7.0
  .github/workflows/scheduled_builds.yml
  .github/workflows/sub_package_update.yml
  .mailmap
  docs/whatsnew/7.0.rst
  pyproject.toml
  pytest.ini
  sunpy/extern/distro.py
  sunpy/io/tests/test_cdf.py
  sunpy/map/tests/test_map_factory.py
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/helio/tests/test_helio.py
  sunpy/net/jsoc/data/attrs.json
  sunpy/net/jsoc/jsoc.py
  sunpy/net/vso/data/attrs.json
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_702_animators_121.json
  tools/version_bumps.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, No Backport, Minor Change

#8206 remove changelog fragments
  changelog/7619.breaking.1.rst
  changelog/7619.breaking.rst
  changelog/7837.doc.rst
  changelog/7842.feature.rst
  changelog/7971.feature.rst
  changelog/8007.feature.rst
  changelog/8012.doc.rst
  changelog/8036.deprecation.rst
  changelog/8036.feature.rst
  changelog/8040.feature.rst
  changelog/8041.feature.rst
  changelog/8045.feature.rst
  changelog/8106.deprecation.rst
  changelog/8113.doc.rst
  changelog/8126.bugfix.rst
  changelog/8133.feature.rst
  changelog/8158.bugfix.rst
  changelog/8161.bugfix.rst
  changelog/8161.feature.rst
  changelog/8165.removal.rst
  changelog/8173.trivial.rst
  changelog/8177.feature.rst
  changelog/8187.feature.rst
  changelog/8190.doc.rst
  changelog/8193.bugfix.rst
  changelog/8201.bugfix.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change

#8207 Updated JSOC attrs due to fixes upstream
  sunpy/net/jsoc/data/attrs.json
Labels: net, No Changelog Entry Needed, Minor Change, backport 7.0

#8216 Backport PR #8213 on branch 7.0 (Use new extension helpers support for limited API)
  pyproject.toml
  sunpy/io/setup_package.py
  sunpy/io/src/ana/_pyana.c
Labels: No Changelog Entry Needed, Infrastructure, backport 7.0

#8218 Backport PR #8211 on branch 7.0 (Fixed a bug with tracking our active contexts)
  changelog/8211.trivial.rst
  sunpy/coordinates/screens.py
  sunpy/map/mapbase.py
  sunpy/util/decorators.py
  sunpy/util/tests/test_decorators.py
Labels: util, backport 7.0

#8219 Unskip some examples
  CHANGELOG.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_and_loading_SHARP_data.py
  examples/plotting/hmi_synoptic_maps.py
  examples/plotting/limb_plotting.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/util/tests/test_functools.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 7.0

#8220 Backport PR #8219 on branch 7.0 (Unskip some examples)
  CHANGELOG.rst
  examples/acquiring_data/downloading_cutouts.py
  examples/acquiring_data/fido_metadata_queries.py
  examples/acquiring_data/querying_and_loading_SHARP_data.py
  examples/plotting/hmi_synoptic_maps.py
  examples/plotting/limb_plotting.py
  sunpy/map/sources/sdo.py
  sunpy/map/sources/tests/test_hmi_source.py
  sunpy/util/tests/test_functools.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 7.0

#8223 Removed 7.0 changelog entry that is now moot
  changelog/8201.bugfix.rst
Labels: No Changelog Entry Needed, Documentation

#8225 Fixed handling of array obstime for a differentially rotated screen
  sunpy/coordinates/screens.py
  sunpy/coordinates/tests/test_frames.py
Labels: coordinates, No Changelog Entry Needed, Minor Change, backport 7.0

#8227 Backport PR #8209 on branch 7.0 (Updated Whats New for 7.0 )
  docs/whatsnew/7.0-punch.png
  docs/whatsnew/7.0.rst
Labels: No Changelog Entry Needed, Minor Change, backport 7.0
