Repository sunpy/sunpy, pull requests merged in 2025-09, with the labels that each got.

#8334 Backport PR #8333 on branch 7.0 (Bump actions/checkout from 4 to 5)
  .github/workflows/asv-regular.yml
  .github/workflows/ci_benchmarks.yml
  .github/workflows/cron.yml
  .github/workflows/sub_package_update.yml
Labels: No Changelog Entry Needed, Minor Change, dependencies, github_actions, backport 7.0

#8057 Adds example of time-distance slice plot of sequence of images
  changelog/8057.doc.rst
  examples/plotting/time_distance.py
Labels: Examples, No Backport

#8343 Backport PR #8342 on branch 7.0 (Updates from the package template)
  .cruft.json
  .pre-commit-config.yaml
Labels: No Changelog Entry Needed, backport 7.0

#8348 Fixed doctest that depended on a name
  changelog/8348.trivial.rst
  sunpy/net/cdaweb/helpers.py
Labels: Merge When CI Passes, Minor Change, Documentation, backport 7.0

#8350 Backport PR #8340 on branch 7.0 (Updates to the Earth-scale example)
  changelog/8340.trivial.rst
  examples/plotting/adding_earth.py
  sunpy/data/The_Blue_Marble_150px.png
  sunpy/data/__init__.py
Labels: Examples, Merge When CI Passes, backport 7.0

#8352 Update newcomers.rst
  docs/dev_guide/contents/newcomers.rst
Labels: No Changelog Entry Needed, No Backport, Minor Change, Documentation

#8357 Backport PR #8356 on branch 7.0 (Fixed parsing of SunPy-supported time formats in common not-quite-lists)
  changelog/8356.bugfix.1.rst
  changelog/8356.bugfix.2.rst
  examples/time_series/goes_xrs_nrt_data.py
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: time, Merge When CI Passes, Minor Change, backport 7.0

#8347 Fix GONGMagnetogramMap for correct DATE-OBS
  changelog/8347.bugfix.rst
  sunpy/data/test/__init__.py
  sunpy/map/sources/gong.py
  sunpy/map/sources/tests/test_gong_magnetogram_source.py
Labels: backport 7.0
