Repository sunpy/sunpy, pull requests merged in 2025-01, with the labels that each got.

#7907 AI note
  README.rst
  docs/dev_guide/contents/newcomers.rst
  examples/plotting/solar_cycle_example.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7957 Backport PR #7907 on branch 6.0 (AI note)
  README.rst
  docs/dev_guide/contents/newcomers.rst
  examples/plotting/solar_cycle_example.py
Labels: No Changelog Entry Needed, Minor Change, backport 6.0

#7950 Ensure sunpy.data.manager.get redownloads files if they are accidentally deleted
  changelog/7950.bugfix.rst
  sunpy/data/data_manager/manager.py
  sunpy/data/data_manager/tests/test_manager.py
Labels: data, Minor Change, backport 6.0

#7884 Added link to VSO Health Report in Fido VSOClient output
  changelog/7884.feature.rst
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Labels: net, Minor Change, backport 6.0

#7958 Backport PR #7884 on branch 6.0 (Added link to VSO Health Report in Fido VSOClient output)
  changelog/7884.feature.rst
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/dataretriever/sources/tests/test_noaa.py
  sunpy/net/tests/test_fido.py
  sunpy/net/vso/vso.py
Labels: net, Minor Change, backport 6.0

#7963 Explicitly convert a string to a unit as needed for Astropy 7.1
  sunpy/map/header_helper.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 6.0

#7965 Switch the star query approach for a gallery example
  changelog/7965.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Labels: Examples, backport 6.0

#7966 Backport PR #7965 on branch 6.0 (Switch the star query approach for a gallery example)
  changelog/7965.doc.rst
  examples/units_and_coordinates/STEREO_SECCHI_starfield.py
Labels: Examples, backport 6.0

#7947 Fixes color list to be used in circular way in `GenericTimeSeries_repr_html_`
  changelog/7911.bugfix.rst
  changelog/7947.bugfix.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries, Minor Change, backport 6.0

#7967 Backport PR #7947 on branch 6.0 (Fixes color list to be used in circular way in `GenericTimeSeries_repr_html_`)
  changelog/7911.bugfix.rst
  changelog/7947.bugfix.rst
  sunpy/timeseries/tests/test_timeseriesbase.py
  sunpy/timeseries/timeseriesbase.py
Labels: timeseries, Minor Change, backport 6.0

#7968 Use 3.12 for doc-gallery builds
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7969 Tweaked examples for compatibility with astropy 7.0
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/finegrained_plot.py
Labels: Examples, No Changelog Entry Needed, Minor Change, backport 6.0

#7970 Backport PR #7969 on branch 6.0 (Tweaked examples for compatibility with astropy 7.0)
  examples/map_transformations/reprojection_aia_euvi_mosaic.py
  examples/map_transformations/reprojection_different_observers.py
  examples/plotting/finegrained_plot.py
Labels: Examples, No Changelog Entry Needed, Minor Change, backport 6.0

#7974 Adds note for users to show which methods from GenericMap are expected to work/not work with dask arrays
  changelog/7974.doc.rst
  sunpy/map/mapbase.py
Labels: map, Minor Change, backport 6.0, Documentation

#7977 Backport PR #7974 on branch 6.0 (Adds note for users to show which methods from GenericMap are expected to work/not work with dask arrays)
  changelog/7974.doc.rst
  sunpy/map/mapbase.py
Labels: map, Minor Change, backport 6.0, Documentation

#7976 Update minimum dependencies for sunpy 6.1
  changelog/7976.breaking.rst
  docs/whatsnew/6.1.rst
  pyproject.toml
  sunpy/time/tests/test_time.py
Labels: Infrastructure, Whats New?, No Backport

#7961 Fix Map's handling of PVi_m values
  changelog/7961.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Minor Change, backport 6.0

#7984 Backport PR #7961 on branch 6.0 (Fix Map's handling of PVi_m values)
  changelog/7961.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, Minor Change, backport 6.0

#7731 Adds a topic guide of deprecation policy and versioning
  changelog/7731.doc.rst
  docs/dev_guide/contents/dependencies.rst
  docs/topic_guide/deprecation.rst
  docs/topic_guide/index.rst
Labels: No Backport, Minor Change, Documentation

#7985 Fix PVi_m regex because i can range from 1 to 99
  sunpy/map/mapbase.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 6.0

#7987 Backport PR #7985 on branch 6.0 (Fix PVi_m regex because i can range from 1 to 99)
  sunpy/map/mapbase.py
Labels: map, No Changelog Entry Needed, Minor Change, backport 6.0

#7975 Only run cron 3 times a week
  .github/workflows/scheduled_builds.yml
Labels: No Changelog Entry Needed, Infrastructure, No Backport, Minor Change

#7986 Fixed the formatting of GOES XRS channel labels
  changelog/7986.bugfix.rst
  examples/plotting/finegrained_plot.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/timeseries/sources/goes.py
  sunpy/timeseries/sources/tests/test_goes.py
Labels: timeseries, No Backport, Minor Change

#7983 Fixed a number of bugs associated with parsing time
  changelog/7983.bugfix.1.rst
  changelog/7983.bugfix.2.rst
  changelog/7983.trivial.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: time, backport 6.0

#7948 Improve the performance of `CompositeMap` plotting
  changelog/7948.feature.rst
  sunpy/map/compositemap.py
  sunpy/map/tests/test_compositemap.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
Labels: map, No Backport

#7997 Backport PR #7983 on branch 6.0 (Fixed a number of bugs associated with parsing time)
  changelog/7983.bugfix.1.rst
  changelog/7983.bugfix.2.rst
  changelog/7983.trivial.rst
  sunpy/time/tests/test_time.py
  sunpy/time/time.py
Labels: time, backport 6.0

#7953 Fix: Handle Missing rsun_ref in Metadata and Improve Differential Rotation Handling
  changelog/7953.bugfix.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: physics, Minor Change, backport 6.0

#8000 Backport PR #7953 on branch 6.0 (Fix: Handle Missing rsun_ref in Metadata and Improve Differential Rotation Handling)
  changelog/7953.bugfix.rst
  sunpy/physics/differential_rotation.py
  sunpy/physics/tests/test_differential_rotation.py
Labels: physics, Minor Change, backport 6.0

#8002 Fix examples docs in sunpy.net.attr.Attr
  changelog/8002.bugfix.rst
  sunpy/net/attr.py
Labels: Minor Change, backport 6.0, Documentation

#8003 Backport PR #8002 on branch 6.0 (Fix examples docs in sunpy.net.attr.Attr)
  changelog/8002.bugfix.rst
  sunpy/net/attr.py
Labels: Minor Change, backport 6.0, Documentation

#7955 Adds Deprecation warnings for ctype solar-x/solar-y
  changelog/7955.deprecation.rst
  sunpy/map/mapbase.py
  sunpy/map/sources/hinode.py
  sunpy/map/sources/soho.py
  sunpy/map/sources/tests/test_eit_source.py
  sunpy/map/sources/tests/test_lasco_source.py
  sunpy/map/sources/tests/test_sot_source.py
  sunpy/map/sources/tests/test_trace_source.py
  sunpy/map/sources/tests/test_xrt_source.py
  sunpy/map/sources/trace.py
  sunpy/map/tests/test_mapbase.py
Labels: map, No Backport, Minor Change

#7981 Add flare event times to GOES NRT example
  changelog/7981.doc.rst
  examples/time_series/goes_xrs_nrt_data.py
Labels: Examples, backport 6.0, Documentation

#8004 Backport PR #7981 on branch 6.0 (Add flare event times to GOES NRT example)
  changelog/7981.doc.rst
  examples/time_series/goes_xrs_nrt_data.py
Labels: Examples, backport 6.0, Documentation

#8008 Rename `sunpy.time.TimeRange.extend()` method to `shift()` to reflect what it actually does
  changelog/8008.deprecation.rst
  sunpy/time/tests/test_timerange.py
  sunpy/time/timerange.py
Labels: time, No Backport

#7851 Add function and map method for drawing extent of another wcs
  changelog/7851.feature.rst
  docs/whatsnew/6.1.rst
  examples/plotting/draw_wcs_extent.py
  pytest.ini
  sunpy/map/mapbase.py
  sunpy/map/tests/test_plotting.py
  sunpy/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  sunpy/tests/figure_hashes_mpl_dev_ft_261_astropy_dev_animators_dev.json
  sunpy/visualization/drawing.py
  sunpy/visualization/tests/test_drawing.py
Labels: map, visualization, Whats New?, No Backport

#8011 Fix thumbnail for extent drawing gallery example
  examples/plotting/draw_wcs_extent.py
Labels: No Changelog Entry Needed, No Backport, Minor Change

#8013 Prepare for 6.1 release
  .mailmap
  .zenodo.json
  LICENSE.rst
  docs/whatsnew/6.1.rst
  sunpy/net/cdaweb/data/attrs.json
  sunpy/net/vso/data/attrs.json
  tools/generate_releaserst.xsh
  tools/update_zenodo.py
Labels: No Changelog Entry Needed, No Backport

#8015 Remove 6.1 changelog
  changelog/7077.breaking.rst
  changelog/7674.bugfix.rst
  changelog/7712.feature.rst
  changelog/7731.doc.rst
  changelog/7735.doc.rst
  changelog/7752.feature.rst
  changelog/7756.doc.rst
  changelog/7758.bugfix.1.rst
  changelog/7758.bugfix.2.rst
  changelog/7758.bugfix.rst
  changelog/7760.deprecation.rst
  changelog/7760.feature.rst
  changelog/7766.doc.rst
  changelog/7769.doc.rst
  changelog/7788.bugfix.rst
  changelog/7790.feature.rst
  changelog/7796.breaking.rst
  changelog/7798.bugfix.rst
  changelog/7800.doc.rst
  changelog/7800.trivial.rst
  changelog/7803.feature.1.rst
  changelog/7803.feature.2.rst
  changelog/7803.feature.3.rst
  changelog/7810.bugfix.rst
  changelog/7812.bugfix.rst
  changelog/7813.doc.rst
  changelog/7814.bugfix.rst
  changelog/7827.deprecation.rst
  changelog/7844.bugfix.rst
  changelog/7845.feature.rst
  changelog/7851.feature.rst
  changelog/7854.bugfix.rst
  changelog/7857.bugfix.rst
  changelog/7884.feature.rst
  changelog/7890.bugfix.rst
  changelog/7911.bugfix.rst
  changelog/7917.bugfix.rst
  changelog/7920.bugfix.rst
  changelog/7923.feature.rst
  changelog/7947.bugfix.rst
  changelog/7948.feature.rst
  changelog/7950.bugfix.rst
  changelog/7953.bugfix.rst
  changelog/7955.deprecation.rst
  changelog/7961.bugfix.rst
  changelog/7965.doc.rst
  changelog/7973.doc.rst
  changelog/7974.doc.rst
  changelog/7976.breaking.rst
  changelog/7981.doc.rst
  changelog/7983.bugfix.1.rst
  changelog/7983.bugfix.2.rst
  changelog/7983.trivial.rst
  changelog/7986.bugfix.rst
  changelog/8002.bugfix.rst
  changelog/8008.deprecation.rst
Labels: No Changelog Entry Needed

#8017 More author updates
  .mailmap
  .zenodo.json
  docs/whatsnew/6.1.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8018 Backport PR #8017 on branch 6.1 (More author updates)
  .mailmap
  .zenodo.json
  docs/whatsnew/6.1.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8019 Missing ORCID
  .zenodo.json
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8020 Backport PR #8019 on branch 6.1 (Missing ORCID)
  .zenodo.json
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8021 Drop Python 3.10 for 6.1
  .cruft.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .ruff.toml
  docs/whatsnew/6.1.rst
  pyproject.toml
  pytest.ini
  sunpy/io/src/ana/_pyana.c
  sunpy/net/tests/strategies.py
  sunpy/time/tests/test_time.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.1

#8023 Backport PR #8021 on branch 6.1 (Drop Python 3.10 for 6.1)
  .cruft.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .ruff.toml
  docs/whatsnew/6.1.rst
  pyproject.toml
  pytest.ini
  sunpy/io/src/ana/_pyana.c
  sunpy/net/tests/strategies.py
  sunpy/time/tests/test_time.py
  tox.ini
Labels: No Changelog Entry Needed, Merge When CI Passes, Minor Change, backport 6.1

#8024 Use free arm runner for publish jobs
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, Run publish, Minor Change, backport 6.0, backport 6.1

#8025 Backport PR #8024 on branch 6.1 (Use free arm runner for publish jobs)
  .github/workflows/ci.yml
Labels: No Changelog Entry Needed, Infrastructure, Run publish, Minor Change, backport 6.0, backport 6.1

#8027 Update .zenodo.json
  .zenodo.json
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8031 Backport PR #8027 on branch 6.1 (Update .zenodo.json)
  .zenodo.json
Labels: No Changelog Entry Needed, Minor Change, backport 6.1

#8032 Fixing Getting Started in Topic Guides
  docs/topic_guide/index.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8033 Backport PR #8032 on branch 6.0 (Fixing Getting Started in Topic Guides)
  docs/topic_guide/index.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8034 Backport PR #8032 on branch 6.1 (Fixing Getting Started in Topic Guides)
  docs/topic_guide/index.rst
Labels: No Changelog Entry Needed, Minor Change, backport 6.0, Documentation, backport 6.1

#8037 Fixed Map logic for permitting DN as a unit
  changelog/8037.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 6.0, backport 6.1

#8047 Backport PR #8037 on branch 6.1 (Fixed Map logic for permitting DN as a unit)
  changelog/8037.bugfix.rst
  sunpy/map/mapbase.py
  sunpy/map/tests/test_mapbase.py
Labels: map, backport 6.0, backport 6.1

#8038 Documentation update for measurement
  changelog/8038.trivial.rst
  sunpy/map/mapbase.py
Labels: map, Merge When CI Passes, Minor Change, backport 6.0, Documentation, backport 6.1

#8048 Backport PR #8038 on branch 6.0 (Documentation update for measurement)
  changelog/8038.trivial.rst
  sunpy/map/mapbase.py
Labels: map, Merge When CI Passes, Minor Change, backport 6.0, Documentation, backport 6.1

#8010 Dedicated CI Build for sunpy.coordinates
  tox.ini
Labels: Tests, coordinates, No Changelog Entry Needed, Infrastructure, No Backport, Run cron CI, Minor Change
