Repository sunpy/sunpy, pull requests merged in 2025-08, with the labels that each got.

#8314 Fix warnings from documentation build
  docs/conf.py
  docs/dev_guide/contents/documentation.rst
  docs/reference/ssw.rst
  examples/time_series/goes_xrs_example.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/tests/test_scraper.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Run cron CI, Run publish, Minor Change, Run benchmarks, backport 7.0

#8321 Backport PR #8314 on branch 7.0 (Fix warnings from documentation build)
  docs/conf.py
  docs/dev_guide/contents/documentation.rst
  docs/reference/ssw.rst
  examples/time_series/goes_xrs_example.py
  sunpy/net/dataretriever/sources/lyra.py
  sunpy/net/tests/test_scraper.py
Labels: No Changelog Entry Needed, Merge When CI Passes, Infrastructure, Run cron CI, Run publish, Minor Change, Run benchmarks, backport 7.0

#8322 Add earth to scale example
  changelog/8322.doc.rst
  examples/plotting/adding_earth.py
Labels: Examples, Merge When CI Passes, Documentation, backport 7.0

#8325 Backport PR #8322 on branch 7.0 (Add earth to scale example)
  changelog/8322.doc.rst
  examples/plotting/adding_earth.py
Labels: Examples, Merge When CI Passes, Documentation, backport 7.0

#8316 Fix inconsistent behaviour between local and remote scraper searches
  changelog/8316.bugfix.rst
  sunpy/net/scraper.py
  sunpy/net/tests/test_scraper.py
Labels: net, Minor Change, backport 7.0

#8330 Backport PR #8316 on branch 7.0 (Fix inconsistent behaviour between local and remote scraper searches)
  changelog/8316.bugfix.rst
  sunpy/net/scraper.py
  sunpy/net/tests/test_scraper.py
Labels: net, Minor Change, backport 7.0
